﻿@model List<FormTemplateDetail>

@{
    ViewBag.Title = Resource.Deleted_Form_Template_List;
    var Userid = string.Empty;
    if (HttpContext.Current.Session[SessionClass.UserID] != null)
    {
        Userid = HttpContext.Current.Session[SessionClass.UserID].ToString();
    }
    Layout = "~/Views/Shared/_Layout.cshtml";

    PermissionVM lst = (PermissionVM)Session["PermissionListSession"];
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@Resource.Deleted_Form_Template_List</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("GoToHome", "Account")"><i class="fa fa-lg fa-home"></i></a>
            </li>
            <li>
                <a>@Resource.Template</a>
            </li>
            <li class="active">
                <strong>@Resource.Deleted_Form_Template_List</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <div class="tabrdiv">
                                <table class="table table-striped table-bordered table-hover" id="tblDeletedFormTemplateList">
                                    <thead>
                                        <tr>
                                            <th class="text-center" width="5%"><input type="checkbox" id="checkAll" /></th>
                                            <th>@Resource.Name</th>
                                            <th class="text-center" width="10%">@Resource.Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="text-center" width="5%">
                                                    <input type="checkbox" class="checkboxFormTemplate" value="@item.Id" />
                                                </td>
                                                <td>@item.FormTitle</td>
                                                <td class="text-center">
                                                    @if (lst.HasRestorePermisssion)
                                                    {
                                                        <a title="@Messages.restore" onclick="RestoreSelected(@item.Id)">
                                                            <i class="fa fa-repeat text-navy fa-1x"></i>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <span title="@Messages.restore">
                                                            <i class="fa fa-repeat text-muted fa-1x"></i>
                                                        </span>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



@section Styles{
    <link href="@Url.Content("~/Content/plugins/sweetalert/sweetalert.css")" rel="stylesheet" />
}

@section Scripts{
    <script src="@Url.Content("~/Scripts/plugins/sweetalert/sweetalert.min.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#tblDeletedFormTemplateList').dataTable({
                "aaSorting": [],
                "aoColumnDefs": [
                    {
                        'bSortable': false,
                        'aTargets': [0, 2],
                    }
                ],
                "dom": "<'row'<'col-sm-7'><'col-sm-5'<'button-align' B>>><'row'<'col-sm-6'l><'col-sm-6'f>><'row'<'col-sm-12't>><'row'<'col-sm-5'i><'col-sm-7'p>>",
                buttons: [
                    {
                        text: '<i class="fa fa-repeat @(lst.HasRestorePermisssion == true ? "text-navy" : "text-muted")" ></i> @Resource.Restore',
                        titleAttr: '@Resource.Restore',
                        action: function (e, dt, node, config) {
                            if ('@lst.HasRestorePermisssion' == 'True') {
                                RestoreSelected(0);
                            }
                        }
                    },
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-copy fa-rotate-90 text-navy"></i> @Resource.Copy',
                        titleAttr: '@Resource.Copy',
                        exportOptions: {
                            columns: [1]
                        }
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i> @Resource.Print',
                        titleAttr: '@Resource.Print',
                        exportOptions: {
                            columns: [1]
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-share-square-o"></i> @Resource.Export',
                        titleAttr: '@Resource.Export',
                        exportOptions: {
                            columns: [1]
                        }
                    },
                ],
                "language":
                {
                    "sSearch": "@Resource.Search",
                    //"info": "@Resource.Showing _START_ @Resource.to _END_ @Resource.of _TOTAL_ @Resource.entries",
                    "info": "@Resource.Showing _END_ @Resource.of _TOTAL_ @Resource.entries",
                    "emptyTable": "@Resource.NoDataAvailable",
                    //"infoEmpty": "@Resource.Showing 0 @Resource.to 0 @Resource.of 0 @Resource.entries",
                    "infoEmpty": "@Resource.Showing 0 @Resource.of 0 @Resource.entries",
                    "infoFiltered": "(@Resource.filteredFrom _MAX_ @Resource.total @Resource.entries)",
                    //"lengthMenu": "@Resource.Show _MENU_ @Resource.entries",
                    "lengthMenu": "@Resource.Show _MENU_ @Resource.of @Model.Count() @Resource.entries",
                    "loadingRecords": "@Resource.Loading",
                    "processing": "@Resource.Processing",
                    "zeroRecords": "@Resource.NoRecords",
                    "paginate": {
                        "first": "@Resource.First",
                        "last": "@Resource.Last",
                        "next": "@Resource.Next",
                        "previous": "@Resource.Previous"
                    },
                }
            });

            $("#checkAll").click(function () {
                if ($("#checkAll").is(':checked')) {
                    $("input:checkbox.checkboxFormTemplate").each(function () {
                        $(this).prop("checked", true);
                    });
                } else {
                    $("input:checkbox.checkboxFormTemplate").each(function () {
                        $(this).prop("checked", false);
                    });
                }
            });

            $("#tblDeletedFormTemplateList").on("click", ".checkboxFormTemplate", function () {
                var checkboxes = $("input.checkboxFormTemplate");
                var checkAll = $("input#checkAll");

                if (checkboxes.filter(":checked").length == checkboxes.length) {
                    checkAll.prop("checked", "checked");
                } else {
                    checkAll.prop("checked", '');
                }
            });

            $('#tblDeletedFormTemplateList').on('page.dt', function () {
                $("input:checkbox").prop("checked", false);
            });
        });

        function RestoreSelected(id) {
            var selectedIDs = new Array();
            if (id > 0) {
                selectedIDs.push(id);
            }
            else {
                $("input:checkbox.checkboxFormTemplate").each(function () {
                    if ($(this).prop("checked") == true) {
                        selectedIDs.push($(this).val());
                    }
                });
            }
            if (selectedIDs.length > 0) {
                $.ajax({
                    type: "Post",
                    datatype: "JSON",
                    url: "@Url.Action("RestoreSelectedFormTemplate", "FormManagement")",
                    data: { formTemplateIds: [] },
                    success: function (data) {
                        swal({
                            title: "@Messages.Are_you_sure",
                            text: "You want to restore selected form templates?",
                            type: "warning",
                            cancelButtonText: "@Resource.Cancel",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "@Resource.Yes",
                            closeOnConfirm: false
                        }, function (e) {
                            if (e) {
                                $.ajax({
                                    type: "Post",
                                    datatype: "JSON",
                                    url: "@Url.Action("RestoreSelectedFormTemplate", "FormManagement")",
                                    data: { formTemplateIds: selectedIDs },
                                    success: function (data) {
                                        if (data.success) {
                                            swal("Form template restored successfully", "", "success");
                                            window.setTimeout(function () {
                                                location.reload('true');
                                            }, 1000);
                                        }
                                        else {
                                            swal("Can't restore", "Error", "error");
                                        }
                                    },
                                    error: function (event, xhr, options, exc) {
                                    }
                                });
                            }

                        });
                    },
                    error: function (event, xhr, options, exc) {
                    }
                });
            }
            else {
                swal("No item selected", "Select atleast one item", "error");
            }
        }

    </script>
}

