﻿@model FormTemplateDetail
@{
    ViewBag.Title = Resource.Form_Template;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var SetTitle = string.Empty;
    if (ViewBag.FormTitle != null)
    {
        SetTitle = ViewBag.FormTitle.ToString();
    }
    else
    {
        // SetTitle = "Form Name";
        SetTitle = Resource.Form_Name;
    }
}
<style>
    #sortable {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 60%;
    }

        #sortable li {
            margin: 0 3px 3px 3px;
            padding: 0.4em;
            padding-left: 1.5em;
            font-size: 1.4em;
            height: 35px;
            width: 160px;
        }

            #sortable li span {
                position: absolute;
                margin-left: -1.3em;
            }

    #appendField {
        min-height: 100px;
        /*background-color:#a0d8bd;
        border:1px solid #7d9a8c;*/
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@Resource.Form_Template</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("GoToHome", "Account")"><i class="fa fa-lg fa-home"></i></a>
            </li>
            <li>
                <a>@Resource.Template</a>
            </li>
            <li>
                <a>@Resource.Form_Template_List</a>
            </li>
            <li class="active">
                <strong>@Resource.Form_Template</strong>
            </li>
        </ol>
    </div>

    <div class="col-lg-12">
        <br />
        <h2 style="display:inline-block;" id="formheading" data-toggle="modal" data-target="#DynaModal">@Resource.Form_Name </h2>
        <div class="GiveFormName" style="display:none;color:red">@Resource.Change_Form_Name</div>
        @if (Model.Id == 0)
        {
            <button type="button" style="margin-right:5px;margin-top:15px;" class="btn btn-default pull-right" onclick="BacktoList();" autofocus>
                @Resource.Back
            </button>
            <button type="button" style="margin-right:5px;margin-top:15px;" class="btn btn-primary pull-right" onclick="SaveForm();" autofocus>
                @Resource.Create_Form
            </button>
        }
        else
        {

            <button type="button" style="margin-right:5px;margin-top:15px;" class="btn btn-secondary pull-right" onclick="resetForm();" autofocus>
                @Resource.Reset_form
            </button>
            <button type="button" style="margin-right:5px;margin-top:15px;" class="btn btn-default pull-right" onclick="BacktoList();" autofocus>
                @Resource.Back
            </button>
            <button type="button" style="margin-right:5px;margin-top:15px;" class="btn btn-success pull-right" onclick="clone();" autofocus>
                @Resource.Clone
            </button>
            <button type="button" style="margin-right:5px;margin-top:15px;" class="btn btn-primary pull-right" onclick="UpdateForm(@Model.Id);" autofocus>
                @Resource.Edit_Form
            </button>
        }
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        @* left side *@
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    @*<form>*@
                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="color:chocolate;">@Resource.Note_Press_tab_to_close_editable_textbox</h3>
                            <ul id="sortable">
                                <li class="ui-state-default" style="color:forestgreen" id="textbox">@Resource.Textbox</li>
                                <li class="ui-state-default" style="color:forestgreen" id="checkbox">@Resource.Checkbox</li>
                                <li class="ui-state-default" style="color:forestgreen" id="RadioButton">@Resource.Radiobutton</li>
                                <li class="ui-state-default" style="color:forestgreen" id="dropdown">@Resource.Dropdown</li>
                                <li class="ui-state-default" style="color:forestgreen" id="FileUpload">@Resource.Fileupload</li>
                                <li class="ui-state-default" style="color:forestgreen" id="label">@Resource.Label</li>
                                <li class="ui-state-default" style="color:forestgreen" id="button">@Resource.Button</li>
                                <li class="ui-state-default" style="color:lightcoral" id="textbox_required">@Resource.Textbox</li>
                                <li class="ui-state-default" style="color:lightcoral" id="checkbox_required">@Resource.Checkbox</li>
                                <li class="ui-state-default" style="color:lightcoral" id="dropdown_required">@Resource.Dropdown</li>
                                <li class="ui-state-default" style="color:lightcoral" id="FileUpload_required">@Resource.Fileupload</li>
                                <li class="ui-state-default" style="color:lightcoral" id="RadioButton_required">@Resource.Radiobutton</li>

                            </ul>
                        </div>
                    </div>
                    @*</form>*@
                </div>
            </div>
        </div>

        @* left side *@
        @* right side (form) *@
        <div class="col-lg-9">
            <div class="ibox">
                <div class="ibox-content">
                    <form id="dyna-form">


                        <div class="row" id="droppable">
                            @Html.HiddenFor(m => m.Id)
                            <div class="col-md-12">
                                <div id="appendField" class="sortableFields">
                                    @if (Model.Id > 0)
                                    {
                                        @Html.HiddenFor(m => m.Id)
                                        @Html.Raw((Model.FormContant))
                                    }
                                    else
                                    {
                                        <p>@Resource.Drag_and_drop_here</p>
                                    }
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="DynaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modalClose" data-dismiss="modal" aria-hidden="true">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title text-center">@Resource.Add_Form_Name</h3>
            </div>
            <form id="frmdynamic" method="post">
                <div class="modal-body">
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <label>@Resource.Form_Name</label>
                        @Html.TextBoxFor(j => j.FormTitle, new { @class = "form-control", @maxlength = "30", @onkeypress = "return IsAlphaNumericWithSpace(event);" })
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSubmit" class="btn btn-primary">@Resource.Save</button>
                    <button type="button" class="btn btn-default modalClose" data-dismiss="modal">@Resource.Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="dropdownpopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modalClose" data-dismiss="modal" aria-hidden="true">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="modal-title text-center">@Resource.Add_dropdown_values</h3>
                    </div>
                </div>
               
            </div>
            <form id="frmdynamicdropdown">

                <div class="modal-body">

                    <div class="form-group">
                        <div class="tblcontainer">
                            <table class="dynamicTable1" width="100%">
                                <thead>
                                    <tr>
                                        <th>@Resource.Values</th>
                                        <th><input type="button" id="addrow" class="btn btn-success" value="@Resource.Add_New_Row" /><br /></th>
                                    </tr>
                                </thead>
                                <tbody id="tableBody">
                                    <tr>
                                        <td colspan="2">
                                            <input type="text" class="txtoption form-control req" id="txt_0" />
                                        </td>
                                        @*<td><span></span><button class="btn btn-danger" onclick="remove(this);" style="margin-left:20px">@Resource.Remove</button></td>*@
                                        <td colspan="2">
                                            <span class="input-group-addon" onclick="remove(this);">
                                                <i class="fa fa-close" onclick="remove(this);"></i>
                                            </span>
                                        </td>
                                    </tr>

                                    <label id="" class="showError" style="display:none" for="textbox_required1">@Messages.Form_template_dropdown_validation</label>
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="addOption" onclick="insert();" class="btn btn-primary">@Resource.Save</button>
                    <button type="button" class="btn btn-default modalClose" data-dismiss="modal">@Resource.Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


@*//clone thai tr*@
<table class="samplerow" style="display:none">
    <tr class="hidetr">
        <td colspan="2">
            <input type="text" class="txtoption form-control req" />
        </td>
        @*<td>
                <button class="btn btn-danger" onclick="remove(this);" style="margin-left:20px">@Resource.Remove</button>
            </td>*@
        <td colspan="2">
            <span class="input-group-addon" onclick="remove(this);">
                <i class="fa fa-close" onclick="remove(this);"></i>
            </span>
        </td>
    </tr>
</table>


@section Styles{
    <link href="@Url.Content("~/Content/plugins/sweetalert/sweetalert.css")" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Scripts/plugins/jquery-ui/jquery-ui.js"></script>
    <script src="@Url.Content("~/Scripts/plugins/sweetalert/sweetalert.min.js")"> </script>
    <script>
        $(function () {
            $("#sortable").sortable();
            $("#sortable").disableSelection();
            $(".sortableFields").sortable();
            $(".sortableFields").disableSelection();
        });

        $(function () {
            $(".draggable").draggable();
            $("#droppable").droppable({
                drop: function (event, ui) {
                    var draggableId = ui.draggable.attr("id");
                    var newid = getNewId(draggableId);
                    var onlyIdno = 0;
                    if (newid != null) {
                        onlyIdno = newid.split('-')[1];
                    }

                    if (draggableId == "textbox") {
                        $("#appendField").append('<div class="col-lg-3"><div class="form-group indexing">' +
                                    '<div class="countdiv ">' +
                                        '<div class="editDiv" id="' + newid + '_' + onlyIdno + '" >' +
                                        '<label id="editlbl' + onlyIdno + '"  onclick="EditLabel(this,$(this).next())">@Resource.Textbox</label>' +
        '</div>' +
                                        '<div class="input-group">' +
                                           ' <input type="text"  data-txtidno="' + onlyIdno + '"   id="' + newid + '" name="' + newid + '" class="form-control clstextbox">' +
                                           ' <span class="input-group-addon removeTxtBox">' +
                                                '<i class="fa fa-close removeTxtBox "></i>' +
                                           ' </span>' +
                                        '</div>' +
                                    '</div>' +
                                '</div></div>');
                    }
                    else if (draggableId == "textbox_required") {
                        $("#appendField").append('<div class="form-group indexing">' +
                                     '<div class="countdiv textboxreq1">' +
        '<div class="editDiv" id="' + newid + '_' + onlyIdno + '" >' +
                                         '<label onclick="EditLabel(this,$(this).next())">@Resource.Textbox</label>' +
        '</div>' +
                                         '<div class="input-group">' +
                                            ' <input type="text" data-txtidno="' + onlyIdno + '" id="' + newid + '" name="' + newid + '" class="form-control getdetails clstextboxreq">' +

                                            ' <span class="input-group-addon removeTxtBox">' +
                                                 '<i class="fa fa-close removeTxtBox "></i>' +
                                            ' </span>' +
         '<label  class="error Textboxerror" id="' + newid + '-error" style="display:none;">This field is required.</label>' +
                                         '</div>' +
                                     '</div>' +
                                 '</div>');
                    }
                    else if (draggableId == "dropdown") {
                        $("#appendField").append('<div class="form-group indexing">' +
                                   ' <div class="countdiv">' +
        '<div class="editDiv" id="' + newid + '_' + onlyIdno + '" >' +
                                       ' <label onclick="EditLabel(this,$(this).next())">@Resource.Dropdown</label>' +
        '</div>' +
                                       ' <div class="input-group">' +
                                         '   <select class="form-control m-b getuniqid clsdropdown" data-txtidno="' + onlyIdno + '" id="' + newid + '" name="' + newid + '">' +
                                              '<option value="0">@Resource.Select</option>' +
                                            '</select>' +
                                            '<span class="input-group-addon" onclick="dropdownpopupClick(event,this);">' +
                                            '    <i class="fa fa-edit" onclick="dropdownpopupClick(event,this);"></i>' +
                                           ' </span>' +
                                          '  <span class="input-group-addon removeTxtBox">' +
                                           '     <i class="fa fa-close removeTxtBox"></i>' +
                                          '  </span>' +
                                        '</div>' +
                                    '</div>' +
                                '</div>');
                    }
                    else if (draggableId == "dropdown_required") {
                        $("#appendField").append('<div class="form-group indexing">' +
                                   ' <div class="countdiv dropreq1">' +
        '<div class="editDiv" id="' + newid + '_' + onlyIdno + '" >' +
                                       ' <label onclick="EditLabel(this,$(this).next())">@Resource.Dropdown</label>' +
        '</div>' +
                                       ' <div class="input-group">' +
                                         '   <select class="form-control m-b getuniqid clsdropdownreq" data-txtidno="' + onlyIdno + '" id="' + newid + '" name="' + newid + '">' +
                                              '<option value="0">@Resource.Select</option>' +
                                            '</select>' +
                                            '<span class="input-group-addon" onclick="dropdownpopupClick(event,this);">' +
                                            '    <i class="fa fa-edit" onclick="dropdownpopupClick(event,this);"></i>' +
                                           ' </span>' +
                                          '  <span class="input-group-addon removeTxtBox">' +
                                           '     <i class="fa fa-close removeTxtBox"></i>' +
                                          '  </span>' +
                                        '</div>' +
                                        '<label  class="error dropdownerror" id="' + newid + '-error" style="display:none;" for="newid_require">This field is required.</label>' +
                                    '</div>' +
                                '</div>');
                    }
                    else if (draggableId == "checkbox") {
                        $("#appendField").append('<div class="form-group indexing">' +
                                    '<div class="countdiv">' +
        '<div class="editDiv" id="' + newid + '_' + onlyIdno + '" >' +
                                       ' <label onclick="EditLabel(this,$(this).next())">@Resource.Checkbox</label>' +
        '</div>' +
                                       ' <div class="afterappend">' +
                                          '  <div class="input-group">' +
                                            '    <div class="checkbox i-checks"><label> <input type="checkbox" class="check_box" data-txtidno="' + onlyIdno + '" id="' + newid + '" value=""><i></i>' +
        '<div class="editDiv" id="' + newid + 'check_' + onlyIdno + '" >' +
        '<label onclick="EditLabel(this,$(this).next())">@Resource.Checkbox</label></label></div>' +
        '</div>' +
                                             '   <span class="input-group-addon" onclick="addcheckbox(event,this)">' +
                                                  '  <i class="fa fa-plus"></i>' +
                                              '  </span>' +
                                               ' <span class="input-group-addon removeTxtBox">' +
                                                 '   <i class="fa fa-close removeTxtBox"></i>' +
                                               ' </span>' +
                                            '</div>' +
                                        '</div>' +
                                    '</div>' +
                               ' </div>');
                    }
                    else if (draggableId == "checkbox_required") {
                        $("#appendField").append('<div class="form-group indexing">' +
                                   '<div class="countdiv req">' +
        '<div class="editDiv" id="' + newid + '_' + onlyIdno + '" >' +
                                      ' <label onclick="EditLabel(this,$(this).next())">@Resource.Checkbox</label>' +
        '</div>' +
                                      ' <div class="afterappend">' +
                                         '  <div class="input-group">' +
                                           '    <div class="checkbox i-checks"><label> <input type="checkbox" class="checkboxReq" data-txtidno="' + onlyIdno + '" id="' + newid + '" name="' + newid + '" value=""><i></i>' +
        '<div class="editDiv" id="' + newid + 'checkreq_' + onlyIdno + '" >' +
        '<label onclick="EditLabel(this,$(this).next())">@Resource.Checkbox</label></label></div>' +
        '</div>' +
                                            '   <span class="input-group-addon" onclick="addcheckboxreq(event,this)">' +
                                                 '  <i class="fa fa-plus"></i>' +
                                             '  </span>' +
                                              ' <span class="input-group-addon removeTxtBox">' +
                                                '   <i class="fa fa-close removeTxtBox"></i>' +
                                              ' </span>' +
                                           '</div>' +
                                       '</div>' +
                                       '<label  class="error chkboxerror" style="display:none;" for="newid_require">This field is required.</label>' +
                                   '</div>' +
                              ' </div>');
                    }
                    else if (draggableId == "FileUpload") {
                        $("#appendField").append(' <div class="form-group indexing">' +
                                    '<div class="countdiv">' +
        '<div class="editDiv" id="' + newid + '_' + onlyIdno + '" >' +
                                      '  <label onclick="EditLabel(this,$(this).next())">@Resource.Fileupload</label>' +
        '</div>' +
                                        '<div class="input-group">' +
                                          '  <input type="file"  id="' + newid + '" data-txtidno="' + onlyIdno + '"  class="form-control clsfileupload">' +
                                          '  <span class="input-group-addon removeTxtBox">' +
                                           '     <i class="fa fa-close removeTxtBox"></i>' +
                                         '   </span>' +
                                       ' </div>' +
                                   ' </div>' +
                               ' </div>');

                    }
                    else if (draggableId == "FileUpload_required") {
                        $("#appendField").append(' <div class="form-group indexing">' +
                                    '<div class="countdiv fileuploadreq1">' +
        '<div class="editDiv" id="' + newid + '_' + onlyIdno + '" >' +
                                      '  <label onclick="EditLabel(this,$(this).next())">@Resource.Fileupload</label>' +
        '</div>' +
                                        '<div class="input-group">' +
                                          '  <input type="file" id="' + newid + '" data-txtidno="' + onlyIdno + '" class="form-control fileuplaodReq clsfileuploadreq">' +
                                          '  <span class="input-group-addon removeTxtBox">' +
                                           '     <i class="fa fa-close removeTxtBox"></i>' +
                                         '   </span>' +
                                       ' </div>' +
                                       '<label  class="error fileuploaderror" id="' + newid + '-error" style="display:none;">This field is required.</label>' +
                                   ' </div>' +
                               ' </div>');

                    }
                    else if (draggableId == "RadioButton") {
                        $("#appendField").append(' <div class="form-group indexing">' +
                                    '<div class="countdiv">' +
        '<div class="editDiv" id="' + newid + '_' + onlyIdno + '" >' +
                                      '  <label onclick="EditLabel(this,$(this).next())">@Resource.Radiobutton</label>' +
        '</div>' +
                                       ' <div class="appendNewRadio">' +
                                        '    <div class="input-group">' +
                                          '      <div class="radio i-checks"><label> <input type="radio"  value="option1" data-txtidno="' + onlyIdno + '" id="' + newid + '" class="radioname clsradio"> <i></i>' +
        '<div class="editDiv" id="' + newid + 'radio_' + onlyIdno + '" >' +
        '<label onclick="EditLabel(this,$(this).next())">@Resource.Radiobutton</label>  </label></div>' +
        '</div>' +
                                          '      <span class="input-group-addon" onclick="addRadio(event,this)">' +
                                            '        <i class="fa fa-plus"></i>' +
                                            '    </span>' +
                                            '    <span class="input-group-addon removeTxtBox">' +
                                             '       <i class="fa fa-close removeTxtBox"></i>' +
                                             '   </span>' +
                                           ' </div>' +
                                        '</div>' +
                                   ' </div>' +
                               ' </div>');
                    }
                    else if (draggableId == "RadioButton_required") {
                        $("#appendField").append(' <div class="form-group indexing">' +
                                    '<div class="countdiv reqRadiobtn">' +
        '<div class="editDiv" id="' + newid + '_' + onlyIdno + '" >' +
                                      '  <label onclick="EditLabel(this,$(this).next())">@Resource.Radiobutton</label>' +
        '</div>' +
                                       ' <div class="appendNewRadio">' +
                                        '    <div class="input-group">' +
                                          '      <div class="radio i-checks"><label> <input type="radio" id="' + newid + '" data-txtidno="' + onlyIdno + '" value="option1" class="radioname clsradioreq" > <i></i>' +
        '<div class="editDiv" id="' + newid + 'radioreq_' + onlyIdno + '" >' +
        '<label onclick="EditLabel(this,$(this).next())">@Resource.Radiobutton</label>  </label></div>' +
        '</div>' +
                                          '      <span class="input-group-addon" onclick="addRadioreq(event,this)">' +
                                            '        <i class="fa fa-plus"></i>' +
                                            '    </span>' +
                                            '    <span class="input-group-addon removeTxtBox">' +
                                             '       <i class="fa fa-close removeTxtBox"></i>' +
                                             '   </span>' +
                                           ' </div>' +
                                        '</div>' +
                                         '<label  class="error radioerror" id="' + newid + '-error" style="display:none;" for="newid_require">This field is required.</label>' +
                                   ' </div>' +
                               ' </div>');
                    }
                    else if (draggableId == "label") {
                        $("#appendField").append('<div class="form-group indexing">' +
                                    '<div class="countdiv">' +
        '<div class="editDiv" id="' + newid + '_' + onlyIdno + '" >' +
                                        '<label onclick="EditLabel(this,$(this).next())" id="' + newid + '" class="clslabel" data-txtidno="' + onlyIdno + '">@Resource.Label</label>' +
        '</div>' +
                                           ' <span class="input-group-addon removeTxtBox">' +
                                                '<i class="fa fa-close removeTxtBox "></i>' +
                                           ' </span>' +
                                    '</div>' +
                                '</div>');

                    }
                    else if (draggableId == "button") {
                        $("#appendField").append('<br/> ' +
                            '<div class="form-group indexing">' +
                                    '<div class="countdiv">' +
                                     '    <div class="input-group">' +
                            '<button type="submit" id="btnSave" class="btn btn-fill btn-primary prevnetRefress">' +
                                 '  @Resource.Save' +
                               '</button>' +
                                 ' <span class="input-group-addon removeTxtBox">' +
                                                '<i class="fa fa-close removeTxtBox "></i>' +
                                           ' </span>' +
                                             ' <span class="input-group-addon">' +
                                                '<i class="glyphicon glyphicon-arrow-up"></i>' +
                                           ' </span>' +
                               ' </div>' +
                              ' </div></div>');

                    }

                    if (draggableId != undefined) {
                        number();
                    }
                }
            });
        });


        function EditLabel(obj, nextObj) {
            var label = $(obj);
            if (nextObj.length == 0) {
                label.after("<input type = 'text' class='editabletextbox' maxlength='30' style = 'display:none'/>");
            }
            //Reference the TextBox.
            var textbox = $(obj).next();
            //Set the name attribute of the TextBox.
            var id = obj.id.split('_')[obj.id.split('_').length - 1];
            textbox[0].name = id.replace("lbl", "txt");
            //Assign the value of Label to TextBox.
            textbox.val(label.html());
            //When Label is clicked, hide Label and show TextBox.
            label.click(function () {
                $(this).hide();
                $(this).next().show();
            });
            //When focus is lost from TextBox, hide TextBox and show Label.
            textbox.focusout(function () {
                $(this).hide();
                $(this).prev().html($(this).val());
                $(this).prev().show();
            });
        }

        $(document).on('click', '.removeTxtBox', function (e) {
            e.preventDefault();
            $(this).closest('.indexing').remove();
            number();
        });

        function addcheckbox(e, obj) {
            e.preventDefault();
            var draggableId = "checkbox";
            var newid = getNewId(draggableId);
            var onlyIdno = newid.split('-')[1];
            var id = $(obj).parents('.countdiv').attr('id')
            $('#' + id).find('.afterappend').append(' <div class="checkbox"><div class="input-group">' +
                                                '<div class="checkbox i-checks"><label> <input type="checkbox" data-txtidno="' + onlyIdno + '" class="check_box" id="' + newid + '" name="' + newid + '" value=""><i></i>' +
         '<div class="editDiv" id="' + newid + '_' + onlyIdno + '" >' +
         '<label onclick="EditLabel(this,$(this).next())">@Resource.Checkbox</label></label></div>' +
        '</div>' +
                                                '<span class="input-group-addon rmvCrntChk">' +
                                                   ' <i class="fa fa-close rmvCrntChk"></i>' +
                                                '</span>' +
                                            '</div></div>')
            // give border to minus button while append new icon
            $(".input-group-addon:last-child").css("border", "1px solid #ccc");
        }

        function addcheckboxreq(e, obj) {
            e.preventDefault();
            var draggableId = "checkbox_required";
            var newid = getNewId(draggableId);
            var onlyIdno = newid.split('-')[1];
            var id = $(obj).parents('.countdiv').attr('id')
            $('#' + id).find('.afterappend').append(' <div class="checkbox"><div class="input-group">' +
                                                '<div class="checkbox i-checks"><label> <input type="checkbox" data-txtidno="' + onlyIdno + '" class="checkboxReq" id="' + newid + '" name="' + newid + '" value=""><i></i>' +
          '<div class="editDiv" id="' + newid + '_' + onlyIdno + '" >' +
        '<label onclick="EditLabel(this,$(this).next())">@Resource.Checkbox</label></label></div>' +
        '</div>' +
                                                '<span class="input-group-addon rmvCrntChk">' +
                                                   ' <i class="fa fa-close rmvCrntChk"></i>' +
                                                '</span>' +
                                            '</div></div>')
            // give border to minus button while append new icon
            $(".input-group-addon:last-child").css("border", "1px solid #ccc");
        }

        function addRadio(e, obj) {

            e.preventDefault();
            var draggableId = "RadioButton";
            var newid = getNewId(draggableId);
            var onlyIdno = newid.split('-')[1];
            var id = $(obj).parents('.countdiv').attr('id')
            $('#' + id).find('.appendNewRadio').append(' <div class="input-group radio">' +
                                               ' <div class="radio i-checks"><label> <input type="radio" value="option1" class="radioname clsradio" data-txtidno="' + onlyIdno + '" id="' + newid + '" name=' + id + '> <i></i>' +
        '<div class="editDiv" id="' + newid + '_' + onlyIdno + '" >' +
        '<label onclick="EditLabel(this,$(this).next())">@Resource.Radiobutton</label></label></div>' +
        '</div>' +
                                                '<span class="input-group-addon rmvCrntRadio">' +
                                                '    <i class="fa fa-close rmvCrntRadio"></i>' +
                                               ' </span>' +
                                          '  </div>');
        }

        function addRadioreq(e, obj) {
            e.preventDefault();
            var draggableId = "RadioButton_required";
            var newid = getNewId(draggableId);
            var onlyIdno = newid.split('-')[1];
            var id = $(obj).parents('.countdiv').attr('id')
            $('#' + id).find('.appendNewRadio').append(' <div class="input-group radio">' +
                                               ' <div class="radio i-checks"><label> <input type="radio" value="option1" class="radioname clsradioreq" data-txtidno="' + onlyIdno + '" id="' + newid + '" name=' + id + '> <i></i>' +
        '<div class="editDiv" id="' + newid + '_' + onlyIdno + '" >' +
        '<label onclick="EditLabel(this,$(this).next())">@Resource.Radiobutton</label></label></div>' +
        '</div>' +
                                                '<span class="input-group-addon rmvCrntRadio">' +
                                                '    <i class="fa fa-close rmvCrntRadio"></i>' +
                                               ' </span>' +
                                          '  </div>');
        }



        $(document).on('click', '.rmvCrntChk', function (e) {
            e.preventDefault();
            $(this).closest('.checkbox').remove();
        });
        $(document).on('click', '.rmvCrntRadio', function (e) {
            e.preventDefault();
            $(this).closest('.radio').remove();
        });


        // get uniq id
        // uniq id
        function getNewId(type) {
            var newId = '0';
            if (type == "textbox") {
                var arrtxtidno = [];
                $(".clstextbox").each(function () {
                    var a = $(this).data('txtidno');
                    arrtxtidno.push(a);
                });
                if (arrtxtidno.length != 0) {
                    var maxid = Math.max.apply(Math, arrtxtidno);
                    maxid = parseInt(maxid) + 1;
                    newId = maxid;
                    return type + "-" + newId;
                } else {
                    newId = 1;
                    return type + "-" + newId;
                }
            }

            if (type == "textbox_required") {
                var arrtxtidno = [];
                $(".clstextboxreq").each(function () {
                    var a = $(this).data('txtidno');
                    arrtxtidno.push(a);
                });
                if (arrtxtidno.length != 0) {
                    var maxid = Math.max.apply(Math, arrtxtidno);
                    maxid = parseInt(maxid) + 1;
                    newId = maxid;
                    return type + "-" + newId;
                } else {
                    newId = 1;
                    return type + "-" + newId;
                }
            }

            if (type == "dropdown") {
                var arrtxtidno = [];
                $(".clsdropdown").each(function () {
                    var a = $(this).data('txtidno');
                    arrtxtidno.push(a);
                });
                if (arrtxtidno.length != 0) {
                    var maxid = Math.max.apply(Math, arrtxtidno);
                    maxid = parseInt(maxid) + 1;
                    newId = maxid;
                    return type + "-" + newId;
                } else {
                    newId = 1;
                    return type + "-" + newId;
                }
            }

            if (type == "dropdown_required") {
                var arrtxtidno = [];
                $(".clsdropdownreq").each(function () {
                    var a = $(this).data('txtidno');
                    arrtxtidno.push(a);
                });
                if (arrtxtidno.length != 0) {
                    var maxid = Math.max.apply(Math, arrtxtidno);
                    maxid = parseInt(maxid) + 1;
                    newId = maxid;
                    return type + "-" + newId;
                } else {
                    newId = 1;
                    return type + "-" + newId;
                }
            }


            if (type == "FileUpload") {
                var arrtxtidno = [];
                $(".clsfileupload").each(function () {
                    var a = $(this).data('txtidno');
                    arrtxtidno.push(a);
                });
                if (arrtxtidno.length != 0) {
                    var maxid = Math.max.apply(Math, arrtxtidno);
                    maxid = parseInt(maxid) + 1;
                    newId = maxid;
                    return type + "-" + newId;
                } else {
                    newId = 1;
                    return type + "-" + newId;
                }
            }

            if (type == "FileUpload_required") {
                var arrtxtidno = [];
                $(".clsfileuploadreq").each(function () {
                    var a = $(this).data('txtidno');
                    arrtxtidno.push(a);
                });
                if (arrtxtidno.length != 0) {
                    var maxid = Math.max.apply(Math, arrtxtidno);
                    maxid = parseInt(maxid) + 1;
                    newId = maxid;
                    return type + "-" + newId;
                } else {
                    newId = 1;
                    return type + "-" + newId;
                }
            }


            if (type == "checkbox") {
                var arrtxtidno = [];
                $(".check_box").each(function () {
                    var a = $(this).data('txtidno');
                    arrtxtidno.push(a);
                });
                if (arrtxtidno.length != 0) {
                    var maxid = Math.max.apply(Math, arrtxtidno);
                    maxid = parseInt(maxid) + 1;
                    newId = maxid;
                    return type + "-" + newId;
                } else {
                    newId = 1;
                    return type + "-" + newId;
                }
            }


            if (type == "checkbox_required") {
                var arrtxtidno = [];
                $(".checkboxReq").each(function () {
                    var a = $(this).data('txtidno');
                    arrtxtidno.push(a);
                });
                if (arrtxtidno.length != 0) {
                    var maxid = Math.max.apply(Math, arrtxtidno);
                    maxid = parseInt(maxid) + 1;
                    newId = maxid;
                    return type + "-" + newId;
                } else {
                    newId = 1;
                    return type + "-" + newId;
                }
            }


            if (type == "RadioButton") {
                var arrtxtidno = [];
                $(".clsradio").each(function () {
                    var a = $(this).data('txtidno');
                    arrtxtidno.push(a);
                });
                if (arrtxtidno.length != 0) {
                    var maxid = Math.max.apply(Math, arrtxtidno);
                    maxid = parseInt(maxid) + 1;
                    newId = maxid;
                    return type + "-" + newId;
                } else {
                    newId = 1;
                    return type + "-" + newId;
                }
            }

            if (type == "RadioButton_required") {
                var arrtxtidno = [];
                $(".clsradioreq").each(function () {
                    var a = $(this).data('txtidno');
                    arrtxtidno.push(a);
                });
                if (arrtxtidno.length != 0) {
                    var maxid = Math.max.apply(Math, arrtxtidno);
                    maxid = parseInt(maxid) + 1;
                    newId = maxid;
                    return type + "-" + newId;
                } else {
                    newId = 1;
                    return type + "-" + newId;
                }
            }

            if (type == "label") {
                var arrtxtidno = [];
                $(".clslabel").each(function () {
                    var a = $(this).data('txtidno');
                    arrtxtidno.push(a);
                });
                if (arrtxtidno.length != 0) {
                    var maxid = Math.max.apply(Math, arrtxtidno);
                    maxid = parseInt(maxid) + 1;
                    newId = maxid;
                    return type + "-" + newId;
                } else {
                    newId = 1;
                    return type + "-" + newId;
                }
            }


            //var id = $('#droppable').find(':text').sort();
            //if (type == "textbox" && $('#droppable').find(':text').length != 0)
            //    newId = $('#droppable').find(':text')[$('#droppable').find(':text').length - 1].id;
            //if (type == "textbox_required" && $('#droppable').find(':text').length != 0)
            //    newId = $('#droppable').find(':text')[$('#droppable').find(':text').length - 1].id;
            //if (type == "checkbox" && $('#droppable').find(':checkbox').length != 0)
            //    newId = $('#droppable').find(':checkbox')[$('#droppable').find(':checkbox').length - 1].id;
            //if (type == "checkbox_required" && $('#droppable').find(':checkbox').length != 0)
            //    newId = $('#droppable').find(':checkbox')[$('#droppable').find(':checkbox').length - 1].id;
            //if (type == "dropdown" && $('#droppable').find('select').length != 0)
            //    newId = $('#droppable').find('select')[$('#droppable').find('select').length - 1].id;
            //if (type == "dropdown_required" && $('#droppable').find('select').length != 0)
            //    newId = $('#droppable').find('select')[$('#droppable').find('select').length - 1].id;
            //if (type == "button" && $('#droppable').find(':button').length != 0)
            //    newId = $('#droppable').find(':button')[$('#droppable').find(':button').length - 1].id;
            //if (type == "label" && $('#droppable').find('label').length != 0)
            //    newId = $('#droppable').find('label')[$('#droppable').find('label').length - 1].id;
            //if (type == "RadioButton" && $('#droppable').find(':radio').length != 0)
            //    newId = $('#droppable').find(':radio')[$('#droppable').find(':radio').length - 1].id;
            //if (type == "FileUpload" && $('#droppable').find(':file').length != 0)
            //    newId = $('#droppable').find(':file')[$('#droppable').find(':file').length - 1].id;
            //if (type == "FileUpload_required" && $('#droppable').find(':file').length != 0)
            //    newId = $('#droppable').find(':file')[$('#droppable').find(':file').length - 1].id;
            //if (type == "RadioButton_required" && $('#droppable').find(':radio').length != 0)
            //    newId = $('#droppable').find(':radio')[$('#droppable').find(':radio').length - 1].id;

            //if (newId != '0')
            //    newId = newId[newId.length - 1];
            //return type + (parseInt(newId) + 1);
        }

        function number() {

            $("div .indexing").each(function (i) {
                $(this).find("span1").text(++i);
                $(this).find(".radioname").attr('name', 'countdiv_' + i);
                $(this).find(".countdiv").attr('id', 'countdiv_' + i);
            });
        }

        //disable enter key
        $('#FormTitle').keypress(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
            }
        });


        function SaveForm() {
            $('label.error').hide();
            //close all editable form
            var editabletextbox_length = $(".editabletextbox").length;
            if (editabletextbox_length > 0) {
                $(".editabletextbox").each(function () {
                    var txtvalue = $(this).val();
                    var partentid = $(this).parent().attr('id');
                    $('#' + partentid).html("<label onclick=\"EditLabel(this,$(this).next())\" style=\"display: inline-block;\">" + txtvalue + "</label>");
                });
            }
            if ($("#formheading").text() != '@Resource.Form_Name') {
                //if ($("#formheading").text() != "Form Name" && $("#formheading").text() != "اسم النموذج") {
                var divContent;
                $("em").remove();
                $('label.error').hide();
                // divContent = $("#droppable").html();
                divContent = $("#appendField").html();
                Title = $("#formheading").text();
                jsonObj = JSON.stringify({ 'getalldata': divContent, 'title': Title, 'id': 0 });
                $.ajax(
               {
                   contentType: 'application/json; charset=utf-8',
                   dataType: 'json',
                   type: "POST",
                   //url: "/FormManagement/SaveForm",
                   url: '@Url.Action("SaveForm", "FormManagement")',
                   data: jsonObj,
                   success: function (data) {
                       if (data == true) {
                           location.href = '@Url.Action("FormTemplateList", "FormManagement")';
                           //   $.toaster({ message: "saved successfully..", title: 'Success', priority: 'success', timeOut: 5000 });
                       }
                   },
                   error: function (data) {
                       // $.toaster({ message: "Something Went Wrong!", title: 'Error', priority: 'danger', timeOut: 5000 });
                   }
               });
            }
            else {
                if ($("#formheading").text() == "" || $("#formheading").text() == '@Resource.Form_Name') {
                    $(".GiveFormName").show();
                }
            }
        }



        function UpdateForm(id) {
            var divContent;
            $('label.error').hide();
            var editabletextbox_length = $(".editabletextbox").length;
            if (editabletextbox_length > 0) {
                $(".editabletextbox").each(function () {
                    var txtvalue = $(this).val();
                    var partentid = $(this).parent().attr('id');
                    $('#' + partentid).html("<label onclick=\"EditLabel(this,$(this).next())\" style=\"display: inline-block;\">" + txtvalue + "</label>");
                });
            }
            // number();
            divContent = $("#appendField").html();
            Title = $("#formheading").text();
            jsonObj = JSON.stringify({ 'getalldata': divContent, 'title': Title, 'id': id });
            $.ajax(
           {
               contentType: 'application/json; charset=utf-8',
               dataType: 'json',
               type: "POST",
               //  url: "/FormManagement/SaveForm",
               url: '@Url.Action("SaveForm", "FormManagement")',
               data: jsonObj,
               success: function (data) {
                   location.href = '@Url.Action("FormTemplateList", "FormManagement")';
               },
               error: function (ts) {
               }
           });
        }



        function clone(id) {
            var divContent;
            $('label.error').hide();
            /////////////
            //close all editable form
            var editabletextbox_length = $(".editabletextbox").length;
            if (editabletextbox_length > 0) {
                $(".editabletextbox").each(function () {
                    var txtvalue = $(this).val();
                    var partentid = $(this).parent().attr('id');
                    $('#' + partentid).html("<label onclick=\"EditLabel(this,$(this).next())\" style=\"display: inline-block;\">" + txtvalue + "</label>");
                });
            }

            ////////////
            divContent = $("#appendField").html();




            Title = $("#formheading").text();
            jsonObj = JSON.stringify({ 'getalldata': divContent, 'title': Title });
            $.ajax(
           {
               contentType: 'application/json; charset=utf-8',
               dataType: 'json',
               type: "POST",
               //  url: "/FormManagement/CloneForm",
               url: '@Url.Action("CloneForm", "FormManagement")',
               data: jsonObj,
               success: function (data) {
                   location.href = '@Url.Action("FormTemplateList", "FormManagement")';
                   //  location.href = "/FormManagement/ListAllTemplate";
               },
               error: function (ts) {
               }
           });

        }

        function BacktoList() {
            window.location.href = '@Url.Action("FormTemplateList", "FormManagement")'
        }
        function resetForm() {
            location.reload('true');
        }



        $(document).ready(function () {

            $("#formheading").text("@SetTitle")


            $("#frmdynamic").validate({
                rules: {

                    FormTitle: {
                        required: true,
                        minlength: 3,

                        remote:
                           {
                                url: '@Url.Action("IsFormNameExist", "FormManagement")',
                             //  url: '/FormManagement/IsFormNameExist',
                               data: {
                                   Formtitle1: function () { return $('#FormTitle').val().replace(/  +/g, ' '); },
                                   id: function () { return parseInt($('#Id').val()) }
                               }
                           },
                    },
                },
                //For custom messages
                messages: {
                    //formheading: {
                    //    ValidDynamicForm: "Enter Form Name"
                    //},
                    FormTitle: {
                        required: '@Messages.Enter_Form_Name',
                        minlength: '@Messages.Please_enter_at_least_3_characters',
                        remote: '@Messages.Form_name_already_exists',
                    },
                },
                // errorElement: 'div',
                errorPlacement: function (error, element) {
                    //var placement = $(element).data('error');
                    //if (placement) {
                    //    $(placement).append(error)
                    //} else {
                    //    error.insertAfter(element);
                    //}
                    element.parent().append(error);
                }
            });
        })


        $("#btnSubmit").click(function () {
            if ($("#frmdynamic").valid()) {
                var Title = $("#FormTitle").val();
                $("#formheading").text('');
                //$(".GiveFormName").text('');
                $(".GiveFormName").hide()
                $("#formheading").append(Title);
                $("#DynaModal").modal('hide');
                $('#frmdynamic')[0].reset();
            }
        });

        //////////////////////////////////////    //validation button click///////////////////////////////////
        $(document).on('click', '.prevnetRefress', function (e) {
            e.preventDefault();
            number();
            var countdiv;
            countdiv = $('#droppable').find('.countdiv').length
            for (var i = 1; i <= countdiv; i++) {
                var chkBoxlenth = $('#countdiv_' + i + ".req").find(':checkbox').length;
                if (chkBoxlenth > 0) {
                    var tikedchckboxcount = $('#countdiv_' + i).find('input:checkbox:checked').length;
                    if (tikedchckboxcount == 0) {
                        $('#countdiv_' + i + ".req").find("label.error").show().text('@Messages.This_field_is_required');
                    }
                    else {
                        $('#countdiv_' + i + ".req").find("label.error").hide('');
                    }
                }
                ////Textbox
                @*var test = $('#countdiv_' + i + ".textboxreq1").find('input:text').length;
                if (test > 0) {
                    if ($('#countdiv_' + i + ".textboxreq1").find('input:text').val() == '') {
                        $('#countdiv_' + i + ".textboxreq1").find("label.error").show().text('@Messages.This_field_is_required');
                    }
                    else {
                        $('#countdiv_' + i + ".textboxreq1").find("label.error").hide('');
                    }

                }*@

                var test = $('#countdiv_' + i + ".textboxreq1").find('input:text').length;
                if (test > 0) {
                    if ($('#countdiv_' + i + ".textboxreq1").find('.clstextboxreq').val() == '') {
                        $('#countdiv_' + i + ".textboxreq1").find("label.error").show().text('@Messages.This_field_is_required');
                    }
                    else {
                        $('#countdiv_' + i + ".textboxreq1").find("label.error").hide('');
                    }

                }

                ////

                //// file upload
                var fileupload = $('#countdiv_' + i + ".fileuploadreq1").find('input:file').length;
                if (fileupload > 0) {
                    if ($('#countdiv_' + i + ".fileuploadreq1").find('input:file').val() == '') {    //if it's not work then remove input:file and place class or id then get val
                        $('#countdiv_' + i + ".fileuploadreq1").find("label.error").show().text('@Messages.This_field_is_required');
                    }
                    else {
                        $('#countdiv_' + i + ".fileuploadreq1").find("label.error").hide('');
                    }

                }
                ////



                //// dropdown validation

                var dropdown = $('#countdiv_' + i + ".dropreq1").find('.getuniqid').children('option:selected').text();
                if (dropdown == "Select" || dropdown == "تحديد") {

                    $('#countdiv_' + i + ".dropreq1").find("label.error").show().text('@Messages.This_field_is_required');
                }
                else {
                    $('#countdiv_' + i + ".dropreq1").find("label.error").hide('');
                }
                //// Radio button validation
                var Radio = $('#countdiv_' + i + ".reqRadiobtn").find(':radio').length;

                var radioname = $('#countdiv_' + i + ".reqRadiobtn").closest('.countdiv').attr('id')
                var chkradio = $("input:radio[name='" + radioname + "']").is(":checked")
                if (chkradio == false) {
                    $('#countdiv_' + i + ".reqRadiobtn").find("label.error").show().text('@Messages.This_field_is_required');
                }
                else {
                    $('#countdiv_' + i + ".reqRadiobtn").find("label.error").hide('');
                }
                //// Radio button validation
            }
        })

        ///////////////////// validation on keyup ///////////////////
        //textbox//
        $(document).on('keyup', 'input', '.getdetails', function (e) {
            //e.preventDefault();
            var txtlenth = $(this).closest('input:text').val().length;
            if (txtlenth > 0) {
                $("#" + this.id + '-error').hide();
                //$(this).hide();
                //  $("#" + this.id).find('label.error').hide();
            }
            if (txtlenth == 0) {
                $("#" + this.id + '-error').show().text('@Messages.This_field_is_required');
            }
        });
        //checkbox//

        $(document).on('click', '.checkboxReq', function (e) {
            var chklenth = $(this).parent().closest('.afterappend').find('input:checkbox:checked').length;
            if (chklenth > 0) {
                //$(this).closest('.afterappend').children('.chkboxerror').hide();
                $(this).parent().closest('.afterappend').next('.chkboxerror').hide();
            }
            if (chklenth == 0) {
                $(this).parent().closest('.afterappend').next('.chkboxerror').show().text('@Messages.This_field_is_required');;
            }
        });

        //dropdown//

        $(document).on('change', '.getuniqid', function (e) {
            //$("#dropdown_required2  option:selected").text();
            var dropdowntext = $(this).closest('select').find();//'#' + this.id );
            var dropval = $("#" + dropdowntext.context.id).val();

            if (dropval == "") {
                $("#" + this.id + '-error').show().text('@Messages.This_field_is_required');
            }
            else {
                $("#" + this.id + '-error').hide();
            }
        });

        //fileupload//
        $(document).on('change', '.fileuplaodReq', function (e) {
            //   var fileName = e.target.files[0].name;
            var fileName = $(this).closest('.fileuplaodReq').prop('files').length;
            if (fileName == 0) {
                $("#" + this.id + '-error').show().text('@Messages.This_field_is_required');
            }
            else {
                $("#" + this.id + '-error').hide();
            }
        });


        // radiobutton//

        $(document).on('change', '.radioname', function (e) {
            var radioname = $(this).parent().closest('.countdiv').attr('id')
            var chkradio = $("input:radio[name='" + radioname + "']").is(":checked")
            if (chkradio == false) {
                $(this).parent().closest('.appendNewRadio').next('.radioerror').show().text('@Messages.This_field_is_required');;
            }
            else {
                $(this).parent().closest('.appendNewRadio').next('.radioerror').hide();
            }
        });

        // radiobutton//

        //////////////////////////////////////    //validation///////////////////////////////////




        ////////////////////drodown value bind //////////////////
        var id = 0;
        jQuery("#addrow").click(function () {

            id++;
            var row = jQuery('.samplerow tr').clone(true);
            row.appendTo('.dynamicTable1');
            return false;

        });

        function remove(obj) {
            $(obj).parents("tr").remove();
        }

        var dropID = 0;
        var textbox_required;
        var insert = function () {

            chkalltxtbox();
            if (textbox_required == true) {
                $('#' + dropID).html("");
                $('#' + dropID).append($('<option></option>').val("").html('@Resource.Select'));
                $(".dynamicTable1 tbody tr").each(function (index) {
                    var val = $(this).find(".txtoption").val();
                    var newOption = $('<option value="' + index + '">' + val + '</option>');
                    $('#' + dropID).append(newOption);
                });
                $("#dropdownpopup").modal('hide');
                $('#frmdynamicdropdown')[0].reset();
            }

        }

        function chkalltxtbox() {
            var Txtbox_count = $('#dropdownpopup').find(':text').length

            $(".dynamicTable1 tbody tr").each(function (index) {
                var chkForBlank = $(this).find(".txtoption").val();
                if (chkForBlank == "") {
                    $(".showError").show()
                    textbox_required = false;
                    return false;
                }
                else {
                    var allTextBoxes = [];
                    $(".dynamicTable1 tbody tr").each(function () {
                        allTextBoxes.push($(this).find(".txtoption").val())
                    });
                    var sorted_arr = allTextBoxes.sort();
                    for (var i = 0; i < allTextBoxes.length - 1; i++) {
                        if (sorted_arr[i + 1] == sorted_arr[i]) {
                            $(".showError").show()
                            textbox_required = false;
                            return false;
                        }
                    }
                    textbox_required = true;
                    return true;
                }

            });

        }


        //same textbox value not

        //

        function dropdownpopupClick(e, obj) {

            e.preventDefault();
            $(".showError").hide();
            dropID = $(obj).parents('.countdiv').find('.getuniqid').attr('id');

            var values = [];

            $('#' + dropID).find('option').each(function () {
                if ($(this).text() != "Select" && $(this).text() != "تحديد") {
                    values.push($(this).text());
                }
            });

            if (values.length > 0) {
                var html = "";
                $("#tableBody").html(html);
                for (var item in values) {
                    html += '<tr class="hidetr">' +
                               '<td class="state-success" colspan="2">' +
                               '<input type="text" class="txtoption form-control req valid" value="' + values[item] + '">' +
                               '</td>' +
                            //   '<td colspan="2"><button class="remove btn btn-danger" onclick="remove(this);" style="margin-left:20px">Remove</button></td>' +
                           '  <td colspan="2">' +
       ' <span class="input-group-addon" onclick="remove(this);">' +
         '   <i class="fa fa-close" onclick="remove(this);"></i>' +
       ' </span>' +
    '</td>' +

                               '</tr>';
                }
                $("#tableBody").html(html);
            }
            else {
                $('#tableBody').find('tr.hidetr').remove();
                var tr = $('#tableBody').children().length;
                if (tr == 0) {
                    var html = '<tr class="hidetr">' +
                                '<td class="state-success" colspan="2">' +
                                '<input type="text" class="txtoption form-control req valid">' +
                                '</td>' +
                               // '<td colspan="2"><button class="remove btn btn-danger" onclick="remove(this);" style="margin-left:20px">Remove</button></td>' +
                                '  <td colspan="2">' +
       ' <span class="input-group-addon" onclick="remove(this);">' +
         '   <i class="fa fa-close" onclick="remove(this);"></i>' +
       ' </span>' +
    '</td>' +
                                '</tr>';
                    $("#tableBody").html(html);
                }
            }

            $("#dropdownpopup").modal('show');
        }
        $('.modalClose').click(function () {
            $('#frmdynamicdropdown')[0].reset();
            $('#tableBody').find('tr.hidetr').remove();
            $('#dropdownpopup').modal('hide');
            // $("#FormTitle").val('');
            // $(".error").hide('');
        });

        ////////////////////drodown value bind //////////////////
    </script>

}

