﻿@{
    ViewBag.Title = "TRY";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;

    var langs = "en-us";
    if (Request.Cookies["LangForMultiLanguage"] != null)
    {
        langs = Request.Cookies["LangForMultiLanguage"].Value;
    }

}
<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">

    <link href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>

    <script>  

        $(document).ready(function () {


            jQuery.fn.dataTable.ext.type.order['file-size-pre'] = function (data) {
                debugger;
              
                var matches = data.match(/^(\d+(?:\.\d+)?)\s*([a-z]+)/i);
                var multipliers = {
                    b: 1,
                    bytes: 1,
                    kb: 1000,
                    kib: 1024,
                    mb: 1000000,
                    mib: 1048576,
                    gb: 1000000000,
                    gib: 1073741824,
                    tb: 1000000000000,
                    tib: 1099511627776,
                    pb: 1000000000000000,
                    pib: 1125899906842624
                };

                if (matches) {
                    debugger;
                    var multiplier = multipliers[matches[2].toLowerCase()];
                    return parseFloat(matches[1]) * multiplier;
                } else {
                    return -1;
                };
            };

            $('#example').DataTable({
                "columnDefs": [
                    { "type": "file-size", "targets": 1 }
                ]
            });
        });
    </script>
</head>
<body>
    <table id="example" class="display" cellspacing="0" width="100%">

        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>Name</th>
                <th>Size</th>
            </tr>
        </tfoot>

        <tbody>
            <tr>
                <td>Small2.mp3</td>
                <td>100 B</td>
            </tr>
            <tr>
                <td>Small1.mp3</td>
                <td>12 KB</td>
            </tr>
            <tr>
                <td>Small0.mp3</td>
                <td>11 MB</td>
            </tr>
            <tr>
                <td>Small4.mp3</td>
                <td>111 bytes</td>
            </tr>
            <tr>
                <td>Small3.mp3</td>
                <td>1 GB</td>
            </tr>
            <tr>
                <td>Small.mp3</td>
                <td>1.4 TB</td>
            </tr>
            @*<tr>
                <td>Small.mp3</td>
                <td>9KB</td>
            </tr>
            <tr>
                <td>Normal.mp3</td>
                <td>8MB</td>
            </tr>
            <tr>
                <td>Large.mp3</td>
                <td>7 GB</td>
            </tr>
            <tr>
                <td>Smallest.mp3</td>
                <td>10 B</td>
            </tr>
            <tr>
                <td>a.mp3</td>
                <td>10 KB</td>
            </tr>
            <tr>
                <td>a.mp3</td>
                <td>10 MB</td>
            </tr>
            <tr>
                <td>a.mp3</td>
                <td>10 GB</td>
            </tr>
            <tr>
                <td>a.mp3</td>
                <td>1 TB</td>
            </tr>
        </tbody>*@
    </table>
    
</body>

</html>