﻿@model List<FormTemplate>

@{
    ViewBag.Title = Resource.Form_management;
    int count = 1;

    var Userid = string.Empty;
    if (HttpContext.Current.Session[SessionClass.UserID] != null)
    {
        Userid = HttpContext.Current.Session[SessionClass.UserID].ToString();
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
    PermissionVM lst = (PermissionVM)Session["PermissionListSession"];
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@Resource.Form_Template_List</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("GoToHome", "Account")"><i class="fa fa-lg fa-home"></i></a>
            </li>
            <li>
                <a>@Resource.Template</a>
            </li>
            <li class="active">
                <strong>@Resource.Form_Template_List</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <div class="tabrdiv">
                                <table class="table table-striped table-bordered table-hover" id="tblFormTemplateList">
                                    <thead>
                                        <tr>
                                            <th class="text-center" width="5%"><input type="checkbox" id="checkAll" /></th>
                                            <th>@Resource.Name</th>
                                            <th>Description</th>
                                            <th class="text-center" width="15%">@Resource.Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="text-center" width="5%">
                                                    <input type="checkbox" class="checkboxFormTemplate" value="@item.Id" />
                                                </td>
                                                <td>@item.FormTitle</td>
                                                <td>@item.Description</td>
                                                <td class="text-center" width="15%">
                                                    @if (lst.HasStatusPermission)
                                                    {
                                                        <a title="@Messages.change_status" id="@item.Id" onclick="ActiveDeactive(@item.Id)">
                                                            <i class="fa @(item.IsActive==true? "fa-check text-navy fa-1x": "fa-pause text-warning fa-1x")"></i>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <span title="@Messages.change_status">
                                                            <i class="fa @(item.IsActive == true ? "fa-check text-muted fa-1x" : "fa-pause text-muted fa-1x")"></i>
                                                        </span>
                                                    }
                                                    &nbsp;
                                                    @if (lst.HasEditPermission)
                                                    {
                                                        <a href="@Url.Action("EditTemplate", "Demo", new { id = item.Id })" title="@Messages.edit">
                                                            <i class="fa fa-pencil text-success fa-1x"></i>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <span title="@Messages.edit">
                                                            <i class="fa fa-pencil text-muted fa-1x"></i>
                                                        </span>
                                                    }
                                                    &nbsp;
                                                    @if (lst.HasDeletePermission)
                                                    {
                                                        <a title="@Messages.delete" onclick="DeleteSelected(@item.Id)">
                                                            <i class="fa fa-trash text-danger fa-1x"></i>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <span title="@Messages.delete">
                                                            <i class="fa fa-trash text-muted fa-1x"></i>
                                                        </span>
                                                    }
                                                    &nbsp;
                                                    @*<a href="@Url.Action("ViewForm", "Demo", new { id = item.Id })" title="view">
                                                            <i class="fa fa-eye text-info fa-1x"></i>
                                                        </a>*@
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



@section Styles{
    <link href="@Url.Content("~/Content/plugins/sweetalert/sweetalert.css")" rel="stylesheet" />
}

@section Scripts{
    <script src="@Url.Content("~/Scripts/plugins/sweetalert/sweetalert.min.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblFormTemplateList').dataTable({
                "aaSorting": [],
                "aoColumnDefs": [
                    {
                        'bSortable': false,
                        'aTargets': [0, 3],
                    }
                ],
                "dom": "<'row'<'col-sm-2'><'col-sm-10'<'button-align' B>>><'row'<'col-sm-6'l><'col-sm-6'f>><'row'<'col-sm-12't>><'row'<'col-sm-5'i><'col-sm-7'p>>",
                buttons: [
                    {
                        text: '<i class="fa fa-plus @(lst.HasAddPermission == true ? "text-navy" : "text-muted")"></i> @Resource.Add_Form_Template',
                        titleAttr: '@Resource.Add_Form_Template',
                        action: function (e, dt, node, config) {
                            if ('@lst.HasAddPermission' == 'True') {
                                window.location = '@Url.Action("DynamicFormTemplate", "Demo")';
                            }
                        }
                    },
                    {
                        text: '<i class="fa fa-pause @(lst.HasDeactivePermission == true ? "text-warning" : "text-muted")"></i> @Resource.Deactivate',
                        titleAttr: '@Resource.Deactivate',
                        action: function (e, dt, node, config) {
                            if ('@lst.HasDeactivePermission' == 'True') {
                                DeactiveSelected();
                            }
                        }
                    },
                    {
                        text: '<i class="fa fa-check @(lst.HasActivePermission == true ? "text-navy" : "text-muted")"></i>  @Resource.Activate',
                        titleAttr: '@Resource.Activate',
                        action: function (e, dt, node, config) {
                            if ('@lst.HasActivePermission' == 'True') {
                                ActiveSelected();
                            }
                        }
                    },
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-copy fa-rotate-90 text-navy"></i>  @Resource.Copy',
                        titleAttr: ' @Resource.Copy',
                        exportOptions: {
                            columns: [1, 2]
                        }
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i>  @Resource.Print',
                        titleAttr: ' @Resource.Print',
                        exportOptions: {
                            columns: [1, 2]
                        }
                    },
                    {
                        text: '<i class="fa fa-trash @(lst.HasDeletePermission == true ? "text-danger" : "text-muted")"></i> @Resource.Delete',
                        titleAttr: '@Resource.Delete',
                        action: function (e, dt, node, config) {
                            if ('@lst.HasDeletePermission' == 'True') {
                                DeleteSelected(0);
                            }
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-share-square-o"></i>  @Resource.Export',
                        titleAttr: ' @Resource.Export',
                        exportOptions: {
                            columns: [1,2]
                        }
                    },
                ],
                "language":
                {
                    "sSearch": "@Resource.Search",
                    //"info": "@Resource.Showing _START_ @Resource.to _END_ @Resource.of _TOTAL_ @Resource.entries",
                    "info": "@Resource.Showing _END_ @Resource.of _TOTAL_ @Resource.entries",
                    "emptyTable": "@Resource.NoDataAvailable",
                    //"infoEmpty": "@Resource.Showing 0 @Resource.to 0 @Resource.of 0 @Resource.entries",
                    "infoEmpty": "@Resource.Showing 0 @Resource.of 0 @Resource.entries",
                    "infoFiltered": "(@Resource.filteredFrom _MAX_ @Resource.total @Resource.entries)",
                    //"lengthMenu": "@Resource.Show _MENU_ @Resource.entries",
                    "lengthMenu": "@Resource.Show _MENU_ @Resource.of @Model.Count() @Resource.entries",
                    "loadingRecords": "@Resource.Loading",
                    "processing": "@Resource.Processing",
                    "zeroRecords": "@Resource.NoRecords",
                    "paginate": {
                        "first": "@Resource.First",
                        "last": "@Resource.Last",
                        "next": "@Resource.Next",
                        "previous": "@Resource.Previous"
                    },
                }
            });
            //end of Table

            $("#menu_Template").addClass('active');
            $("#menu_Template").find('ul.nav-second-level').addClass('in');

            $("#checkAll").click(function () {
                if ($("#checkAll").is(':checked')) {
                    $("input:checkbox.checkboxFormTemplate").each(function () {
                        $(this).prop("checked", true);
                    });

                } else {
                    $("input:checkbox.checkboxFormTemplate").each(function () {
                        $(this).prop("checked", false);
                    });
                }
            });

            $('#tblFormTemplateList').on('page.dt', function () {
                $("input:checkbox").prop("checked", false);
            });
        });

        // multiple delete & Deactivate function


        function DeleteSelected(id) {
            var selectedIDs = new Array();
            if (id > 0) {
                selectedIDs.push(id);
            }
            else {
                $("input:checkbox.checkboxFormTemplate").each(function () {
                    if ($(this).prop("checked") == true) {
                        selectedIDs.push($(this).val());
                    }
                });
            }
            if (selectedIDs.length > 0) {
                $.ajax({
                    type: "Post",
                    datatype: "JSON",
                    url: "@Url.Action("DeleteSelectedFormTemplate", "Demo")",
                    data: { formTemplateIds: [] },
                    success: function (data) {
                        swal({
                            title: "@Messages.Are_you_sure",
                            text: "You want to delete selected form templates?",
                            type: "warning",
                            cancelButtonText: "@Resource.Cancel",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "@Resource.Yes",
                            closeOnConfirm: false
                        }, function (e) {
                            if (e) {
                                $.ajax({
                                    type: "Post",
                                    datatype: "JSON",
                                    url: "@Url.Action("DeleteSelectedFormTemplate", "Demo")",
                                    data: { formTemplateIds: selectedIDs },
                                    success: function (data) {
                                        if (data.success) {
                                            swal("Form template deleted successfully", "", "success");
                                            window.setTimeout(function () {
                                                location.reload('true');
                                            }, 1000);
                                        }
                                        else {
                                            swal("Can't delete", "Form template is already in use", "error");
                                        }
                                    },
                                    error: function (event, xhr, options, exc) {
                                    }
                                });
                            }

                        });
                    },
                    error: function (event, xhr, options, exc) {
                    }
                });
            }
            else {
                swal("No item selected", "Select atleast one item", "error");
            }
        }



        //Active Selected Form Function
        function ActiveSelected() {
            var selectedIDs = new Array();
            $("input:checkbox.checkboxFormTemplate").each(function () {
                if ($(this).prop("checked") == true) {
                    selectedIDs.push($(this).val());
                }
            });

            if (selectedIDs.length > 0) {
                $.ajax({
                    type: "Post",
                    datatype: "JSON",
                    url: "@Url.Action("ActiveSelectedFormTemplate", "Demo")",
                    data: { formTemplateIds: [] },
                    success: function (data) {
                        swal({
                            title: "@Messages.Are_you_sure",
                            text: "@Messages.You_want_to_active_form_template",
                            type: "warning",
                            cancelButtonText: "@Resource.Cancel",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "@Resource.Yes",
                            closeOnConfirm: false
                        }, function (e) {
                            if (e) {
                                $.ajax({
                                    type: "Post",
                                    datatype: "JSON",
                                    url: "@Url.Action("ActiveSelectedFormTemplate", "Demo")",
                                    data: { formTemplateIds: selectedIDs },
                                    success: function (data) {
                                        if (data.success) {

                                            swal("@Messages.Form_Template_active_successfully", "", "success");

                                            window.setTimeout(function () {
                                                location.reload('true');
                                            }, 1000);
                                        }
                                        else {
                                            swal("Can't active", "Some dependency are there", "error");
                                        }
                                    },
                                    error: function (event, xhr, options, exc) {
                                    }
                                });
                            }
                        });
                    },
                    error: function (event, xhr, options, exc) {
                    }
                });
            }
            else {
                swal("No item selected", "Select atleast one item", "error");
            }
        }


        // END :Active Selected Form Function

        function DeactiveSelected() {
            var selectedIDs = new Array();
            $("input:checkbox.checkboxFormTemplate").each(function () {
                if ($(this).prop("checked") == true) {
                    selectedIDs.push($(this).val());
                }
            });

            if (selectedIDs.length > 0) {
                $.ajax({
                    type: "Post",
                    datatype: "JSON",
                    url: "@Url.Action("DeactiveSelectedFormTemplate", "Demo")",
                    data: { formTemplateIds: [] },
                    success: function (data) {
                        swal({
                            title: "@Messages.Are_you_sure",
                            text: "@Messages.You_want_to_deactive_form_template",
                            type: "warning",
                            cancelButtonText: "@Resource.Cancel",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "@Resource.Yes",
                            closeOnConfirm: false
                        }, function (e) {
                            if (e) {
                                $.ajax({
                                    type: "Post",
                                    datatype: "JSON",
                                    url: "@Url.Action("DeactiveSelectedFormTemplate", "Demo")",
                                    data: { formTemplateIds: selectedIDs },
                                    success: function (data) {
                                        if (data.success) {

                                            swal("@Messages.Form_Template_deactive_successfully", "", "success");

                                            window.setTimeout(function () {
                                                location.reload('true');
                                            }, 1000);
                                        }
                                        else {
                                            swal("Can't deactive", "Form Template is already in use", "error");
                                        }
                                    },
                                    error: function (event, xhr, options, exc) {
                                    }
                                });
                            }
                        });
                    },
                    error: function (event, xhr, options, exc) {
                    }
                });
            }
            else {
                swal("No item selected", "Select atleast one item", "error");
            }
        }

        // End : Multiple Delete & Deactivate  Function

        function ActiveDeactive(id) {
            var status = "Deactive";
            if ($("#" + id).find('i').hasClass("text-warning")) {
                status = "Active";
            }
            swal({
                title: "@Messages.Are_you_sure",
                text: status == 'Active' ? "@Messages.You_want_to_active_form_template " : " @Messages.You_want_to_deactive_form_template",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "@Resource.Yes",
                cancelButtonText: "@Resource.Cancel",
                closeOnConfirm: false
            }, function (e) {
                if (e) {

                    $.ajax({
                        type: "Post",
                        datatype: "JSON",
                        url: "@Url.Action("ActiveDeactiveForm", "Demo")",
                        data: { id: id },
                        success: function (data) {
                            if (data == true) {
                                if (status == 'Active') {
                                    swal("@Messages.Form_Template_active_successfully", "", "success");
                                }
                                else {
                                    swal("@Messages.Form_Template_deactive_successfully", "", "success");
                                }
                                window.setTimeout(function () {
                                    location.reload('true');
                                }, 1000);

                            }
                        },
                        error: function (event, xhr, options, exc) {
                        }
                    });
                }
            });
        }
    </script>
}

