﻿@*@using GleamTech.AspNet.Mvc
@using GleamTech.FileUltimate.AspNet.UI

@{
    Layout = null;
    ViewBag.Title = "ViewAllDocument";
}


<!DOCTYPE html>
@{

    var docPath = "~/Images/dashbard4_1.jpg";
    docPath = ViewBag.ViewPath;
    var documentViewer = new DocumentViewer
    {
        Width = 800,
        Height = 600,
        Document = docPath

    };

    var fileManager = new FileManager
    {
        Width = 800,
        Height = 600,
        Resizable = true
    };

    var rootFolder = new FileManagerRootFolder
    {
        Name = "Custom Root Folder",
        Location = "~/Uploads/Document/10048/3"
    };

    rootFolder.AccessControls.Add(new FileManagerAccessControl
    {
        Path = @"\",
        AllowedPermissions = FileManagerPermissions.ReadOnly
    });

    fileManager.RootFolders.Add(rootFolder);
}
<html>
<head>
    <title>File Manager</title>
    @this.RenderHead(fileManager)
</head>
<body>
    @this.RenderBody(fileManager)
</body>
</html>*@