﻿@model DynamicFormResponseVM
@{
    ViewBag.Title = "ViewResponse";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var langs = "en-us";
    if (Request.Cookies["LangForMultiLanguage"] != null)
    {
        langs = Request.Cookies["LangForMultiLanguage"].Value;
    }

}
<style>
    .btn-group.open .dropdown-toggle {
        box-shadow: none;
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@Model.FormTitle</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    @using (Html.BeginForm("ViewForm", "Demo", FormMethod.Post, new { @id = "dynamicFrm", @enctype = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(x => x.FormTemplateId)
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                @if (Model.FormTemplateId > 0)
                                {
                                    @Html.Raw((Model.HtmlContent))
                                }
                                else
                                {
                                    <blockquote>
                                        <p>No form Found !</p>
                                    </blockquote>
                                }
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="button" id="btnSave" onclick="SaveResponse()" class="btn btn-default">
                                        <i class="fa fa-save text-navy"></i>&nbsp;
                                        @Resource.Save
                                    </button>
                                    <button type="button" id="btnviewData" class="btn btn-default">
                                        <i class="fa fa-save text-navy"></i>&nbsp;
                                        view
                                    </button>
                                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("FormTemplateList", "Demo")'">
                                        <i class="fa fa-close text-danger"></i>&nbsp;
                                        @Resource.Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    }


                    <div class="hiddenvalue">
                        @if (Model != null)
                        {
                            foreach(var item in Model.DynamicFormResponseDetailList)
                            {
                            <input type="hidden" class="getvalue" data-value="@item.Value" data-controlid="@item.FiledId" data-controltype="@item.Type" />
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
    @Styles.Render("~/plugins/wizardStepsStyles")
    @*<link href="~/dynamicFonts/fontselect-default.css" rel="stylesheet" />*@
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/codeEditorStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    <style>
        .action-buttons {
            display: none;
            opacity: 0;
        }

        .has-error .form-control {
            border-color: #ed5565 !important;
        }

        .has-error .select2-container--default .select2-selection--multiple {
            border-color: #ed5565 !important;
        }

        .select2-container--default .select2-selection--multiple {
            border-color: #c1bebe !important;
        }

        .reqSign {
            margin-left: 3px;
            font-size: 10px !important;
            color: #ed5565;
        }

        .checkbox-success input[type="checkbox"]:checked + label::before,
        .checkbox-success input[type="radio"]:checked + label::before {
            background-color: #00b1d1;
            border-color: #00b1d1;
        }

        .fileTypeUl {
            list-style-type: none;
            text-align: left !important;
            margin-left: -40px !important;
        }

        .link-label {
            cursor: pointer;
            margin-top: 5px;
        }
    </style>

}

@section Scripts{

    <script src="~/Scripts/plugins/select2/select2.full.min.js"></script>
    <script src="~/Scripts/plugins/jquery-ui/jquery-ui.js"></script>
    @*<script src="~/dynamicFonts/jquery.fontselect.js"></script>*@
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/colorpicker")


    <script type="text/javascript">
        // File input extension Validation Function | Add | Dhrumil | 2018/04/19
        function CheckExtValidation(id) {
            debugger;
            if ($("#" + id).attr("accept") !== undefined && $("#" + id).attr("accept") !=="" && $("#" + id).val() != "") {
                var fileExtension = $("#" + id).attr("accept").split(',');
                //Here Check File Extension
                if ($.inArray("." + $("#" + id).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                    alert('invalid file ! Accepts only ' + $("#" + id).attr("accept") + '.');
                    $(".fileremove").click();
                }
            }
        }

        function escapeRegExp(string) {
            return string.replace(/[.*+?^${}()|[\]\\]/g, "\\$&");
        }
        /* Define functin to find and replace specified term with replacement string */
        function replaceAll(str, term, replacement) {
            return str.replace(new RegExp(escapeRegExp(term), 'g'), replacement);
        }

        function SaveResponse() {

            debugger;
            var DynamicFormResponseVM = {
                ID: 0,
                FormTemplateId : @Model.FormTemplateId,
                HtmlContent : "html code here",
                FormTitle : "@Model.FormTitle",
                ResponseCode: "DynamicCode",
                FormTemplateId: 0,
                AttachedType: "WorkFlow",
                AttachedId: 0,
                DynamicFormResponseDetailList: []
            }

            DynamicFormResponseVM.ID= 0;
            DynamicFormResponseVM.ResponseCode= "DynamicCode";
            DynamicFormResponseVM.FormTemplateId= @Model.FormTemplateId;
            DynamicFormResponseVM.AttachedType= "WorkFlow";
            DynamicFormResponseVM.AttachedId= 0;
            //File input---------------------------
            debugger;
            var exmInputFile = [];
            var fileUpload = document.getElementsByName("fileupload");
            var form = new FormData($('#dynamicFrm')[0]);
            for (i = 0; i < fileUpload.length; i++) {
                var file = fileUpload[i].files[0];
                exmInputFile.push(file);
                if (file != undefined) {
                    form.append('fileuploadData', file);
                }

            }
            console.log(exmInputFile);

            //var form = new FormData($('#dynamicFrm')[0]);
            //for (var j = 0; j < exmInputFile.length; j++) {
            //    form.append('fileuploadData', exmInputFile[j]);
            //    console.log(exmInputFile[j]);
            //}

            // End File Input---------------------
            $('.dynamicControls').each(function () {

                var FieldID = this.id;
                var FieldType = $(this).attr("data-Ctype");
                var value = null;
                var ischecked = false;

                if (FieldType == "radio" || FieldType == "checkbox") {
                    debugger;
                    ischecked = $("#" + FieldID).is(':checked');
                    if (ischecked==true) {
                        value = $("#" + FieldID).val();
                    } else {
                        value = null;
                    }
                }
                else if (FieldType == "textbox" || FieldType == "textarea" || FieldType == "dropdown") {
                    value = $("#" + FieldID).val();

                } else if (FieldType = "fileupload") {
                    value = $(".span-" + FieldID).html();
                }

                DynamicFormResponseVM.DynamicFormResponseDetailList.push({
                    'FiledId': FieldID,
                    'Type': FieldType,
                    'Value': value,
                    'IsSelected': $("#" + FieldID).is(':checked')
                });


            });

            form.append("DynamicFormResponseVM", JSON.stringify(DynamicFormResponseVM));

            console.log(DynamicFormResponseVM);

            if (DynamicFormResponseVM.DynamicFormResponseDetailList.length > 0) {
             $.ajax({
                type: "POST",
                url: '@Url.Action("ViewForm", "Demo")',
                data: form,
                //data: {
                //    DynamicFormResponseVM: JSON.stringify(DynamicFormResponseVM)
                //},
                processData: false,
                dataType: "json",
                traditional: true,
                contentType: false,
                success: function (data) {
                    window.location.href = data.Url;
                }
            });
            }

        }

        $(document).ready(function () {
            //Add active class in menu
            //$("#link_DynamicFormTemplate").addClass('active');
            //$("#link_DynamicFormTemplate").parent().addClass('in');
            //$("#link_DynamicFormTemplate").parent().parent().addClass('active');


                //Check for all files
                $('[id^="fileupload-"]').each(function () {
                    $(this).attr("name", "fileupload");
            });
                  
              setvalue();
            $(".chosen-select-cabinet").select2({
                placeholder: "@Resource.Choose_Cabinet",
                allowClear: true,
                dir: "@(langs=="ar"?"rtl":"ltr")"
            });
            //must after choosenselect (select 2 Section here..)

            $(".select2_search").select2({ placeholder: "--Select--", allowClear: true });

            $.fn.serializeObject = function () {
                var o = {};
                var a = this.serializeArray();
                $.each(a, function () {
                    if (o[this.name]) {
                        if (!o[this.name].push) {
                            o[this.name] = [o[this.name]];
                        }
                        o[this.name].push(this.value || '');
                    } else {
                        o[this.name] = this.value || '';
                    }
                });
                return o;
            };


           // setTimeout(function () { setvalue()}, 3000);

            // MainFormSave Function
            function SaveFormTemplate() {

                var formField = [];
                //get all Control field & Id with default property


                //Check for checkbox Remove extra html
                $('[id^="checkbox-"]').each(function () {
                    var SubControlID = this.id;
                    SaveSubLabel(SubControlID);
                });

                //Check for radio Remove extra html
                $('[id^="radio-"]').each(function () {
                    var SubControlID = this.id;
                    SaveSubLabel(SubControlID);
                });

                // check file already attach and clone or not
                $(".fileremove").click();

                if ($("#frmDynamic").valid()) {
                    //Check for Dropdown Remove extra html
                    $('[id^="dropdown-"]').each(function () {
                        var dropdownId = this.id;
                        var divId = dropdownId.split('-')[1];
                        var Content = $('.control-div-'+ divId).html();

                        Content = Content.replace('select2-hidden-accessible" tabindex="-1" aria-hidden="true', '  ');
                        var short = Content.split('</select>');
                        Content = short[0] + '</select>';
                        $('.control-div-' + divId).html(Content);


                    });
                    // get html data
                    var htmlstr = $("#appendField").html();
                    $("#HtmlContent").val(htmlstr);

                    // Ajax Call for Form Submit
                    var form = $("#frmDynamic").serialize();
                    var fields = JSON.stringify(formField);

                    $.ajax({
                        url: '@Url.Action("DynamicFormTemplate", "Demo")',
                        dataType: 'json',
                        type: "POST",
                        data:{dynamicFormVM:$("#frmDynamic").serializeObject(),formFields:formField},
                        success: function (data) {
                            location.href = '@Url.Action("FormTemplateList", "Demo")';
                        }
                    });
                    //$("#frmDynamic").submit();
                    //End : Ajax Call for Form Submit
                }
                else {

                    return false;
                }

            } // end of  MainFormSave

            $("#frmDynamic").validate({
                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-success has-error');
                    $(e).closest('.form-group').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    $(e).prev().removeClass('has-error');
                    e.closest('.help-block').remove();
                    $(e).remove();
                },
                ignore: [],
                rules: {
                    FormTitle: {
                        required: true

                    },
                    Description: {
                        required: true,
                    },
                    CabinetList: {
                        required: true,
                    }
                },
                messages: {
                    FormTitle: {
                        required: '@Messages.Enter_Form_Name'

                    },
                    Description: {
                        required: 'Enter Description'
                    },
                    CabinetList: {
                        required: '@Messages.Cabinet_Validation'
                    }
                },
                errorPlacement: function (error, element) {
                    element.parent().append(error);
                    //error.insertAfter(element.parent("div"));
                }
            });

        });

    </script>
    <script>

        function setvalue() {
            //Set Value for all controls
            $('[class^="getvalue"]').each(function () {
                //  $(this).attr("name", "fileupload");
                var fid = "";
                var value = "";
                var type = "";
                fid = $(this).attr("data-controlid");
                type = $(this).attr("data-controltype");
                value = $(this).attr("data-value");

                debugger;
                if (type == "textbox") {
                    $("#" + fid).attr("value",value);
                    $("#" + fid).text(value);
                }
                else if (type == "textarea") {
                    $("#" + fid).val(value);
                    $("#" + fid).text(value);
                }
                else if (type == "dropdown") {
                    $("#" + fid).val(value);      
                    $('#'+ fid+'>option[value='+value+']').attr('selected', 'selected');
                }
                else if (type == "radio") {
                    if (value != "") {
                        $("input:radio[id="+fid+"]").attr('checked', true);
                    }
                }
                else if (type == "checkbox") {
                    if (value != "") {
                        $("input:checkbox[id=" + fid + "]").attr('checked', true);
                        $("#" + fid).prop("checked", true);
                    }
                   
                }
            });
        }
    </script>

}

