﻿@{
    ViewBag.Title = "ViewDocument";
    Layout = null;
}
<!DOCTYPE html>
@{
    var docPath = "~/Images/a2.jpg";
     docPath = ViewBag.ViewPath;
     //docPath = "/Images/User1.png";
    var documentViewer = new DocumentViewer
    {
        Width = 800,
        Height = 600,
        Document = docPath

    };
}
<html>
<head>
    <title>Document Viewer</title>
    @this.RenderHead(documentViewer)
</head>
<body>
    @this.RenderBody(documentViewer)
</body>
</html>

