﻿@model List<FolderFileVM>
@{
    var userId = CommonFunctions.GetUserId();
    var cabinetId = CommonFunctions.GetCabinetId();
}

<style>
    .activetr {
        background-color: #ddebea;
    }
</style>

<div class="table-responsive" id="divGrid">
    <div class="tabrdiv">
        <table class="table table-hover" id="tblFolderFileList">
            <thead>
                <tr>
                    <th></th>
                    <th width="1%">
                        <div class="check_div">
                            <input type="checkbox" id="checkAll" />
                        </div>
                    </th>
                    <th width="15%" class="sort">Name</th>
                    <th width="6%" class="sort">Version</th>
                    <th width="5%" class="sort">Size</th>
                    <th width="9%" class="sort">Modified By</th>
                    <th width="10%" class="sort">Modified</th>
                    <th width="4%">Sharing</th>
                    <th width="10%">Action</th>

                </tr>
            </thead>
            <tbody>
                <tr class="fixed-Row backOptionFolfil sorting_disabled" hidden>
                    <td>0</td>
                    <td width="1%">
                        <div class="check_div">
                            @*<input type="checkbox" class="checkFolderFile" />*@
                        </div>
                    </td>
                    <td width="15%">
                        <img src="@Url.Content("~/IconImages/new-back-icon.png")" class="backPointer" onclick="gotoLastFolder();" />
                        <span>.......</span>
                    </td>
                    <td width="6%" style="word-break:break-all"><span>-</span></td>
                    <td width="5%" style="word-break:break-all"><span>-</span></td>
                    <td width="9%" style="word-break:break-all"><span>-</span></td>
                    <td width="10%" style="word-break:break-all"><span>-</span></td>
                    <td width="4%" class="text-center"><span>-</span></td>
                    <td width="10%" class="text-center">
                        <ul class="list-inline custom_action">
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                        </ul>
                    </td>

                </tr>
                @if (Model.Count > 0)
                {
                    var Count = 0;
                    foreach (var item in Model)
                    {
                        Count = Count + 1;
                        <tr class="cansort rowbackground" id="td-@Count" data-Rownum="@Count">
                            <td>@(item.IsDocument ? "2" : "1")</td>
                            <td width="1%">
                                <div class="check_div">
                                    @if (item.IsDocument)
                                    {
                                        <input type="checkbox" id="d-@item.Id-@item.DocumentVersionId" class="checkFolderFile chk-@Count gridd-@item.Id-@item.DocumentVersionId" data-chk="@Count" data-favstatus="@item.IsFavorite" data-docid="@item.DocumentId" data-fileid="@item.DocumentVersionId" data-checkid="@item.CheckInOutHistoryId" data-ischeckout="@item.IsCheckOut" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="f-@item.Id" class="checkFolderFile chk-@Count gridf-@item.Id" data-chk="@Count" data-favstatus="@item.IsFavorite" data-folderid="@item.Id" />
                                    }
                                </div>
                            </td>
                            <td class="" data-id="@item.Id" width="15%">
                                @*<div>*@
                                <span class="dragItems" id="div-@item.Id"><i data-Csize="@item.DocSize" data-Ctype="@item.DocType.ToLower()" data-CName="@item.Name" data-CId="@(item.IsDocument?item.DocumentVersionId:item.Id)" class="tbl_icon file-default @item.DocType.ToLower()" aria-hidden="true"></i></span>
                                @if (item.IsDocument)
                                {
                                    <span id="file-@item.Id">@item.Name</span>
                                }
                                else
                                {
                                    <a id="folder-@item.Id" onclick="folderDetails(@item.Id, @item.FavoriteId);">@item.Name</a>
                                }
                                @*</div>*@
                            </td>
                            <td width="6%" style="word-break:break-all;">
                                @if (!item.IsDocument)
                                {
                                    @item.Version
                                }
                                else
                                {
                                    <a onclick="GetDocumentVersionDetail(@item.Id);">@item.Version</a>
                                }
                            </td>
                            <td width="5%" style="word-break:break-all">@item.DocSize </td>
                            <td width="9%" style="word-break:break-all"> @(item.ModifiedBy != null && @item.ModifiedBy != "" ? item.ModifiedBy : "-")  </td>
                            <td width="10%" style="word-break:break-all"> @(item.ModifiedOn != null && @item.ModifiedOn != "" ? item.ModifiedOn : "-") </td>
                            <td width="4%" class="text-center">
                                @*<a onclick="AddEditDocShareDetail(@item.Id,'@item.IsDocument.ToString()')">
                                        <i class="fa tbl_icon action_icons @(item.Shared?"fa-user green":"fa-lock")" aria-hidden="true"></i>
                                    </a>*@
                                @if (item.Shared)
                                {
                                    <a onclick="AddEditDocShareDetail(@item.Id,'@item.IsDocument.ToString()')">
                                        <img src="@Url.Content("~/IconImages/men.png")" />
                                    </a>
                                }
                                else
                                {
                                    <a onclick="AddEditDocShareDetail(@item.Id,'@item.IsDocument.ToString()')">
                                        <img src="@Url.Content("~/IconImages/lock.png")" />
                                    </a>
                                }
                            </td>
                            <td width="10%" class="text-center">
                                <ul class="list-inline custom_action">
                                    <li>
                                        @*<a onclick="AddRemoveFavorite(@item.Id,'@item.IsDocument.ToString()','@item.IsFavorite.ToString()')">
                                                <i class="fa @(item.IsFavorite == true ? " fa fa-star tbl_icon action_icons text-warning" : "fa fa-star tbl_icon action_icons" )"></i>
                                            </a>*@
                                        @if (item.IsFavorite)
                                        {
                                            <a onclick="AddRemoveFavorite(@item.Id,'@item.IsDocument.ToString()','@item.IsFavorite.ToString()')">
                                                <img src="@Url.Content("~/IconImages/star-1.png")" />
                                            </a>
                                        }
                                        else
                                        {
                                            <a onclick="AddRemoveFavorite(@item.Id,'@item.IsDocument.ToString()','@item.IsFavorite.ToString()')">
                                                <img src="@Url.Content("~/IconImages/star-2.png")" />
                                            </a>
                                        }
                                    </li>
                                    <li>
                                        @if (item.IsDocument)
                                        {
                                            <a id="action-link-@item.Id" onclick="AddEditLinkDocDetail(@item.Id)">
                                                @if (item.IsLinked)
                                                {<img src="@Url.Content("~/IconImages/pin-1.png")" />}
                                                else
                                                {<img src="@Url.Content("~/IconImages/pin-2.png")" /> }
                                            </a>

                                        }
                                        else
                                        {
                                            <i class="tbl_icon action_icons">-</i>
                                        }
                                    </li>
                                    <li>
                                        @if (item.IsDocument)
                                        {
                                            if (item.IsCheckOut)
                                            {
                                                <a onclick="GetDocumentVersion(@item.CheckInOutHistoryId,@item.DocumentVersionId,true)">
                                                    <img src="@Url.Content("~/IconImages/upload.png")" />
                                                </a>

                                            }
                                            else
                                            {
                                                <a onclick="FileCheckInOut(@item.CheckInOutHistoryId,@item.Id,false)">
                                                    <img src="@Url.Content("~/IconImages/download.png")" />
                                                </a>
                                            }
                                        }
                                        else
                                        {
                                            <i class="tbl_icon action_icons">-</i>
                                        }
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"> <img src="@Url.Content("~/IconImages/Dot.png")" /> </a>
                                    </li>
                                </ul>
                            </td>

                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>0</td><td></td><td>No data found</td><td></td><td></td><td></td><td></td><td></td><td></td>
                    </tr>
                    @*<tr><td colspan="9" class="text-center">No data found..</td></tr>*@
                }
            </tbody>
        </table>
    </div>
</div>
<!-- Thumbnil View-->
<div class="row" id="divThumbnail">
    <div class="col-md-12">
        <div class="thumnil-view" id="divThumnil-view">
            <div class="col-sm-12 backOptionFolfil">
                @*<i class="tbl_icon fa fa-angle-left backPointer btn_back" aria-hidden="true" onclick="gotoLastFolder();"> <span>Back</span> </i>*@
                <span class="new_back" onclick="gotoLastFolder();"><img src="@Url.Content("~/IconImages/new-back-icon.png")" /> Back</span>
            </div>
            <div class="folder_secetion">
                @if (Model.Where(j => !j.IsDocument).ToList().Count > 0)
                {
                    <div class="col-sm-12"><h3>Folders</h3></div>
                    foreach (var item in Model.Where(j => !j.IsDocument).ToList())
                    {
                        <div class="col-sm-4">
                            <div class="folder_box rowbackground">
                                <span class="dragItems">
                                    <input type="checkbox" id="f-@item.Id" class="checkFolderFile thumbf-@item.Id" data-folderid="@item.Id" />
                                    <i class="fa fa-folder fa-2x " id="div-@item.Id" data-Csize="@item.DocSize" data-Ctype="@item.DocType.ToLower()" data-CName="@item.Name" data-CId="@(item.IsDocument?item.DocumentVersionId:item.Id)"></i>
                                </span>
                                <p><a class="" id="folder-@item.Id" onclick="folderDetails(@item.Id, @item.FavoriteId);">@item.Name</a><br>@item.ChildCount items</p>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="file_secetion">
                @if (Model.Where(j => j.IsDocument).ToList().Count > 0)
                {
                    <div class="col-sm-12"><h3>Files</h3></div>
                    foreach (var item in Model.Where(j => j.IsDocument).ToList())
                    {
                        <div class="col-sm-3">
                            <div class="file_box">
                                <div class="icon_img dragItems">

                                    @if (item.DocType.ToLower() == "jpg" || item.DocType.ToLower() == "jpeg" || item.DocType.ToLower() == "png" || item.DocType.ToLower() == "gif")
                                    {
                                        <img id="div-@item.Id" data-Csize="@item.DocSize" data-Ctype="@item.DocType.ToLower()" data-CName="@item.Name" data-CId="@(item.IsDocument?item.DocumentVersionId:item.Id)" src="~/Uploads/Document/@userId/@cabinetId/@item.FileName.@item.DocType.ToLower()" onerror="this.src='http://via.placeholder.com/350x150'">
                                    }
                                    else
                                    {
                                        <i class="file-default @item.DocType.ToLower()-file-thum-size" id="div-@item.Id" data-Csize="@item.DocSize" data-Ctype="@item.DocType.ToLower()" data-CName="@item.Name" data-CId="@(item.IsDocument?item.DocumentVersionId:item.Id)" aria-hidden="true"></i>
                                    }
                                </div>
                                <div class="file_detail rowbackground">
                                    <span>
                                        <input id="d-@item.Id-@item.DocumentVersionId" type="checkbox" class="checkFolderFile thumbd-@item.Id-@item.DocumentVersionId" data-favstatus="@item.IsFavorite" data-docid="@item.DocumentId" data-fileid="@item.DocumentVersionId" data-checkid="@item.CheckInOutHistoryId" data-ischeckout="@item.IsCheckOut" />
                                    </span>
                                    <p id="file-@item.Id">@item.Name<br>@item.DocSize</p>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<!-- End Of Thumbnil View-->
@*<link href="https://cdn.datatables.net/rowgroup/1.0.2/css/rowGroup.dataTables.min.css" rel="stylesheet" type="text/css" />*@

<script type="text/javascript">
    $(function () {
        $(".dragItems").sortable();
        $(".dragItems").disableSelection();
    });

    $(document).ready(function () {
        //sweta Try For DataTable Sorting
        jQuery.fn.dataTable.ext.type.order['file-size-pre'] = function (data) {
            var matches = data.match(/^(\d+(?:\.\d+)?)\s*([a-z]+)/i);
            var multipliers = {
                b: 1,
                bytes: 1,
                kb: 1000,
                kib: 1024,
                mb: 1000000,
                mib: 1048576,
                gb: 1000000000,
                gib: 1073741824,
                tb: 1000000000000,
                tib: 1099511627776,
                pb: 1000000000000000,
                pib: 1125899906842624
            };

            if (matches) {
                var multiplier = multipliers[matches[2].toLowerCase()];
                return parseFloat(matches[1]) * multiplier;
            } else {
                return -1;
            };
        };

        $('#tblFolderFileList').DataTable({
            bPaginate: false,
            bSearching: false,
            bInfo: false,
            "columnDefs": [
                { "type": "file-size", "targets": 4 },// Size Wise Sorting
                {
                    "targets": [0],
                    "visible": false
                }
                , {
                    'bSortable': false,
                    'aTargets': [1, 8],
                }
            ],
            orderFixed: [0, 'asc'], //First Back Button Do Not Sort
            "dom": ""
        });

        //END : Sweta TRy----------------

        // Row Selection Code Updated On 11/06/2018
        $(".rowbackground").click(function () {
            var Row = $(this).attr("data-Rownum");
            if ($('input:checkbox.chk-' + Row).prop("checked") == true) {
                $(this).addClass('activetr');
            }
            else {
                $(this).removeClass('activetr');
            }
            //else if ($(this).hasClass('activetr')) {
            //    $(this).removeClass('activetr');
            //} else {
            //    $(this).addClass('activetr');
            //}
        });
        // End : Row Selection Code

        //$(".checkFolderFile").click(function () {
        //    if ($(this).prop("checked") == true) {
        //        $(this).parent().parent().closest('.rowbackground').addClass('activetr');
        //    } else {
        //        $(this).parent().parent().closest('.rowbackground').removeClass('activetr');
        //    }
        //});

        $("#checkAll").click(function () {
            if ($("#checkAll").is(':checked')) {
                $("#tblFolderFileList input:checkbox.checkFolderFile").each(function () {
                    $(this).prop("checked", true);
                    $(this).parent().parent().closest('tr').addClass('activetr');
                });
            } else {
                $("#tblFolderFileList input:checkbox.checkFolderFile").each(function () {
                    $(this).prop("checked", false);
                    $(this).parent().parent().closest('tr').removeClass('activetr');
                });
            }
            toggleInfo();
            DisplayInfo();
        });

        $("#tblFolderFileList").on("click", ".checkFolderFile", function () {
            var checkboxes = $("input.checkFolderFile");
            var checkAll = $("input#checkAll");
            if (checkboxes.filter(":checked").length == checkboxes.length) {
                checkAll.prop("checked", "checked");
                $(this).parent().parent().closest('tr').addClass('activetr');
            } else {
                checkAll.prop("checked", '');
            }
            toggleInfo();
            DisplayInfo();
        });

        $("#divThumnil-view").on("click", ".checkFolderFile", function () {
            var checkboxes = $("input.checkFolderFile");
            toggleInfo();
            DisplayInfo();
        });

        $('#tblFolderFileList').on('page.dt', function () {
            $("input:checkbox").prop("checked", false);
        });
    });
</script>
