﻿@model List<MenuVM>
@{
    ViewBag.Title = Resource.Role_Rights;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var RoleName = ViewBag.RoleName;

    string lang = string.Empty;
    if (Request.Cookies["LangForMultiLanguage"] != null)
    {
        lang = Request.Cookies["LangForMultiLanguage"].Value;
    }
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@Resource.Role_Rights</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("GoToHome", "Account")"><i class="fa fa-lg fa-home"></i></a>
            </li>
            <li>
                <a href="@Url.Action("RoleList", "RoleManagement")">@Resource.Role_List</a>
            </li>
            <li>
                <a>@Resource.Role_Rights </a>
            </li>
            <li class="active">
                <strong>@RoleName</strong>
            </li>
        </ol>
    </div>
</div>

@using (Html.BeginForm("RoleRights", "RoleManagement", FormMethod.Post, new { id = "frmRoleRights", enctype = "multipart/form-data" }))
{
    @Html.Hidden("hdnUserRoleID", null, new { @id = "hdnUserRoleID", @Value = ViewBag.RoleID })
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins new-margin-bottom">

                    <div class="ibox-title">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="sub-header control-label">@RoleName</h5>
                                <div class="pull-right">
                                    <button id="btnSubmit" type="submit" class="btn btn-default">
                                        <i class="fa fa-save text-navy"></i>&nbsp;
                                        @Resource.Save
                                    </button>
                                    &nbsp;
                                    <a href="javascript:window.location.reload(true)" class="btn btn-default">
                                        <i class="fa fa-refresh text-danger"></i>&nbsp;
                                        @Resource.Reset
                                    </a>
                                    &nbsp;
                                    <a id="BtnBack" class="btn btn-default" href="@Url.Action("RoleList", "RoleManagement")">
                                        <i class="fa fa-close text-danger"></i>&nbsp;
                                        @Resource.Cancel
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <div class="row">
                            <div class="tabs-container rights-tab">
                                <ul class="nav nav-tabs">
                                    @foreach (var item in Model.GroupBy(s => s.ModuleName))
                                    {
                                        <li>
                                            <a data-toggle="tab" href="#@item.FirstOrDefault().ModuleID">
                                                <i class="@item.FirstOrDefault().CssClass"></i>
                                                <p>
                                                    @if (lang == "ar-bh")
                                                    {
                                                        @item.FirstOrDefault().ArModuleName
                                                    }
                                                    else
                                                    {
                                                        @item.FirstOrDefault().ModuleName
                                                    }
                                                </p>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ibox float-e-margins">
                    <div class="ibox-content rights-tab-container">
                        <div class="tab-content">
                            @foreach (var item in Model.GroupBy(s => s.ModuleName))
                            {
                                <div id="@item.FirstOrDefault().ModuleID" class="tab-pane">
                                    <div class="panel-body">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" width="10%">
                                                        <input type="checkbox" class="i-checks checkAll" id="chkAll_@item.FirstOrDefault().ModuleID" />
                                                    </th>
                                                    <th width="60%">@Resource.Action</th>
                                                    <th width="30%">@Resource.Type</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var res in item)
                                                {
                                                    <tr>
                                                        <td class="text-center" width="10%">
                                                            <input type="checkbox" class="i-checks check" id="chk_@item.FirstOrDefault().ModuleID" name="chkAssign_@res.LinkID" checked="@res.IsAssigned" value="true">
                                                        </td>
                                                        <td width="60%">
                                                            @if (lang == "ar-bh")
                                                            {
                                                                @res.ArLinkName
                                                            }
                                                            else
                                                            {
                                                                @res.LinkName
                                                            }
                                                        </td>
                                                        <td width="30%">
                                                            @if (lang == "ar-bh")
                                                            {
                                                                @res.ArLinkType
                                                            }
                                                            else
                                                            {
                                                                @res.LinkType
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Styles {
    <link href="@Url.Content("~/Content/plugins/iCheck/custom.css")" rel="stylesheet">
}

@section Scripts{
    <script src="@Url.Content("~/Scripts/plugins/iCheck/icheck.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#link_RoleList").addClass('active');
            $('#link_RoleList').parent().addClass("in");
            $('#link_RoleList').parent().parent().addClass("active");

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $(".rights-tab .nav li").first('a').addClass("active");
            $(".rights-tab-container .tab-content div").first().addClass("active");

            $("input.checkAll").on("ifChecked ifUnchecked", function (event) {
                var id = $(this).attr("id");
                var modid = id.split("_")[1];

                var checkboxes = $("input#chk_" + modid);

                if (event.type == "ifChecked") {
                    checkboxes.iCheck("check");
                } else {
                    checkboxes.iCheck("uncheck");
                }
            });

            $("input.check").on("ifChanged", function (event) {
                var id = $(this).attr("id");
                var modid = id.split("_")[1];

                var checkboxes = $("input#chk_" + modid);
                var checkAll = $("input#chkAll_" + modid);

                if (checkboxes.filter(":checked").length == checkboxes.length) {
                    checkAll.prop("checked", "checked");
                } else {
                    checkAll.prop("checked", '');
                }
                checkAll.iCheck('update');
            });
        });
    </script>
}