﻿body.md-skin {
    font-family: 'Segoe UI';
}

.jstree-open > .jstree-anchor > .fa-folder:before {
    content: "\f07c";
}

.jstree-default .jstree-icon.none {
    width: 0;
}

.jstree-node .jstree-anchor {
    word-break: break-all;
}

/*.input-group-addon:last-child {
    border: 1px solid #ccc;
}*/

/*.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 90%;
    margin-bottom: 0;
    margin-right: 2%; 
    padding: 0px 12px;
}*/

/*.input-group-addon {
    font-size: 10px;
    padding: 3px 5px;
    display: inline-table;
}*/

/*.input-group {
    display: block;
}*/

.text-green {
    color: #009183;
}

.fol-label {
    font-weight: 500;
    font-size: 14px;
}

.parentFolderNamePos {
    font-size: 13px;
}

.has-error .bootstrap-tagsinput {
    border-color: #ed5565;
}

.i-checks {
    display: inline-block;
    margin-right: 10px;
}

.showError {
    color: #cc5965;
    display: inline-block;
    margin-left: 5px;
}

/*@media screen and (-webkit-min-device-pixel-ratio:0) {

    .input-group .form-control {
        padding: 6px 12px;
    }
}*/

#MenuCabinetId {
    border: none;
    background: #f1f1f1 !important;
    outline: none;
    /*min-height: 30px;*/
    font-size: 22px;
    color: #009183;
    height: auto;
    width: auto;
    margin-top: 5px;
}

    #MenuCabinetId option {
        font-size: 15px;
    }

.jstree-default .jstree-anchor {
    height: auto;
    white-space: normal;
}

#toast-container > .toast {
    background-image: none !important;
}

.navbar-top-links li a {
    padding: 20px 5px;
    color: #333;
}

.arabicSize {
    font-size: 18px !important;
}

#toast-container .toast-title {
    width: 80%;
}

.dynamicTable1 span {
    display: table-cell;
    padding: 11px;
}

.dynamicTable1 tr td {
    padding-top: 15px;
}

.GiveFormName {
    display: inline-block;
}

/*.input-group-addon {
    padding: 10px 10px;
}

.input-group .form-control {
    margin-right: 1%;
}*/

.active-lang {
    color: #1ab394 !important;
}

.jstree-default.jstree-rtl .jstree-node {
    margin-right: 10px;
    margin-left: 0px;
}

.sub-header {
    color: #102b33;
}

.select2-search__field {
    width: 100% !important;
}

.bootstrap-tagsinput {
    border-bottom: 1px Solid #D2D2D2;
    width: 100%;
}

.select2-container[dir="rtl"] .select2-selection__clear {
    float: left;
}

.select2-container[dir="rtl"] .select2-search--inline {
    float: right;
}

/*select {
    padding: 5px !important;
    background: url(../Images/br_down.png) no-repeat right !important;
    -webkit-appearance: none !important;
    line-height: 20px !important;
}*/

/*Sweet alert button position change*/
.sa-button-container {
    direction: rtl;
}

.button-align {
    float: right;
    margin-bottom: 0px;
    margin-right: 5px;
}

    .button-align a {
        margin-left: 5px !important;
    }
/* Layout Changes*/
.md-skin .nav > li.active > a {
    color: #009183;
    font-weight: 700;
}

span.dp_link {
    width: 50px;
    height: 50px;
    display: block;
    background: #fff;
    border-radius: 50%;
}

/*img#profileImg {
    max-width: 100%;
    height: auto;
}*/
/*.btn-default,
select,
input,
textarea {
    border-radius: 5px !important;
}*/

.btn, .panel, .panel-heading, .steps > ul > li > a, .select2-selection__choice,
.select2-selection, .bootstrap-tagsinput, .pagination > li > a {
    border-radius: 0 !important;
}

.dropdown-menu {
    min-width: 110px;
}

.rtls .button-align {
    float: left;
    margin-bottom: 10px;
    margin-left: 5px;
}

textarea {
    resize: none;
}

.dp_link img {
    height: 60px;
    width: 60px;
}

.nav-header .dp_link, .nav-header a.dropdown-toggle {
    display: table-cell;
}

.nav-header a.dropdown-toggle {
    position: relative;
    top: -10px;
    padding-left: 7px;
    color: #fff;
}

.nav-header .profile-element .dropdown-menu {
    left: auto;
    right: 0;
}

.application {
    font-size: 12px;
}

.adduser {
    cursor: pointer;
}

.adduserText {
    font-size: larger;
    display: inline-block;
    position: relative;
    top: 2px;
}

.md-skin .nav > li > a {
    padding: 14px 20px 14px 25px;
}

/*Dynamic form CSS*/
#formcontrol ul > li {
    display: block;
    font-size: 15px;
}

    #formcontrol ul > li > div {
        margin-top: 5px;
        border-top: 1px solid #aaa;
        padding: 10px 7px 5px 0px;
    }

.htmlControlList li {
    margin-bottom: 5px !important;
}

    .htmlControlList li:hover {
        cursor: pointer;
    }

    .htmlControlList li .fa-stack {
        margin-left: -2px;
        font-size: 8px;
    }

.formcontrol-span, .formcontrol-span:focus, .formcontrol-span:hover {
    color: #009183;
}


/*27-4-18*/

.new-left-folder1 {
    width: 72.7%;
    /*display: inline-block;*/
    float: left;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.new-info-sidepanel {
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    min-height: 391px;
    width: 27%;
    float: right;
    display: none;
}

.detail_tabs .nav-tabs li {
    text-align: center;
    width: 33%;
}

    .detail_tabs .nav-tabs li i {
        display: block;
        margin: 0px auto 10px auto;
        font-size: 20px;
    }

    .detail_tabs .nav-tabs li a {
        text-transform: capitalize;
        font-size: 13px;
        text-align: center;
        display: block;
        padding: 7px 0 !important;
    }

.detail_tabs .nav > li {
    border-bottom: 3px solid #b3b4b5;
    width: 32%;
    margin: 0 0.5%;
}

    .detail_tabs .nav > li.active {
        border-left: none;
        border-bottom: 3px solid #19aa8d;
    }

.detail_tabs .nav-tabs {
    border: none;
}

.detail_tabs .nav > li.active {
    background: transparent !important;
}

    .detail_tabs .nav > li a,
    .detail_tabs .nav > li.active a {
        border: none;
    }

.new-left-folder1 .custom_action li {
    padding: 0;
    text-align: center;
    margin: 0 1%;
    width: 19%;
}

/* -------- Commented Because it is disturbing the css in WorkFlow Info section of Assigned template form design --------- */
/*.oneS span {
    color: #17998d;
    font-size: 14px;
    display: block;
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 5px;
    margin-bottom: 15px;
}*/

.detail_tabs .tab-content {
    padding: 7px 15px;
}

.oneS {
    margin-bottom: 15px;
}

    .oneS li {
        font-size: 13px;
        text-transform: capitalize;
        margin: 10px 0;
    }

    .oneS aside {
        font-size: 13px;
        width: 100px;
        display: inline-block;
        color: #222222;
        text-transform: capitalize;
    }

    .oneS .active i,
    .oneS .active small {
        color: #17998d;
    }

.down_load li i {
    float: left;
    font-size: 20px;
    width: 40px;
    margin-top: 5px;
}

.down_load li {
    margin-bottom: 15px;
    font-size: 14px;
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 10px;
}

.down_load span {
    display: block;
}

.tbl_icon.green, .green {
    color: #08743b;
}

.tbl_icon.blue, .blue {
    color: #2372ba;
}

.tbl_icon.red, .red {
    color: #ea4c3a;
}

.tbl_icon.yellow, .yellow {
    color: #fee070;
}

.tabheading h3 {
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    position: relative;
    padding-right: 30px;
}

    .tabheading h3 i {
        width: 30px;
        margin-top: 4px;
    }

        .tabheading h3 i.tbl_icon {
            margin-top: 0px;
        }

.tabheading p {
    padding-left: 30px;
    font-size: 12px;
    color: #aeafb0;
}

.edit_icon {
    color: #bbb;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 2px;
}

#tblFolderFileList tr th,
#tblFolderFileList tr td {
    font-size: 14px;
}

#tblFolderFileList tr th {
    position: relative;
}

    #tblFolderFileList tr th:before {
        content: "";
        width: 4px;
        height: 102%;
        position: absolute;
        right: 0;
        top: 0;
        background: #fff;
    }

    #tblFolderFileList tr th:first-child:before,
    #tblFolderFileList tr th:last-child:before {
        display: none;
    }


    #tblFolderFileList tr th:after {
        position: absolute;
        top: 10px;
        right: 10px;
    }

.Timeline {
    font-size: 14px;
    position: relative;
    padding: 0 15px 25px 20px;
}

    .Timeline::before {
        content: "";
        width: 10px;
        height: 10px;
        background: #17998d;
        position: absolute;
        left: 0px;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }

    .Timeline::after {
        content: "";
        width: 1px;
        height: 100%;
        background: #e5e5e5;
        position: absolute;
        left: 5px;
        top: 15px;
        border-radius: 50%;
    }

    .Timeline p {
        margin: 10px 0;
    }

.coment_a,
.coment_a:focus,
.coment_a:hover {
    color: #17998d;
    display: block;
    padding-left: 15px;
    padding-bottom: 10px;
    border-left: 1px solid #e5e5e5;
    margin-left: 5px;
}

.type_comment {
    position: relative;
}

    .type_comment input {
        height: 40px;
        width: 100%;
        border: none;
        background: #f7f7f7;
        padding: 10px 35px 10px 10px;
        margin-left: 5px;
    }

    .type_comment i {
        position: absolute;
        top: 0;
        right: 10px;
        bottom: 0;
        margin: auto;
        height: 20px;
        font-size: 24px;
        left: auto;
        transform: rotate(40deg);
        cursor: pointer;
    }

.time_user {
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 24px;
}

    .time_user img {
        max-width: 100%;
        border: 1px solid #ddd;
    }

.time_time {
    float: left;
    width: 70%;
    padding-left: 15px;
}


.custom_filter {
    background: #fff;
    padding: 5px;
    margin-bottom: 3px;
}


    .custom_filter .action_div {
        display: inline-block;
        margin: 0;
        width: 35%;
    }

    .custom_filter .input_search_div {
        display: inline-block;
        float: right;
        width: 65%;
    }

    .custom_filter .icon-addon {
        position: relative;
        color: #555;
        display: block;
    }

        .custom_filter .icon-addon.addon-lg .form-control {
            height: 40px;
            float: left;
            font-size: 16px;
            background-color: #f7f7f7;
            box-shadow: none;
            border: none;
            padding: 10px 16px 10px 40px;
            border-radius: 0;
        }

        .custom_filter .icon-addon.addon-lg .glyphicon {
            font-size: 16px;
            margin-left: 0;
            left: 11px;
            top: 3px;
        }

        .custom_filter .icon-addon .glyphicon {
            position: absolute;
            z-index: 2;
            left: 10px;
            font-size: 14px;
            width: 20px;
            margin-left: -2.5px;
            text-align: center;
            padding: 10px 0;
            top: 1px;
            color: #18998e;
        }

        .custom_filter .icon-addon img {
            position: absolute;
            z-index: 2;
            right: 7px;
            width: 20px;
            top: 10px;
        }
        .custom_filter .icon-addon img:hover{
            transform:scale(1.2);
        }
        .custom_filter .action_div i {
        color: #18998e;
        font-size: 22px;
        margin-right: 3px;
    }

        .custom_filter .action_div i.text-muted {
            color: #777;
        }

    .custom_filter .action_div li {
        padding: 10px 0;
    }

        .custom_filter .action_div li:last-child a {
            border-right: none;
        }

    .custom_filter .action_div a {
        padding: 0px 12px;
        color: #474747;
        border-right: 1px solid #aaa;
        font-size: 16px;
        font-weight: 500;
        display: inline-block;
    }


    .custom_filter .action_div .dropdown-menu li {
        padding: 0;
    }

        .custom_filter .action_div .dropdown-menu li a {
            display: block;
            border: none;
        }

.sort:after {
    float: right;
    content: "\f107";
    font-family: fontawesome;
    opacity: 0.5;
}

.sort {
    position: relative;
}

.asc:after {
    content: "\f106";
    font-family: fontawesome;
    opacity: 0.5;
}

.desc:after {
    content: "\f107";
    font-family: fontawesome;
    opacity: 0.5;
}

.oneS samp {
    background: #676a6c;
    color: #fff;
    padding: 5px;
    margin: 2px 0;
    display: inline-block;
}

.new-info-sidepanel .panel-body {
    padding: 0 15px;
}

.new-info-sidepanel .detail_tabs .panel-title > a,
.new-info-sidepanel .detail_tabs .panel-title > a:active {
    display: block;
    padding: 0;
    color: #17998d;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
    background: none;
    padding-bottom: 10px;
}

.new-info-sidepanel .panel-default > .panel-heading {
    color: #333;
    background-color: transparent;
    border-color: transparent;
}

.new-info-sidepanel .panel-default {
    border-color: transparent;
}


.custom_filter .icon-addon i:after {
    content: "";
    width: 25px;
    height: 26px;
    border: 1px solid #aaa;
    border-radius: 50%;
    /* background: #f00; */
    position: absolute;
    right: -2px;
    top: 7px;
    z-index: -1;
}

.oneS li aside {
    font-size: 15px;
    width: 120px;
}

.info {
    position: relative;
}

    .info:after {
        border: 1px solid #b3b4b5 !important;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        position: absolute;
    }

.md-skin .page-heading {
    padding: 5px 10px;
}

.page-heading > div > h2 {
    margin-bottom: 5px;
}

.md-skin .page-heading .custom_breadcrumb > li a {
    font-size: 16px;
}

.new-info-sidepanel .panel-body {
    padding: 0;
}

.detail_tabs .nav li.tab_width {
    width: 49%;
}

.download_clear {
    border-bottom: 1px solid #aaa;
    margin-bottom: 15px;
}

    .download_clear button {
        background: none;
        border: none;
        padding: 5px 15px;
        margin-bottom: 8px;
    }

        .download_clear button.active {
            background: #1ab394;
            color: #fff;
        }










@media(max-width:992px) {
    .wrapper {
        width: 100%;
    }
}

.detail_tabs .panel-heading {
    padding: 0;
    border: 0;
}

.detail_tabs .panel-title > a,
.detail_tabs .panel-title > a:active {
    display: block;
    padding: 15px;
    color: #555;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
}

.detail_tabs .panel-heading a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    transition: all 0.5s;
    color: #000;
}

.detail_tabs .panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* Comment list Css here 20180502 */
.comment-list {
    height: 315px;
    overflow: auto;
}

.folder_box {
    border: 2px solid #f1f1f1;
    padding: 10px;
    margin-bottom: 15px;
}

    .folder_box span {
        float: left;
        margin-right: 10px;
    }


    .folder_box p {
        margin-bottom: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 73%;
        position: relative;
        padding-right: 0;
        float: left;
        margin: 0;
    }

.file_box {
    border: 2px solid #f1f1f1;
    margin-bottom: 15px;
}

.icon_img {
    height: 130px;
    text-align: center;
    position: relative;
}

    .icon_img img {
        width: 100%;
        height: 100%;
    }

    .icon_img i {
        font-size: 56px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 56px;
        width: 100%;
        left: 0;
    }

.file_detail {
    padding: 10px;
    border-top: 1px solid #f1f1f1;
}

    .file_detail span {
        float: left;
        margin-right: 10px;
    }

    .file_detail p {
        margin-bottom: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 80%;
        position: relative;
        padding-right: 0;
        float: left;
        margin: 0;
    }


.inn i {
    color: #1ab394;
}

a.inn {
    color: #1ab394 !important;
}

.Right_Griew_Views .about_icon a:hover {
    border: 2px solid #1ab394 !important;
}


.inn a {
    border: 2px solid #1ab394 !important;
}

.row.step-row {
    position: relative;
}

    .row.step-row:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: #ddd;
        top: 10px;
    }

    .row.step-row p.stepNumberDisplay,
    .row.step-row i {
        background: #fff;
        display: table;
        padding: 0 10px;
    }

.workflowstep {
    margin-bottom: 15px;
}

.share_User_per {
    margin-top: 5px;
    display: inline-block;
}

.Dual_TITLE {
    color: #1ab394;
    border-bottom: 1px solid #e7eaec;
    padding: 7px 0;
    margin: 15px 0;
}

#dual-list-box-Groups .form-control,
#dual-list-box-Departments .form-control,
#dual-list-box-Users .form-control,
#dual-list-box-Initaitors .form-control,
#dual-list-box-InitaitorsGroup .form-control,
#dual-list-box-Closers .form-control,
#dual-list-box-ClosersGroup .form-control,
#dual-list-box-Admins .form-control,
#dual-list-box-AdminsGroup .form-control {
    margin-bottom: 0 !important;
}

#dual-list-box-Initaitors .Dual_TITLE,
#dual-list-box-Closers .Dual_TITLE,
#dual-list-box-Admins .Dual_TITLE {
    padding-left: 15px;
    margin-top: 0;
}

#dual-list-box-InitaitorsGroup .Dual_TITLE,
#dual-list-box-ClosersGroup .Dual_TITLE,
#dual-list-box-AdminsGroup .Dual_TITLE {
    padding-left: 15px;
}

#btnaddstep {
    margin-top: 0 !important;
    text-align: right;
    border-bottom: 1px solid #e7eaec;
    position: relative;
    cursor: pointer;
}

span.addstep {
    position: absolute;
    right: 0;
    background: #fff;
    top: -17px;
    padding: 0 33px;
}

.work_flow_btn {
    margin-bottom: 20px;
}

    .work_flow_btn .btn-primary {
        background-color: #1ab394;
        border-color: #1ab394;
        color: #FFFFFF;
    }

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu ul {
        position: absolute;
        z-index: 1111;
        left: 100%;
        width: 100%;
        top: 0;
    }

/*responsive*/
@media (max-width: 990px) {
    .res-leg-select {
        margin-left: 25px;
    }

    body.rtls .res-leg-select {
        margin-right: -10px;
        min-width: 80px;
    }
}


/*responsive*/
.cansort td .check_div {
    margin-top: 5px;
}

.md-skin .nav > li.active > a span.pull-right,
.md-skin .nav > li > a span.pull-right {
    color: #bcbcbc;
}

.md-skin .navbar-top-links > li > a {
    padding: 15px 13px !important;
    border-left: 1px solid #dadada;
}

.select_bar {
    height: 20px;
    max-width: 20%;
    margin-top: 17px;
    margin-left: 10px;
    border-left: 1px solid #adaeb0;
    padding-left: 15px;
}

.dropzone {
    margin-bottom: 20px;
    min-height: 300px;
    border: 3px dashed #dcdcdc;
    background: #f1f1f1;
    position: relative;
}

span.fa-stack {
    top: -3px;
}

span#modalTitleFolder {
    font-size: 20px;
    font-weight: 600;
}

.modal-title p {
    margin-bottom: 0;
}

.modal .modal-body {
    padding: 20px 30px 10px 30px;
}

.md-skin .navbar-static-side {
    box-shadow: none;
}

.new-left-folder1 .custom_filter .action_div {
    width: 45%;
}

.new-left-folder1 .custom_filter .input_search_div {
    width: 55%;
}

ul.action_div img {
    vertical-align: middle;
    margin-right: 7px;
}

#divThumnil-view img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    width: auto;
    max-height: 100%;
}

.file_upload_div div {
    width: 300px;
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

    .file_upload_div div:after {
        content: "\f112";
        font-family: fontawesome;
        display: block;
        transform: rotate(270deg);
        position: absolute;
        top: 0px;
        font-size: 30px;
        left: -40px;
    }

.file_upload_div i {
    display: none;
}

input[type=radio]:focus,
input[type=radio]:hover {
    outline: none !important;
}


/*=================================================  SIDEBAR ICON CSS  29/05/2018 =================================================*/

#side-menu I {
    display: none;
}

/*=== 1 ===*/
.cus-user-cabinet {
    background: url('../IconImages/S-1.png') no-repeat center left;
    background-position-x: 8px;
    background-size: 20px 20px;
}

    .cus-user-cabinet:hover,
    .active .cus-user-cabinet {
        background: url('../IconImages/S-1-1.png') #f3f3f4 no-repeat center left;
        background-position-x: 8px;
        background-size: 20px 20px;
    }
/*=== 2 ===*/
.cus-user-home {
    background: url('../IconImages/S-2.png') no-repeat center left;
    background-position-x: 8px;
    background-size: 20px 20px;
}

    .cus-user-home:hover,
    .active .cus-user-home {
        background: url('../IconImages/S-2-2.png')#f3f3f4 no-repeat center left;
        background-position-x: 8px;
        background-size: 20px 20px;
    }
/*=== 3 ===*/
.cus-user-favourite {
    background: url('../IconImages/S-3.png') no-repeat center left;
    background-position-x: 8px;
}

    .cus-user-favourite:hover,
    .active .cus-user-favourite {
        background: url('../IconImages/S-3-3.png') #f3f3f4 no-repeat center left;
        background-position-x: 8px;
        background-size: 20px 20px;
    }
/*=== 4 ===*/
.cus-user-share {
    background: url('../IconImages/S-4.png') no-repeat center left;
    background-position-x: 8px;
    background-size: 20px 20px;
}

    .cus-user-share:hover,
    .active .cus-user-share {
        background: url('../IconImages/S-4-4.png') #f3f3f4 no-repeat center left;
        background-position-x: 8px;
        background-size: 20px 20px;
    }
/*=== 5 ===*/
.cus-user-public {
    background: url('../IconImages/S-5.png') no-repeat center left;
    background-position-x: 8px;
    background-size: 20px 20px;
}

    .cus-user-public:hover,
    .active .cus-user-public {
        background: url('../IconImages/S-5-5.png') #f3f3f4 no-repeat center left;
        background-position-x: 8px;
        background-size: 20px 20px;
    }
/*=== 6 ===*/
.cus-user-folder {
    background: url('../IconImages/S-7.png') no-repeat center left;
    background-position-x: 8px;
    background-size: 20px 20px;
}

    .cus-user-folder:hover,
    .active .cus-user-folder {
        background: url('../IconImages/S-6-6.png') #f3f3f4 no-repeat center left;
        background-position-x: 8px;
        background-size: 20px 20px;
    }
/*=== 7 ===*/
.cus-user-favourite {
    background: url('../IconImages/S-3.png') no-repeat center left;
    background-position-x: 8px;
    background-size: 20px 20px;
}

    .cus-user-favourite:hover,
    .active .cus-user-favourite {
        background: url('../IconImages/S-3-3.png') #f3f3f4 no-repeat center left;
        background-position-x: 8px;
        background-size: 20px 20px;
    }

/*=== 8 ===*/
.cus-user-workflow {
    background: url('../IconImages/S-8.png') no-repeat center left;
    background-position-x: 8px;
    background-size: 20px 20px;
}

    .cus-user-workflow:hover,
    .active .cus-user-workflow {
        background: url('../IconImages/S-8-8.png') #f3f3f4 no-repeat center left;
        background-position-x: 8px;
        background-size: 20px 20px;
    }

/*=== 9 ===*/
.cus-user-recycle {
    background: url('../IconImages/S-9.png') no-repeat center left;
    background-position-x: 8px;
    background-size: 20px 20px;
}

    .cus-user-recycle:hover,
    .active .cus-user-recycle {
        background: url('../IconImages/S-9-9.png') #f3f3f4 no-repeat center left;
        background-position-x: 8px;
        background-size: 20px 20px;
    }

/*========================================================================================================================*/

table#tblFolderFileList {
    width: 100% !important;
}


.custom_filter .action_div .dropdown-menu a {
    padding: 5px 5px 5px 35px;
    margin: 0;
}

/*=================================================  NEW DROPDOWN ICON CSS  30/05/2018 =================================================*/

/*=== new_folder ===*/

.new_folder {
    background: url('../IconImages/action/folder.png') no-repeat center left;
    background-position-x: 5px;
}

    .new_folder:hover {
        background: url('../IconImages/action/folder-1.png') no-repeat center left;
        background-position-x: 5px;
    }

/*=== new_file ===*/

.new_file {
    background: url('../IconImages/action/file.png') no-repeat center left;
    background-position-x: 5px;
}

    .new_file:hover {
        background: url('../IconImages/action/file-1.png') no-repeat center left;
        background-position-x: 5px;
    }

/*=================================================  UPLOAD DROPDOWN ICON CSS  30/05/2018 =================================================*/

/*=== link_file ===*/

.link_file {
    background: url('../IconImages/action/A-8.png') no-repeat center left;
    background-position-x: 5px;
}

    .link_file:hover {
        background: url('../IconImages/action/A-8-8.png') no-repeat center left;
        background-position-x: 5px;
    }

/*=== new_version ===*/

.new_version {
    background: url('../IconImages/action/A-13.png') no-repeat center left;
    background-position-x: 5px;
}

    .new_version:hover {
        background: url('../IconImages/action/A-13-13.png') no-repeat center left;
        background-position-x: 5px;
    }

/*=== multi_files ===*/

.multi_files {
    background: url('../IconImages/action/multi-flies.png') no-repeat center left;
    background-position-x: 5px;
}

    .multi_files:hover {
        background: url('../IconImages/action/multi-flies-1.png') no-repeat center left;
        background-position-x: 5px;
    }

/*=================================================  ACTIONS DROPDOWN ICON CSS  30/05/2018 =================================================*/

/*=== A_Preview ===*/

.A_Preview {
    background: url('../IconImages/action/A-1.png') no-repeat center left;
    background-position-x: 5px;
}

    .A_Preview:hover {
        background: url('../IconImages/action/A-1-1.png') no-repeat center left;
        background-position-x: 5px;
    }

/*=== A_Download ===*/

.A_Download {
    background: url('../IconImages/action/A-2.png') no-repeat center left;
    background-position-x: 5px;
}

    .A_Download:hover {
        background: url('../IconImages/action/A-2-2.png') no-repeat center left;
        background-position-x: 5px;
    }

/*=== A_Copy ===*/

.A_Copy {
    background: url('../IconImages/action/A-3.png') no-repeat center left;
    background-position-x: 5px;
}

    .A_Copy:hover {
        background: url('../IconImages/action/A-3-3.png') no-repeat center left;
        background-position-x: 5px;
    }

/*=== A_Move ===*/

.A_Move {
    background: url('../IconImages/action/A-4.png') no-repeat center left;
    background-position-x: 5px;
}

    .A_Move:hover {
        background: url('../IconImages/action/A-4-4.png') no-repeat center left;
        background-position-x: 5px;
    }

/*=== A_Rename ===*/

.A_Rename {
    background: url('../IconImages/action/A-5.png') no-repeat center left;
    background-position-x: 5px;
}

    .A_Rename:hover {
        background: url('../IconImages/action/A-5-5.png') no-repeat center left;
        background-position-x: 5px;
    }

/*=== A_Share ===*/

.A_Share {
    background: url('../IconImages/action/A-6.png') no-repeat center left;
    background-position-x: 5px;
}

    .A_Share:hover {
        background: url('../IconImages/action/A-6-6.png') no-repeat center left;
        background-position-x: 5px;
    }

/*=== A_With_Users ===*/

.A_With_Users {
    background: url('../IconImages/action/A-16.png') no-repeat center left;
    background-position-x: 5px;
}

    .A_With_Users:hover {
        background: url('../IconImages/action/A-16-16.png') no-repeat center left;
        background-position-x: 5px;
    }

/*=== A_email ===*/

.A_email {
    background: url('../IconImages/action/A-17.png') no-repeat center left;
    background-position-x: 5px;
}

    .A_email:hover {
        background: url('../IconImages/action/A-17-17.png') no-repeat center left;
        background-position-x: 5px;
    }

/*=== A_web_link ===*/

.A_web_link {
    background: url('../IconImages/action/A-18.png') no-repeat center left;
    background-position-x: 5px;
}

    .A_web_link:hover {
        background: url('../IconImages/action/A-18-18.png') no-repeat center left;
        background-position-x: 5px;
    }

/*=== A_Add_Favorite ===*/

.A_Add_Favorite {
    background: url('../IconImages/action/A-9.png') no-repeat center left;
    background-position-x: 5px;
}

    .A_Add_Favorite:hover {
        background: url('../IconImages/action/A-9-9.png') no-repeat center left;
        background-position-x: 5px;
    }

/*=== A_Comment ===*/

.A_Comment {
    background: url('../IconImages/action/A-7.png') no-repeat center left;
    background-position-x: 5px;
}

    .A_Comment:hover {
        background: url('../IconImages/action/A-7-7.png') no-repeat center left;
        background-position-x: 5px;
    }

/*=== A_Link_Document ===*/

.A_Link_Document {
    background: url('../IconImages/action/A-8.png') no-repeat center left;
    background-position-x: 5px;
}

    .A_Link_Document:hover {
        background: url('../IconImages/action/A-8-8.png') no-repeat center left;
        background-position-x: 5px;
    }

/*=== A_Link_Document ===*/

.A_Link_Document {
    background: url('../IconImages/action/A-8.png') no-repeat center left;
    background-position-x: 5px;
}

    .A_Link_Document:hover {
        background: url('../IconImages/action/A-8-8.png') no-repeat center left;
        background-position-x: 5px;
    }

/*=== A_Checkout ===*/

.A_Checkout {
    background: url('../IconImages/action/A-10.png') no-repeat center left;
    background-position-x: 5px;
}

    .A_Checkout:hover {
        background: url('../IconImages/action/A-10-10.png') no-repeat center left;
        background-position-x: 5px;
    }


/*=== A_Undo_Checkout ===*/

.A_Undo_Checkout {
    background: url('../IconImages/action/A-11.png') no-repeat center left;
    background-position-x: 5px;
}

    .A_Undo_Checkout:hover {
        background: url('../IconImages/action/A-11-11.png') no-repeat center left;
        background-position-x: 5px;
    }

/*=== A_Request_Approval ===*/

.A_Request_Approval {
    background: url('../IconImages/action/A-12.png') no-repeat center left;
    background-position-x: 5px;
}

    .A_Request_Approval:hover {
        background: url('../IconImages/action/A-12-12.png') no-repeat center left;
        background-position-x: 5px;
    }

/*=== A_Versioning ===*/

.A_Versioning {
    background: url('../IconImages/action/A-13.png') no-repeat center left;
    background-position-x: 5px;
}

    .A_Versioning:hover {
        background: url('../IconImages/action/A-13-13.png') no-repeat center left;
        background-position-x: 5px;
    }

/*=== A_Info ===*/

.A_Info {
    background: url('../IconImages/action/A-14.png') no-repeat center left;
    background-position-x: 5px;
}

    .A_Info:hover {
        background: url('../IconImages/action/A-14-14.png') no-repeat center left;
        background-position-x: 5px;
    }

/*=== A_Remove ===*/

.A_Remove {
    background: url('../IconImages/action/A-15.png') no-repeat center left;
    background-position-x: 5px;
}

    .A_Remove:hover {
        background: url('../IconImages/action/A-15-15.png') no-repeat center left;
        background-position-x: 5px;
    }

/*=== A_Lock ===*/

.A_Lock {
    background: url('../IconImages/action/A-6.png') no-repeat center left;
    background-position-x: 5px;
}

    .A_Lock:hover {
        background: url('../IconImages/action/A-6-6.png') no-repeat center left;
        background-position-x: 5px;
    }

/*=== Check_In ===*/

.Check_In {
    background: url('../IconImages/download-1.png') no-repeat center left;
    background-position-x: 5px;
}

    .Check_In:hover {
        background: url('../IconImages/download.png') no-repeat center left;
        background-position-x: 5px;
    }

/*=== Check_Out ===*/

.Check_Out {
    background: url('../IconImages/upload-1.png') no-repeat center left;
    background-position-x: 5px;
}

    .Check_Out:hover {
        background: url('../IconImages/upload.png') no-repeat center left;
        background-position-x: 5px;
    }

/*=================================================  DETAILS TAB ICON CSS  30/05/2018 =================================================*/

/*=== tab_info ===*/

.detail_tabs .nav-tabs li a.tab_info {
    background: url('../IconImages/action/A-14.png') no-repeat center top;
    background-position-y: 5px;
    padding-top: 27px !important;
}

    .detail_tabs .nav-tabs li a.tab_info:hover,
    .detail_tabs .nav-tabs li.active a.tab_info {
        background: url('../IconImages/action/A-14-14.png') no-repeat center top;
        background-position-y: 5px;
        padding-top: 27px !important;
        color: #009183;
    }

/*=== tab_comment ===*/

.detail_tabs .nav-tabs li a.tab_comment {
    background: url('../IconImages/action/A-7.png') no-repeat center top;
    background-position-y: 5px;
    padding-top: 27px !important;
}

    .detail_tabs .nav-tabs li a.tab_comment:hover,
    .detail_tabs .nav-tabs li.active a.tab_comment {
        background: url('../IconImages/action/A-7-7.png') no-repeat center top;
        background-position-y: 5px;
        padding-top: 27px !important;
        color: #009183;
    }


/*=== tab_download ===*/

.detail_tabs .nav-tabs li a.tab_download {
    background: url('../IconImages/action/A-2.png') no-repeat center top;
    background-position-y: 5px;
    padding-top: 27px !important;
}

    .detail_tabs .nav-tabs li a.tab_download:hover,
    .detail_tabs .nav-tabs li.active a.tab_download {
        background: url('../IconImages/action/A-2-2.png') no-repeat center top;
        background-position-y: 5px;
        padding-top: 27px !important;
        color: #009183;
    }


.cabinet-section > span {
    display: inherit;
}


.radio-primary input[type="radio"]:checked + label::after {
    background-color: #17998D;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: #17998D;
}

.lblVersion:focus {
    outline: none !important;
}

.dataTables_wrapper {
    padding-bottom: 0px;
}


.radio input[type="radio"]:focus + label::before {
    outline: none;
}

/*=== Comment Side panel Height setting ===*/

/*.Timeline p {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 36px;
    margin: 0 auto;
    font-size: 14px;
    line-height: inherit;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}*/
/*=== Comment Side panel Height setting ===*/

span.toggle {
    color: #676a6c;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

span#toggle:hover {
    color: #18998D;
}

.Timeline p {
    display: block !important;
    /*display: -webkit-box;*/
    max-width: 100%;
    margin: 0 auto;
    font-size: 14px;
    line-height: inherit;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*11-06-18*/


/*.detail_tabs .tab-content {
	min-height: 315px;
}*/

/*.new-download-lenth {
	height: 436px;
	overflow: auto;
}*/

.detail_tabs .tab-content #messages {
    height: 436px;
    overflow: auto;
}

.detail_tabs .tab-content #profile {
    min-height: 431px;
}


.fixheight {
    height: 40px;
}

.viewMore {
}

.view-comment {
    color: #009183 !important;
    font-weight: 600;
    font-size: 12px;
}


/*============================================= 10/06/2018 16:00 =============================================*/

.tabheading h3 {
    padding: 5px 35px 5px 0;
}

.download_clear {
    text-align: center;
}

    .download_clear button:first-child {
        float: left;
    }

    .download_clear button {
        float: right;
    }

    .download_clear span {
        margin-top: 4px;
        display: inline-block;
    }

.custom_filter .action_div .dropdown-menu li {
    padding: 0;
}

.custom_filter .action_div .dropdown-menu li {
    border-bottom: 1px solid #efefef;
}

.new_back {
    margin: 15px 0;
    display: block;
    cursor: pointer;
    background: none;
    padding: 7px;
    border: 1px solid #ddd;
}

    .new_back img {
        vertical-align: sub;
        margin-right: 5px;
    }

#tblFolderFileList tr td span i {
    vertical-align: inherit;
}

.tbl_icon {
    margin-right: 0px !important;
}

#tblFolderFileList tr td span:first-child {
    width: 36px;
    display: inline-block;
}
    #tblFolderFileList tr td span:first-child i {
        width: 36px;
        display: inline-block;
        font-size:24px;
        text-align:left;
    }

/*Added by Dhrumil for back Button*/
#divThumnil-view .backOptionFolfil .new_back img {
    display: initial !important;
    width: auto;
    max-height: 100%;
}


.cabinet_grid {
    width: 14px;
    background-size: contain;
    display: block;
    height: 20px;
    background-position: bottom;
}

    .cabinet_grid.cus-user-share:hover {
        background: url(../IconImages/S-4.png) no-repeat;
        background-size: contain;
        background-position: bottom;
    }

    .cabinet_grid.cus-user-favourite:hover {
        background: url(../IconImages/S-3.png) no-repeat;
        background-size: contain;
        background-position: bottom;
    }

    .cabinet_grid.cus-user-public:hover {
        background: url(../IconImages/S-5.png) no-repeat;
        background-size: contain;
        background-position: bottom;
    }

    .cabinet_grid.cus-user-recycle:hover {
        background: url(../IconImages/S-9.png) no-repeat;
        background-size: contain;
        background-position: bottom;
    }



.divVersionProgressbar .versionprogress-label {
    position: absolute;
    color: #fff;
    font-size: 14px;
    top: 5px;
    left: 30px;
}

.divVersionProgressbar .ui-progressbar .ui-progressbar-value {
    margin: -1px;
    height: 90%;
    background: #009183;
}

.divVersionProgressbar .ui-widget-content {
    border: none;
}

#side-menu I {
    display: inline-block;
}

#frmDocVersionDetail button {
    width: 100%;
}

.link_tab .nav > li.active > a {
    color: #fff !important;
    background: #009183;
    font-weight: 500;
    border-radius: 0;
}

.link_tab .nav > li.active {
    border-left: none;
    background: #293846;
    border-radius: 0;
}

.link_tab .nav-tabs > li.active > a,
.link_tab .nav-tabs > li.active > a:hover,
.link_tab .nav-tabs > li.active > a:focus {
    border: none;
    border-bottom-color: transparent;
    background: #009183;
}

.select2-results li {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #fff;
    border: 1px solid #e3dede;
    border-radius: 4px;
    padding: 5px;
}

.Anil-selected {
    vertical-align: -moz-middle-with-baseline;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #f00;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
    border: 1px solid;
    border-radius: 50%;
    height: 15px;
    line-height: 11px;
    font-size: 12px;
    width: 14px;
    text-align: center;
}


/*#ParentDocDetail tr td i {
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}*/


.simple-table table,
.simple-table table {
    border: 2px solid #f1f1f1;
}

    .simple-table table tr {
        border-bottom: 1px solid #f0f0f0;
    }

        .simple-table table tr:last-child {
            border-bottom: none;
        }

        .simple-table table tr th {
            border-bottom: 1px solid #676a6c;
        }

.simple-table th {
    padding: 15px 7px;
}

.simple-table td {
    padding: 10px 5px;
}

    .simple-table td i {
        color: #ed5565;
        font-size: 18px;
    }

.hide_table table {
    border: none;
}

.hide_table {
    display: none;
}

    .hide_table td {
        padding: 7px 3px;
    }

.simple-table td i.D_Arrow {
    color: #000;
    font-size: 24px;
    cursor: pointer;
}

.simple-table td span {
    /*background-image: url('../IconImages/O.png');*/
    /*width: 30px;*/
    /*height: 26px;*/
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}



/*=========================================== CSS START CHANGES 28/06/2018 12:00 PM ===========================================*/
.md-skin .nav-header {
    background-color: #17998d;
    background-image: none;
    box-shadow: inset 0px 11px 8px -10px #000000;
    margin-bottom: 15px;
}

.md-skin .nav > li:hover {
    background-color: #f3f3f4 !important;
}

.md-skin li.nav-header:hover {
    background-color: #1ab394 !important;
}

.breadcrumb > li:first-child + li:before {
    padding: 0;
    color: #ccc;
    content: "";
}

.breadcrumb > li {
    margin-right: 5px;
}

.custom_filter .action_div a {
    padding: 0px 12px 0px 3px;
}

.tabheading p {
    padding-left: 34px;
}

.activetr {
    background-color: #f3f3f4 !important;
}

#permissionDetails .form-group,
#permissionDetails .form-group table {
    margin-bottom: 0;
}

label {
    font-weight: 400;
}

.dropdown-menu {
    box-shadow: 0 0 2px rgba(86, 96, 117, 0.7);
    border-radius: 0;
}

.popup-table-class label {
    margin-top: 8px;
    margin-bottom: 0;
}

.popup-table-class tr td {
    font-size: 12px;
}

.popup-table-class tbody > tr:nth-of-type(odd) {
    background: #fff;
}

.popup-table-class thead > tr > th {
    border-bottom: 1px solid #000000 !important;
    vertical-align: bottom;
    background: #fff;
    /*border: 1px solid #e5e5e5;*/
}



.modal-footer {
    clear: both;
}

.popup-table-class tr td {
    border: none;
}

#frmAddDocument label {
    margin-top: 8px;
    margin-bottom: 0;
}

.hr_bor hr {
    margin: 0;
}


/*--------------- JAYESH - 20-7-2018 -----------------*/

.radio_margin {
    position: relative;
    top: 5px;
}

#versionLst .file-default {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
}

#versionLst td {
    position: relative;
}

#versionLst .note_span {
    position: relative;
    display: block;
    margin: 5px 0;
}

    #versionLst .note_span span {
        font-size: 12px;
        padding-left: 55px;
        display: inline-block;
        position: relative;
        top: 0;
    }

    #versionLst .note_span strong {
        position: absolute;
        top: 0;
        font-weight: normal;
    }


footer .dropdown-menu {
    left: auto;
    right: 0;
}

footer .dropup > a{
    color:#000;
}
.bg left_side .form-control.error {
    border: none; 
}

/*-------------------- Dynamic Form Design----------------*/
.limited-display {
    color: #009183;
    font-size: smaller;
    text-decoration: underline solid #676a6c;
    font-style: italic;
    cursor: pointer;
}
.file-display i {
    color: #6d7272;
    margin: 3px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}

/*PartialSearch Design--------------------------Krupali | 02082018 | ----------------*/
#tblFileList tr th,
#tblFileList tr td {
    font-size: 14px;
}

#tblFileList tr th {
    position: relative;
}

    #tblFileList tr th:before {
        content: "";
        width: 4px;
        height: 102%;
        position: absolute;
        right: 0;
        top: 0;
        background: #fff;
    }

    #tblFileList tr th:first-child:before,
    #tblFileList tr th:last-child:before {
        display: none;
    }


    #tblFileList tr th:after {
        position: absolute;
        top: 10px;
        right: 10px;
    }

table#tblFileList {
    width: 100% !important;
}

#tblFileList tr td span i {
    vertical-align: inherit;
}

#tblFileList tr td span:first-child {
    width: 36px;
    display: inline-block;
}

/*Start for Search section*/
#SearchSection {
    /*background: #f1f1f1;*/
    background: #fff;
    padding: 5px;
    margin-bottom: 3px;
    font-size: 14px;
}

.rowspace {
    padding-top: 6px;
}



.search-line {
    color: #535151;
    border-bottom: solid 1px #2e2c2c;
}
#SearchSection .label_title {
    min-width: 100px;
    vertical-align: middle;
    float: left;
    padding: 7px 5px 0px 5px;
    font-size: 12px;
}
#SearchSection{
    background:#f8f8f8;
}
.row_one .form-group {
    width: 50.5%;
    float: left;
    padding: 0 10px;
}
.row_one .label_input {
    width: 80%;
    float: left;
    padding: 0 ;
    font-size: 12px;
}
.row_two .form-group {
    width: 25%;
    float: left;
    padding: 0 10px;
}
.row_two .label_dropdown {
    width: 60%;
    float: left;
    font-size: 12px;
}


.row_three .label_input {
    width: 80.5%;
    float: left;
    padding: 0;
    font-size: 12px;
}
.row_three .label_dropdown {
    width: 60%;
    float: left;
    font-size: 12px;
}
.row_three .form-group {
    width: 25%;
    float: left;
    padding: 0 10px;
}
.row_three .form-group:first-child {
        width: 50%;
        float: left;
        padding: 0 10px;
}
.row_three .form-group button{
    float:right;
}

#SearchSection .form-group{
    margin-bottom: 5px;
}

#SearchSection select,
#SearchSection input{
    font-size: 12px;
}


.new-left-folder1 .row_one .label_input {
    width: 70%;
    float: left;
    padding: 0;
    font-size: 12px;
}
.new-left-folder1 .row_one .form-group {
    width: 100%;
}
.new-left-folder1 .row_one .label_input {
    width: 80.5%;
}
.new-left-folder1 .row_two .form-group {
    width: 50%;
    float: left;
    padding: 0 10px;
}
.new-left-folder1 .row_three .form-group:first-child {
    width: 100%;
}
.new-left-folder1 .row_three .form-group {
    width: 46.9%;
    float: left;
    padding: 0 10px;
}


.navbar-top-links .dropdown-alerts {
    background: #f1f1f1f1;
    padding: 5px;
}
    .navbar-top-links .dropdown-alerts a {
        background: #fff;
        padding: 5px 10px !important;
        border-radius: 0;
    }
.left_green_border {
    border-left: 3px solid #009183;
}
    .left_green_border div, 
    .grey_dot div{
        position: relative;
    }
    .left_green_border div:after {
        content: '';
        width: 7px;
        height: 7px;
        background: #009183;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 0;
    }
.grey_dot div:after{
    content: '';
    width: 7px;
    height: 7px;
    background: #aaa;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
}
.navbar-top-links .dropdown-alerts a p {
    margin: 0;
    border-bottom: 1px solid #ddd;
    line-height: 18px;
    padding-bottom: 5px;
    width: 90%;
    font-size: 14px;
    color: #000;
}
.navbar-top-links .dropdown-alerts a span{
    font-size:14px;
}
.navbar-top-links .dropdown-alerts a i {
    font-size: 20px;
    color: #009183;
    float: right;
    text-align: right;
    background-position: right center;
}
a.view_Notification {
    background: #f1f1f1 !important;
    display: inline-block;
    min-height: inherit !important;
    font-size: 14px !important;
    text-transform: capitalize;
}
    a.view_Notification i {
        float: none !important;
        color: #000 !important;
        margin-right: 15px;
        vertical-align: middle;
    }

.list_notification {
    background:#fff;
    padding:10px;
    margin-top:2px;
}
    
    .list_notification li.list_green {
        padding: 5px;
        border-right: 1px solid #eee;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        border-left: 3px solid #009183;
    }
    .list_notification li:hover{
        background:#f1f1f1;
    }
        .list_notification li.list_grey {
        padding: 5px;
        border: 1px solid #eee;
    }
    .list_notification li i {
        color: #009183;
        font-size:20px;
        margin-right:10px;
        width:30px;
        float:left;
    }
    .list_notification li p {
        min-height: 40px;
        margin-bottom: 0;
        width: 96%;
        float: left;
        border-bottom: 1px solid #eee;
    }
    .list_notification li{
        margin-bottom:15px;
    }
.list_check_div {
    width: 4%;
    float: right;
    text-align: right;
}
.list_notification li span{
    display:block;
    position:relative;
    padding:5px 0;
}
.list_notification li.list_green span:after {
    content: '';
    width: 7px;
    height: 7px;
    background: #009183;
    border-radius: 50%;
    position: absolute;
    right: 3px;
}

.list_notification li.list_grey span:after {
    content: '';
    width: 7px;
    height: 7px;
    background: #aaa;
    border-radius: 50%;
    position: absolute;
    right: 3px;
}
.list_notification .pagination {
    margin: 0;
    float: right;
}
.list_notification .pagination li.active a{
    background:#eee;
}

.rtls .navbar-top-links .dropdown-alerts a i{
    font-size: 20px;
    color: #009183;
    float: left;
}
.rtls .left_green_border div:after {
    content: '';
    width: 7px;
    height: 7px;
    background: #009183;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right:auto;
    top: 0;
}

.rtls .list_notification li.list_green span:after {
    content: '';
    width: 7px;
    height: 7px;
    background: #009183;
    border-radius: 50%;
    position: absolute;
    right:auto;
    left:3px;
}
.rtls .list_notification li.list_grey span:after {
    content: '';
    width: 7px;
    height: 7px;
    background: #aaa;
    border-radius: 50%;
    position: absolute;
    right: auto;
    left: 3px;
}
.rtls .list_notification li.list_green {
    padding: 5px 10px 5px 5px;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-right: 3px solid #009183;
}
.rtls .list_notification li p {
    float: right;
}
.rtls .list_check_div {
    float: right;
    text-align: left;
}
.rtls .grey_dot div:after {
    left: 0;
    right:auto;
}
.rtls .list_notification li i {
    color: #009183;
    font-size: 20px;
    margin-left: 10px;
    width: 30px;
    float: right;
}
.list_notification_TOP {
    background: #fff;
    margin: 2px 0;
    padding: 10px;
}
    .list_notification_TOP ul {
        display: inline-block;
        margin: 0;
        float: left;
        z-index: 1;
    }
    .list_notification_TOP li {
        float: left;
        margin-right: 10px;
        padding-right: 10px;
        font-size: 15px;
        color: #000;
        text-transform: capitalize;
        border-right: 1px solid #aaa;
    }
        .list_notification_TOP li:last-child {
            border-right:none;
        }
        .list_notification_TOP li a {
            color: #000;
        }
        .list_notification_TOP li p{
            margin:0;
        }
        .list_notification_TOP li span {
            color: #009183;
            font-size: 11px;
            display: inline-block;
        }
.list_notifaction_action {
    float: left;
    position: relative;
}
.list_notifaction_action img {
    margin-right: 7px;
}
.list_notification_TOP_right {
    float: right;
}
.list_notification_TOP input {
    margin: 0 7px 0 15px;
}
.list_notifaction_action a{
    color:#000;
}
.list_notifaction_action ul {
    background: #fff;
    position: absolute;
    min-width: 160px;
    right: 0;
    box-shadow: 0 0 5px #c7c7c7;
    padding: 10px;
    top: 35px;
    display:none;
}
.list_notifaction_action li {
    float: none;
    margin-bottom: 15px;
    border-right: none;
    margin-right: 0;
}
.list_notifaction_action li a i {
    color: #aaa;
    font-size:8px;
    margin-right:10px;
}
    .list_notifaction_action li a i.fa-trash-o {
        font-size: 14px;
    }

.rtls  .list_notifaction_action li a i {
    color: #aaa;
    font-size: 8px;
    margin-right: 0;
    margin-left: 10px;
}
.N_size {
    width: 30px;
    height: 30px;
    display: inline-block !important;
    vertical-align: top;
}
.N_size:after{
    display:none;
}

.N_Comment {
    background: url(../IconImages/action/A-7-7.png) no-repeat;
    background-position-x: 5px;
}

.rtls  .navbar-top-links .dropdown-alerts a i {
    font-size: 20px;
    color: #009183;
    float: left;
    text-align: right;
    background-position: left center;
}
.N_Shared {
    background: url(../IconImages/action/A-6-6.png) no-repeat;
    background-position-x: 5px;
}
.N_Version {
    background: url(../IconImages/action/A-13-13.png) no-repeat;
    background-position-x: 5px;
}
.N_Workflow {
    background: url(../IconImages/S-8-8.png) no-repeat;
    background-position-x: 5px;
}
.N_ApprovalReq {
    background: url(../IconImages/action/A-12-12.png) no-repeat;
    background-position-x: 5px;
}
.N_Group {
    background: url('../IconImages/action/A-19-19.png') no-repeat;
    background-position-x: 5px;
}
#Notificationlist button {
    border: 1px solid #ddd;
    background: none;
    color: #000;
    padding: 7px 20px;
    margin: 10px auto;
    display: block;
    text-transform: capitalize;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
#Notificationlist button:hover{
    background:#1ab394;
    color:#fff;
}

#folderfileaction .dropdown-menu{
    min-width: 200px;
}

#LinkVersionaction .dropdown-menu {
    min-width:150px;
}
span.noti_count {
    background: #1AB394;
    color: #fff;
    width: 20px;
    line-height: 20px;
    display: block;
    text-align: center;
    position: absolute;
    top: 5px;
    font-size: 10px;
    border-radius: 5px;
    right: 0;
}

.rtls span.noti_count {
    background: #1AB394;
    color: #fff;
    width: 22px;
    line-height: 20px;
    display: block;
    text-align: center;
    position: absolute;
    top: 5px;
    font-size: 10px;
    border-radius: 5px;
    left:3px;
    right:auto;
}


.menusmall li a {
    padding: 15px 20px 15px 35px !important;
    background-size: 15px 15px;
    background-position: center center;
}
    .menusmall li a:hover,
    .menusmall li.active a {
        background-size: 15px 15px;
        background-position: center center;
    }

.fileup-progress-bar{
    position:relative;
}
    .fileup-progress-bar span {
        position: absolute;
        left: 10px;
        top: 2px;
        color: #fff;
    }


/*-------------------------------------------------------------
    Css Add 04-03-2020 15:00
 -------------------------------------------------------------*/

.workflow_box {
    display: flex;
    border: 1px solid #f1f1f1;
    padding: 10px;
    border-radius: 2px;
    margin:10px 0;
}
.workflow_box img{
    margin-right:15px;
}
.workflow_box span {
    font-size: 16px;
    color: #000;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: auto;
}
    .workflow_box span small {
        font-size: 12px;
        color: #0b7268;
        display: block;
    }

.newworkflowlist_box {
    margin-top: 15px;
    /*box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.34), 0 0 6px 0 rgba(0, 0, 0, 0.14);*/
}
    .newworkflowlist_box li aside {
        font-size: 12px;
        color: #000;
        margin-bottom: 15px;
    }
    .newworkflowlist_box ul {
        display: flex;
        justify-content: space-between;
        margin:0;
    }
    .newworkflowlist_box li {
        background: #fff;
        padding: 5px 15px;
        width: 18%;
    }
        .newworkflowlist_box li strong {
            font-size: 44px;
            font-weight: 400;
            margin-right: 10px;
        }
        .newworkflowlist_box li p {
            font-size: 14px;
            font-weight: 500;
        }
    .newworkflowlist_box li img{
        margin-right: 5px;
        vertical-align: bottom;
    }
.custom_filter .wf_div li a {
    padding-left: 30px;
    font-size: 14px;
    font-weight: 100;
    margin-right: 10px;
}
.mypending {
    background: url(../Images/wf-12.png) no-repeat center left;
}
.mypending.inn {
    background: url(../Images/wf-9.png) no-repeat center left;
}
.mycompleted {
    background: url(../Images/wf-11.png) no-repeat center left;
}
.mycompleted.inn {
    background: url(../Images/wf-10.png) no-repeat center left;
}
.myrequest {
    background: url(../Images/wf-11.png) no-repeat center left;
}
.myrequest.inn {
    background: url(../Images/wf-10.png) no-repeat center left;
}


.wf_timeline li{
    display:flex;
    border-bottom:1px solid #f1f1f1;
    padding-bottom:10px;
    margin-bottom:10px;
}
    .wf_timeline li:last-child {
        border-bottom: none;
    }
.wf_timeline_icon {
    margin-right: 15px;
}
.wf_timeline_text {
    width: 100%;
}
    .wf_timeline_text aside {
        display: flex;
        justify-content: space-between;
    }
        .wf_timeline_text aside span {
            width: 30%;
        }
            .wf_timeline_text aside span label,
            .wf_timeline_text p label{
                color: #0b7268;
                margin-right: 15px;
            }

    .wf_timeline_text p {
        display: flex;
    }