﻿/* Layout Changes*/

body {
    font-size: 15px;
}

.md-skin .nav > li.active > a {
    color: #009183;
    font-weight: 500;
}

.md-skin .navbar-default .nav > li > a:hover, .md-skin .navbar-default .nav > li > a:focus {
    font-weight: 500;
    /*background: #ddebea;*/
    color: #078579 !important;
}

.md-skin .nav > li:hover {
    background-color: #ddebea;
}

.md-skin .nav > li.active,
.nav > li:nth-child(3) {
    background: #f8f8f9;
}

/*.dynamicMenu .nav > li:nth-child(3) a {
    color: #078579 !important;
    background: url('../IconImages/S-1-1.png') no-repeat center left;
    background-position: 7px center;
}*/

.nav > li.active {
    border-left: 5px solid #0b7268;
    background: #293846;
}

.breadcrumb > .active {
    color: #bebdbd;
}

.page-heading > div > h2 {
    color: #009183;
    font-weight: 400;
    margin-top: 0px;
    font-size: 25px;
}

.control-label {
    color: #009183;
    font-weight: 500;
}

.bootstrap-tagsinput > span {
    font-size: 14px;
    font-weight: 400;
    background-color: #009183;
    font-family: 'Segoe UI' !important;
    padding: 5px 10px;
    text-transform: capitalize;
}

.table > thead:first-child > tr:first-child > th {
    color: #009183;
    font-weight: 400;
}

.table td {
    white-space: nowrap;
    max-width: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .table td:last-child {
        white-space: normal;
    }

.fa-x {
    font-size: 19px;
}

.fa-1x {
}
/* Top Navibar Css*/
.md-skin .navbar-fixed-top, .md-skin .navbar-static-top {
    background-color: #f3f3f4 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.md-skin .nav.navbar-right > li > a {
    color: #555050;
}

.language-cls {
    color: #555050;
}

.cabinet-section {
    display: flex;
}

    .cabinet-section > span {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0px;
    }

    .cabinet-section > label {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 18px;
    }

.minimalize-styl-2 {
    margin: 13px 5px 5px 20px;
}

.md-skin .nav .open > a, .md-skin .nav .open > a:hover, .md-skin .nav .open > a:focus {
    background: none;
}

.md-skin .wrapper-content {
    padding: 14px 0px 40px;
}

.md-skin .page-heading {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 14px;
}

.md-skin .nav .nav-second-level > li.active > a, .md-skin .nav .nav-third-level > li.active > a {
    background: #ddebea;
    color: #009183;
    font-weight: 500;
}
/*.breadcrumb {
	margin-bottom: -15px;  20-05-18
}*/
.md-skin .dynamicMenu li {
    border-bottom-style: inset;
    border-bottom-width: thin;
}

body.rtls .nav li.active {
    border-right: 5px solid #19aa8d;
    border-left: none;
}

.md-skin .nav.nav-third-level > li.active {
    border: none;
}

body.rtls .nav.nav-second-level > li.active, body.rtls .nav.nav-third-level > li.active {
    border: none;
}

.md-skin .navbar-top-links li a {
    min-height: 55px;
}

.md-skin .nav > li > a {
    font-weight: 500;
    padding: 9px 20px 9px 35px;
}

    .md-skin .nav > li > a > span.arrow {
        padding-top: 3px;
    }

.md-skin .navbar-top-links > li > a {
    font-weight: 500;
    padding: 16px 20px 9px 25px;
}

.nav > li > a i {
    margin-right: 6px;
    vertical-align: middle;
}

.md-skin .nav-second-level li a {
    padding: 7px 10px 7px 45px;
    font-size: 13px;
}

.md-skin .nav-third-level li a {
    padding-left: 55px;
}

.nav-second-level li:last-child {
    margin-bottom: 0;
}

body.rtls .custombox .checkbox-inline {
    padding-right: 0px;
    padding-left: 0;
}

body.rtls .custombox .i-checks {
    margin-right: 0px;
}

body.rtls .custombox .checkbox-inline ul {
    padding: 0;
}
/* sweet-alert*/

.sweet-alert {
    overflow: initial;
}

.showSweetAlert .pulseWarning, .showSweetAlert .sa-success, .showSweetAlert .sa-error {
    display: block;
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    background: #666;
}

.sweet-alert .sa-icon {
    border: 0px;
}

    .sweet-alert .sa-icon.sa-warning .sa-body {
        width: 8px;
        left: 48%;
        height: 45px;
    }

    .sweet-alert .sa-icon.sa-warning .sa-dot {
        left: 48%;
        width: 8px;
        height: 7px;
        border-radius: 2px;
        margin-left: -2px;
    }

.sa-button-container .confirm {
    display: inline-block;
    background-color: #009183 !important;
    box-shadow: none !important;
    border: none;
}

.sweet-alert button.cancel {
    background-color: #f1f1f1;
    color: #666;
}

@keyframes pulseWarningIns {
    0% {
        background-color: #fff;
    }

    100% {
        background-color: #fff;
    }
}

.sweet-alert h2 {
    margin: 26px 0;
    padding: 0;
    line-height: 22px;
}

.sweet-alert p {
    line-height: 5px;
}

.sweet-alert .sa-icon {
    width: 75px;
    height: 75px;
    border-radius: 40px;
    border-radius: 50%;
}

.showSweetAlert .sa-success {
    background-color: #009183;
}

.showSweetAlert .sa-error {
    background-color: #F27474;
}

.sweet-alert .sa-icon.sa-success::before, .sweet-alert .sa-icon.sa-success::after, .sweet-alert .sa-icon.sa-success .sa-placeholder, .sweet-alert .sa-icon.sa-success .sa-fix {
    display: none;
}

.sweet-alert .sa-icon.sa-success .sa-line {
    background-color: #fff;
}

    .sweet-alert .sa-icon.sa-success .sa-line.sa-long {
        width: 47px;
        right: 6px;
        top: 37px;
    }

    .sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
        width: 25px;
        left: 10px;
        top: 44px;
    }

.sweet-alert h2 {
    margin: 33px 0 20px;
    padding: 0;
    line-height: 22px;
    font-size: 22px;
}

.sweet-alert .sa-icon.sa-error .sa-line {
    background-color: #fff;
    top: 35px;
    width: 42px;
}
/* sweet-alert*/


/* select 2 css try*/
.select2-dropdown {
    z-index: 9001 !important;
}
/*04-04-18*/

.profile_dp_edit {
    position: relative;
    width: 175px;
    margin: 0 auto;
}

    .profile_dp_edit img {
        border: 4px solid #fff;
        height: 200px;
        width: 175px;
        box-shadow: 0 0 4px rgba(0,0,0,.5);
        margin: 0 auto;
        display: block;
    }

    .profile_dp_edit:hover .btn-upload {
        opacity: 1;
    }

body.rtls .btn-upload {
    right: 0;
    left: initial;
}

.btn-upload {
    position: absolute;
    background: rgba(0,0,0,0.4);
    color: #fff;
    width: 175px;
    height: 200px;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 28px;
    opacity: 0;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

    .btn-upload span {
        position: absolute;
        top: 35%;
        left: 43%;
    }

    .btn-upload i {
        color: #fff;
    }

.form-horizontal-custom .form-group {
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}

.dataTables_wrapper .row {
    margin: 7px 0;
}

.dataTables_length select {
    padding: 0 12px;
}

.gray-bg, .bg-muted {
    background-color: #f3f3f4;
    border-radius: 5px;
}

.new-text-align {
    margin-left: 5px;
}

body.rtls .new-text-align {
    margin-right: 5px;
    margin-left: 0;
}

.button-align .btn-group a {
    margin-bottom: 10px;
}

.mar_left {
    margin-left: 30px;
}

body.rtls .mar_left {
    margin-right: 30px;
    margin-left: 0;
}

.admin-logo img {
    max-width: 100%;
    height: 58px;
}

.navbar {
    min-height: 55px;
}

.nav-header {
    padding: 13px 25px;
}
/*10-04-18*/

/*START - Rights Design CSS*/
.new-margin-bottom {
    margin-bottom: 15px !important;
}

.rights-tab {
    margin-top: -10px;
}

    .rights-tab .nav {
        border-bottom: 0px solid #e7eaec;
    }

        .rights-tab .nav li {
            width: 14%;
            padding: 5px;
            text-align: center;
            margin-left: 3px;
        }

            .rights-tab .nav li:hover {
                background: none;
            }

            .rights-tab .nav li a {
                border: 1px solid #ccc;
                border-radius: 7px;
            }

                .rights-tab .nav li a:hover {
                    border: 1px solid #ccc;
                    border-radius: 7px;
                    background: #f1f1f1;
                }

        .rights-tab .nav > li.active {
            background: none;
            border: none;
        }

            .rights-tab .nav > li.active a, .rights-tab .nav > li.focus a {
                background: #19aa8d !important;
                color: #fff !important;
                outline: none;
                border: 1px solid #19aa8d;
            }


        .rights-tab .nav > li > a i {
            margin-right: 6px;
            vertical-align: middle;
            font-size: 22px;
            margin-bottom: 5px;
        }

.rights-tab-container {
    padding: 0px;
}
/*RTLS CSS*/
body.rtls .tabs-container .nav-tabs > li {
    float: right;
}

body.rtls .rights-tab .nav > li.active {
    background: none;
    border: none;
}
/*END - Rights Design CSS*/

/*19-04-18 Dynamicform css*/

#wizard .content {
    background: #fff;
}

#wizard > .content > .body {
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

.templatePanel {
    padding-left: 0px;
    width: 78%;
}

.controlPanel {
    width: 22%;
}
/*================================= JAYESH DEISGNS 27-4-18 ==========================================*/
.custom_breadcrumb, .Right_Griew_Views {
    display: inline-block;
}

    .custom_breadcrumb > li a {
        font-size: 18px;
    }

.Right_Griew_Views {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
}

    .Right_Griew_Views li {
        padding: 0;
        margin: 0;
        margin-right: 15px;
        display: inline-block;
    }

        .Right_Griew_Views li a {
            color: #676a6c;
        }

            .Right_Griew_Views li a:hover {
                color: #1ab394;
            }

    .Right_Griew_Views .about_icon {
        margin-right: 0;
        margin-left: 10px;
        border-left: 1px solid #b3b4b5;
        padding-left: 15px;
    }

        .Right_Griew_Views .about_icon a {
            border: 2px solid #b3b4b5;
            display: inline-block;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 21px;
            border-radius: 50%;
            color: #b3b4b5;
        }

.tbl_ibox_content {
    background: #fff;
}

.tabrdiv table {
    text-align: left;
}
/*.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	    padding: 15px;
	color: #000;
}*/

.custom_action {
    margin: 0;
}

    .custom_action li {
        padding: 0 3px;
        width: 20%;
        text-align: center;
    }

.tbl_icon.action_icons {
    font-size: 14px;
}

.tbl_ibox_content table.dataTable thead .sorting:after,
.tbl_ibox_content table.dataTable thead .sorting_asc:after,
.tbl_ibox_content table.dataTable thead .sorting_desc:after,
.tbl_ibox_content table.dataTable thead .sorting_asc_disabled:after,
.tbl_ibox_content table.dataTable thead .sorting_desc_disabled:after {
    position: initial;
    display: inline-block;
    margin-left: 30px;
}

.tbl_ibox_content .table > thead:first-child > tr:first-child > th {
    color: #000;
}

.tbl_ibox_content .table > thead > tr > th {
    border-bottom: 1px solid #aaa;
}

.tbl_icon {
    font-size: 20px;
    color: #777;
    margin-right: 7px;
    vertical-align: middle;
    line-height: 0;
}
/*================================= CHECKBOX DESIGN ==========================================*/
.check_div {
    position: relative;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
}

    .styled-checkbox + label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }

        .styled-checkbox + label:before {
            content: '';
            margin-right: 10px;
            display: inline-block;
            vertical-align: text-top;
            width: 20px;
            height: 20px;
            background: white;
            border: 2px solid #a3a3a3;
            border-radius: 1px;
        }

    .styled-checkbox:hover + label:before {
        background: #a3a3a3;
    }

    .styled-checkbox:checked + label:before {
        background-color: #1ab394;
        border-color: #1ab394;
    }

    .styled-checkbox:disabled + label {
        color: #b8b8b8;
        cursor: auto;
    }

        .styled-checkbox:disabled + label:before {
            box-shadow: none;
            background: #ddd;
        }

    .styled-checkbox:checked + label:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 9px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

/*==================================================================================================*/

.emailTemplate ul {
    padding-left: 0;
}

    .emailTemplate ul > li {
        font-size: 14px !important;
    }

.rtls .emailTemplate ul {
    padding-right: 0;
}

.rtls .arrow {
    float: left;
}

.folderPublic input[type=checkbox] {
    display: none;
}

.public_img {
    background: url(../IconImages/s-5.png);
    width: 18px;
    height: 12px;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: baseline;
}

.folderPublic input:checked + label {
    color: #009183;
}

    .folderPublic input:checked + label .public_img {
        background: url(../IconImages/s-5-5.png);
        width: 18px;
        height: 12px;
        background-size: contain;
        display: inline-block;
        background-repeat: no-repeat;
        vertical-align: baseline;
    }

.lblVersion {
    font-size: 13px;
}

.backPointer {
    cursor: pointer;
}
/*------------------------------------------------------------------------------*/
/* 21-5-2018 */
.btn_back {
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 80px;
    box-shadow: 0 2px 5px rgba(0,0,0,.19);
    text-align: center;
    margin: 15px 0;
    background-color: #1ab394;
    color: #fff;
}

    .btn_back span {
        font-family: 'Segoe UI';
    }

.dropzone .dz-preview.dz-file-preview .dz-details, .dropzone .dz-preview .dz-progress {
    position: absolute;
    bottom: 30px;
    top: auto;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
}

.file_upload_div {
    display: inline-block;
    width: 350px;
    color: #aaa;
}

    .file_upload_div i {
        height: 30px;
        width: 70px;
        float: left;
        margin-top: 6px;
        font-size: 30px;
    }

    .file_upload_div div {
        /*margin-left: -50px;*/
        text-align: left;
    }

        .file_upload_div div span {
            font-size: 13px;
        }

.inside_btn_back {
    padding: 15px 20px;
}

.dd .ddChild li img {
    padding: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

.dropzone {
    clear: both;
}
/*------------------------------------------------------------------------------*/
/*Upload Progressbar*/
.divProgressbar .ui-widget .ui-widget-header {
    background: #1ab394;
}

.divProgressbar .ui-progressbar {
    height: 20px;
    border: 0;
}

.divProgressbar .ui-widget .progress-label {
    position: absolute;
    color: #fff;
    margin: -3px 3px;
}

#progressBar label {
    font-weight: 600;
}

.bootstrap-tagsinput .tag {
    margin: 1px;
    display: inline-block;
}

#tblFolderFileList tr th, #tblFolderFileList tr td {
    vertical-align: middle;
}

/*-------------------- New CSS ON 27/06/2018-----------------------*/

.parent-dd {
    color: #000;
    font-size: 12px;
}

.txt-black {
    color: #000 !important;
}
/*.popup-table-class thead > tr > th {
    border-bottom: 1px solid #000000 !important;
    vertical-align: bottom;
    background: #fff;
    border: 1px solid #e5e5e5;
}*/

/*-----------------------------------------Custom Version Css--------------------------------------*/
.custom-table-css {
    border: 1px solid #dbd8d8;
}

    .custom-table-css thead {
        border-bottom: 1px solid #000000;
    }

        .custom-table-css thead tr {
            margin-top: 5px;
            margin-bottom: 5px;
            height: 50px;
        }

    .custom-table-css tbody tr {
        border-bottom: 1px solid #dbd8d8;
        height: 65px;
        vertical-align: central;
    }

.custom-table-css-version tbody tr {
    vertical-align: text-top;
    padding-top: 5px;
}

.remove-span {
    margin-right: 10px;
    margin-left: 5px;
}


/*-=-=-=-=-=-=- Parth login 20-07-2018 =-=-=-=-=-=-*/
.bg {
    background-color: #17998d;
    padding: 90px 60px;
    background-image: url(../Images/loginImg/login-blue-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
}

.form {
    width: 390px;
    background: #fff;
    box-shadow: 3px 8px 15px rgba(0,0,0,.25);
    padding: 40px 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 50%;
    right: -60px;
}

.logo {
    margin-bottom: 35px;
}

.form input {
    border: none;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: none;
    background-repeat: no-repeat;
    padding-left: 25px;
}

    .form input:focus {
        box-shadow: none;
        border-bottom-color: #17998d;
    }

/*.form .input-group:nth-child(1) input {
    background-image: url(../Images/loginImg/user.png);
    background-repeat: no-repeat;
    background-position-y: center;
}

.form .input-group:nth-child(2) input {
    background-image: url(../Images/loginImg/password.png);
    background-repeat: no-repeat;
    background-position-y: center;
}*/

.form .input-group {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

    .form .input-group img {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        margin: auto;
    }

    .form .input-group label.error {
        position: absolute;
        bottom: -20px;
        font-size: 12px;
        margin: 0;
        left: 0;
    }

.form label {
    margin-bottom: 15px;
    font-weight: normal;
    /*color: #676a6c;*/
    margin-right: 50px;
}

.form .form-control.error {
    border: none;
    border-bottom: 1px solid #cc5965;
}

button.button {
    display: block;
    width: 100%;
    margin-top: 15px;
    border: none;
    background-color: #17998d;
    color: #fff;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 15px;
}

.left_side {
    width: 30%;
    height: 100%;
    float: left;
    position: relative;
}

#login_page {
    background: url(../Images/loginImg/white-dot.png) no-repeat top right #fafafa;
}

.right_side img {
    float: right;
    padding-top: 60px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 70%;
    right: 0;
    padding: 10px 50px;
    border-top: 1px solid #d8d8d8;
}

    footer p {
        float: left;
    }

.arebic {
    float: right;
}

/*responsive*/
@media (max-width: 1280px) {
    .templatePanel {
        width: 77%;
    }

    .controlPanel {
        width: 23%;
    }
}

@media (max-width: 1024px) {
    .templatePanel {
        width: 66.66666667%;
    }

    .controlPanel {
        width: 33.33333333%;
    }
}

@media (max-width: 990px) {
    .form-horizontal-custom .form-group {
        margin-bottom: 15px;
    }

    .checkbox-inline, .radio-inline {
        margin-top: 0;
        margin-bottom: 10px;
        padding-right: 15px;
    }

    #inlineRadio2, #inlineRadio1 {
        margin-left: 0px;
    }

    body.rtls #inlineRadio2, body.rtls #inlineRadio1 {
        margin-right: 0px;
    }

    .adduser {
        cursor: pointer;
        margin-top: 10px;
        display: block;
    }

    .mar_left {
        margin-left: 0px;
    }

    .templatePanel {
        width: 100%;
        padding: 0 15px;
    }

    .controlPanel {
        width: 100%;
    }
}

@media (max-width: 767px) {
    #wizard > .steps > ul > li {
        width: 45%;
    }

    #wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
        margin-bottom: 10px;
    }
}
/*responsive*/

/*====================== 24-8-2018   */
.custom_tabrdiv #tblFolderFileList tr td span:first-child i {
    text-align: center;
}
