﻿.file-default:before {
    content: "\f15b";
    font-family: FontAwesome;
    color: #949393;
    font-style: initial;
}
/*folder icons*/
.folder::before {
    content: "\f07b";
    font-family: FontAwesome;
    color: #676565;
    font-style: initial;
}

/*------------------------------------All File Icons-------------------*/


/* word document files*/
.doc::before, .docx::before, .wpd::before, .wks::before, .wps::before {
    content: url('../IconImages/4.jpg');
    vertical-align: -webkit-baseline-middle;
    color: #1b69b1;
    font-style: initial;
}

/*Text Files*/
.txt::before, .tex::before, .rtf::before, .odt::before {
    content: "\f15c";
    font-family: FontAwesome;
    color: #467aa1;
    font-style: initial;
}

/*Pdf Files*/
.pdf::before {
    /*content: "\f1c1";
    font-family: FontAwesome;
    color: #f24a37;
    font-style: initial;*/
}
.pdf::before {
    content: url(../IconImages/s-PDF.png);
    vertical-align: -webkit-baseline-middle;
    color: #1b69b1;
    font-style: initial;
}
/* Html & code files*/
.asp::before, .aspx::before, .cer::before, .cfm::before, .cgi::before, .pl::before, .css::before, .htm::before, .html::before, .cshtml::before, .js::before, .jsp::before, .php::before, .part::before, .py::before, .rss::before, .xhtml::before, .xml::before {
    content: "\f1c9";
    font-family: FontAwesome;
    color: #f1459a;
    font-style: initial;
}

/* PPT  files*/
.key::before, .odp::before, .pps::before, .ppt::before, .pptx::before {
    /*content: "\f1c4";
    font-family: FontAwesome;
    color: #f16501;
    font-style: initial;*/
    content: url('../IconImages/1.jpg');
    vertical-align: -webkit-baseline-middle;
    color: #1b69b1;
    font-style: initial;
}

/* Outlook   files*/
.pst::before, .ost::before {
    /*content: "\f1c4";
    font-family: FontAwesome;
    color: #f16501;
    font-style: initial;*/
    content: url('../IconImages/O.png');
    vertical-align: -webkit-baseline-middle;
    color: #1b69b1;
    font-style: initial;
}


/* Publisher files*/
.pub::before {
    content: url('../IconImages/pub.png');
    vertical-align: -webkit-baseline-middle;
    color: #1b69b1;
    font-style: initial;
}

/* one node   files*/
.onetoc2::before, .one::before {
    content: url('../IconImages/oneNode.png');
    vertical-align: -webkit-baseline-middle;
    color: #1b69b1;
    font-style: initial;
}

/* Font  files*/
.fnt::before, .fon::before, .ttf::before, .otf::before, .woff::before, .woff2::before, .eot::before {
    content: "\f280";
    font-family: FontAwesome;
    color: #25a9a1;
    font-style: initial;
}

/* Bin  files*/
.apk::before, .bin::before, .bat::before, .cgi::before, .pl::before, .com::before, .exe::before, .gadget::before, .jar::before, .py::before, .wsf::before {
    content: "\f029";
    font-family: FontAwesome;
    color: #28746f;
    font-style: initial;
}

/* Images  files*/
.jpg::before, .jpeg::before, .png::before, .gif::before, .ai::before, .bmo::before, .ico::before, .ps::before, .psd::before, .svg::before, .wsf::before, .tif::before, .tiff::before {
    content: "\f1c5";
    font-family: FontAwesome;
    color: #9e07e0;
    font-style: initial;
}
/* class & Programming language  files*/
.c::before, .class::before, .cpp::before, .cs::before, .h::before, .java::before, .sh::before, .swift::before, .vb::before {
    content: "\f1c9";
    font-family: FontAwesome;
    color: #f1459a;
    font-style: initial;
}

/* Excel files CSV etc*/
.xls::before, .ods::before, .xlr::before, .xlsx::before, .csv::before {
    /*content: "\f1c3";
    font-family: FontAwesome;*/
    content: url('../IconImages/6.jpg');
    vertical-align: -webkit-baseline-middle;
    color: #1b69b1;
    font-style: initial;
}

/* Access files  etc*/
.adp::before, .adn::before, .accdb::before, .laccdb::before, .accdw::before, .accdc::before, .accda::before, .accdr::before, .accdt::before, .mdb::before {
    /*content: "\f1c3";
    font-family: FontAwesome;*/
    content: url('../IconImages/3.jpg');
    vertical-align: -webkit-baseline-middle;
    color: #1b69b1;
    font-style: initial;
}


/* Dll   files*/
.bak::before, .cab::before, .cfg::before, .cur::before, .dll::before, .dmp::before, .drv::before, .icns::before, .ini::before, .lnk::before, .msi::before, .sys::before, .tmp::before {
    content: "\f12e";
    font-family: FontAwesome;
    color: #08850b;
    font-style: initial;
}

/* Media video    files*/
.h264::before, .m4v::before, .avi::before, .flv::before, .mkv::before, .mov::before, .mp4::before, .mpg::before, .mpeg::before, .rm::before, .swf::before, .vob::before, .wmv::before {
    content: "\f1c8";
    font-family: FontAwesome;
    color: #830bb9;
    font-style: initial;
}

/*Audio Files*/
.mp3::before, .wav::before, .aif::before, .cda::before, .mid::before, .midi::before, .mpa::before, .ogg::before, .wma::before, .wpl::before {
    /*content: "\f1c7";
    font-family: FontAwesome;
    color: #b200ff;
    font-style: initial;*/
}
.mp3::before, .wav::before, .aif::before, .cda::before, .mid::before, .midi::before, .mpa::before, .ogg::before, .wma::before, .wpl::before{
    content: url(../IconImages/s-Audio.png);
    vertical-align: -webkit-baseline-middle;
    color: #1b69b1;
    font-style: initial;
    }
/*Zip Files*/
.zip::before, .rar::before, .arj::before, .deb::before, .pkg::before, .rpm::before, .tar::before, .gz::before, .z::before {
    content: "\f1c6";
    font-family: FontAwesome;
    color: #ff0000;
    font-style: initial;
}

/*Sql DB files*/
.dat::before, .db::before, .dbf::before, .log::before, .sav::before, .sql::before, .tar::before {
    content: "\f1c0";
    font-family: FontAwesome;
    color: #caae08;
    font-style: initial;
}

/*Config Files*/
.config::before, .user::before, .sin::before, .csproject::before, .download::before {
    content: "\f085";
    font-family: FontAwesome;
    color: #2f9f1e;
    font-style: initial;
}



.grid-size {
}

.file-thum-size {
}

.img-thum-size {
}

.download-file-icons {
}


/* word document files*/
.icon_img .docx-file-thum-size {
    content: url('../IconImages/Word.svg');
    vertical-align: middle;
    text-align: center;
}
/*ahiya thi baki*/
.icon_img .file-default:before {
    content: "\f15b";
    font-family: FontAwesome;
    color: #949393;
    font-style: initial;
}

/*---------------------------------------------------------------- Thum File-------------------------------------------*/
.icon_img i {
    font-size: 56px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 75px !important;
    width: 100%;
    left: 0;
}
/* word document files*/
.doc-file-thum-size, .docx-file-thum-size, .wpd-file-thum-size, .wks-file-thum-size, .wps-file-thum-size::before {
    background: url('../IconImages/Word.svg');
    vertical-align: -webkit-baseline-middle;
    color: #1b69b1;
    font-style: initial;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

    .doc-file-thum-size:before, .docx-file-thum-size:before, .wpd-file-thum-size:before, .wks-file-thum-size:before {
        content: '' !important;
    }

/* outlook files*/
.ost-file-thum-size, .pst-file-thum-size {
    background: url('../IconImages/Outlook.svg');
    vertical-align: -webkit-baseline-middle;
    color: #1b69b1;
    font-style: initial;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.ost-file-thum-size:before, .pst-file-thum-size:before {
    content:'' !important;
}

    /* Access files  etc*/
    .adp-file-thum-size, .adn-file-thum-size, .accdb-file-thum-size, .laccdb-file-thum-size, .accdw-file-thum-size, .accdc-file-thum-size, .accda-file-thum-size, .accdr-file-thum-size, .accdt-file-thum-size, .mdb-file-thum-size {
    background: url('../IconImages/Access.svg');
    vertical-align: -webkit-baseline-middle;
    color: #1b69b1;
    font-style: initial;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

    .adp-file-thum-size:before, .adn-file-thum-size:before, .accdb-file-thum-size:before, .laccdb-file-thum-size:before, .accdw-file-thum-size:before, .accdc-file-thum-size:before, .accda-file-thum-size:before, .accdr-file-thum-size:before, .accdt-file-thum-size:before, .mdb-file-thum-size:before {
        content: '' !important;
    }


/* Publisher files*/
.pub-file-thum-size {
    background: url('../IconImages/Publisher.svg');
    vertical-align: -webkit-baseline-middle;
    color: #1b69b1;
    font-style: initial;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

    .pub-file-thum-size:before {
        content: '' !important;
    }
/* OneNote files*/
.onetoc2-file-thum-size, .one-file-thum-size {
    background: url('../IconImages/OneNote.svg');
    vertical-align: -webkit-baseline-middle;
    color: #1b69b1;
    font-style: initial;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


    .onetoc2-file-thum-size:before, .one-file-thum-size:before {
        content: '' !important;
    }

/*Text Files*/
.icon_img .txt-file-thum-size:before, 
.icon_img .tex-file-thum-size:before, 
.icon_img .rtf-file-thum-size:before, 
.icon_img .odt-file-thum-size:before {
    content: "\f15c";
    font-family: FontAwesome;
    color: #467aa1;
    font-style: initial;
}

/*Pdf Files*/
.icon_img .pdf-file-thum-size:before {
    content: "";
}
.icon_img .pdf-file-thum-size {
    /*content: url(../IconImages/b-PDF.png);*/
     background: url('../IconImages/b-PDF.png');
    vertical-align: -webkit-baseline-middle;
    color: #1b69b1;
    font-style: initial;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
/* Html & code files*/
.icon_img .asp-file-thum-size::before, .icon_img .aspx-file-thum-size::before, .icon_img .cer-file-thum-size::before, .icon_img .cfm-file-thum-size::before, .icon_img .cgi-file-thum-size::before, .icon_img .pl-file-thum-size::before, .icon_img .css-file-thum-size::before, .icon_img .htm-file-thum-size::before, .icon_img .html-file-thum-size::before, .icon_img .cshtml-file-thum-size::before, .icon_img .js-file-thum-size::before, .icon_img .jsp-file-thum-size::before, .icon_img .php-file-thum-size::before, .icon_img .part-file-thum-size::before, .icon_img .py-file-thum-size::before, .icon_img .rss-file-thum-size::before, .icon_img .xhtml-file-thum-size::before, .icon_img .xml-file-thum-size::before {
    content: "\f1c9";
    font-family: FontAwesome;
    color: #f1459a;
    font-style: initial;
}

/* PPT  files*/
.icon_img .key-file-thum-size, .icon_img .odp-file-thum-size, .icon_img .pps-file-thum-size, .icon_img .ppt-file-thum-size, .icon_img .pptx-file-thum-size {
    background: url('../IconImages/PowerPoint.svg');
    vertical-align: -webkit-baseline-middle;
    color: #1b69b1;
    font-style: initial;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

    .icon_img .key-file-thum-size:before, .icon_img .odp-file-thum-size:before, .icon_img .pps-file-thum-size:before, .icon_img .ppt-file-thum-size:before, .icon_img .pptx-file-thum-size:before {
        content: '' !important;
    }
/* Font  files*/
.icon_img .fnt-file-thum-size::before, .icon_img .fon-file-thum-size::before, .icon_img .ttf-file-thum-size::before, .icon_img .otf-file-thum-size::before, .icon_img .woff-file-thum-size::before, .icon_img .woff2-file-thum-size::before, .icon_img .eot-file-thum-size::before {
    content: "\f280";
    font-family: FontAwesome;
    color: #25a9a1;
    font-style: initial;
}

/* Bin  files*/
.icon_img .apk-file-thum-size::before, .icon_img .bin-file-thum-size::before, .icon_img .bat-file-thum-size::before, .icon_img .cgi-file-thum-size::before, .icon_img .pl-file-thum-size::before, .icon_img .com-file-thum-size::before, .icon_img .exe-file-thum-size::before, .icon_img .gadget-file-thum-size::before, .icon_img .jar-file-thum-size::before, .icon_img .py-file-thum-size::before, .icon_img .wsf-file-thum-size::before {
    content: "\f029";
    font-family: FontAwesome;
    color: #28746f;
    font-style: initial;
}

/* Images  files*/
.icon_img .jpg-file-thum-size::before, .icon_img .jpeg-file-thum-size::before, .icon_img .png-file-thum-size::before, .icon_img .gif-file-thum-size::before, .icon_img .ai-file-thum-size::before, .icon_img .bmo-file-thum-size::before, .icon_img .ico-file-thum-size::before, .icon_img .ps-file-thum-size::before, .icon_img .psd-file-thum-size::before, .icon_img .svg-file-thum-size::before, .icon_img .wsf-file-thum-size::before, .icon_img .tif-file-thum-size::before, .icon_img .tiff-file-thum-size::before {
    content: "\f1c5";
    font-family: FontAwesome;
    color: #9e07e0;
    font-style: initial;
}
/* class & Programming language  files*/
.icon_img .c-file-thum-size::before, .icon_img .class-file-thum-size::before, .icon_img .cpp-file-thum-size::before, .icon_img .cs-file-thum-size::before, .icon_img .h-file-thum-size::before, .icon_img .java-file-thum-size::before, .icon_img .sh-file-thum-size::before, .icon_img .swift-file-thum-size::before, .icon_img .vb-file-thum-size::before {
    content: "\f1c9";
    font-family: FontAwesome;
    color: #f1459a;
    font-style: initial;
}

/* Excel files CSV etc*/


.icon_img .xlsx-file-thum-size, .icon_img .ods-file-thum-size, .icon_img .xlr-file-thum-size, .icon_img .csv-file-thum-size {
    background: url('../IconImages/Excel.svg');
    vertical-align: -webkit-baseline-middle;
    color: #1b69b1;
    font-style: initial;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

    .icon_img .xlsx-file-thum-size:before, .icon_img .ods-file-thum-size:before, .icon_img .xlr-file-thum-size:before, .icon_img .csv-file-thum-size:before {
        content: '' !important;
    }
/* Dll   files*/
.icon_img .bak-file-thum-size::before, .icon_img .cab-file-thum-size::before, .icon_img .cfg-file-thum-size::before, .icon_img .cur-file-thum-size::before, .icon_img .dll-file-thum-size::before, .icon_img .dmp-file-thum-size::before, .icon_img .drv-file-thum-size::before, .icon_img .icns-file-thum-size::before, .icon_img .ini-file-thum-size::before, .icon_img .lnk-file-thum-size::before, .icon_img .msi-file-thum-size::before, .icon_img .sys-file-thum-size::before, .icon_img .tmp-file-thum-size::before {
    content: "\f12e";
    font-family: FontAwesome;
    color: #08850b;
    font-style: initial;
}

/* Media video    files*/
.icon_img .h264-file-thum-size::before, .icon_img .m4v-file-thum-size::before, .icon_img .avi-file-thum-size::before, .icon_img .flv-file-thum-size::before, .icon_img .mkv-file-thum-size::before, .icon_img .mov-file-thum-size::before, .icon_img .mp4-file-thum-size::before, .icon_img .mpg-file-thum-size::before, .icon_img .mpeg-file-thum-size::before, .icon_img .rm-file-thum-size::before, .icon_img .swf-file-thum-size::before, .icon_img .vob-file-thum-size::before, .icon_img .wmv-file-thum-size::before {
    content: "\f1c8";
    font-family: FontAwesome;
    color: #830bb9;
    font-style: initial;
}

/*Audio Files*/
.icon_img .mp3-file-thum-size::before, .icon_img .wav-file-thum-size::before, .icon_img .aif-file-thum-size::before, .icon_img .cda-file-thum-size::before, .icon_img .mid-file-thum-size::before, .icon_img .midi-file-thum-size::before, .icon_img .mpa-file-thum-size::before, .icon_img .ogg-file-thum-size::before, .icon_img .wma-file-thum-size::before, .icon_img .wpl-file-thum-size::before {
    content: "";
    /*font-family: FontAwesome;
    color: #b200ff;
    font-style: initial;*/
}
.icon_img .mp3-file-thum-size, 
.icon_img .wav-file-thum-size, 
.icon_img .aif-file-thum-size, 
.icon_img .cda-file-thum-size, 
.icon_img .mid-file-thum-size, 
.icon_img .midi-file-thum-size, 
.icon_img .mpa-file-thum-size, 
.icon_img .ogg-file-thum-size, 
.icon_img .wma-file-thum-size, 
.icon_img .wpl-file-thum-size{
background: url(../IconImages/b-Audio.png);
    vertical-align: -webkit-baseline-middle;
    color: #1b69b1;
    font-style: initial;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    }
/*Zip Files*/
.icon_img .zip-file-thum-size::before, .icon_img .rar-file-thum-size::before, .icon_img .arj-file-thum-size::before, .icon_img .deb-file-thum-size::before, .icon_img .pkg-file-thum-size::before, .icon_img .rpm-file-thum-size::before, .icon_img .tar-file-thum-size::before, .icon_img .gz-file-thum-size::before, .icon_img .z-file-thum-size::before {
    content: "\f1c6";
    font-family: FontAwesome;
    color: #ff0000;
    font-style: initial;
}

/*Sql DB files*/
.icon_img .dat-file-thum-size::before, .icon_img .db-file-thum-size::before, .icon_img .dbf-file-thum-size::before, .icon_img .log-file-thum-size::before, .icon_img .sav-file-thum-size::before, .icon_img .sql-file-thum-size::before, .icon_img .tar-file-thum-size::before {
    content: "\f1c0";
    font-family: FontAwesome;
    color: #caae08;
    font-style: initial;
}

/*Config Files*/
.icon_img .config-file-thum-size::before, .icon_img .user-file-thum-size::before, .icon_img .sin-file-thum-size::before, .icon_img .csproject-file-thum-size::before, .icon_img .download-file-thum-size::before {
    content: "\f085";
    font-family: FontAwesome;
    color: #2f9f1e;
    font-style: initial;
}





/*Video Files*/

.mp4:before{
  content: url(../IconImages/s-Video.png);
  vertical-align: -webkit-baseline-middle;
  color: #1b69b1;
  font-style: initial;

}
.mp4-file-thum-size:before{
    content: "" !important;
}
.mp4-file-thum-size{
    background: url(../IconImages/b-Video.png);
    vertical-align: -webkit-baseline-middle;
    color: #1b69b1;
    font-style: initial;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}


/* Any Images */

.png:before{
  content: url(../IconImages/s-image.png);
  vertical-align: -webkit-baseline-middle;
  color: #1b69b1;
  font-style: initial;

}
.png-file-thum-size:before{
    content: "" !important;
}
.png-file-thum-size{
    background: url(../IconImages/b-image.png);
    vertical-align: -webkit-baseline-middle;
    color: #1b69b1;
    font-style: initial;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}


/* CSS Images */

.css:before{
  content: url(../IconImages/s-xml-html-css-js.png);
  vertical-align: -webkit-baseline-middle;
  color: #1b69b1;
  font-style: initial;

}
.css-file-thum-size:before{
    content: "" !important;
}
.css-file-thum-size{
    background: url(../IconImages/b-xml-html-css-js.png);
    vertical-align: -webkit-baseline-middle;
    color: #1b69b1;
    font-style: initial;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}


/* SQL Images */

.sql:before{
  content: url(../IconImages/s-SQL.png);
  vertical-align: -webkit-baseline-middle;
  color: #1b69b1;
  font-style: initial;

}
.sql-file-thum-size:before{
    content: "" !important;
}
.sql-file-thum-size{
    background: url(../IconImages/b-SQL.png);
    vertical-align: -webkit-baseline-middle;
    color: #1b69b1;
    font-style: initial;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}