﻿@*<div class="footer">
    <div class="pull-right">
        @Resource.Developed_by <a href="http://webmyne.com" target="_blank">@Resource.Webmyne_Systems</a>
    </div>
    <div>
        <strong>@Resource.Copyright</strong> @Resource.DocWare_copyright
    </div>
</div>*@
