﻿@model List<DocSharePermissionUserList>
@{
    string Checked = string.Empty;
}

<style>
    .custombox {
        border: 1px #000000 solid;
        margin: 10px;
        background-color: #eee;
        height: 120px;
    }

    ul li {
        list-style: none;
    }

    ul {
        margin-top: 20px;
        padding-left: 0px;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        @if (Model.Count > 0)
        {
            using (Html.BeginForm("SaveDocSharePermission", "UserManagement", FormMethod.Post, new { @id = "frmSaveDocSharePermission", @class = "smart-form client-form", entity = Model }))
            {
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group col-lg-12">
                            <label>@Resource.Users</label>
                            <div class="row">
                                @foreach (var item in Model)
                                {
                                    Checked = "";
                                    if (item.IsChecked)
                                    {
                                        Checked = "checked";
                                    }
                                    <div class="col-lg-2 custombox text-center">
                                        <div class="checkbox">
                                            <div class="checkbox-inline i-checks">
                                                <input type="checkbox" class="customcheckbox" value="@item.ShareUserId" style="margin-left:-7px;" @Checked />
                                                <div class="clearfix"></div>
                                                <ul style="word-break:break-all;">
                                                    <li>@item.UserName</li>
                                                    <li>@item.RoleName</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <button class="btn btn-success " type="button" onclick="SaveDate()">@Resource.Save</button>&nbsp;
                                    <button class="btn btn-success" type="button" onclick="myFunction()">@Resource.Reset</button>&nbsp;
                                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("UserList", "UserManagement")'">
                                        @Resource.Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-lg-12" id="noRecordMsg">
                <span class="text-danger fs16">@Resource.No_Record_Found</span>
            </div>
        }
    </div>
</div>
