﻿@model UserVM

@{
    ViewBag.Title = Resource.User_Registration;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var langs = "en-us";
    if (Request.Cookies["LangForMultiLanguage"] != null)
    {
        langs = Request.Cookies["LangForMultiLanguage"].Value;
    }
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        @if (Model.UserId > 0)
        {
            <h2>@Resource.Edit_User</h2>
        }
        else
        {
            <h2>@Resource.Add_User</h2>
        }
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("GoToHome", "Account")"><i class="fa fa-lg fa-home"></i></a>
            </li>
            <li>
                <a>@Resource.Users</a>
            </li>
            <li>
                <a href="@Url.Action("UserList", "UserManagement")">@Resource.User_List</a>
            </li>
            <li class="active">
                <strong>
                    @if (Model.UserId > 0)
                    {
                        @Model.FirstName  @Model.LastName
                    }
                    else
                    {
                        @Resource.Add_User
                    }
                </strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    @using (Html.BeginForm("UserRegistration", "UserManagement", FormMethod.Post, new { @class = "form-horizontal-custom", @id = "frmRegisterUser", enctype = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(j => j.UserId)
                        @Html.HiddenFor(j => j.ProfileImage)
                        @Html.HiddenFor(j => j.IsEdit)
                        <!-- New Design Layout-->
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        @Resource.User_Information
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2 col-sm-12 ">
                                                <div class="profile_dp_edit">
                                                    @if (Model.ProfileImage != null)
                                                    {
                                                        <img src="~/Uploads/ProfilePic/@Model.UserId/@Model.ProfileImage" onerror="this.onerror=null;this.src='Images/User1.png';" alt="" class="profilePic circle responsive-img activator card-profile-image">
                                                    }
                                                    else
                                                    {
                                                        <img src="~/Images/User1.png" alt="" class="profilePic circle responsive-img activator card-profile-image">
                                                    }

                                                    <div class="user_res text-center">
                                                        <input id="updProfileImage" class="" name="updProfileImage" type="file" style="display:none" />
                                                        <div class="btn-upload" onclick="imageuploadpouup()">
                                                            <span><i class="fa fa-upload text-navy"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-10 col-md-10 col-sm-12 ">
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-4 col-sm-12 ">
                                                        <div class="form-group">
                                                            <label class="col-md-6 control-label">@Resource.First_Name</label>
                                                            <div class="col-md-6">
                                                                @Html.TextBoxFor(q => q.FirstName, new { @class = "form-control stopcopypaste new-text-align", @maxlength = "50", @autofocus = "autofocus", @onkeypress = "return IsAlphaNumeric(event);" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12 ">
                                                        <div class="form-group">
                                                            <label class="col-md-6 control-label">@Resource.Middle_Name</label>
                                                            <div class="col-md-6">
                                                                @Html.TextBoxFor(q => q.MiddleName, new { @class = "form-control stopcopypaste", @maxlength = "50", @autofocus = "autofocus", @onkeypress = "return IsAlphaNumeric(event);" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12 ">
                                                        <div class="form-group">
                                                            <label class="col-md-6 control-label">@Resource.Last_Name</label>
                                                            <div class="col-md-6">
                                                                @Html.TextBoxFor(q => q.LastName, new { @class = "form-control stopcopypaste", @maxlength = "50", @autofocus = "autofocus", @onkeypress = "return IsAlphaNumeric(event);" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group date">
                                                            <label class="col-md-4 control-label">@Resource.Birth_Date</label>
                                                            <div class="col-md-8">
                                                                @Html.TextBoxFor(q => q.DOB, new { @class = "form-control date", @readonly = "readonly", @placeholder = "mm/dd/yyyy", @autofocus = "autofocus" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label class="col-md-4 control-label">Gender</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="radio radio-inline">
                                                                    <input type="radio" id="inlineRadio1" value="M" name="Gender" @(Model.Gender == "M" ? "Checked" : "")>
                                                                    <label for="inlineRadio1"> Male </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="radio radio-inline">
                                                                    <input type="radio" id="inlineRadio2" value="F" name="Gender" @(Model.Gender == "F" ? "Checked" : "")>
                                                                    <label for="inlineRadio2"> Female </label>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">@Resource.Mobile_Number</label>
                                                            <div class="col-md-8">
                                                                @Html.TextBoxFor(q => q.MobileNumber, new { @class = "form-control stopcopypaste", @maxlength = "20", @autofocus = "autofocus", @data_mask = "+99 9999999999" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">@Resource.Telephone_Number</label>
                                                            <div class="col-md-8">
                                                                @Html.TextBoxFor(q => q.PhoneNumber, new { @class = "form-control stopcopypaste", @maxlength = "20", @autofocus = "autofocus", @data_mask = "(999) 999-9999" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">@Resource.Department</label>
                                                            <div class="col-md-8">
                                                                @Html.DropDownListFor(x => x.DepartmentId, new SelectList(CommonFunctions.GetDepartmentList(), "Value", "Text", Model.DepartmentId), new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">@Resource.Section</label>
                                                            <div class="col-md-8">
                                                                @Html.DropDownList("SectionId", new SelectList(string.Empty), @Resource.Select_Section, new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">@Resource.Position</label>
                                                            <div class="col-md-8">
                                                                @Html.DropDownList("PositionId", new SelectList(string.Empty), @Resource.Select_Position, new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">@Resource.Manager</label>
                                                            <div class="col-md-8">
                                                                @Html.DropDownListFor(j => j.ManagerId, CommonFunctions.GetUserList(), new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        @Resource.Login_Information
                                    </div>
                                    <div class="panel-body">
                                        @if (Model.UserId == 0)
                                        {
                                            <div class="row">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">@Resource.User_Name</label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(q => q.UserName, new { @class = "form-control stopcopypaste", @maxlength = "64", @autofocus = "autofocus" })
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">@Resource.Email_ID</label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(q => q.EmailId, new { @class = "form-control", @maxlength = "100", @autofocus = "autofocus" })
                                                </div>
                                            </div>
                                        </div>

                                        @if (Model.UserId == 0)
                                        {
                                            <div class="row" id="pwd-container">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">@Resource.New_Password</label>
                                                    <div class="col-md-8">
                                                        @Html.PasswordFor(q => q.Password, new { @class = "form-control stopcopypaste clsPwd passwordStrength", @maxlength = "50", @autofocus = "autofocus", @value = Model.Password })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="pwstrength_viewport_progress"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">@Resource.Confirm_Password</label>
                                                    <div class="col-md-8">
                                                        @Html.PasswordFor(q => q.ConfirmPassword, new { @class = "form-control stopcopypaste ", @maxlength = "50", @autofocus = "autofocus", @value = Model.ConfirmPassword })
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        @Resource.Roles_Information
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">@Resource.Cabinet</label>
                                                    <div class="col-md-10">
                                                        @Html.ListBoxFor(m => m.UserCabinet, new SelectList(CommonFunctions.bindcabinet(), "Value", "Text"), new { @class = "chosen-select-cabinet form-control", @multiple = "multiple" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">@Resource.Roles</label>
                                                    <div class="col-md-10">
                                                        @Html.ListBoxFor(m => m.Roles, new SelectList(CommonFunctions.bindRoles(), "Value", "Text"), new { @class = "chosen-select-role form-control", @multiple = "multiple" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">@Resource.Application</label>
                                                    <div class="col-md-10">
                                                        @Html.ListBoxFor(m => m.Applications, new SelectList(CommonFunctions.bindApplications(), "Value", "Text"), new { @class = "chosen-select-application form-control", @multiple = "multiple" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="control-label"><i class="icon-append fa fa-bell"></i> @Resource.Sent_Notification</label>
                                    </div>
                                    <div class="col-md-8">
                                        @{
                                            string Checked = "";
                                            if (Model.SentNotification)
                                            {
                                                Checked = "checked";
                                            }
                                        }
                                        <input type="checkbox" id="chkSentNotification" name="chkSentNotification" @Checked />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    @if (Model.UserId > 0)
                                    {
                                        <button type="submit" id="btnCreateUser" class="btn btn-default">
                                            <i class="fa fa-save text-navy"></i>&nbsp;
                                            @Resource.Edit_User
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="submit" id="btnCreateUser" class="btn btn-default">
                                            <i class="fa fa-save text-navy"></i>&nbsp;
                                            @Resource.Create_User
                                        </button>
                                    }
                                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("UserList", "UserManagement")'">
                                        <i class="fa fa-close text-danger"></i>&nbsp;
                                        @Resource.Cancel
                                    </button>
                                </div>
                            </div>
                            @*<div id="permissionLst"></div>*@
                        </div>

                            <!-- End:New Design Layout-->
                                            }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/plugins/sweetalert/sweetalert.css")" rel="stylesheet" />
}

@section Scripts{
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="~/Scripts/plugins/select2/select2.full.min.js"></script>
    <script src="~/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="@Url.Content("~/Scripts/plugins/sweetalert/sweetalert.min.js")"></script>
    <script src="~/Scripts/pwstrength-bootstrap.min.js"></script>
    <script src="~/Scripts/pwstrength-zxcvbn.js"></script>
    <script type="text/javascript">
        // Profile Image related Script Copy From UpdateProfile Page
        function imageuploadpouup() {
            $('#updProfileImage').trigger('click');
        }

        $("#updProfileImage").change(function () {
            var fileExtension = ['jpeg', 'jpg', 'png'];
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                swal("@Messages.Try_Again", "@Messages.Image_Formate_Error_Message", "error");
            }
            else {
                var fsize = this.files[0].size / 1024 / 1024;
                var fsizefloat = parseFloat(fsize).toFixed(6);
                if (fsizefloat > 2) {
                    swal("@Messages.Try_Again", "@Messages.Image_Size_Exceed", "error");
                }
                else {
                    readURL(this);
                }
            }
        });

        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.card-profile-image').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        // End Of Profile Picture Add/Update Code

        $(document).ready(function () {
            var options1 = {};
            options1.ui = {
                container: "#pwd-container",
                showVerdictsInsideProgressBar: true,
                viewports: {
                    progress: ".pwstrength_viewport_progress"
                }
            };
            options1.common = {
                debug: false
            };
            $('.passwordStrength').pwstrength(options1);

            //Add active class in menu
            $("#link_UserRegistration").addClass('active');
            $("#link_UserRegistration").parent().addClass('in');
            $("#link_UserRegistration").parent().parent().addClass('active');

            $('input').keypress(function (e) {
                if (e.which === 32)
                    return false;
            });

            $('#DOB').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

            $(".chosen-select-cabinet").select2({
                placeholder: "@Resource.Choose_Cabinet",
                allowClear: true,
                dir: "@(langs=="ar-bh"?"rtl":"ltr")"
            });

            $(".chosen-select-role").select2({
                placeholder: "@Resource.Choose_Role",
                allowClear: true,
                dir: "@(langs=="ar-bh"?"rtl":"ltr")"
            });

            $(".chosen-select-application").select2({
                placeholder: "@Resource.Choose_Application",
                allowClear: true,
                dir: "@(langs=="ar-bh"?"rtl":"ltr")"
            });

            if (@Model.UserId != 0) {
                var deptid = $("#DepartmentId").val();
                GetSectionList(deptid, @Model.SectionId);
                //GetUserList(deptid, @Model.ManagerId);
                GetPositionList(@Model.SectionId, @Model.PositionId);
            }

            $.validator.addMethod("passwordStrength", function (value, element) {
                return value.match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@@$!%*#?&])[0-9A-Za-z\d$@@$!%*#?&]{8,}$/);
            }, "Password must contain at atleast 1 uppercase, 1 lower case, 1 digit, 1 special characters and min length 8.");

            $.validator.setDefaults({ ignore: ":hidden:not(select)" });
            $("#frmRegisterUser").validate({
                ignore: [],
                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-success has-error');
                    $(e).closest('.form-group').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    $(e).prev().removeClass('has-error');
                    e.closest('.help-block').remove();
                    $(e).remove();
                },
                rules: {
                    FirstName: {
                        required: true,
                    },
                    MiddleName: {
                        required: true,
                    },
                    LastName: {
                        required: true,
                    },
                    EmailId: {
                        required: true,
                        email: true,
                        remote:
                        {
                            url: '@Url.Action("IsEmailExist", "UserManagement")',
                            data: {
                                EmalId: function () { return $('#EmailId').val() },
                                id: function () { return parseInt($('#UserId').val()) }
                            }
                        },
                    },
                    UserName: {
                        required: true,
                        remote:
                        {
                            url: '@Url.Action("IsUserNameExist", "UserManagement")',
                            data: {
                                UserName: function () { return $('#UserName').val() },
                                id: function () { return parseInt($('#UserId').val()) }
                            }
                        },
                    },
                    Password: {
                        required: true,
                        minlength: 8,
                        passwordStrength: true
                    },
                    ConfirmPassword: {
                        required: true,
                        equalTo: '[name="Password"]'
                    },
                    DepartmentId: {
                        required: true,
                    },
                    SectionId: {
                        required: true,
                    },
                    PositionId: {
                        required: true,
                    },
                    ManagerId: {
                        required: true,
                    },
                    MobileNumber: {
                        required: true,
                    },
                    DOB: {
                        required: true,
                    },
                    UserCabinet: {
                        required: true,
                    },
                    Roles: {
                        required: true,
                    },
                    Applications: {
                        required: true,
                    },
                },
                messages: {
                    FirstName: {
                        required: "@Messages.FirstName_Validation"
                    },
                    MiddleName: {
                        required: "@Messages.MiddleName_Validation"
                    },
                    LastName: {
                        required: "@Messages.LastName_Validation"
                    },
                    EmailId: {
                        required: '@Messages.EmailId_Validation',
                        email: '@Messages.Check_EmailId_Validation',
                        remote: "@Messages.Emailid_already_exist",
                    },
                    UserName: {
                        required: "@Messages.UserName_Validation",
                        remote: "@Messages.UserName_already_exist",
                    },
                    Password: {
                        required: "@Messages.Password_Validation",
                        minlength: '@Messages.Please_enter_at_least_8_characters'
                    },
                    ConfirmPassword: {
                        required: "@Messages.ConfirmPassword_Validation",
                        equalTo: "@Messages.PasswordMatch_Validation",
                    },
                    DepartmentId: {
                        required: "@Messages.Select_department"
                    },
                    SectionId: {
                        required: "@Messages.Select_section",
                    },
                    PositionId: {
                        required: "@Messages.Validation_Position",
                    },
                    ManagerId: {
                        required: "@Messages.Validation_Manager",
                    },
                    MobileNumber: {
                        required: "@Messages.Validation_Mobile",
                    },
                    DOB: {
                        required: "@Messages.Validation_Birth_Date",
                    },
                    UserCabinet: {
                        required: "@Messages.Cabinet_Validation",
                    },
                    Roles: {
                        required: "@Messages.Role_Validation",
                    },
                    Applications: {
                        required: "@Messages.Select_Application",
                    },
                },
                errorPlacement: function (error, element) {
                    element.parent().append(error);
                    //error.insertAfter(element.parent("div"));
                }
            });
        });

        $("#DOB").change(function () {
            if ($('#DOB').val() != "") {
                $("#DOB-error").remove();
                $("#DOB").closest('.form-group').removeClass('has-error');
            }
        });

        $("#UserCabinet").change(function () {
            if ($('#UserCabinet').val() != "") {
                $("#UserCabinet-error").remove();
                $("#UserCabinet").closest('.form-group').removeClass('has-error');
            }
        });

        $("#Roles").change(function () {
            if ($('#Roles').val() != "") {
                $("#Roles-error").remove();
                $("#Roles").closest('.form-group').removeClass('has-error');
            }
        });

        $("#Applications").change(function () {
            if ($('#Applications').val() != "") {
                $("#Applications-error").remove();
                $("#Applications").closest('.form-group').removeClass('has-error');
            }
        });

        $("#DepartmentId").change(function () {
            var id = $(this).val();
            if (id != null) {
                GetSectionList((id == '' ? 0 : id), 0);
                //GetUserList((id == '' ? 0 : id), 0);
            }
        });

        function GetSectionList(deptid, sectionid) {
            GetPositionList(0, 0);
            if (deptid != 0) {
                $.ajax({
                    type: 'GET',
                    data: { DepartmentID: deptid },
                    url: '@Url.Action("GetSectionByDepartmentID", "UserManagement")',
                    success: function (data) {
                        $("#SectionId").html(""); // clear before appending new list
                        $.each(data.lst, function (i, data) {
                            $("#SectionId").append($('<option></option>').val(data.Value).html(data.Text));
                        });
                        if (sectionid > 0) {
                            $("#SectionId").val(sectionid);
                        }
                    }
                });
            }
            else {
                $("#SectionId").html(""); // clear before appending new list
                $("#SectionId").append($('<option></option>').val("").html('@Resource.Select_Section'));
            }
        }

        @*function GetUserList(deptid, userid) {
            if (deptid != 0) {
                $.ajax({
                    type: 'GET',
                    data: { DepartmentID: deptid },
                    url: '@Url.Action("GetUserByDepartmentID", "UserManagement")',
                    success: function (data) {
                        $("#ManagerId").html(""); // clear before appending new list
                        $.each(data.lst, function (i, data) {
                            $("#ManagerId").append($('<option></option>').val(data.Value).html(data.Text));
                        });
                        if (userid > 0) {
                            $("#ManagerId").val(userid);
                        }
                    }
                });
            }
            else {
                $("#ManagerId").html(""); // clear before appending new list
                $("#ManagerId").append($('<option></option>').val("").html('@Resource.Select_User'));
            }
        }*@

        $("#SectionId").change(function () {
            var id = $(this).val();
            if (id != null) {
                GetPositionList((id == '' ? 0 : id), 0);
            }
        });

        function GetPositionList(sectionid, positionid) {
            if (sectionid != 0) {
                $.ajax({
                    type: 'GET',
                    data: { SectionID: sectionid },
                    url: '@Url.Action("GetPositionBySectionID", "UserManagement")',
                    success: function (data) {
                        $("#PositionId").html(""); // clear before appending new list
                        $.each(data.lst, function (i, data) {
                            $("#PositionId").append($('<option></option>').val(data.Value).html(data.Text));
                        });
                        if (positionid > 0) {
                            $("#PositionId").val(positionid);
                        }
                    }
                });
            }
            else {
                $("#PositionId").html(""); // clear before appending new list
                $("#PositionId").append($('<option></option>').val("").html('@Resource.Select_Position'));
            }
        }
    </script>
}
