﻿@model EmailTemplateVM
@{
    ViewBag.Title = Resource.Add_Edit_EmailTemplate;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        @if (Model.Id > 0)
        {
            <h2>@Resource.Edit_EmailTemplate</h2>
        }
        else
        {
            <h2> @Resource.Add_EmailTemplate </h2>
        }
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("GoToHome", "Account")"><i class="fa fa-lg fa-home"></i></a>
            </li>
            <li>
                <a>@Resource.Template</a>
            </li>
            <li>
                <a href="@Url.Action("EmailTemplateList", "Template")">@Resource.EmailTemplate_List</a>
            </li>
            <li class="active">
                <strong>
                    @if (Model.Id > 0)
                    {
                        @Model.Name
                    }
                    else
                    {
                        @Resource.Add_EmailTemplate
                    }
                </strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    @using (Html.BeginForm("AddEmailTemplate", "Template", FormMethod.Post, new { @id = "frmAddEmailTemplate" }))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                @Html.HiddenFor(j => j.Id)
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">@Resource.Name</label>
                                        <div class="col-md-11">
                                            @Html.TextBoxFor(q => q.Name, new { @class = "form-control", @maxlength = "100", @autofocus = "autofocus", @onkeypress = "return IsAlphaNumericWithSpace(event);" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">Description</label>
                                        <div class="col-md-11">
                                            @Html.TextBoxFor(q => q.Description, new { @class = "form-control", @maxlength = "500" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">@Resource.Subject</label>
                                        <div class="col-md-11">
                                            @Html.TextBoxFor(q => q.Subject, new { @class = "form-control", @maxlength = "150" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                Tags
                                            </div>
                                            <div class="panel-body">
                                                <div id="formcontrol" class="emailTemplate">
                                                    <ul>
                                                        @if (Model != null)
                                                        {
                                                            foreach (var item in Model.ListTag.GroupBy(j => j.TypeName))
                                                            {
                                                                <li class="active">
                                                                    <a data-toggle="collapse" href="#tag_@item.FirstOrDefault().TagID" class="aCollapse formcontrol-span">
                                                                        <span> @item.FirstOrDefault().TypeName </span>  <span class="fa arrow"></span>
                                                                    </a>
                                                                    <div>
                                                                        <ul class="htmlControlList collapse in" id="tag_@item.FirstOrDefault().TagID">
                                                                            @foreach (var tag in item.OrderBy(j => j.DisplayIndex))
                                                                            {
                                                                                <li id="@tag.TagID" onclick="AddTag('@tag.EmailTemplateTag');">
                                                                                    @tag.Description
                                                                                </li>
                                                                            }
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                Template
                                            </div>
                                            <div class="panel-body">
                                                @Html.TextAreaFor(q => q.Body, new { @class = "form-control", @maxlength = "1000" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            @if (Model.IsEdit)
                                            {
                                                <button type="submit" id="btnSave" class="btn btn-default">
                                                    <i class="fa fa-save text-navy"></i>&nbsp;
                                                    @Resource.Save
                                                </button>
                                            }
                                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("EmailTemplateList", "Template")'">
                                                <i class="fa fa-close text-danger"></i>&nbsp;
                                                @Resource.Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="@Url.Content("~/Scripts/plugins/ckeditor_4.9.2/ckeditor.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            //Add active class in menu
            $("#link_AddEmailTemplate").addClass('active');
            $("#link_AddEmailTemplate").parent().addClass('in');
            $("#link_AddEmailTemplate").parent().parent().addClass('active');

            $("#menu_Template").addClass('active');
            $("#menu_Template").find('ul.nav-second-level').addClass('in');

            // Collapsable list  Script | Jasmin | 18/05/2018
            $(".aCollapse").on('click', function () {
                if ($(this).hasClass('collapsed')) {
                    $(this).parent().addClass('active');
                }
                else {
                    $(this).parent().removeClass('active');
                }
            });
            // End : Collapsable List Script

            CKEDITOR.replace('Body', { height: '380px' });

            for (var i in CKEDITOR.instances) {
                CKEDITOR.instances[i].on('change', function () {
                    var c = CKEDITOR.instances.Body.getData();
                    if (c.length > 0) {
                        $("#Body").next().next().css("display", "none");
                        $("#Body").closest('.form-group').removeClass('has-error');
                    } else {
                        $("#Body").next().next().css("display", "");
                    }
                });
            }

            $('#btnSave').click(function () {
                CKEDITOR.instances.Body.updateElement();
            });

            $("#frmAddEmailTemplate").validate({
                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-success has-error');
                    $(e).closest('.form-group').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    $(e).prev().removeClass('has-error');
                    e.closest('.help-block').remove();
                    $(e).remove();
                },
                ignore: [],
                rules: {
                    Name: {
                        required: true,
                        remote: {
                            url: '@Url.Action("CheckEmailTemplateName", "Template")',
                            data: {
                                TemplateName: function () { return $("#Name").val(); },
                                TemplateID: function () { return $("#Id").val(); },
                            }
                        }
                    },
                    Subject: {
                        required: true,
                    },
                    Body: {
                        required: true,
                    }
                },
                messages: {
                    Name: {
                        required: '@Messages.Enter_emailtemplate_name',
                        remote: "@Messages.EmailTemplate_already_exist"
                    },
                    Subject: {
                        required: '@Messages.Enter_subject',
                    }
                    ,
                    Body: {
                        required: '@Messages.Enter_body',
                    }
                },
                errorPlacement: function (error, element) {
                    element.parent().append(error);
                    //error.insertAfter(element.parent("div"));
                }
            });
        });

        function AddTag(TagText) {
            CKEDITOR.instances["Body"].insertText(" " + TagText);
        }
    </script>
}
