﻿@model List<UserWorkflowAssignesListVM>
@{
    var userId = CommonFunctions.GetUserId();
    var cabinetId = CommonFunctions.GetCabinetId();
}

<style>
    .activetr {
        background-color: #ddebea;
    }
</style>

@*<div class="table-responsive" id="divGrid">*@
<div id="divGrid">
    <div class="tabrdiv">
        <table class="table table-hover" id="tblWorkFlowList">
            <thead>
                <tr>
                    <th></th>
                    <th width="1%">
                        <div class="check_div">
                            <input type="checkbox" id="checkAll" />
                        </div>
                    </th>
                    <th width="15%" class="sort">Request Name</th>
                    <th width="15%" class="sort">Initiated</th>
                    <th width="10%" class="sort">Initiated By</th>
                    <th width="10%" class="sort">Last Update</th>
                    <th width="10%" class="sort">Last Update By</th>
                    <th width="14%" class="sort">Last Action</th>
                    <th width="15%" class="sort">WorkFlow Status</th>
                    <th width="10%">View TimeLine</th>
                </tr>
            </thead>
            @if (Model.Count > 0)
            {
                var Count = 0;
                foreach (var item in Model.ToList())
                {
                    Count = Count + 1;
                    <tr class="rowbackground" id="td-@Count" data-Rownum="@Count">
                        <td>0</td>
                        <td width="1%">
                            <div class="check_div">
                                <input type="checkbox" id="f-@item.WFInstanceId" class="checkFolderFile chk-@Count gridf-@item.WFInstanceId" data-inst="@item.WFInstanceId" data-asstempid="@item.AssignFormTemplateId" data-chk="@Count" />
                            </div>
                        </td>
                        <td class="" data-id="@item.WFInstanceId" width="15%">
                            @if (item.Priority == (long)EnumList.Priority.High)
                            {
                                <img src="~/Images/wf-13.png" />
                            }
                            else if (item.Priority == (long)EnumList.Priority.Medium)
                            {
                                <img src="~/Images/wf-14.png" />
                            }
                            else
                            {
                                <img src="~/Images/wf-15.png" />
                            }
                            @item.WFInitiateName
                        </td>
                        <td width="15%" style="word-break:break-all;">@item.Initiated</td>
                        <td width="10%" style="word-break:break-all">@item.InitiatorUser</td>
                        <td width="10%" style="word-break:break-all">@item.LastUpdate</td>
                        <td width="10%" style="word-break:break-all">@item.LastUpdatedBy</td>
                        <td width="14%" style="word-break:break-all">@item.LastAction</td>
                        <td width="15%" style="word-break:break-all">
                            @if (item.IsOpen == true)
                            {
                                @item.CurrentStep.ToString()
                                <span> Step</span>
                            }
                            else
                            {
                                <span>WorkFlow Completed</span>
                            }
                        </td>
                        <td width="10%" class="text-center">
                            <a href="@Url.Action("WorkflowTimeLine","WorkFlow",new { WFId = item.WFId, WFIntId = item.WFInstanceId, IsOpen = item.IsOpen,Type = item.Type })">
                                <i class="fa fa-eye text-success"></i>
                            </a>
                        </td>
                    </tr>
                }
                @*<tbody id="IsOpenWf">
                        @if (Model.Where(x => x.IsOpen).Count() > 0)
                        {
                            foreach (var item in Model.Where(x => x.IsOpen))
                            {
                                Count = Count + 1;
                                <tr class="rowbackground" id="td-@Count" data-Rownum="@Count">
                                    <td>0</td>
                                    <td width="1%">
                                        <div class="check_div">
                                            <input type="checkbox" id="f-@item.WFInstanceId" class="checkFolderFile chk-@Count gridf-@item.WFInstanceId" data-inst="@item.WFInstanceId" data-chk="@Count" />
                                        </div>
                                    </td>
                                    <td class="" data-id="@item.WFInstanceId" width="15%">@item.WFInitiateName</td>
                                    <td width="15%" style="word-break:break-all;">@item.Initiated</td>
                                    <td width="15%" style="word-break:break-all">@item.InitiatorUser</td>
                                    <td width="15%" style="word-break:break-all">@item.LastUpdate</td>
                                    <td width="15%" style="word-break:break-all">@item.LastUpdatedBy</td>
                                    <td width="14%" style="word-break:break-all">@item.LastAction</td>
                                    <td width="10%" class="text-center">
                                        <a href="@Url.Action("WorkflowTimeLine","WorkFlow",new { WFId = item.WFId, WFIntId = item.WFInstanceId })">
                                            <i class="fa fa-eye text-success"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>No data found</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                    <tbody id="IsCloseWf">
                        @if (Model.Where(x => !x.IsOpen).Count() > 0)
                        {
                            foreach (var item in Model.Where(x => !x.IsOpen))
                            {
                                Count = Count + 1;
                                <tr class="rowbackground" id="td-@Count" data-Rownum="@Count">
                        <td width="1%">
                            <div class="check_div">
                                <input type="checkbox" id="f-@item.WFInstanceId" class="checkFolderFile chk-@Count gridf-@item.WFInstanceId" data-inst="@item.WFInstanceId" data-chk="@Count" />
                            </div>
                        </td>
                        <td class="" data-id="@item.WFInstanceId" width="15%">@item.WFInitiateName</td>
                        <td width="15%" style="word-break:break-all;">@item.Initiated</td>
                        <td width="15%" style="word-break:break-all">@item.InitiatorUser</td>
                        <td width="15%" style="word-break:break-all">@item.LastUpdate</td>
                        <td width="15%" style="word-break:break-all">@item.LastUpdatedBy</td>
                        <td width="14%" style="word-break:break-all">@item.LastAction</td>
                        <td width="10%" class="text-center">
                            <a href="@Url.Action("WorkflowTimeLine","WorkFlow",new { WFId = item.WFId, WFIntId = item.WFInstanceId })">
                                <i class="fa fa-eye text-success"></i>
                            </a>
                        </td>
                        </tr>
                    }
                    }
                    else
                    {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>No data found</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    }
                    </tbody>*@
            }
            else
            {
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>No data found</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //sweta Try For DataTable Sorting
        $('#tblWorkFlowList').DataTable({
            bPaginate: false,
            bSearching: false,
            bInfo: false,
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false
                },
                {
                    'bSortable': false,
                    'aTargets': [1, 9],
                }
            ],
            orderFixed: [0, 'asc'], //First Back Button Do Not Sort
            "dom": ""
        });
        $('#IsOpenWf').show();
        $('#IsCloseWf').hide();
        //END : Sweta TRy----------------
        // Row Selection Code Updated On 11/06/2018
        $(".rowbackground").click(function () {
            var Row = $(this).attr("data-Rownum");
            if ($('input:checkbox.chk-' + Row).prop("checked") == true) {
                $(this).addClass('activetr');
            } else {
                $(this).removeClass('activetr');
            }
        });
        // End : Row Selection Code

        $("#checkAll").click(function () {

            if ($("#checkAll").is(':checked')) {
                $("#tblWorkFlowList input:checkbox.checkFolderFile").each(function () {
                    $(this).prop("checked", true);
                    $(this).parent().parent().closest('tr').addClass('activetr');
                });
            } else {
                $("#tblWorkFlowList input:checkbox.checkFolderFile").each(function () {
                    $(this).prop("checked", false);
                    $(this).parent().parent().closest('tr').removeClass('activetr');
                });
            }
            toggleInfo();
        });

        $("#tblWorkFlowList").on("click", ".checkFolderFile", function () {
            debugger;
            var checkboxes = $("input.checkFolderFile");
            var checkAll = $("input#checkAll");
            if (checkboxes.filter(":checked").length == checkboxes.length) {
                checkAll.prop("checked", "checked");
                $(this).parent().parent().closest('tr').addClass('activetr');
            } else {
                checkAll.prop("checked", '');
            }
            toggleInfo();
            DisplayInfo();
            // call funtion after some time || Add By Kiran || 05092020
            $(this).text('Wait...').delay(500).queue(function () {                
                setvalue();
                //must after choosenselect (select 2 Section here..)
                $(".select2_search").select2({ placeholder: "--Select--", allowClear: true });
                $(this).dequeue();

            });
        });

        $('#tblWorkFlowList').on('page.dt', function () {
            $("input:checkbox").prop("checked", false);
        });

    });

    function SaveResponse() {
        var flag = $("#dynamicFrm").valid();
        if (flag) {
            var DynamicFormResponseVM = {
                ID: 0,
                FormTemplateId: $('#DynamicFormResponse_FormTemplateId').val(),
                HtmlContent: "html code here",
                FormTitle: $('#DynamicFormResponse_FormTitle').val(),
                ResponseCode: "DynamicCode",
                FormTemplateId: 0,
                AttachedType: "WorkFlow",
                AttachedId: 0,
                DynamicFormResponseDetailList: []
            }

            DynamicFormResponseVM.ID = 0;
            DynamicFormResponseVM.ResponseCode = "DynamicCode";
            DynamicFormResponseVM.FormTemplateId = $('#DynamicFormResponse_FormTemplateId').val();
            DynamicFormResponseVM.AttachedType = "WorkFlow";
            DynamicFormResponseVM.AttachedId = $('#WFInstanceId').val();

            //File input---------------------------
            var exmInputFile = [];
            var fileUpload = document.getElementsByName("fileupload");
            var form = new FormData($('#dynamicFrm')[0]);
            for (i = 0; i < fileUpload.length; i++) {
                var file = fileUpload[i].files[0];
                exmInputFile.push(file);
                if (file != undefined) {
                    form.append('fileuploadData', file);
                }

            }
            // End File Input---------------------

            $('.dynamicControls').each(function () {
                var FieldID = this.id;
                var FieldType = $(this).attr("data-Ctype");
                var value = null;
                var ischecked = false;

                if (FieldType == "radio" || FieldType == "checkbox") {
                    ischecked = $("#" + FieldID).is(':checked');
                    if (ischecked == true) {
                        value = $("#" + FieldID).val();
                    } else {
                        value = null;
                    }
                }
                else if (FieldType == "textbox" || FieldType == "email" || FieldType == "website" || FieldType == "password" || FieldType == "address" || FieldType == "textarea" || FieldType == "dropdown" || FieldType == "datepicker" || FieldType == "clockpicker") {
                    value = $("#" + FieldID).val();

                } else if (FieldType = "fileupload") {
                    value = $(".span-" + FieldID).html();
                }

                DynamicFormResponseVM.DynamicFormResponseDetailList.push({
                    'FiledId': FieldID,
                    'Type': FieldType,
                    'Value': value,
                    'IsSelected': $("#" + FieldID).is(':checked')
                });

            });

            form.append("DynamicFormResponseVM", JSON.stringify(DynamicFormResponseVM));

            console.log(DynamicFormResponseVM);

            if (DynamicFormResponseVM.DynamicFormResponseDetailList.length > 0) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("WorkFlowSaveFormTemplate", "WorkFlow")',
                    data: form,
                    processData: false,
                    dataType: "json",
                    traditional: true,
                    contentType: false,
                    success: function (data) {
                        if (data) {
                            toastr.success("Form Data saved!", "@Messages.Success");
                        } else {
                            toastr.success("Error occured while saving Form Data!", "@Messages.Error");
                        }
                    }
                });
            }
        }
        else {
            toastr.error("Please provide all required information before submit.", "@Messages.Error");
        }
    } // end of save response function



</script>
