﻿@model UserWorkflowAssignesInfo
@{
    var langs = "en-us";
    if (Request.Cookies["LangForMultiLanguage"] != null)
    {
        langs = Request.Cookies["LangForMultiLanguage"].Value;
    }
    var CurrentcabinetId = CommonFunctions.GetCabinetId();
}

<style>
    .btn-group.open .dropdown-toggle {
        box-shadow: none;
    }

    .dynamic-form-header {
        font-size: 15px;
        color: #08966e;
        font-weight: 600;
    }

        .dynamic-form-header > i {
            float: right;
            vertical-align: central;
            cursor: pointer;
        }

    .action-buttons {
        display: none;
        opacity: 0;
        position: absolute;
    }

    .has-error .form-control {
        border-color: #ed5565 !important;
    }

    .has-error .select2-container--default .select2-selection--multiple {
        border-color: #ed5565 !important;
    }

    .select2-container--default .select2-selection--multiple {
        border-color: #c1bebe !important;
    }

    .reqSign {
        margin-left: 3px;
        font-size: 10px !important;
        color: #ed5565;
    }

    .checkbox-success input[type="checkbox"]:checked + label::before,
    .checkbox-success input[type="radio"]:checked + label::before {
        background-color: #00b1d1;
        border-color: #00b1d1;
    }

    .fileTypeUl {
        list-style-type: none;
        text-align: left !important;
        margin-left: -40px !important;
    }

    .link-label {
        cursor: pointer;
        margin-top: 5px;
    }
</style>

<div id="Info-div-box" class="wflistinfo">
    <div class="tabheading">
        <h3>
            @if (Model.Priority == (long)EnumList.Priority.High)
            {
                <img src="~/Images/wf-13.png" />
            }
            else if (Model.Priority == (long)EnumList.Priority.Medium)
            {
                <img src="~/Images/wf-14.png" />
            }
            else
            {
                <img src="~/Images/wf-15.png" />
            } @Model.WFInitiateName
        </h3>
        @if (Model.Priority == (long)EnumList.Priority.Medium)
        {
            <p style="padding-left: 15px !important;">Click on workflow name to see details</p>
        }
        else
        {
            <p style="padding-left: 26px !important;">Click on workflow name to see details</p>
        }
    </div>

    <div>
        <div class="panel-group oneS" id="accordion1" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading active" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Basic Information
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ul class="list-unstyled oneS">
                            <li><aside>Workflow Status</aside> @(Model.IsOpen ? "in progress" : "completed")</li>
                            <li>
                                <aside>Priority</aside> @((Model.Priority == (long)EnumList.Priority.Low) ? EnumList.Priority.Low.ToString() :
(Model.Priority == (long)EnumList.Priority.Medium) ? EnumList.Priority.Medium.ToString() :
EnumList.Priority.High.ToString())
                            </li>
                            <li><aside>initiation</aside> @Model.Initiated</li>
                            <li><aside>initiated by</aside> @Model.InitiatorUser</li>
                            <li><aside>Last update</aside> @Model.LastUpdate</li>
                            <li><aside>Last Updated by</aside> @Model.LastUpdatedBy</li>
                            <li><aside>Last Action</aside> @Model.LastAction</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group OneS" id="accordion2" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading active" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Related Form
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <ul class="list-unstyled oneS" style="margin-bottom:0;">
                            <div id="DynamicFormData">
                                @using (Html.BeginForm("ViewForm", "Demo", FormMethod.Post, new { @id = "dynamicFrm", @enctype = "multipart/form-data" }))
                                {
                                    @Html.HiddenFor(x => x.DynamicFormResponse.FormTemplateId)
                                    @Html.HiddenFor(x => x.DynamicFormResponse.ResponseCode)
                                    @Html.HiddenFor(x => x.WFInstanceId)
                                    @Html.HiddenFor(x => x.DynamicFormResponse.FormTitle)
                                    @Html.HiddenFor(x => x.IsOpen)
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <span class="dynamic-form-header">@Model.DynamicFormResponse.FormTitle</span>
                                        </div>
                                    </div>
                                    <input type="hidden" id="hdnCabinet" name="hdnCabinet" value="@CurrentcabinetId" />
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            @if (Model.DynamicFormResponse.FormTemplateId > 0)
                                            {
                                                @Html.Raw((Model.DynamicFormResponse.HtmlContent))
                                            }
                                            else
                                            {
                                                <blockquote>
                                                    <p>No form Found !</p>
                                                </blockquote>
                                            }
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="pull-right">
                                                @*<button type="button" class="btn btn-default close-form">
                            <i class="fa fa-close text-danger"></i>&nbsp;
                            @Resource.Cancel
                        </button>*@
                                                <button type="button" id="btnSave" onclick="SaveResponse()" class="btn btn-default">
                                                    <i class="fa fa-save text-navy"></i>&nbsp;
                                                    @Resource.Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="hiddenvalue">
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model.DynamicFormResponse.DynamicFormResponseDetailList)
                                        {
                                            <input type="hidden" class="getvalue1" data-value="@item.Value" data-controlid="@item.FiledId" data-controltype="@item.Type" />
                                        }
                                    }
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group oneS" id="accordion3" role="tablist" aria-multiselectable="true" style="display:none;">
            <div class="panel panel-default">
                <div class="panel-heading active" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Related Documents
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <ul class="list-unstyled oneS" style="margin-bottom:0;">
                            @*<li><aside style="font-size: 15px;">Original File Path</aside> <br>@Model.OriginalLocation</li>
                                <li><aside style="font-size: 15px;">Physical Location</aside> <br>@Model.PhysicalLocation</li>
                                <li><aside style="font-size: 15px;">Notes</aside> <br> <p>@Model.Notes</p></li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet" />
<link href="~/Content/plugins/clockpicker/clockpicker.css" rel="stylesheet" />
<script src="~/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="~/Scripts/plugins/clockpicker/clockpicker.js"></script>

<script>
    function SaveResponse() {
        
        var flag = $("#dynamicFrm").valid();
        if (flag) {
            var DynamicFormResponseVM = {
                ID: 0,
                FormTemplateId: @Model.DynamicFormResponse.FormTemplateId,
                HtmlContent: "html code here",
                FormTitle: "@Model.DynamicFormResponse.FormTitle",
                ResponseCode: "DynamicCode",
                FormTemplateId: 0,
                AttachedType: "WorkFlow",
                AttachedId: 0,
                DynamicFormResponseDetailList: []
            }

            DynamicFormResponseVM.ID = 0;
            DynamicFormResponseVM.ResponseCode = "DynamicCode";
            DynamicFormResponseVM.FormTemplateId = @Model.DynamicFormResponse.FormTemplateId;
            DynamicFormResponseVM.AttachedType = "WorkFlow";
            DynamicFormResponseVM.AttachedId = @Model.WFInstanceId;

            //File input---------------------------
            var exmInputFile = [];
            var fileUpload = document.getElementsByName("fileupload");
            var form = new FormData($('#dynamicFrm')[0]);
            for (i = 0; i < fileUpload.length; i++) {
                var file = fileUpload[i].files[0];
                exmInputFile.push(file);
                if (file != undefined) {
                    form.append('fileuploadData', file);
                }

            }
            // End File Input---------------------

            $('.dynamicControls').each(function () {
                var FieldID = this.id;
                var FieldType = $(this).attr("data-Ctype");
                var value = null;
                var ischecked = false;

                if (FieldType == "radio" || FieldType == "checkbox") {
                    ischecked = $("#" + FieldID).is(':checked');
                    if (ischecked == true) {
                        value = $("#" + FieldID).val();
                    } else {
                        value = null;
                    }
                }
                else if (FieldType == "textbox" || FieldType == "email" || FieldType == "website" || FieldType == "password" || FieldType == "address" || FieldType == "textarea" || FieldType == "dropdown" || FieldType == "datepicker" || FieldType == "clockpicker") {
                    value = $("#" + FieldID).val();

                } else if (FieldType = "fileupload") {
                    value = $(".span-" + FieldID).html();
                }

                DynamicFormResponseVM.DynamicFormResponseDetailList.push({
                    'FiledId': FieldID,
                    'Type': FieldType,
                    'Value': value,
                    'IsSelected': $("#" + FieldID).is(':checked')
                });

            });

            form.append("DynamicFormResponseVM", JSON.stringify(DynamicFormResponseVM));

            console.log(DynamicFormResponseVM);

            if (DynamicFormResponseVM.DynamicFormResponseDetailList.length > 0) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("WorkFlowSaveFormTemplate", "WorkFlow")',
                    data: form,
                    processData: false,
                    dataType: "json",
                    traditional: true,
                    contentType: false,
                    success: function (data) {
                        if (data) {
                            toastr.success("Form Data saved!", "@Messages.Success");
                        } else {
                            toastr.success("Error occured while saving Form Data!", "@Messages.Error");
                        }
                    }
                });
            }
        }
        else {
            toastr.error("Please provide all required information before submit.", "@Messages.Error");
        }
    } // end of save response function
  
    $(document).ready(function () {
        //$("#DynamicFormDataHeader").hide();    
              
        $('#headingOne').on('click', function () {
            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
            }
            else {
                $(this).addClass('active');
            }
        });

        $('#headingTwo').on('click', function () {
            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
            }
            else {
                $(this).addClass('active');
            }
        });

        $('#headingThree').on('click', function () {
            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
            }
            else {
                $(this).addClass('active');
            }
        });

        //Check for all files
        $('[id^="fileupload-"]').each(function () {
            $(this).attr("name", "fileupload");
        });


        //setvalue(); // set value

        $(".chosen-select-cabinet").select2({
            placeholder: "@Resource.Choose_Cabinet",
            allowClear: true,
            dir: "@(langs=="ar"?"rtl":"ltr")"
        });
        //must after choosenselect (select 2 Section here..)
        $(".select2_search").select2({ placeholder: "--Select--", allowClear: true });

        setDatePicker();

        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name]) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        $('#dynamicFrm').validate({ // Add For email fields on 11/03/2019
            submitHandler: function (form) {
                return false;
            }
        });

        $.validator.addMethod( // Add for www.domain.com  on 12/03/2019
            'Website',
            function (value, element) {
                return this.optional(element) || /^(https:\/\/|http:\/\/|www\.|mailto:|smtp:|ftp:\/\/|ftps:\/\/)[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/.test(value)
            });

        $('.email_type').each(function () {
            $(this).rules('add', {
                email: true,
                messages: {
                    email: "Invalid email!"
                }
            });
        });

        $('.website_type').each(function () {
            $(this).rules('add', {
                //url: true,
                Website: true,
                messages: {
                    Website: "Invalid url!"
                }
            });
        });
    });

    $(".fileinput-new").click(function () {
        var dispaluSpanId = "display-div-" + id;
        var getName = $("#span-" + id).text();
        if (getName.length > 0) {
            $("#" + dispaluSpanId).text(getName);
        }

    });
    // File input extension Validation Function | Add | Dhrumil | 2018/04/19
    function CheckExtValidation(id) {
        var dispaluSpanId = "display-div-" + id;
        var getName = $("#span-" + id).text();
        if (getName.length > 0) {
            $("#" + dispaluSpanId).text(getName);
        }

        if ($("#" + id).attr("accept") !== undefined && $("#" + id).attr("accept") !== "" && $("#" + id).val() != "") {
            var fileExtension = $("#" + id).attr("accept").split(',');
            //Here Check File Extension
            if ($.inArray("." + $("#" + id).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert('invalid file ! Accepts only ' + $("#" + id).attr("accept") + '.');
                $(".fileremove").click();
            }
        }
    }

    function escapeRegExp(string) {
        return string.replace(/[.*+?^${}()|[\]\\]/g, "\\$&");
    }
    /* Define functin to find and replace specified term with replacement string */
    function replaceAll(str, term, replacement) {
        return str.replace(new RegExp(escapeRegExp(term), 'g'), replacement);
    }

    function setvalue() {
        //Set Value for all controls
        var rCode = $("#ResponseCode").val();
        var CCab = $("#hdnCabinet").val();
       
        $('[class^="getvalue"]').each(function () {
            //  $(this).attr("name", "fileupload");
            var fid = "";
            var value = "";
            var type = "";
            fid = $(this).attr("data-controlid");
            type = $(this).attr("data-controltype");
            value = $(this).attr("data-value");

            if (type == "textbox" || type == "email" || type == "website" || type == "password" || type == "address") {
                $("#" + fid).attr("value", value);
                $("#" + fid).text(value);
            }
            else if (type == "textarea") {
                $("#" + fid).val(value);
                $("#" + fid).text(value);
            }
            else if (type == "dropdown") {
                $("#" + fid).val(value);
                $('#' + fid + '>option[value="' + value + '"]').attr('selected', 'selected');
            }
            else if (type == "radio") {
                if (value != "") {
                    $("input:radio[id=" + fid + "]").attr('checked', true);
                }
            }
            else if (type == "checkbox") {
                if (value != "") {
                    $("input:checkbox[id=" + fid + "]").attr('checked', true);
                    $("#" + fid).prop("checked", true);
                }

            }
            else if (type == "fileupload") {
                if (value != "") {
                    // $("#display-div-" + fid).text(value);
                    var dwnload = '<a href="http://localhost:51043/Uploads/Attachments/' + CCab + '/' + rCode + '/' + value + '" target="_blank">' + value + '</a>';
                    // var dwnload = '<a href="http://ws-srv-net.in.webmyne.com/Applications/DocWare/Uploads/Attachments/' + CCab + '/' + rCode + '/' + value + '" target="_blank">Downlaod</a>';
                    $("#display-div-" + fid).html(dwnload);
                }
            }
            else if (type == "datepicker") {
                $("#" + fid).val(value);
                $("#" + fid).text(value);
            }
            else if (type == "clockpicker") {
                $("#" + fid).val(value);
                $("#" + fid).text(value);
            }
        });
    }

    function setDatePicker() {
        // New Control Date Picker | ADD | Sweta Patel | 2018/12/19
        $('.dynamicDatePicker').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });
    }

   
</script>