﻿@model WF_Details
@{
    ViewBag.Title = "Add/Edit Workflow Step";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        @if (Model.Id > 0)
        {
            <h2>Edit Workflow Step</h2>
        }
        else
        {
            <h2>Add Workflow Step</h2>
        }
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("GoToHome", "Account")"><i class="fa fa-lg fa-home"></i></a>
            </li>
            <li>
                <a>Workflow</a>
            </li>
            <li>
                <a href="@Url.Action("WorkflowStepList", "WorkFlow", new { WfId = Model.WFId })">Workflow Step List</a>
            </li>
            <li class="active">
                @if (Model.Id > 0)
                {
                    <strong>
                        @Model.WFStepName
                    </strong>
                }
                else
                {
                    <strong>
                        Add Workflow Step
                    </strong>
                }
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    @using (Html.BeginForm("AddWorkflowStep", "WorkFlow", FormMethod.Post, new { @id = "frmWorkFlowStep" }))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                @Html.HiddenFor(j => j.Id)
                                @Html.HiddenFor(j => j.WFId)
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Step Number</label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(q => q.WFStep, new { @class = "form-control", @maxlength = "50", @onkeypress = "return IsNumeric(event);" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Step Name</label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(q => q.WFStepName, new { @class = "form-control", @maxlength = "500", @onkeypress = "return IsAlphaNumericWithSpace(event);" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row" id="divFormTemplate">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Assign To</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(j => j.AssignedUserID, CommonFunctions.GetUserListByCabinet(), new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Step Notes</label>
                                        <div class="col-md-10">
                                            @Html.TextAreaFor(q => q.WFStepNotes, new { @class = "form-control", @maxlength = "500" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button type="submit" id="btnSave" class="btn btn-default">
                                                <i class="fa fa-save text-navy"></i>&nbsp;
                                                @Resource.Save
                                            </button>
                                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("WorkflowStepList", "WorkFlow", new { WfId = Model.WFId })'">
                                            <i class="fa fa-close text-danger"></i>&nbsp;
                                            @Resource.Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            ////Add active class in menu
            //$("#link_AddCategory").addClass('active');
            //$("#link_AddCategory").parent().addClass('in');
            //$("#link_AddCategory").parent().parent().addClass('active');

            if(@Model.Id == 0)
            {
                $("#WFStep").val('');
            }

            $("#frmWorkFlowStep").validate({
                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-success has-error');
                    $(e).closest('.form-group').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    $(e).prev().removeClass('has-error');
                    e.closest('.help-block').remove();
                    $(e).remove();
                    $("#Name-error").hide();
                },
                rules: {
                    WFStep: {
                        required: true,
                        remote: {
                            url: '@Url.Action("CheckWorkflowStepNo", "WorkFlow")',
                            data: {
                                StepNo: function () { return $("#WFStep").val(); },
                                WFId: function () { return $("#WFId").val(); },
                                WFDetailId: function () { return $("#Id").val(); }
                            }
                        }
                    },
                    WFStepName: {
                        required: true,
                        remote: {
                            url: '@Url.Action("CheckWorkflowStepName", "WorkFlow")',
                            data: {
                                StepName: function () { return $("#WFStepName").val(); },
                                WFId: function () { return $("#WFId").val(); },
                                WFDetailId: function () { return $("#Id").val(); }
                            }
                        }
                    },
                    WFStepNotes: {
                        required: true,
                    },
                    AssignedUserID: {
                        required: true,
                    }
                },
                messages: {
                    WFStep: {
                        required: 'Enter step number',
                        remote: 'Step number already exist'
                    },
                    WFStepName: {
                        required: 'Enter step name',
                        remote: 'Step number already exist'
                    },
                    WFStepNotes: {
                        required: 'Enter step notes',
                    },
                    AssignedUserID: {
                        required: "Select user",
                    }
                },
                errorPlacement: function (error, element) {
                    element.parent().append(error);
                    //error.insertAfter(element.parent("div"));
                }
            });

        });
    </script>
}