﻿@model WF_MasterVM
@{
    ViewBag.Title = "AddWorkflow";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var langs = "en-us";
    if (Request.Cookies["LangForMultiLanguage"] != null)
    {
        langs = Request.Cookies["LangForMultiLanguage"].Value;
    }
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        @if (Model.Id > 0)
        {
            <h2>Edit Workflow</h2>
        }
        else
        {
            <h2>Add Workflow</h2>
        }
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("GoToHome", "Account")"><i class="fa fa-lg fa-home"></i></a>
            </li>
            <li>
                <a>Workflow</a>
            </li>
            <li>
                <a href="@Url.Action("WorkFlowList", "WorkFlow")">Workflow List</a>
            </li>
            <li class="active">
                <strong>
                    Add Workflow
                    @*@if (Model.Id > 0)
                        {
                            @Model.Name
                        }
                        else
                        {
                            @Resource.Add_Cabinet
                        }*@
                </strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    @using (Html.BeginForm("AddWorkflow", "WorkFlow", FormMethod.Post, new { @id = "frmAddWorkFlow" }))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                @Html.HiddenFor(j => j.Id)
                                @Html.HiddenFor(j => j.AssignFormTemplateId)
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">@Resource.Name</label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(q => q.WFName, new { @class = "form-control", @maxlength = "50", @autofocus = "autofocus", @onkeypress = "return IsAlphaNumericWithSpace(event);" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Description</label>
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(q => q.Descritpion, new { @class = "form-control", @maxlength = "500" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">@Resource.Notes</label>
                                        <div class="col-md-10">
                                            @Html.TextAreaFor(q => q.Notes, new { @class = "form-control", @maxlength = "500" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div id="divAssignFormTemplate">
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Assigned Form Template</label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(j => j.AssignFormTemplateName, new { @class = "form-control", @disabled = "disabled" })
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-success" onclick="ShowFormTemplate()">Attach New Form Template</button>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                                <div class="row" id="divFormTemplate">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">@Resource.Select_FormTemplate</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(j => j.FormTemplateId, CommonFunctions.GetFormTemplateList(), new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Initaitors</label>
                                        <div class="col-md-10">
                                            @Html.ListBoxFor(m => m.WFInitaitors, new SelectList(CommonFunctions.GetUserByCabinetForDualList(), "Value", "Text"), new { @class = "chosen-select-initaitors form-control", @multiple = "multiple" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Closers</label>
                                        <div class="col-md-10">
                                            @Html.ListBoxFor(m => m.WFClosers, new SelectList(CommonFunctions.GetUserByCabinetForDualList(), "Value", "Text"), new { @class = "chosen-select-closers form-control", @multiple = "multiple" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Process Admins</label>
                                        <div class="col-md-10">
                                            @Html.ListBoxFor(m => m.WFProcessAdmins, new SelectList(CommonFunctions.GetUserListByCabinet(), "Value", "Text"), new { @class = "chosen-select-processadmin form-control", @multiple = "multiple" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <label class="control-label">IsManual</label>
                                        </div>
                                        <div class="col-md-2">
                                            @{
                                                string Checked = "";
                                                if (Model.IsManual)
                                                {
                                                    Checked = "checked";
                                                }
                                            }
                                            <input type="checkbox" id="chkIsManual" name="chkIsManual" @Checked />
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button type="button" id="btnSave" class="btn btn-default">
                                                <i class="fa fa-save text-navy"></i>&nbsp;
                                                @Resource.Save
                                            </button>
                                            @if (Model.Id == 0)
                                            {
                                                <button type="button" id="btnSaveNext" class="btn btn-default">
                                                    <i class="fa fa-save text-navy"></i>&nbsp;
                                                    Save and Next
                                                </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("WorkFlowStepList", "WorkFlow", new { WfId = Model.Id })'">
                                                    <i class="fa fa-save text-navy"></i>&nbsp;
                                                    Edit Steps
                                                </button>
                                            }
                                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("WorkFlowList", "WorkFlow")'">
                                                <i class="fa fa-close text-danger"></i>&nbsp;
                                                @Resource.Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/plugins/tagInputsStyles")
    <link href="@Url.Content("~/Content/plugins/select2/select2.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/plugins/msdropdown/dd.css")" rel="stylesheet" />
}

@section Scripts{
    @Scripts.Render("~/plugins/tagInputs")
    <script src="@Url.Content("~/Scripts/plugins/select2/select2.full.min.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/msdropdown/jquery.dd.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/dual_list_box/dual-list-box.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($("#Id").val() > 0 && $("#AssignFormTemplateId").val() > 0) {
                $("#divAssignFormTemplate").show();
                $("#divFormTemplate").hide();
                $("#btnSave").show();
            }
            else {
                $("#divFormTemplate").show();
                $("#divAssignFormTemplate").hide();
                $("#btnSave").hide();
            }
            //Add active class in menu
            $("#link_AddWorkflow").addClass('active');
            $("#link_AddWorkflow").parent().addClass('in');
            $("#link_AddWorkflow").parent().parent().addClass('active');

            $("#btnSave").click(function () {
                if ($("#frmAddWorkFlow").valid()) {
                    $("#frmAddWorkFlow").submit();
                }
                else {
                    return false;
                }
            });

            $("#btnSaveNext").click(function () {
                if ($("#frmAddWorkFlow").valid()) {
                    $("#frmAddWorkFlow").submit();
                }
                else {
                    return false;
                }
            });

            $("#chkIsManual").change(function () {
                if (@Model.Id == 0) {
                    if ($("#chkIsManual").prop('checked')) {
                        $("#btnSave").show();
                        $("#btnSaveNext").hide();
                    } else {
                        $("#btnSave").hide();
                        $("#btnSaveNext").show();
                    }
                }
            });

            $('#WFInitaitors').DualListBox({
                json: false,
                timeout: 300,
                title: 'Initaitors',
                textLength:35
            });

            $('#WFClosers').DualListBox({
                json: false,
                timeout: 300,
                title: 'Closers',
                textLength: 35
            });

            var updateDropdowns = function (e) {
                var id = $(this).parent('div').parent().attr('id');
                if (id == undefined) {
                    id = $(e.target).parent('span').parent('span').parent('div').parent().attr('id');
                }
                $('#' + id).find('select.selected').detach().appendTo($('#' + id).find('.col-md-5:last'));
                $('#' + id).find('.col-md-5:last').find('div').remove();
                delete $('#' + id).find('select.selected').data().dd;
                $('#' + id).find('select.selected').msDropdown();

                $('#' + id).find('select.unselected').detach().appendTo($('#' + id).find('.col-md-5:first'));
                $('#' + id).find('.col-md-5:first').find('div').remove();
                delete $('#' + id).find('select.unselected').data().dd;
                $('#' + id).find('select.unselected').msDropdown();               
            };

            var addClickListeners = function () { };
            $('div.center-block button').on('click', updateDropdowns);

        

            $("select.unselected").msDropDown();
            $("select.selected").msDropDown();

            @*$(".chosen-select-initaitors").select2({
                placeholder: "Select initaitors...",
                allowClear: true,
                dir: "@(langs=="ar-bh"?"rtl":"ltr")"
            });*@

            @*$(".chosen-select-closers").select2({
                placeholder: "Select closers...",
                allowClear: true,
                dir: "@(langs=="ar-bh"?"rtl":"ltr")"
            });*@

            $(".chosen-select-processadmin").select2({
                placeholder: "Select processadmin...",
                allowClear: true,
                dir: "@(langs=="ar-bh"?"rtl":"ltr")"
            });

            $.validator.setDefaults({ ignore: ":hidden:not(select)" });
            $("#frmAddWorkFlow").validate({
                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-success has-error');
                    $(e).closest('.form-group').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    $(e).prev().removeClass('has-error');
                    e.closest('.help-block').remove();
                    $(e).remove();
                },
                ignore: [],
                rules: {
                    WFName: {
                        required: true,
                        remote: {
                            url: '@Url.Action("CheckWorkFlowName", "WorkFlow")',
                            data: {
                                WorkFlowName: function () { return $("#WFName").val(); },
                                WfId: function () { return $("#Id").val(); },
                            }
                        }
                    },
                    Notes: {
                        required: true,
                    },
                    Descritpion: {
                        required: true,
                    },
                    WFInitaitors: {
                        required: true,
                    },
                    WFClosers: {
                        required: true,
                    },
                    WFProcessAdmins: {
                        required: true,
                    },
                },
                messages: {
                    WFName: {
                        required: 'Enter workflow name',
                        remote: 'Workflow name already exist'
                    },
                    Notes: {
                        required: '@Messages.Enter_notes'
                    },
                    Descritpion: {
                        required: 'Enter descritpion'
                    },
                    WFInitaitors: {
                        required: "Select initaitor",
                    },
                    WFClosers: {
                        required: "Select closer",
                    },
                    WFProcessAdmins: {
                        required: "Select process admin",
                    },
                },
                errorPlacement: function (error, element) {
                    element.parent().append(error);
                    //error.insertAfter(element.parent("div"));
                }
            });

            $("#WFInitaitors").change(function () {
                if ($('#WFInitaitors').val() != "") {
                    $("#WFInitaitors-error").remove();
                    $("#WFInitaitors").closest('.form-group').removeClass('has-error');
                }
            });

            $("#WFClosers").change(function () {
                if ($('#WFClosers').val() != "") {
                    $("#WFClosers-error").remove();
                    $("#WFClosers").closest('.form-group').removeClass('has-error');
                }
            });

            $("#WFProcessAdmins").change(function () {
                if ($('#WFProcessAdmins').val() != "") {
                    $("#WFProcessAdmins-error").remove();
                    $("#WFProcessAdmins").closest('.form-group').removeClass('has-error');
                }
            });
        });

        function ShowFormTemplate() {
            $("#divFormTemplate").show();
        }
    </script>
}