﻿@model UserWorkflowAssignesVM
@{
    ViewBag.Title = "Assigned WorkflowList List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var langs = "en-us";
    if (Request.Cookies["LangForMultiLanguage"] != null)
    {
        langs = Request.Cookies["LangForMultiLanguage"].Value;
    }

    var IsSearch = "false";
}
<input type="hidden" value="@IsSearch" id="IsSearch" />
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2 id="hdrFolderName">@Model.WFName</h2>
        <ol class="breadcrumb custom_breadcrumb">
            <li>
                <a href="@Url.Action("GoToHome", "Account" )"><i class="fa fa-lg fa-home"></i> </a>
            </li>
            <li>
                <a href="@Url.Action("CabinetFiles", "Cabinet")">@Model.CabinetName</a>
            </li>
            <li>
                <a href="@Url.Action("UserWorkFlowList", "WorkFlow")">
                    @Resource.Workflow
                </a>
            </li>
            <li>
                @Model.WFName
            </li>
            <li class="active lblactive">
                My Pending Requests
            </li>
        </ol>
    </div>
</div>


<div class="newworkflowlist_box">
    <ul class="list-unstyled">
        <li class="row wrapper border-bottom white-bg page-heading">
            <aside><strong>@(Model.WFInprocessCount.ToString().PadLeft(2, '0'))</strong> Requests</aside>
            <p><img src="~/Images/wf-9.png" /> Pending Tasks</p>
        </li>
        <li class="row wrapper border-bottom white-bg page-heading">
            <aside><strong>@(Model.WFInitiateCount.ToString().PadLeft(2, '0'))</strong> Requests</aside>
            <p><img src="~/Images/wf-10.png" /> Workflows I Initiated</p>
        </li>
        <li class="row wrapper border-bottom white-bg page-heading">
            <aside><strong>@(Model.WFHighPriorityCount.ToString().PadLeft(2, '0'))</strong> Requests</aside>
            <p><img src="~/Images/wf-13.png" /> High Priority Tasks</p>
        </li>
        <li class="row wrapper border-bottom white-bg page-heading">
            <aside><strong>@(Model.WFMediumPriorityCount.ToString().PadLeft(2, '0'))</strong> Requests</aside>
            <p><img src="~/Images/wf-14.png" /> Medium Priority Tasks</p>
        </li>
        <li class="row wrapper border-bottom white-bg page-heading">
            <aside><strong>@(Model.WFLowPriorityCount.ToString().PadLeft(2, '0'))</strong> Requests</aside>
            <p><img src="~/Images/wf-15.png" /> Low Priority Tasks</p>
        </li>
    </ul>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="ibox">
                <input id="ViewMode" type="hidden" />
                <div class="custom_filter">
                    @Html.HiddenFor(j => j.WFId)
                    <ul class="list-inline action_div wf_div" style="width:60%;padding-left: 7px">
                        @if (Model.IsInitiator == true)
                        {
                            <li class="dropdown">
                                @*<a href="@Url.Action("WorkInitaite", "WorkFlow",new { id = Model.WFId })" style="padding-left:0px !important"><i style="color:#009183" class="fa fa-lg fa-plus"></i>Initiate</a>*@
                                @*<a href="@Url.Action("UserWorkInitaite", "WorkFlow")" style="padding-left:0px !important"><i style="color:#009183" class="fa fa-lg fa-plus"></i>Initiate</a>*@
                                <a onclick="Initiatepage(1);" style="padding-left:0px !important"><i style="color:#009183" class="fa fa-lg fa-plus"></i>Initiate</a>

                            </li>
                        }
                        <li class="dropdown">
                            <a class="mypending inn">My Pending Tasks</a>
                        </li>

                        <li class="dropdown">
                            <a class="mycompleted">My Completed Tasks</a>
                        </li>
                        <li class="dropdown">
                            <a class="myrequest">My Request</a>
                        </li>
                    </ul>

                    <div class="input_search_div" style="width:40%;">
                        <div class="form-group">
                            <div class="icon-addon addon-lg">
                                <input type="text" placeholder="search..." class="form-control" id="txtSearch">
                                <label for="search" class="glyphicon glyphicon-search" rel="tooltip" title="Search"></label>
                                <img style="cursor:pointer" src="~/Images/setting.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="tbl_ibox_content" id="divAssignedWFDetail">

                </div>
            </div>

            <div class="new-info-sidepanel animated @(langs == "ar-bh" ? "fadeInLeft" : "fadeInRight")">
                <div class="detail_tabs">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DocumentVersionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modalClose" data-dismiss="modal" aria-hidden="true">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <div class="modal-title">
                    <label class="text-green" id="modalTitleDocument"><span id="chekoutTitle"> Initiate </span></label><span class="parentFolderNamePos"> - @Model.WFName<span class="prntFolder"></span></span>
                </div>
            </div>
            <div class="modal-body">
                @*<div class="wrapper wrapper-content animated fadeInRight">*@
                <div class="row">
                    <div class="col-lg-12">
                        @*<div class="ibox">
                            <div class="ibox-content">*@
                        @using (Html.BeginForm("UserWorkInitaite", "WorkFlow", FormMethod.Post, new { @id = "frmInitaite" }))
                        {

                            @*<div class="row">
                                <div class="col-md-12">*@
                            @* @Html.HiddenFor(j => j.Id)*@
                            @Html.HiddenFor(j => j.WFId)
                            @*<div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Select Work Flow</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(j => j.WFId, CommonFunctions.GetSelfWFListByUserIdAndCabinet(), new { @class = "form-control", @autofocus = "autofocus" })
                                        </div>
                                    </div>
                                </div>*@
                            <br />
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">WF Initiate Name</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(q => q.WFInitiateName, new { @class = "form-control", @maxlength = "50" })
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Select Priority</label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(j => j.Priority, CommonFunctions.GetPriorityList(), new { @class = "form-control", @autofocus = "autofocus" })
                                    </div>
                                </div>
                            </div>
                            <br />

                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-right">
                                        <button type="submit" id="btnSave" class="btn btn-default">
                                            <i class="fa fa-save text-navy"></i>&nbsp;
                                            Create
                                        </button>
                                        <button type="button" data-dismiss="modal" class="btn btn-default">
                                            <i class="fa fa-close text-danger"></i>&nbsp;
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                            @*</div>
                                </div>*@

                        }
                        @*</div>
                            </div>*@
                    </div>
                </div>
                @*</div>*@
            </div>
            @*<div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">
                        <i class="fa fa-close text-danger"></i>&nbsp;
                        Cancel
                    </button>
                    <button type="button" id="btnUploadVersion" class="btn btn-default divUpload">
                        <i class="fa fa-upload text-navy"></i>&nbsp;
                        Upload
                    </button>
                    <button type="button" id="btnCheckOutVersion" class="btn btn-default divUpload hidden">
                        <i class="fa fa-upload text-navy"></i>&nbsp;
                        Upload
                    </button>
                </div>*@
        </div>
    </div>
</div>
@section Styles{
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    <link href="@Url.Content("~/Content/plugins/select2/select2.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/FileTypeIcon.css")" rel="stylesheet" />
    @Styles.Render("~/plugins/tagInputsStyles")
    <link href="@Url.Content("~/Content/plugins/sweetalert/sweetalert.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dropzone/dropZoneStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/codeEditorStyles")
}

@section Scripts{
    <script src="@Url.Content("~/Scripts/plugins/select2/select2.full.min.js")"></script>
    @Scripts.Render("~/plugins/tagInputs")
    <script src="@Url.Content("~/Scripts/plugins/sweetalert/sweetalert.min.js")"></script>
    @Scripts.Render("~/plugins/dropZone")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/codeEditor")

<script>
        $(document).ready(function () {
            workFlowDetails(@Model.WFId);
            $("#txtSearch").on('keyup', function () {
                var WFId = $("#WFId").val();
                workFlowDetails(WFId);
            });

            $("#btnSave").one('click', function () {
                if ($("#frmInitaite").valid()) {
                    $("#frmInitaite").submit();
                }
            });

            $("#frmInitaite").validate({
                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-success has-error');
                    $(e).closest('.form-group').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    $(e).prev().removeClass('has-error');
                    e.closest('.help-block').remove();
                    $(e).remove();
                },
                rules: {
                    WFId: {
                        required: true,
                    },
                    WFInitiateName: {
                        required: true,
                        remote:
                        {
                            url: '@Url.Action("IsWFNameExist", "WorkFlow")',
                            data: {
                                WFName: function () { return $('#WFInitiateName').val() },
                                WFId: function () { return $('#WFId').val() != "" ? $('#WFId').val() : 0 }
                            }
                        },
                    },
                    Priority: {
                        required: true,
                    }
                },
                messages: {
                    WFId: {
                        required: "Select Workflow",
                    },
                    WFInitiateName: {
                        required: "Enter Workflow Initiate Name",
                        remote: "Workflow Initiate already exist"
                    },
                    Priority: {
                        required: "Select Priority",
                    }
                },
                errorPlacement: function (error, element) {
                    element.parent().append(error);
                    //error.insertAfter(element.parent("div"));
                }
            });
            
        });

        $('.mypending').click(function () {
            $('.mycompleted').removeClass("inn");
            $('.myrequest').removeClass("inn");
            $('.mypending').addClass("inn");
            $('.lblactive').text("My Pending Requests");
            $('#IsOpenWf').show();
            $('#IsCloseWf').hide();
            $("#tblWorkFlowList input:checkbox.checkFolderFile").each(function () {
                $(this).prop("checked", false);
                $(this).parent().parent().closest('tr').removeClass('activetr');
            });
            toggleInfo();
            var WFId = $("#WFId").val();
            workFlowDetails(WFId);
        });

        $('.mycompleted').click(function () {
            $('.mypending').removeClass("inn");
            $('.myrequest').removeClass("inn");
            $('.mycompleted').addClass("inn");
            $('.lblactive').text("My Completed Requests");
            $('#IsOpenWf').hide();
            $('#IsCloseWf').show();
            $("#tblWorkFlowList input:checkbox.checkFolderFile").each(function () {
                $(this).prop("checked", false);
                $(this).parent().parent().closest('tr').removeClass('activetr');
            });
            toggleInfo();
            var WFId = $("#WFId").val();
            workFlowDetails(WFId);
        });
        // Add by kiran || 04022021
        $('.myrequest').click(function () {
            $('.mypending').removeClass("inn");
            $('.myrequest').addClass("inn");
            $('.mycompleted').removeClass("inn");
            $('.lblactive').text("My Request");
            $('#IsOpenWf').hide();
            $('#IsCloseWf').show();
            $("#tblWorkFlowList input:checkbox.checkFolderFile").each(function () {
                $(this).prop("checked", false);
                $(this).parent().parent().closest('tr').removeClass('activetr');
            });
            toggleInfo();
            var WFId = $("#WFId").val();
            workFlowDetails(WFId);
        });


        function workFlowDetails(id) {
            var typeId = 1;
            var flag = ($('.lblactive').text().trim() == "My Pending Requests") ? true : false;
            debugger
            if (($('.lblactive').text().trim() == "My Completed Requests"))
            {
                typeId = 2;
            }
            else if (($('.lblactive').text().trim() == "My Request"))
            {
                typeId = 3;
            }
            $.ajax({
                type: 'GET',
                url: '@Url.Action("_AssignedWorkflowList", "WorkFlow")',
                data: { IsOpen: flag, Id: id, SearchKeyword: $("#txtSearch").val(),TypeID: typeId },
                success: function (data) {
                    $("#divAssignedWFDetail").show();
                    $("#divAssignedWFDetail").empty();
                    $("#divAssignedWFDetail").html(data);
                    $("#tblWorkFlowList").removeAttr('style');
                }
            });
        }

        function toggleInfo() {
            var checkboxes = $("input.checkFolderFile");
            if (checkboxes.filter(":checked").length != 1) {
                $('.ibox').removeClass('new-left-folder1');
                $('.new-info-sidepanel').hide();
            } else {
                $('.ibox').addClass('new-left-folder1');
                $('.new-info-sidepanel').show();
                $('#home').addClass("active");
            }
        }

        function DisplayInfo() {
            debugger;
            if ($('.new-info-sidepanel').css('display') == 'block') {
                var id = 0;
                $("input[class^='checkFolderFile']:checked").each(function () {
                    if ($(this).prop("checked") == true) {
                        id = $(this).data('inst');
                        asstempid = $(this).data('asstempid');
                    }
                });
                $('.new-info-sidepanel').show();
                $('.about_icon').addClass("inn");
                $.ajax({
                    url: '@Url.Action("_AssignedWorkflowInfo", "WorkFlow")',
                    data: { Id: id, AssignFormTemplateId: asstempid },
                    success: function (data) {
                        $("#home").html('');
                        $("#home").append(data);
                        console.log(data);
                    },
                    error: function (data) {
                        $("#home").append("ERROR");
                    }

                });
            } else {
                $('.new-info-sidepanel').hide();
                $('.about_icon').removeClass("inn");
            }
        }

        function setvalue() {
            //Set Value for all controls
            var rCode = $('#DynamicFormResponse_ResponseCode').val(); //$("#ResponseCode").val();
            var CCab = $("#hdnCabinet").val();
            $('[class^="getvalue1"]').each(function () {
                //  $(this).attr("name", "fileupload");
                var fid = "";
                var value = "";
                var type = "";
                fid = $(this).attr("data-controlid");
                type = $(this).attr("data-controltype");
                value = $(this).attr("data-value");

                if (type == "textbox" || type == "email" || type == "website" || type == "password" || type == "address") {
                    $("#" + fid).attr("value", value);
                    $("#" + fid).text(value);
                }
                else if (type == "textarea") {
                    $("#" + fid).val(value);
                    $("#" + fid).text(value);
                }
                else if (type == "dropdown") {
                    $("#" + fid).val(value);
                    $('#' + fid + '>option[value="' + value + '"]').attr('selected', 'selected');
                }
                else if (type == "radio") {
                    if (value != "") {
                        $("input:radio[id=" + fid + "]").attr('checked', true);
                    }
                }
                else if (type == "checkbox") {
                    if (value != "") {
                        $("input:checkbox[id=" + fid + "]").attr('checked', true);
                        $("#" + fid).prop("checked", true);
                    }

                }
                else if (type == "fileupload") {
                    if (value != "") {
                        // $("#display-div-" + fid).text(value);
                        var dwnload = '<a href="http://localhost:51043/Uploads/Attachments/' + CCab + '/' + rCode + '/' + value + '" target="_blank">' + value + '</a>';
                        // var dwnload = '<a href="http://ws-srv-net.in.webmyne.com/Applications/DocWare/Uploads/Attachments/' + CCab + '/' + rCode + '/' + value + '" target="_blank">Downlaod</a>';
                        $("#display-div-" + fid).html(dwnload);
                    }
                }
                else if (type == "datepicker") {
                    $("#" + fid).val(value);
                    $("#" + fid).text(value);
                }
                else if (type == "clockpicker") {
                    $("#" + fid).val(value);
                    $("#" + fid).text(value);
                }
            });
           
            //Add by kiran to disable if worflow is close || 15022021
            var hv = $('input[name=IsOpen]').val();
            if (hv == "False") {   
                //alert(hv);
                $("#collapseTwo :input").attr("disabled", true);
            }          
        }

        function Initiatepage(id) {

            $('#frmInitaite')[0].reset();
            $('#frmInitaite').validate().resetForm();
            $('.form-group').removeClass('has-error');
            $('#DocumentVersionModal').modal('show');


        }
</script>
}
