﻿@model UserWorkInitaiteVM
@{
    ViewBag.Title = Resource.Add_Edit_Section;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var langs = "en-us";
    if (Request.Cookies["LangForMultiLanguage"] != null)
    {
        langs = Request.Cookies["LangForMultiLanguage"].Value;
    }
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        @*@if (Model.Id > 0)
            {
                <h2>@Resource.Edit_Section</h2>
            }
            else
            {
                <h2> @Resource.Add_Section </h2>
            }*@
        <h2> Initiate Work Flow </h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("GoToHome", "Account")"><i class="fa fa-lg fa-home"></i></a>
            </li>
            <li>
                <a href="@Url.Action("CabinetFiles", "Cabinet")">@Model.CabinetName</a>
            </li>
            <li>
                <a href="@Url.Action("UserWorkFlowList", "WorkFlow")">
                    @Resource.Workflow
                </a>
            </li>
            <li>
                Workflow Intitator
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    @using (Html.BeginForm("UserWorkInitaite", "WorkFlow", FormMethod.Post, new { @id = "frmInitaite" }))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                @* @Html.HiddenFor(j => j.Id)*@
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Select Work Flow</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(j => j.WFId, CommonFunctions.GetSelfWFListByUserIdAndCabinet(), new { @class = "form-control", @autofocus = "autofocus" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">WF Name</label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(q => q.WFName, new { @class = "form-control", @maxlength = "50" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Select Priority</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(j => j.Priority, CommonFunctions.GetPriorityList(), new { @class = "form-control", @autofocus = "autofocus" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div id="divmanualworkflow">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="row">
                                                <div class="col-md-12 workflowstep">
                                                    <div class="row step-row">
                                                        <div class="col-md-9">
                                                            <p class="stepNumberDisplay">Manual Workflow Step</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Step Name</label>
                                                        <div class="col-md-9">
                                                            @Html.TextBoxFor(j => j.WFNameForManual, new { @class = "form-control stopcopypaste", @maxlength = "50", @autofocus = "autofocus", @onkeypress = "return IsAlphaNumeric(event);" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Assign to</label>
                                                        <div class="col-md-9">
                                                            @Html.DropDownListFor(j => j.ToUser, CommonFunctions.GetWFUserListByUserIdAndCabinet(), new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <br />
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-1 control-label">Actions</label>
                                                        <div class="col-md-11">
                                                            @Html.ListBoxFor(j => j.WFActionForManual, new SelectList(CommonFunctions.GetActionList(), "Value", "Text"), new { @class = "chosen-select-Action form-control", @multiple = "multiple" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button type="submit" id="btnSave" class="btn btn-default">
                                                <i class="fa fa-save text-navy"></i>&nbsp;
                                                Create
                                            </button>
                                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("UserWorkFlowList", "WorkFlow")'">
                                                <i class="fa fa-close text-danger"></i>&nbsp;
                                                @Resource.Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles{
    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Scripts/plugins/select2/select2.full.min.js"></script>
    <script src="~/Scripts/pwstrength-bootstrap.min.js"></script>
    <script src="~/Scripts/pwstrength-zxcvbn.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#divmanualworkflow').hide();
            var options1 = {};
            options1.ui = {
                container: "#pwd-container",
                showVerdictsInsideProgressBar: true,
                viewports: {
                    progress: ".pwstrength_viewport_progress"
                }
            };
            options1.common = {
                debug: false
            };
            $('.passwordStrength').pwstrength(options1);            

            function setIcon(action) {
                var actionIcon = ["close text-danger", "save text-navy", "clipboard text-navy", "check-circle text-navy", "outdent text-warning", "ban text-danger"];
                if (!action.id) { return action.text; }
                $action = $('<span><i class="fa fa-' + actionIcon[parseInt(action.element.value) - 1] + '" />&nbsp;&nbsp;' + action.text + '</span>');
                return $action;
            };

            $(".chosen-select-Action").select2({
                                placeholder: "Select Action...",
                                allowClear: true,
                                dir: "@(langs=="ar-bh"?"rtl":"ltr")",
                                templateResult: setIcon,
                                templateSelection: setIcon
                            });

            $("#btnSave").one('click', function () {
                if ($("#frmInitaite").valid()) {
                    $("#frmInitaite").submit();                   
                }
            });

            $("#frmInitaite").validate({
                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-success has-error');
                    $(e).closest('.form-group').addClass('has-error');
                    $(e).closest('.help-block').remove();                  
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    $(e).prev().removeClass('has-error');
                    e.closest('.help-block').remove();
                    $(e).remove();                 
                },
                rules: {
                    WFId: {
                        required: true,
                    },
                    WFName: {
                        required: true,
                        remote:
                        {
                            url: '@Url.Action("IsWFNameExist", "WorkFlow")',
                            data: {
                                WFName: function () { return $('#WFName').val() },
                                WFId: function () { return $('#WFId').val() != "" ? $('#WFId').val() : 0 }
                            }
                        },
                    },
                    Priority: {
                        required: true,
                    },
                    WFNameForManual: {
                        required: true,
                    },
                    ToUser: {
                        required: true,
                    },
                    WFActionForManual: {
                        required: true,
                    }
                },
                messages: {
                    WFId: {
                        required: "Select Workflow",
                    },
                    WFName: {
                        required: "Enter Workflow Name",
                        remote: "Work flow already exist"
                    },
                    Priority: {
                        required: "Select Priority",
                    },
                    WFNameForManual: {
                        required: "Enter Step Name",
                    },
                    ToUser: {
                        required: "Select Assign to",
                    },
                    WFActionForManual: {
                        required: "Select Actions",
                    }
                },
                errorPlacement: function (error, element) {
                    element.parent().append(error);
                    //error.insertAfter(element.parent("div"));
                }
            });

            $.validator.addMethod("passwordStrength", function (value, element) {
                return value.match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@@$!%*#?&])[0-9A-Za-z\d$@@$!%*#?&]{8,}$/);
            }, "Password must contain at atleast 1 uppercase, 1 lower case, 1 digit, 1 special characters and min length 8.");

            $.validator.setDefaults({ ignore: ":hidden:not(select)" });

           

            $("#WFId").on('change', function () {
                $('#divmanualworkflow').hide();
                if ($(this).val() != '') {                   
                    checkWFIsManual();
                } 
            });
            //debugger;
            //if ($('#WFId').val() != "" && $('#WFId').val() != "0") {
            //    checkWFIsManual()
            //}

            function checkWFIsManual() {               
               
                $.ajax({                    
                    datatype: "JSON",                   
                    url: '@Url.Action("CheckWFIsManual", "WorkFlow")',                   
                    data: {                       
                        WfId: function () { return $('#WFId').val() != "" ? $('#WFId').val() : 0 }
                    },
                    type: "GET",
                    contentType: "application/json",
                    success: function (data) {
                        if (data == true) {
                                                   
                            $('#divmanualworkflow').show();
                            $('#WFNameForManual').val("");
                            //$('#WFActionForManual').val("");                           
                                                             
                        } else {
                            $('#divmanualworkflow').hide();
                            count = 0;
                        }
                    }
                });
            }


        });

        @*$("#btnSaveUser").one('click',function () {
            if ($("#frmAddUser").valid()) {
                var form = new FormData($('#frmAddUser')[0]);
                form.append('DepartmentId', $('#DepartmentId').val() != '' ? $('#DepartmentId').val() : '0');
                $.ajax({
                    type: "Post",
                    datatype: "JSON",
                    data: form,
                    url: '@Url.Action("AddUser", "Administration")',
                    processData: false,
                    traditional: true,
                    contentType: false,
                    success: function (data) {
                        if (data.Value != "") {
                            clearModel();
                            $('#UserModal').modal('hide');
                            $("#SectionManagerId").append($('<option></option>').val(data.Value).html(data.Text));
                            $("#SectionManagerId").val(data.Value);
                            toastr.success("@Messages.User_Registered", "@Messages.Success");
                        } else {
                            location.reload('true');
                        }
                    }
                });
            }
        });*@
    </script>
}

