﻿@model UserWorkflowVM
@{
    ViewBag.Title = "User Workflow List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2 id="hdrFolderName">@Resource.Workflow</h2>
        <ol class="breadcrumb custom_breadcrumb">
            <li>
                <a href="@Url.Action("GoToHome", "Account" )"><i class="fa fa-lg fa-home"></i> </a>
            </li>
            <li class="nextall">
                <a href="@Url.Action("CabinetFiles", "Cabinet")">@Model.CabinetName</a>
            </li>
            <li class="active">
                @Resource.Workflow
            </li>
        </ol>
    </div>
    <div class="col-lg-3" style="padding-top:14px;padding-left:163px;">
        @*@if(Model.IsInitiator == true)
        {
        <a style="color:black" href="@Url.Action("UserWorkInitaite", "WorkFlow")"><i style="color:#009183" class="fa fa-lg fa-plus"></i>Initiate</a>
        }*@
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        @if (Model.WorkFlowList.Any())
                        {
                            foreach (var item in Model.WorkFlowList.ToList())
                            {
                                <div class="col-lg-3 col-md-4 col-sm-4">
                                    <a href="@Url.Action("AssignedWorkflowList", "WorkFlow", new { Id = item.WFId })">
                                        <div class="workflow_box">
                                            <img src="~/Images/wf-1.png" />
                                            <span> @item.WFName <small> @item.TotalPendingWF Pending</small></span>
                                        </div>
                                    </a>
                                </div>
                            }
                        }
                        else
                        {
                            <p>No workflow found</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


