﻿@model WF_MasterVM
@{
    ViewBag.Title = "AddWorkflow";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var langs = "en-us";
    if (Request.Cookies["LangForMultiLanguage"] != null)
    {
        langs = Request.Cookies["LangForMultiLanguage"].Value;
    }
}

<style>
    #btnaddstep {
        margin-top: 5%;
    }

    .wizard > .steps > ul > li {
        width: 20%;
    }

    .wizard > .content > .body ul > li {
        display: inherit;
    }

    .wizard > .content > .body label.error {
        color: #EF6776;
        display: inline-block;
        margin-left: 0px;
    }

    .errorWF {
        color: #EF6776;
    }

    #radioBtn .notActive {
        color: #757575;
        background-color: #fff;
        margin: 0 10px;
        border: 1px solid #e5e5e5;
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        @if (Model.Id > 0)
        {
            <h2>@Resource.Edit_Workflow</h2>
        }
        else
        {
            <h2>@Resource.Add_Workflow</h2>
        }
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("GoToHome", "Account")"><i class="fa fa-lg fa-home"></i></a>
            </li>
            <li>
                <a>Workflow</a>
            </li>
            <li>
                <a href="@Url.Action("WorkFlowList", "WorkFlow")">Workflow List</a>
            </li>
            <li class="active">
                <strong>
                    @if (Model.Id > 0)
                    {
                        @Model.WFName
                    }
                    else
                    {
                        @Resource.Add_Workflow
                    }
                </strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    @using (Html.BeginForm("WorkflowWizard", "WorkFlow", FormMethod.Post, new { @id = "frmWorkFlow" }))
                    {
                        <div class="work_flow_btn">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-7 col-md-7">
                                        <div class="input-group">
                                            &nbsp;&nbsp;<span>Workflow type</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <div id="radioBtn" class="btn-group">
                                                @*<a class="btn btn-primary btn-sm @(Model.IsManual?"active": "notActive")" data-toggle="WFType" data-title="Y"><i class="fa fa-lg fa-home"></i> @Resource.Manual_Workflow</a>*@
                                                <a class="btn btn-primary btn-sm @(Model.IsManual?"notActive": "active")" data-toggle="WFType" data-title="N"><i class="fa fa-lg fa-home"></i> @Resource.Automated_Workflow</a>
                                            </div>
                                            <input type="hidden" name="WFType" id="WFType" value="@(Model.IsManual?"Y":"N")">
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div id="wizard">
                            <h1>Information</h1>
                            <div class="step-content">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        @Html.HiddenFor(j => j.Id)
                                                        @Html.HiddenFor(j => j.AssignFormTemplateId)
                                                        <div class="row">
                                                            <div class="form-group">
                                                                <label class="col-md-2 control-label">@Resource.Name</label>
                                                                <div class="col-md-10">
                                                                    @Html.TextBoxFor(q => q.WFName, new { @class = "form-control", @maxlength = "50", @autofocus = "autofocus", @onkeypress = "return IsAlphaNumericWithSpace(event);" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <div class="row">
                                                            <div class="form-group">
                                                                <label class="col-md-2 control-label">Description</label>
                                                                <div class="col-md-10">
                                                                    @Html.TextAreaFor(q => q.Descritpion, new { @class = "form-control", @maxlength = "500" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <div class="row">
                                                            <div class="form-group">
                                                                <label class="col-md-2 control-label">@Resource.Cabinet</label>
                                                                <div class="col-md-10">
                                                                    @Html.TextBoxFor(q => q.CabinetName, new { @class = "form-control", @ReadOnly = "ReadOnly" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <div id="divAssignFormTemplate">
                                                            <div class="row">
                                                                <div class="form-group">
                                                                    <label class="col-md-2 control-label">Assigned Form Template</label>
                                                                    <div class="col-md-10">
                                                                        @Html.TextBoxFor(j => j.AssignFormTemplateName, new { @class = "form-control", @disabled = "disabled" })
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <button type="button" class="btn btn-success" onclick="ShowFormTemplate()">Attach New Form Template</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br />
                                                        </div>
                                                        <div class="row" id="divFormTemplate">
                                                            <div class="form-group">
                                                                <label class="col-md-2 control-label">@Resource.Form_Template</label>
                                                                <div class="col-md-10">
                                                                    @Html.DropDownListFor(j => j.FormTemplateId, CommonFunctions.GetFormTemplateList(), new { @class = "form-control" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <div class="row">
                                                            <div class="form-group">
                                                                <label class="col-md-2 control-label">@Resource.Notes</label>
                                                                <div class="col-md-10">
                                                                    @Html.TextAreaFor(q => q.Notes, new { @class = "form-control", @maxlength = "500" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End of step div-->
                            <h1>Initaitors</h1>
                            <div class="step-content">
                                <div class="col-lg-12 errorWF">
                                    * Please select atleast one user for initaitor
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="Dual_TITLE">
                                                    <i class="fa fa-user" aria-hidden="true"></i> Users
                                                </div>
                                                @Html.ListBoxFor(m => m.WFInitaitors, new SelectList(CommonFunctions.GetUserByCabinetForDualList(), "Value", "Text"), new { @class = "form-control", @multiple = "multiple" })
                                            </div>
                                        </div>
                                        @*<div class="row">
                                                <div class="col-lg-12">
                                                    <div class="Dual_TITLE">
                                                        <i class="fa fa-users" aria-hidden="true"></i> Groups
                                                    </div>
                                                    @Html.ListBoxFor(m => m.WFGroupInitaitors, new SelectList(CommonFunctions.GetGroupByCabinetForDualList(), "Value", "Text"), new { @class = "form-control", @multiple = "multiple" })
                                                </div>
                                            </div>*@
                                    </div>
                                </div>
                            </div><!-- End of step div-->
                            <h1>Closers</h1>
                            <div class="step-content">
                                <div class="col-lg-12 errorWF">
                                    * Please select atleast one user for closer
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="Dual_TITLE">
                                                    <i class="fa fa-user" aria-hidden="true"></i> Users
                                                </div>
                                                @Html.ListBoxFor(m => m.WFClosers, new SelectList(CommonFunctions.GetUserByCabinetForDualList(), "Value", "Text"), new { @class = "form-control", @multiple = "multiple" })
                                            </div>
                                        </div>
                                        @*<div class="row">
                                                <div class="col-lg-12">
                                                    <div class="Dual_TITLE">
                                                        <i class="fa fa-users" aria-hidden="true"></i> Groups
                                                    </div>
                                                    @Html.ListBoxFor(m => m.WFGroupClosers, new SelectList(CommonFunctions.GetGroupByCabinetForDualList(), "Value", "Text"), new { @class = "form-control", @multiple = "multiple" })
                                                </div>
                                            </div>*@
                                    </div>
                                </div>
                            </div><!-- End of step div-->
                            <h1>Admins</h1>
                            <div class="step-content">
                                <div class="col-lg-12 errorWF">
                                    * Please select atleast one user for admin
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="Dual_TITLE">
                                                    <i class="fa fa-user" aria-hidden="true"></i> Users
                                                </div>
                                                @Html.ListBoxFor(m => m.WFProcessAdmins, new SelectList(CommonFunctions.GetUserByCabinetForDualList(), "Value", "Text"), new { @class = "form-control", @multiple = "multiple" })
                                            </div>
                                        </div>
                                        @*<div class="row">
                                                <div class="col-lg-12">
                                                    <div class="Dual_TITLE">
                                                        <i class="fa fa-users" aria-hidden="true"></i> Groups
                                                    </div>
                                                    @Html.ListBoxFor(m => m.WFGroupProcessAdmins, new SelectList(CommonFunctions.GetGroupByCabinetForDualList(), "Value", "Text"), new { @class = "form-control", @multiple = "multiple" })
                                                </div>
                                            </div>*@
                                    </div>
                                </div>
                            </div><!-- End of step div-->
                            <h1>StepList</h1>
                            <div class="step-content">
                                <div class="row">
                                    <div class="col-lg-12 errorWF">
                                        * Please add atleast 2 steps for creating a workflow
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-body">
                                                <div class="row" id="steplist">
                                                    <div id="stepsnumber">
                                                        @if (Model.WFStepList == null)
                                                        {
                                                            <div class="col-md-11 workflowstep" id="step-1" data-id="1">
                                                                <div class="row step-row">
                                                                    <div class="col-md-9">
                                                                        <p class="stepNumberDisplay">Step 1</p>
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <a><i id="1-stepmoveup" onclick="MoveStepUp(this)" class="fa fa-arrow-up text-muted stepup"></i></a>
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <a><i id="1-stepmovedown" onclick="MoveStepDown(this)" class="fa fa-arrow-down text-muted stepdown"></i></a>
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <i id="1-stepdelete" onclick="StepDelete(this)" class="fa fa-times-circle-o text-danger deletestep" autofocus></i>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="col-md-3 control-label">Step Name</label>
                                                                            <div class="col-md-9">
                                                                                @*@Html.TextBox("StepName1", "", new { @class = "form-control stopcopypaste", @maxlength = "50", @autofocus = "autofocus", @onkeypress = "return IsAlphaNumeric(event);" })*@
                                                                                @Html.TextBox("StepName1", "", new { @class = "form-control", @maxlength = "50", @autofocus = "autofocus", @onkeypress = "return IsAlphaNumeric(event);" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="col-md-3 control-label">Assign to</label>
                                                                            <div class="col-md-9">
                                                                                @Html.DropDownList("AssignTo1", CommonFunctions.GetUserListByCabinetForWF(), new { @class = "form-control" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <br />
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <label class="col-md-1 control-label">Actions</label>
                                                                            <div class="col-md-11">
                                                                                @Html.ListBox("Actions1", new SelectList(CommonFunctions.GetActionList(), "Value", "Text"), new { @class = "chosen-select-Action form-control", @multiple = "multiple" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="row col-md-11">
                                                                @foreach (var step in Model.WFStepList)
                                                                {
                                                                    foreach (var stepAction in step.WFActions)
                                                                    {
                                                                        <input type="hidden" class="StepHiddenAction" data-stepno="@step.WFStep" value="@stepAction" />
                                                                    }

                                                                }
                                                            </div>

                                                            foreach (var item in Model.WFStepList)
                                                            {
                                                                <div class="col-md-11 workflowstep" id="step-@item.WFStep" data-id="@item.WFStep">
                                                                    <div class="row step-row">
                                                                        <div class="col-md-9">
                                                                            <p class="stepNumberDisplay">Step @item.WFStep</p>
                                                                        </div>
                                                                        <div class="col-md-1">
                                                                            <a><i id="@item.WFStep-stepmoveup" onclick="MoveStepUp(this)" class="fa fa-arrow-up text-muted stepup"></i></a>
                                                                        </div>
                                                                        <div class="col-md-1">
                                                                            <a><i id="@item.WFStep-stepmovedown" onclick="MoveStepDown(this)" class="fa fa-arrow-down text-muted stepdown"></i></a>
                                                                        </div>
                                                                        <div class="col-md-1">
                                                                            <i id="@item.WFStep-stepdelete" onclick="StepDelete(this)" class="fa fa-times-circle-o text-danger deletestep" autofocus></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label class="col-md-3 control-label">Step Name</label>
                                                                                <div class="col-md-9">
                                                                                    @*@Html.TextBoxFor(x => item.WFStepName, new { @id = "StepName" + item.WFStep, @class = "form-control stopcopypaste", @maxlength = "50", @autofocus = "autofocus", @onkeypress = "return IsAlphaNumeric(event);" })*@
                                                                                    @Html.TextBoxFor(x => item.WFStepName, new { @id = "StepName" + item.WFStep, @class = "form-control", @maxlength = "50", @autofocus = "autofocus", @onkeypress = "return IsAlphaNumeric(event);" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label class="col-md-3 control-label">Assign to</label>
                                                                                <div class="col-md-9">
                                                                                    @Html.DropDownListFor(x => item.AssignedUserID, new SelectList(CommonFunctions.GetUserListByCabinetForWF(), "Value", "Text", item.AssignedUserID), new { @id = "AssignTo" + item.WFStep, @class = "form-control" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <br />
                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <label class="col-md-1 control-label">Actions</label>
                                                                                <div class="col-md-11">
                                                                                    @Html.ListBoxFor(x => item.WFActions, new SelectList(CommonFunctions.GetActionList(), "Value", "Text", item.WFActions), new { @id = "Actions" + item.WFStep, @class = "chosen-select-Action form-control", @multiple = "multiple" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div id="btnaddstep">
                                                            <span onclick="AddStep()" class="fa-stack text-navy addstep" autofocus>
                                                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                                <i class="fa fa-plus fa-stack-1x" style="padding: 1px;"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End of step div-->
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/plugins/tagInputsStyles")
    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
    @Styles.Render("~/plugins/wizardStepsStyles")
    <link href="@Url.Content("~/Content/plugins/msdropdown/dd.css")" rel="stylesheet" />
}

@section Scripts{
    @Scripts.Render("~/plugins/tagInputs")
    <script src="~/Scripts/plugins/select2/select2.full.min.js"></script>
    @Scripts.Render("~/plugins/wizardSteps")
    <script src="@Url.Content("~/Scripts/plugins/msdropdown/jquery.dd.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/dual_list_box/dual-list-box.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.errorWF').hide();
            if ($("#Id").val() > 0 && $("#AssignFormTemplateId").val() > 0) {
                $("#divAssignFormTemplate").show();
                $("#divFormTemplate").hide();
                $("#btnSave").show();
            }
            else {
                $("#divFormTemplate").show();
                $("#divAssignFormTemplate").hide();
                $("#btnSave").hide();
            }

            $('#radioBtn a').on('click', function () {
                var sel = $(this).data('title');
                var tog = $(this).data('toggle');
                $('#' + tog).prop('value', sel);

                $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
                $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
            });

            $("#wizard").steps({
                onStepChanging: function (event, currentIndex, newIndex) {
                    // hide/show  save button on last step
                    var initId = $('#dual-list-box-Initaitors').find('select.selected').attr('id');
                    var initVal = $('#' + initId + '_child').find('ul').find('li').length;
                    var initGrpId = $("#dual-list-box-InitaitorsGroup").find('select.selected').attr('id');
                    var initGrpVal = $('#' + initGrpId + '_child').find('ul').find('li').length;

                    var closeId = $('#dual-list-box-Closers').find('select.selected').attr('id');
                    var closeVal = $('#' + closeId + '_child').find('ul').find('li').length;
                    var closeGrpId = $("#dual-list-box-ClosersGroup").find('select.selected').attr('id');
                    var closeGrpVal = $('#' + closeGrpId + '_child').find('ul').find('li').length;

                    var adminId = $('#dual-list-box-Admins').find('select.selected').attr('id');
                    var adminVal = $('#' + adminId + '_child').find('ul').find('li').length;
                    var adminGrpId = $("#dual-list-box-AdminsGroup").find('select.selected').attr('id');
                    var adminGrpVal = $('#' + adminGrpId + '_child').find('ul').find('li').length;

                    if ((newIndex == 1 && currentIndex == 0) && $("#frmWorkFlow").valid()) {
                        $("#wizard .actions a[href='#finish']").hide();
                    } else if ((newIndex == 2 && currentIndex == 0) || (newIndex == 2 && currentIndex == 1)) {
                        if (initVal != 0 || initGrpVal != 0) {
                            $('.errorWF').hide();
                            $("#wizard .actions a[href='#finish']").hide();
                        } else {
                            $('.errorWF').show();
                            return false;
                        }
                    } else if ((newIndex == 3 && currentIndex == 0) || (newIndex == 3 && currentIndex == 1) || (newIndex == 3 && currentIndex == 2)) {
                        if ((initVal != 0 || initGrpVal != 0) && (closeVal != 0 || closeGrpVal != 0)) {
                            $('.errorWF').hide();
                            $("#wizard .actions a[href='#finish']").hide();
                        } else {
                            $('.errorWF').show();
                            return false;
                        }
                    } else if ((newIndex == 4 && currentIndex == 0) || (newIndex == 4 && currentIndex == 1) || (newIndex == 4 && currentIndex == 2) || (newIndex == 4 && currentIndex == 3)) {
                        if ((initVal != 0 || initGrpVal != 0) && (closeVal != 0 || closeGrpVal != 0) && (adminVal != 0 || adminGrpVal != 0)) {
                            $('.errorWF').hide();
                            $("#wizard .actions a[href='#finish']").show();

                            function setIcon(action) {
                                var actionIcon = ["close text-danger", "save text-navy", "clipboard text-navy", "check-circle text-navy", "outdent text-warning", "ban text-danger"];
                                if (!action.id) { return action.text; }
                                $action = $('<span><i class="fa fa-' + actionIcon[parseInt(action.element.value) - 1] + '" />&nbsp;&nbsp;' + action.text + '</span>');
                                return $action;
                            };

                            $(".chosen-select-Action").select2({
                                placeholder: "Select Action...",
                                allowClear: true,
                                dir: "@(langs=="ar-bh"?"rtl":"ltr")",
                                templateResult: setIcon,
                                templateSelection: setIcon
                            });

                            if (@Model.Id>0) {
                                var arrOfAction = [];
                                $(".StepHiddenAction").each(function () {
                                    var stepid = $(this).attr("data-stepno");
                                    var action = $(this).val();
                                    arrOfAction.push({
                                        'stepid': stepid,
                                        'action': action
                                    });
                                });

                                $('[id^="Actions"]').each(function () {
                                    var str = $(this).attr("id");
                                    var stepNo = str.split('s')[1]; //.length, 7);
                                    if (arrOfAction.length > 0) {
                                        var data = [];
                                        for (var i = 0; i < arrOfAction.length; i++) {
                                            if (arrOfAction[i].stepid == stepNo) {
                                                data.push(arrOfAction[i].action);
                                            }
                                        }
                                        $("#"+str).select2('val', data);
                                    }
                                });
                            }
                        } else {
                            $('.errorWF').show();
                            return false;
                        }
                    } else if (newIndex < currentIndex) {
                        $("#wizard .actions a[href='#finish']").hide();
                    } else {
                        //if ((initVal != 0 || initGrpVal != 0) && (closeVal != 0 || closeGrpVal != 0) && (adminVal != 0 || adminGrpVal != 0)) {
                        $("#wizard .actions a[href='#finish']").hide();
                        //} else {
                        //    return false;
                        //}
                    }
                    $("#frmWorkFlow").validate().settings.ignore = ":disabled,:hidden";
                    return $("#frmWorkFlow").valid();
                },
                onFinishing: function (event, currentIndex) {
                    $("#frmWorkFlow").validate().settings.ignore = ":disabled";
                    return $("#frmWorkFlow").valid();
                },
                onFinished: function (event, currentIndex) {
                    if ($('.workflowstep').length > 1) {
                        $('.errorWF').hide();
                        SaveWorkFlow();
                    } else {
                        $('.errorWF').show();
                    }
                },
                onCloned: function (event, currentIndex) {
                    //location.href = '@Url.Action("CloneFormTemplate", "Demo", new { Id = Model.Id })'
                },
                onCanceled: function (event, currentIndex) {
                    location.href = '@Url.Action("WorkflowList", "WorkFlow")'
                },
                onReseted: function (event, currentIndex) {
                    location.reload('true');
                }
            });
            $("#wizard .actions a[href='#finish']").hide();
            $("#wizard .actions a[href='#clone']").hide();
            //$("#wizard .actions a[href='#cancel']").hide();

            if (@Model.Id > 0) {
                $("#wizard .steps ul li").removeClass("disabled");
                $("#wizard .steps ul li").addClass("done");
                $("#wizard .steps ul li.first").removeClass("done").addClass("current");
            }

            $('#WFInitaitors').DualListBox({
                json: false,
                timeout: 300,
                title: 'Initaitors',
                textLength: 35
            });

            //$('#WFGroupInitaitors').DualListBox({
            //    json: false,
            //    timeout: 300,
            //    title: 'InitaitorsGroup',
            //    textLength: 35
            //});

            $('#WFClosers').DualListBox({
                json: false,
                timeout: 300,
                title: 'Closers',
                textLength: 35
            });

            //$('#WFGroupClosers').DualListBox({
            //    json: false,
            //    timeout: 300,
            //    title: 'ClosersGroup',
            //    textLength: 35
            //});

            $('#WFProcessAdmins').DualListBox({
                json: false,
                timeout: 300,
                title: 'Admins',
                textLength: 35
            });

            //$('#WFGroupProcessAdmins').DualListBox({
            //    json: false,
            //    timeout: 300,
            //    title: 'AdminsGroup',
            //    textLength: 35
            //});

            var updateDropdowns = function (e) {
                var id = $(this).parent('div').parent().attr('id');
                if (id == undefined) {
                    id = $(e.target).parent('span').parent('span').parent('div').parent().attr('id');
                }
                $('#' + id).find('select.selected').detach().appendTo($('#' + id).find('.col-md-5:last'));
                $('#' + id).find('.col-md-5:last').find('div').remove();
                delete $('#' + id).find('select.selected').data().dd;
                $('#' + id).find('select.selected').msDropdown();

                $('#' + id).find('select.unselected').detach().appendTo($('#' + id).find('.col-md-5:first'));
                $('#' + id).find('.col-md-5:first').find('div').remove();
                delete $('#' + id).find('select.unselected').data().dd;
                $('#' + id).find('select.unselected').msDropdown();
            };

            var addClickListeners = function () { };
            $('div.center-block button').on('click', updateDropdowns);
            $("select.unselected").msDropDown();
            $("select.selected").msDropDown();

            $("#frmWorkFlow").validate({
                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-success has-error');
                    $(e).closest('.form-group').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    $(e).prev().removeClass('has-error');
                    e.closest('.help-block').remove();
                    $(e).remove();
                },
                ignore: [],
                rules: {
                    WFName: {
                        required: true,
                        remote: {
                            url: '@Url.Action("CheckWorkFlowName", "WorkFlow")',
                            data: {
                                WorkFlowName: function () { return $("#WFName").val(); },
                                WfId: function () { return $("#Id").val(); },
                            }
                        }
                    },
                    Notes: {
                        required: true,
                    },
                    Descritpion: {
                        required: true,
                    }
                },
                messages: {
                    WFName: {
                        required: 'Enter workflow name',
                        remote: 'Workflow name already exist'
                    },
                    Notes: {
                        required: '@Messages.Enter_notes'
                    },
                    Descritpion: {
                        required: 'Enter descritpion'
                    }
                },
                errorPlacement: function (error, element) {
                    element.parent().append(error);
                    //error.insertAfter(element.parent("div"));
                }
            });
        });

        function ShowFormTemplate() {
            $("#divFormTemplate").show();
        }

        //Add new step
        function AddStep() {
            var id = getNewMaxId();
            $.ajax({
                url: '@Url.Action("_DynamicWorkFlowStep", "WorkFlow")',
                data: { Id: id },
                success: function (data) {
                    $("#stepsnumber").append(data);
                    ResetstepNumber();
                    function setIcon(action) {
                        var actionIcon = ["close text-danger", "save text-navy", "clipboard text-navy", "check-circle text-navy", "outdent text-warning", "ban text-danger"];
                        if (!action.id) { return action.text; }
                        $action = $('<span><i class="fa fa-' + actionIcon[parseInt(action.element.value) - 1] + '" />&nbsp;&nbsp;' + action.text + '</span>');
                        return $action;
                    };

                    $(".chosen-select-Action").select2({
                        placeholder: "Select Action...",
                        allowClear: true,
                        dir: "@(langs=="ar-bh"?"rtl":"ltr")",
                        templateResult: setIcon,
                        templateSelection: setIcon,
                    });
                },
                error: function (data) {
                    $("#stepsnumber").append("ERROR");
                }
            });// End of Ajax Call
        }

        //for Parent div section single level control ID
        function getNewMaxId() {
            var newId = '0';
            var arrtxtidno = [];
            $('.workflowstep').each(function () {
                var a = this.id;
                arrtxtidno.push(a[a.length-1]);
            });
            if (arrtxtidno.length != 0) {
                var maxid = Math.max.apply(Math, arrtxtidno);
                maxid = parseInt(maxid) + 1;
                newId = maxid;
                return newId;
            } else {
                newId = 1;
                return newId;
            }
        }

        //function for Delete Step
        function StepDelete(e) {
            var list = [];
            $('.stepup').each(function () {
                var a = this.id;
                list.push(a);
            });
            if (list.length > 1) {
                $('#step-' + e.id[0]).remove();
            }
            ResetstepNumber();
        }

        //function reset step number
        function ResetstepNumber() {
            var stepnum = 1;
            $('.stepNumberDisplay').each(function () {
                $(this).html("Step " + stepnum);
                stepnum++;
            });
        }

        //function Set up Call MoveStepUp
        function MoveStepUp(e) {
            var calledId = e.id;
            var up = [];
            var flag = false;
            $('.stepup').each(function () {
                var a = this.id;
                if (flag == false) {
                    up.push(a);
                }
                if (a == calledId) {
                    flag = true;
                }
            });
            if (up.length > 1) {
                var repId = up[up.length - 2][0];
                var moveId = e.id[0];
                var repname = $('#StepName' + repId).val();
                var repAssignTo = $('#AssignTo' + repId).val();
                var repActions = $('#Actions' + repId).select2("val");
                var moveActions = $('#Actions' + moveId).select2("val");
                $('#StepName' + repId).val($('#StepName' + moveId).val());
                $('#AssignTo' + repId).val($('#AssignTo' + moveId).val());
                $('#Actions' + repId).select2('val', moveActions);
                $('#StepName' + moveId).val(repname);
                $('#AssignTo' + moveId).val(repAssignTo);
                $('#Actions' + moveId).select2('val', repActions);
            }
        }

        //function Set down Call MoveStepDown
        function MoveStepDown(e) {
            var calledId = e.id;
            var down = [];
            var flag = false;
            var count = 0;
            var repDown = '';
            $('.stepdown').each(function () {
                var a = this.id;
                if (flag == false) {
                    down.push(a);
                } else {
                    if (repDown == '') {
                        repDown = a;
                    }
                }
                if (a == calledId) {
                    flag = true;
                }
            });
            if (down.length > 0 && repDown != '') {
                var repId = repDown[0];
                var moveId = e.id[0];
                var repname = $('#StepName' + repId).val();
                var repAssignTo = $('#AssignTo' + repId).val();
                var repActions = $('#Actions' + repId).select2("val");
                var moveActions = $('#Actions' + moveId).select2("val");
                $('#StepName' + repId).val($('#StepName' + moveId).val());
                $('#AssignTo' + repId).val($('#AssignTo' + moveId).val());
                $('#Actions' + repId).select2('val', moveActions);
                $('#StepName' + moveId).val(repname);
                $('#AssignTo' + moveId).val(repAssignTo);
                $('#Actions' + moveId).select2('val', repActions);
            }
        }

        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name]) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        //Save WorkFlow
        function SaveWorkFlow() {
            var steplst = [];
            var stepNo = 0;
            $('.workflowstep').each(function () {
                stepNo++;
                var a = this.id;
                var stepId = a[a.length - 1];
                steplst.push({
                    WFStep: stepNo,
                    WFStepName: $('#StepName' + stepId).val(),
                    AssignedUserID: $('#AssignTo' + stepId).val(),
                    WFActions: $('#Actions' + stepId).select2("val"),
                });
            });
            debugger;
            var initArray = [], closeArray = [], adminArray = [];
            //var initGrpArray = [], closeGrpArray = [], adminGrpArray = [];
            var initaitorsDivId = $('#dual-list-box-Initaitors').find('select.selected').attr('id');
            //var initaitorsGroupDivId = $('#dual-list-box-InitaitorsGroup').find('select.selected').attr('id');
            var closersDivId = $('#dual-list-box-Closers').find('select.selected').attr('id');
            //var closersGroupDivId = $('#dual-list-box-ClosersGroup').find('select.selected').attr('id');
            var adminDivId = $('#dual-list-box-Admins').find('select.selected').attr('id');
            //var adminsGroupDivId = $('#dual-list-box-AdminsGroup').find('select.selected').attr('id');
            if ($('#' + initaitorsDivId).find('option').length != 0) {
                for (var i = 0; i < $('#' + initaitorsDivId).find('option').length; i++) {
                    initArray.push($('#' + initaitorsDivId).find('option')[i].value);
                }
            }
            //if ($('#' + initaitorsGroupDivId).find('option').length != 0) {
            //    for (var i = 0; i < $('#' + initaitorsGroupDivId).find('option').length; i++) {
            //        initGrpArray.push($('#' + initaitorsGroupDivId).find('option')[i].value);
            //    }
            //}
            if ($('#' + closersDivId).find('option').length != 0) {
                for (var i = 0; i < $('#' + closersDivId).find('option').length; i++) {
                    closeArray.push($('#' + closersDivId).find('option')[i].value);
                }
            }
            //if ($('#' + closersGroupDivId).find('option').length != 0) {
            //    for (var i = 0; i < $('#' + closersGroupDivId).find('option').length; i++) {
            //        closeGrpArray.push($('#' + closersGroupDivId).find('option')[i].value);
            //    }
            //}
            if ($('#' + adminDivId).find('option').length != 0) {
                for (var i = 0; i < $('#' + adminDivId).find('option').length; i++) {
                    adminArray.push($('#' + adminDivId).find('option')[i].value);
                }
            }
            //if ($('#' + adminsGroupDivId).find('option').length != 0) {
            //    for (var i = 0; i < $('#' + adminsGroupDivId).find('option').length; i++) {
            //        adminGrpArray.push($('#' + adminsGroupDivId).find('option')[i].value);
            //    }
            //}

            var userLst = {
                WFInitaitors: initArray,
                //WFGroupInitaitors: initGrpArray,
                WFClosers: closeArray,
                //WFGroupClosers: closeGrpArray,
                WFProcessAdmins: adminArray,
                //WFGroupProcessAdmins: adminGrpArray
            };

            $.ajax({
                type: "POST",
                url: '@Url.Action("WorkflowWizard", "WorkFlow")',
                data: JSON.stringify({ WFList: $('#frmWorkFlow').serializeObject(), WFStepList: steplst, WFUserList: userLst }),
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    location.href = '@Url.Action("WorkflowList", "WorkFlow")'
                }
            });
        }

    </script>
}
