﻿@model IEnumerable<MiscRejmelDetailVM>
@{
    List<MiscRejmelDetailVM> CashList = new List<MiscRejmelDetailVM>();
    List<MiscRejmelDetailVM> CTSChequeList = new List<MiscRejmelDetailVM>();
    List<MiscRejmelDetailVM> NONCTSChequeList = new List<MiscRejmelDetailVM>();
    List<MiscRejmelDetailVM> DemandDraftList = new List<MiscRejmelDetailVM>();
    List<MiscRejmelDetailVM> POSList = new List<MiscRejmelDetailVM>();
    decimal Total = 0;

    if (Model != null)
    {

        string Tot = Model.Sum(x => x.TotalAmount).ToString();
        Total = Convert.ToDecimal(Tot);

        CashList = Model.Where(x => x.PaymentTypeId == (int)Utility.Helpers.EnumList.PaymentMode.Cash).ToList();
        CTSChequeList = Model.Where(x => x.PaymentTypeId == (int)Utility.Helpers.EnumList.PaymentMode.CTSCheque).ToList();
        NONCTSChequeList = Model.Where(x => x.PaymentTypeId == (int)Utility.Helpers.EnumList.PaymentMode.NONCTSCheque).ToList();
        DemandDraftList = Model.Where(x => x.PaymentTypeId == (int)Utility.Helpers.EnumList.PaymentMode.DemandDraft).ToList();
        POSList = Model.Where(x => x.PaymentTypeId == (int)Utility.Helpers.EnumList.PaymentMode.POS).ToList();
    }
    }

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover dataTables-example" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th class="text-center">Sr.No.</th>
                                        <th class="text-center">EmployeeID</th>
                                        <th>Payment Mode</th>
                                        <th class="text-center">Receipt No</th>
                                        <th class="text-center">Receipt Date</th>
                                        <th class="text-center">Consumer Number</th>
                                        <th class="text-center">Consumer Name</th>
                                        <th class="text-center">Receipt Type</th>
                                        <th class="text-center">Amount</th>
                                        <th class="text-center">Status</th>
                                    </tr>
                                </thead>

                                @if (Model != null)
                                {
                                    <tbody>
                                        @{
                                            int MainCounter = 1;
                                            }
                                        @foreach (var item in CashList)
                                        {
                                            <tr>
                                                <td class="text-center">@MainCounter</td>
                                                <td class="text-center">@item.EmployeeId</td>
                                                <td><h4><b>Cash</b></h4></td>
                                                <td class="text-center">@item.ChallanNumber</td>
                                                <td class="text-center">@item.TransactionDate.ToString("dd/MM/yyyy")</td>
                                                <td class="text-center">@item.ConsumerNumber</td>
                                                <td>@item.ConsumerName</td>
                                                <td class="text-center">@item.AccountCode</td>
                                                <td class="text-center">@item.TotalAmount</td>
                                                @{
                                                    string flag = "";
                                                    if (item.IsDelete == true)
                                                    {
                                                        flag = "DEL";
                                                    }
                                                    else
                                                    {
                                                        flag = "";
                                                    }
                                                    <td class="text-center">@flag</td>
                                                }
                                            </tr>
                                                        MainCounter++;
                                                    }
                                        @foreach (var item in CTSChequeList)
                                        {
                                            <tr>
                                                <td class="text-center">@MainCounter</td>
                                                <td class="text-center">@item.EmployeeId</td>
                                                <td><h4><b>CTSCheque</b></h4></td>
                                                <td class="text-center">@item.ChallanNumber</td>
                                                <td class="text-center">@item.TransactionDate.ToString("dd/MM/yyyy")</td>
                                                <td class="text-center">@item.ConsumerNumber</td>
                                                <td>@item.ConsumerName</td>
                                                <td class="text-center">@item.AccountCode</td>
                                                <td class="text-center">@item.TotalAmount</td>
                                                @{
                                                    string flag = "";
                                                    if (item.IsDelete == true)
                                                    {
                                                        flag = "DEL";
                                                    }
                                                    else
                                                    {
                                                        flag = "";
                                                    }
                                                    <td class="text-center">@flag</td>
                                                }
                                            </tr>
                                                        MainCounter++;
                                                    }
                                        @foreach (var item in NONCTSChequeList)
                                        {
                                            <tr>
                                                <td class="text-center">@MainCounter</td>
                                                <td class="text-center">@item.EmployeeId</td>
                                                <td><h4><b>NONCTSCheque</b></h4></td>
                                                <td class="text-center">@item.ChallanNumber</td>
                                                <td class="text-center">@item.TransactionDate.ToString("dd/MM/yyyy")</td>
                                                <td class="text-center">@item.ConsumerNumber</td>
                                                <td>@item.ConsumerName</td>
                                                <td class="text-center">@item.AccountCode</td>
                                                <td class="text-center">@item.TotalAmount</td>
                                                @{
                                                    string flag = "";
                                                    if (item.IsDelete == true)
                                                    {
                                                        flag = "DEL";
                                                    }
                                                    else
                                                    {
                                                        flag = "";
                                                    }
                                                    <td class="text-center">@flag</td>
                                                }
                                            </tr>
                                                        MainCounter++;
                                                    }
                                        @foreach (var item in DemandDraftList)
                                        {
                                            <tr>
                                                <td class="text-center">@MainCounter</td>
                                                <td class="text-center">@item.EmployeeId</td>
                                                <td><h4><b>DemandDraft</b></h4></td>
                                                <td class="text-center">@item.ChallanNumber</td>
                                                <td class="text-center">@item.TransactionDate.ToString("dd/MM/yyyy")</td>
                                                <td class="text-center">@item.ConsumerNumber</td>
                                                <td>@item.ConsumerName</td>
                                                <td class="text-center">@item.AccountCode</td>
                                                <td class="text-center">@item.TotalAmount</td>
                                                @{
                                                    string flag = "";
                                                    if (item.IsDelete == true)
                                                    {
                                                        flag = "DEL";
                                                    }
                                                    else
                                                    {
                                                        flag = "";
                                                    }
                                                    <td class="text-center">@flag</td>
                                                }
                                            </tr>
                                                        MainCounter++;
                                                    }
                                        @foreach (var item in POSList)
                                        {
                                            <tr>
                                                <td class="text-center">@MainCounter</td>
                                                <td class="text-center">@item.EmployeeId</td>
                                                <td><h4><b>POS</b></h4></td>
                                                <td class="text-center">@item.ChallanNumber</td>
                                                <td class="text-center">@item.TransactionDate.ToString("dd/MM/yyyy")</td>
                                                <td class="text-center">@item.ConsumerNumber</td>
                                                <td>@item.ConsumerName</td>
                                                <td class="text-center">@item.AccountCode</td>
                                                <td class="text-center">@item.TotalAmount</td>
                                                @{
                                                    string flag = "";
                                                    if (item.IsDelete == true)
                                                    {
                                                        flag = "DEL";
                                                    }
                                                    else
                                                    {
                                                        flag = "";
                                                    }
                                                    <td class="text-center">@flag</td>
                                                }
                                            </tr>
                                                        MainCounter++;
                                                    }


                                        <tr>
                                            <th> Final Total</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>

                                            @if (Total == 0)
                                            {
                                                <th></th>
                                            }
                                            else
                                            {
                                                <th class="text-center"> @Total</th>
                                            }

                                            <th class="text-center"></th>
                                        </tr>
                                    </tbody>
                                                  
                                    @*<tfoot>
                                        <tr>
                                            <th colspan="8"> Final Total</th>
                                            @if (Total == 0)
                                            {
                                                <th></th>
                                            }
                                            else
                                            {
                                                <th class="text-center"> @Total</th>
                                            }

                                            <th class="text-center"></th>
                                        </tr>
                                    </tfoot>*@
                                                    }
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



