﻿@model LinkDocumentVM
@{
    var langs = "en-us";
    if (Request.Cookies["LangForMultiLanguage"] != null)
    {
        langs = Request.Cookies["LangForMultiLanguage"].Value;
    }
}
<div class="row">
    <div class="">
        <div class="col-md-12">
            <div class="tabs-container link_tab">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#Linktab-1" aria-expanded="true"><span id="parentTitle">As Parent</span></a></li>
                    <li class=""><a data-toggle="tab" href="#Linktab-2" aria-expanded="false"><span id="childTitle">As Child</span></a></li>
                </ul>
                <div class="tab-content">
                    <div id="Linktab-1" class="tab-pane active">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-11">
                                    <div id="divUserList">
                                        <div class="row">
                                            <label class="col-md-2 control-label">Link with</label>
                                            <div class="col-md-10">
                                                @Html.ListBox("LinkDocList", new SelectList(CommonFunctions.GetLinkDocListByCabinet(Model.DocumentId), "Value", "Text"), new { @class = "chosen-select-linkdoc form-control", @multiple = "multiple" })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-1">
                                    <span onclick="AppendLinkDocDetail(@Model.DocumentId)" class="fa-stack text-navy backPointer" autofocus>
                                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                                        <i class="fa fa-plus fa-stack-1x" style="padding: 1px;"></i>
                                    </span>
                                </div>
                            </div>
                            <br />
                            <div class='col-md-12'>
                                @if (Model != null)
                                {
                                    if (Model.LinkChildDocumentList.Count > 0)
                                    {
                                        <input type="hidden" id="childCount" name="childCount" data-childlst="@String.Join(",", Model.LinkChildDocumentList.Select(x=>x.ChildId).ToList())" value="@Model.LinkChildDocumentList.Count" />

                                    }
                                    else
                                    {
                                        <input type="hidden" id="childCount" name="childCount" data-childlst="" value="@Model.LinkChildDocumentList.Count" />

                                    }
                                  <input type="hidden" id="parentCount" name="parentCount" value="@Model.LinkParentDocumentList.Count" />
                                    <div class='row'>
                                        <div class='form-group'>
                                           @*<div id="parent" class="simple-table">*@
                                                <!-- Here Add Code of anil-->
                                                <div class="simple-table">
                                                    <table width="100%" class="popup-table-class">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>Name</th>
                                                                <th>Owner</th>
                                                                <th>Original Path</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="DocChildList">
                                                            
                                                            @if (Model.LinkChildDocumentList.Count > 0)
                                                            {
                                                                foreach (var child1 in Model.LinkChildDocumentList.Where(x => x.ParentId == Model.DocumentId).ToList())
                                                                {
                                                                    var childDoc = Model.LinkChildDocumentList.Where(x => x.ParentId == child1.DocumentId).ToList();
                                                                    <tr id="p_@child1.DocumentId" class="child_files" data-fileId="@child1.DocumentId">
                                                                        <td><i onclick="removeFrom(@child1.DocumentId,'@child1.DocumentType','@child1.Name')" class="fa fa-times-circle-o text-danger"></i></td>
                                                                        <td><span class="file-default @child1.DocumentType"></span> @child1.Name</td>
                                                                        <td>@child1.DocumentVersionOwner</td>
                                                                        <td id="td-@child1.DocumentId">@child1.OriginalLocation</td>
                                                                        <td>
                                                                            @if (childDoc.Any())
                                                                        {
                                                                        <a class="parent-dd" onclick="showChild(@child1.DocumentId)">Is Parent <i class="fa fa-angle-down D_Arrow_@child1.DocumentId txt-black"></i></a>
                                                                        }
                                                                        </td>

                                                                    </tr>
                                                                    if (childDoc.Any())
                                                                    {
                                                                        <tr id="hide_table_@child1.DocumentId" class="hide_table">
                                                                            <td colspan="5">
                                                                                <table width="100%" border="0">
                                                                                    <tbody>
                                                                                        @foreach (var child2 in childDoc)
                                                                                    {
                                                                                    <tr>
                                                                                        <td width="6%"></td>
                                                                                        <td><span class="file-default @child2.DocumentType"></span> @child2.Name</td>
                                                                                        <td>@child2.DocumentVersionOwner</td>
                                                                                        <td>@child2.OriginalLocation</td>
                                                                                        <td>&nbsp;</td>
                                                                                    </tr>
                                                                                    }

                                                                                        
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    }

                                                                }
                                                            }
                                                          
                                                            <tr class="NoChidRow"><td colspan="5"><div class="NoChidRow-mesg">@(Model.LinkChildDocumentList.Count==0?"No  document found":"")</div></td></tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!--End-->
                                          
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div>No document found</div>
                                }
                            </div>
                        </div>
                    </div>
                    <div id="Linktab-2" class="tab-pane">
                        <div class="panel-body">

                            @if (Model.LinkParentDocumentList.Count > 0)
                            {
                            <p>The following documents are parents for <span class="clsfilename"></span> file.</p>
                            <br />
                            <div class='col-md-12' id="ParentDocDetail">
                                <div class='row'>
                                    <div class='form-group'>
                                        <div class="simple-table">
                                            <table width="100%" class="popup-table-class">
                                                <thead>
                                                    <tr>
                                                        <th width='5%'>&nbsp;&nbsp;</th>
                                                        <th>Name</th>
                                                        <th>Owner</th>
                                                        <th>Origional File Path</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="ParentList">
                                                      @foreach (var item in Model.LinkParentDocumentList)
                                                    {
                                                        <tr id="p_@item.DocumentId" class="parent_files" data-fileId="@item.DocumentId">
                                                            <td><i onclick="removeFrom(@item.DocumentId,'@item.DocumentType','@item.Name')" class="fa fa-times-circle-o text-danger "></i></td>
                                                            <td><i class="tbl_icon file-default @item.DocumentType"></i> @item.Name</td>
                                                            <td>@item.DocumentVersionOwner</td>
                                                            <td id="td-@item.DocumentId">@item.OriginalLocation</td>
                                                        </tr>
                                                    }
                                                    <tr class="NoParentRow"><td colspan="4"><div class="NoParentRow-mesg">@(Model.LinkParentDocumentList.Count == 0 ? "No  document found" : "")</div></td></tr>


                                                </tbody>
                                            </table>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            }
                            else
                            {
                            <div id="ParentLinkError">No document found</div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
   
        $(".chosen-select-linkdoc").select2({
           // placeholder: "Search by file name or by keywords",
            placeholder: "Search by file name.",
            allowClear: true,
            dir: "@(langs=="ar-bh"?"rtl":"ltr")",
            templateResult: setIcon,
            templateSelection: setIconSelected
        });
        function setIcon(state) {
            if (!state.id) {
                return state.text;
            }
            var $DocType = state.text.split(',')[0];
            var $state = $(
                '<span><span class="Anil-List select_icon file-default ' + $DocType + '" /> ' + state.text.split(',')[1] + '</span>'
            );
            return $state;
        };

        function setIconSelected(state) {
            if (!state.id) {
                return state.text;
            }
            var $DocType = state.text.split(',')[0];
            var $DocName = state.text.split('(')[0];
            $DocName = $DocName.split(',')[1];

            var $state = $(
                '<span><span class="Anil-selected select_icon file-default ' + $DocType + '" /> ' + $DocName + '</span>'
            );
            return $state;
        };

</script>