﻿@model DynamicFormResponseVM
@{
                /**/

                /**/

                var langs = "en-us";
                if (Request.Cookies["LangForMultiLanguage"] != null)
                {
                    langs = Request.Cookies["LangForMultiLanguage"].Value;
                }
                var CurrentcabinetId = CommonFunctions.GetCabinetId();
}
<style>
    .btn-group.open .dropdown-toggle {
        box-shadow: none;
    }

    .dynamic-form-header {
        font-size: 15px;
        color: #08966e;
        font-weight: 600;
    }

        .dynamic-form-header > i {
            float: right;
            vertical-align: central;
            cursor: pointer;
        }

    .dynamic-context-padding {
        padding: 4px 25px 8px 1px !important;
    }

    .dynamic-form-header {
        margin-left: 20px;
    }
</style>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div>
            <div class="ibox" style="box-shadow:none;">
                <div class="ibox-content dynamic-context-padding ">
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="dynamic-form-header">@Model.FormTitle  <i class="fa fa-arrow-right close-form"></i></span>
                        </div>
                    </div>
                    <hr />
                    @using (Html.BeginForm("ViewForm", "Demo", FormMethod.Post, new { @id = "dynamicFrm", @enctype = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(x => x.FormTemplateId)
                        @Html.HiddenFor(x => x.ResponseCode)
                        <input type="hidden" id="hdnCabinet" name="hdnCabinet" value="@CurrentcabinetId" />
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                @if (Model.FormTemplateId > 0)
                                {
                                    @Html.Raw((Model.HtmlContent))
                                }
                                else
                                {
                                    <blockquote>
                                        <p>No form Found !</p>
                                    </blockquote>
                                }
                            </div>

                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default close-form">
                                        <i class="fa fa-close text-danger"></i>&nbsp;
                                        @Resource.Cancel
                                    </button>
                                    <button type="button" id="btnSave" onclick="SaveResponse()" class="btn btn-default">
                                        <i class="fa fa-save text-navy"></i>&nbsp;
                                        @Resource.Save
                                    </button>

                                </div>
                            </div>
                        </div>
                    }


                    <div class="hiddenvalue">
                        @if (Model != null)
                        {
                            foreach (var item in Model.DynamicFormResponseDetailList)
                            {
                                <input type="hidden" class="getvalue" data-value="@item.Value" data-controlid="@item.FiledId" data-controltype="@item.Type" />
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .action-buttons {
        display: none;
        opacity: 0;
    }

    .has-error .form-control {
        border-color: #ed5565 !important;
    }

    .has-error .select2-container--default .select2-selection--multiple {
        border-color: #ed5565 !important;
    }

    .select2-container--default .select2-selection--multiple {
        border-color: #c1bebe !important;
    }

    .reqSign {
        margin-left: 3px;
        font-size: 10px !important;
        color: #ed5565;
    }

    .checkbox-success input[type="checkbox"]:checked + label::before,
    .checkbox-success input[type="radio"]:checked + label::before {
        background-color: #00b1d1;
        border-color: #00b1d1;
    }

    .fileTypeUl {
        list-style-type: none;
        text-align: left !important;
        margin-left: -40px !important;
    }

    .link-label {
        cursor: pointer;
        margin-top: 5px;
    }
</style>


<script type="text/javascript">

    $(".fileinput-new").click(function () {
        var dispaluSpanId = "display-div-" + id;
        var getName = $("#span-" + id).text();
        if (getName.length > 0) {
            $("#" + dispaluSpanId).text(getName);
        }

    });
        // File input extension Validation Function | Add | Dhrumil | 2018/04/19
        function CheckExtValidation(id) {
            debugger;
            var dispaluSpanId = "display-div-" + id;
            var getName = $("#span-" + id).text();
            if (getName.length > 0) {
                $("#" + dispaluSpanId).text(getName);
            }

            if ($("#" + id).attr("accept") !== undefined && $("#" + id).attr("accept") !=="" && $("#" + id).val() != "") {
                var fileExtension = $("#" + id).attr("accept").split(',');
                //Here Check File Extension
                if ($.inArray("." + $("#" + id).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                    alert('invalid file ! Accepts only ' + $("#" + id).attr("accept") + '.');
                    $(".fileremove").click();
                }
            }
        }

        function escapeRegExp(string) {
            return string.replace(/[.*+?^${}()|[\]\\]/g, "\\$&");
        }
        /* Define functin to find and replace specified term with replacement string */
        function replaceAll(str, term, replacement) {
            return str.replace(new RegExp(escapeRegExp(term), 'g'), replacement);
        }

        function SaveResponse() {

            var flag = $("#dynamicFrm").valid();
            if (flag) {
                debugger;
                var DynamicFormResponseVM = {
                    ID: 0,
                    FormTemplateId: @Model.FormTemplateId,
                    HtmlContent: "html code here",
                    FormTitle: "@Model.FormTitle",
                    ResponseCode: "DynamicCode",
                    FormTemplateId: 0,
                    AttachedType: "WorkFlow",
                    AttachedId: 0,
                    DynamicFormResponseDetailList: []
                }

                DynamicFormResponseVM.ID = 0;
                DynamicFormResponseVM.ResponseCode = "DynamicCode";
                DynamicFormResponseVM.FormTemplateId = @Model.FormTemplateId;
                DynamicFormResponseVM.AttachedType = "WorkFlow";
                DynamicFormResponseVM.AttachedId = 0;
                //File input---------------------------
                debugger;
                var exmInputFile = [];
                var fileUpload = document.getElementsByName("fileupload");
                var form = new FormData($('#dynamicFrm')[0]);
                for (i = 0; i < fileUpload.length; i++) {
                    var file = fileUpload[i].files[0];
                    exmInputFile.push(file);
                    if (file != undefined) {
                        form.append('fileuploadData', file);
                    }

                }
                console.log(exmInputFile);

                //var form = new FormData($('#dynamicFrm')[0]);
                //for (var j = 0; j < exmInputFile.length; j++) {
                //    form.append('fileuploadData', exmInputFile[j]);
                //    console.log(exmInputFile[j]);
                //}

                // End File Input---------------------
                $('.dynamicControls').each(function () {

                    var FieldID = this.id;
                    var FieldType = $(this).attr("data-Ctype");
                    var value = null;
                    var ischecked = false;

                    if (FieldType == "radio" || FieldType == "checkbox") {
                        debugger;
                        ischecked = $("#" + FieldID).is(':checked');
                        if (ischecked == true) {
                            value = $("#" + FieldID).val();
                        } else {
                            value = null;
                        }
                    }
                    else if (FieldType == "textbox" || FieldType == "email" || FieldType == "website" || FieldType == "password" || FieldType == "address" || FieldType == "textarea" || FieldType == "dropdown" || FieldType == "datepicker" || FieldType == "clockpicker") {
                        value = $("#" + FieldID).val();

                    } else if (FieldType = "fileupload") {
                        value = $(".span-" + FieldID).html();
                    }

                    DynamicFormResponseVM.DynamicFormResponseDetailList.push({
                        'FiledId': FieldID,
                        'Type': FieldType,
                        'Value': value,
                        'IsSelected': $("#" + FieldID).is(':checked')
                    });


                });

                form.append("DynamicFormResponseVM", JSON.stringify(DynamicFormResponseVM));

                console.log(DynamicFormResponseVM);

                if (DynamicFormResponseVM.DynamicFormResponseDetailList.length > 0) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ViewForm", "Demo")',
                        data: form,
                        //data: {
                        //    DynamicFormResponseVM: JSON.stringify(DynamicFormResponseVM)
                        //},
                        processData: false,
                        dataType: "json",
                        traditional: true,
                        contentType: false,
                        success: function (data) {
                            toastr.success("Form Data saved!", "@Messages.Success");
                            $("#Info-div-box").show();
                            $("#DynamicFormData").html('');
                            $("#DynamicFormDataHeader").hide();

                        }
                    });
                }

            }

            else {
                    toastr.error("Please provide all required information before submit.", "@Messages.Error");
            }
        } // end of save response function

        function setvalue() {
            //Set Value for all controls
            var rCode = $("#ResponseCode").val();
            var CCab = $("#hdnCabinet").val();

            $('[class^="getvalue"]').each(function () {
                //  $(this).attr("name", "fileupload");
                var fid = "";
                var value = "";
                var type = "";
                fid = $(this).attr("data-controlid");
                type = $(this).attr("data-controltype");
                value = $(this).attr("data-value");

                debugger;
                if (type == "textbox" || type == "email" || type == "website" || type == "password" || type =="address") {
                    $("#" + fid).attr("value", value);
                    $("#" + fid).text(value);
                }
                else if (type == "textarea") {
                    $("#" + fid).val(value);
                    $("#" + fid).text(value);
                }
                else if (type == "dropdown") {
                    $("#" + fid).val(value);
                    $('#' + fid + '>option[value="' + value + '"]').attr('selected', 'selected');
                }
                else if (type == "radio") {
                    if (value != "") {
                        $("input:radio[id=" + fid + "]").attr('checked', true);
                    }
                }
                else if (type == "checkbox") {
                    if (value != "") {
                        $("input:checkbox[id=" + fid + "]").attr('checked', true);
                        $("#" + fid).prop("checked", true);
                    }

                }

                else if (type == "fileupload") {
                    debugger;
                    if (value != "") {
                        // $("#display-div-" + fid).text(value);
                        var dwnload = '<a href="http://localhost:51043/Uploads/Attachments/' + CCab + '/' + rCode + '/' + value + '" target="_blank">' + value+'</a>';
                       // var dwnload = '<a href="http://ws-srv-net.in.webmyne.com/Applications/DocWare/Uploads/Attachments/' + CCab + '/' + rCode + '/' + value + '" target="_blank">Downlaod</a>';

                        $("#display-div-" + fid).html(dwnload);
                    }
                }

                else if (type == "datepicker") {
                    $("#" + fid).val(value);
                    $("#" + fid).text(value);
                }

                else if (type == "clockpicker") {
                    $("#" + fid).val(value);
                    $("#" + fid).text(value);
                }
            });
        }

        function setDatePicker() {
            // New Control Date Picker | ADD | Sweta Patel | 2018/12/19
            $('.dynamicDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });
        }

        $(document).ready(function () {
              //Check for all files
                $('[id^="fileupload-"]').each(function () {
                    $(this).attr("name", "fileupload");
                });


                setvalue(); // set value

            $(".chosen-select-cabinet").select2({
                placeholder: "@Resource.Choose_Cabinet",
                allowClear: true,
                dir: "@(langs=="ar"?"rtl":"ltr")"
            });
            //must after choosenselect (select 2 Section here..)
            $(".select2_search").select2({ placeholder: "--Select--", allowClear: true });

            setDatePicker();

            $.fn.serializeObject = function () {
                var o = {};
                var a = this.serializeArray();
                $.each(a, function () {
                    if (o[this.name]) {
                        if (!o[this.name].push) {
                            o[this.name] = [o[this.name]];
                        }
                        o[this.name].push(this.value || '');
                    } else {
                        o[this.name] = this.value || '';
                    }
                });
                return o;
            };


            //jQuery.validator.addClassRules("required-control", {
            //    required: true
            //});


            @*$("#frmDynamic").validate({
                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-success has-error');
                    $(e).closest('.form-group').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    $(e).prev().removeClass('has-error');
                    e.closest('.help-block').remove();
                    $(e).remove();
                },
                ignore: [],
                rules: {
                    "textbox-1": {
                        required: true

                    }
                },
                messages: {
                    "textbox-1": {
                        required: '@Messages.Enter_Form_Name'
                    }
                },
                errorPlacement: function (error, element) {
                    element.parent().append(error);
                    //error.insertAfter(element.parent("div"));
                }
            });*@

            $('#dynamicFrm').validate({ // Add For email fields on 11/03/2019
                submitHandler: function (form) {
                     return false;
                }
            });

            $.validator.addMethod( // Add for www.domain.com  on 12/03/2019
                'Website',
                function (value, element) {
                  return this.optional(element) || /^(https:\/\/|http:\/\/|www\.|mailto:|smtp:|ftp:\/\/|ftps:\/\/)[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/.test(value)
                });

            $('.email_type').each(function () {
                $(this).rules('add', {
                    email: true,
                    messages: {
                        email: "Invalid email!"
                    }
                });
            });

            $('.website_type').each(function () {
                $(this).rules('add', {
                    //url: true,
                    Website: true,
                    messages: {
                        Website: "Invalid url!"
                    }
                });
            });


        });
</script>
<script>

    $(".close-form").click(function () {

        $("#Info-div-box").show();
        $("#DynamicFormData").html('');
        $("#DynamicFormDataHeader").hide();

    });

</script>