﻿@model FolderSubFolderDetail

<div class="row">
    <h2>@Model.FolderName</h2>
    <div class="col-md-12">
        <div class="col-md-2">
            <a href="@Url.Action("AddFolder", "FolderAndFile", new { parentFolderId=Model.FolderId})" class="btn btn-primary">
                <i class="fa fa-2x fa-plus"></i>
            </a>
        </div>
        <div class="col-md-2">
            <button id="btnEdit" class="btn btn-warning">
                <i class="fa fa-2x fa-pencil"></i>
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" id="btnInfo" type="button" data-animation="fadeInRight">
                <i class="fa fa-2x fa-info-circle"></i>
            </button>
        </div>
        @if (Model.FolderId != 0)
        {
            <div class="col-md-2">
                <a href="@Url.Action("AddDocument", "FolderAndFile", new { parentFolderId=Model.FolderId })" class="btn btn-info">
                    <i class="fa fa-2x fa-upload"></i>
                </a>
            </div>

            <div class="col-md-2">
                <button type="button" class="btn btn-danger"><i class="fa fa-2x fa-trash"></i></button>
            </div>
        }
        else
        {
            <div class="col-md-2">
                <button type="button" disabled="disabled" class="btn btn-info"><i class="fa fa-2x fa-upload"></i></button>
            </div>

            <div class="col-md-2">
                <button type="button" disabled="disabled" class="btn btn-danger"><i class="fa fa-2x fa-trash"></i></button>
            </div>
        }

    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4 detailInfo">
        @if (Model.FolderDetailVMs != null)
        {
            foreach (var item in Model.FolderDetailVMs)
            {
                if (item.IsDocument)
                {
                    <div class="row">
                        <div class="col-md-1">
                            <input type="checkbox" data-fileid="@item.Id" class="folderfile" />
                        </div>
                        <div class="col-md-11">
                            @*<a href="@Url.Action("openFile", "FolderAndFile")" target="_blank"><i class="fa fa-lg fa-file-o"></i> @item.Name</a>*@
                            <a href="javascript:void(0)"><i class="fa fa-lg fa-file-o"></i> @item.Name</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-md-1">
                            <input type="checkbox" data-folderid="@item.Id" class="folderfile" />
                        </div>
                        <div class="col-md-11">
                            <a href="javascript:void(0)" onclick="folderDetails(@item.Id)"><i class="fa fa-lg fa-folder"></i> @item.Name</a>
                        </div>
                    </div>
                }
                <br />
            }
        }

    </div>
    <div class="col-md-8 animated fadeInRight" id="collapseExample">
        <div class="col-md-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1"> <i class="fa fa-info-circle"></i></a></li>
                    <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-comment-o"></i></a></li>
                    <li class=""><a data-toggle="tab" href="#tab-3"><i class="fa fa-download"></i></a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            1
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            2
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            3
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $("#btnEdit").attr("disabled", true);
    $("#btnBasicInfo").attr("disabled", true);
    $(".folderfile").click(function () {
        if (document.querySelectorAll('input.folderfile[type="checkbox"]:checked').length === 1) {
            $("#btnEdit").removeAttr("disabled");
            $("#btnBasicInfo").removeAttr("disabled");
        } else {
            $("#btnEdit").attr("disabled", true);
            $("#btnBasicInfo").attr("disabled", true);
        }
    });

    $("#btnInfo").click(function () {
        if ($('#collapseExample').hasClass('fadeInRight'))
        {
            $('#collapseExample').removeClass('col-md-8 fadeInRight');
            $('#collapseExample').hide()
            $('.detailInfo').removeClass('col-md-4');
            $('.detailInfo').addClass('col-md-12');
        } else {
            $('#collapseExample').show();
            $('#collapseExample').addClass('col-md-8 fadeInRight');
            $('.detailInfo').addClass('col-md-4');
            $('.detailInfo').removeClass('col-md-12');
        }
    });

    $("#btnEdit").click(function () {
        var id = 0;
        $("input[class^='folderfile']:checked").each(function () {
            if ($(this).prop("checked") == true) {
                if ($(this).data('folderid') != undefined) {
                    id = $(this).data('folderid');
                    var url = '@Url.Action("AddFolder", "FolderAndFile")';
                    window.location.href = url + '?id=' + id;
                }
                else {
                    id = $(this).data('fileid');
                    var url = '@Url.Action("AddDocument", "FolderAndFile")';
                    window.location.href = url + '?id=' + id;
                }
            }
        });
    });
</script>
