﻿@model DocumentDetailVM
@{
    ViewBag.Title = Resource.Add_Edit_Document;
    Layout = "~/Views/Shared/_Layout.cshtml";
    long UserId = CommonFunctions.GetUserId();
    long CabinetId = CommonFunctions.GetCabinetId();

    var langs = "en-us";
    if (Request.Cookies["LangForMultiLanguage"] != null)
    {
        langs = Request.Cookies["LangForMultiLanguage"].Value;
    }
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        @if (Model.DocumentId > 0)
        {
            <h2>@Resource.Edit_Document</h2>
        }
        else
        {
            <h2>@Resource.Add_Document</h2>
        }
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("GoToHome", "Account")"><i class="fa fa-lg fa-home"></i></a>
            </li>
            <li>
                <a>@Resource.Folder_Management</a>
            </li>
            <li class="active">
                <strong>
                    @if (Model.DocumentId > 0)
                    {
                        @Model.DocName
                    }
                    else
                    {
                        @Resource.Add_Document
                    }
                </strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    @using (Html.BeginForm("AddDocument", "FolderAndFile", FormMethod.Post, new { @id = "frmAddDocument", @enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                @Html.HiddenFor(j => j.DocumentId)
                                @Html.HiddenFor(j => j.DocParentFolderId)
                                @Html.HiddenFor(j => j.DocumentVersionId)
                                @Html.HiddenFor(j => j.DocAssignFormTemplateId)

                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Name</label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(q => q.DocName, new { @class = "form-control", @maxlength = "50" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Category</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(j => j.CategoryId, CommonFunctions.GetCategoryList(), new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Sub-Category</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(j => j.SubCategoryId, CommonFunctions.GetSubCategoryList(Model.CategoryId, Model.SubCategoryId), new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                @if (Model.DocumentVersionId == 0)
                                {
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Upload File</label>
                                            <div class="col-md-8">
                                                <input type="file" id="docUpload" name="docUpload">
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                }
                                @if (Model.DocSharePermission)
                                {
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Share With</label>
                                            <div class="col-md-4">
                                                @Html.ListBoxFor(m => m.DocShareUserIds, new SelectList(CommonFunctions.GetDocShareUserList(), "Value", "Text"), new { @class = "chosen-select form-control", @multiple = "multiple" })
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                }
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Language</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(j => j.Language, new List<SelectListItem>
                                                                        {
                                                                        new SelectListItem { Value = ((int)EnumList.Language.English).ToString() , Text = EnumList.Language.English.ToString() },
                                                                        new SelectListItem { Value = ((int)EnumList.Language.Arabic).ToString() , Text = EnumList.Language.Arabic.ToString() }
                                                                        }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Keywords</label>
                                        <div class="col-md-10">
                                            @Html.TextAreaFor(q => q.DocKeywords, new { @class = "form-control", @maxlength = "500" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Notes</label>
                                        <div class="col-md-10">
                                            @Html.TextAreaFor(q => q.DocNotes, new { @class = "form-control", @maxlength = "500" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div id="divAssignFormTemplate">
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Assigned Form Template</label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(j => j.DocAssignFormTemplateName, new { @class = "form-control", @disabled = "disabled" })
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-success" onclick="ShowFormTemplate()">Attach New Form Template</button>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                                <div class="row" id="divFormTemplate">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Attach Form Template</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(j => j.DocFormTemplateId, CommonFunctions.GetFormTemplateList(), new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Confidentiality</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(j => j.Confidentiality, new List<SelectListItem>
                                                                        {
                                                                        new SelectListItem { Value = ((int)EnumList.Priority.Low).ToString() , Text = EnumList.Priority.Low.ToString() },
                                                                        new SelectListItem { Value = ((int)EnumList.Priority.Medium).ToString() , Text = EnumList.Priority.Medium.ToString() },
                                                                        new SelectListItem { Value = ((int)EnumList.Priority.High).ToString() , Text = EnumList.Priority.High.ToString() }
                                                                        }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Public</label>
                                        <div class="col-md-4">
                                            <label>
                                                @Html.CheckBoxFor(j => j.DocPublic)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button type="button" id="btnSave" class="btn btn-default">
                                                <i class="fa fa-save text-navy"></i>&nbsp;
                                                Save
                                            </button>
                                            <button tye="button" class="btn btn-default" onclick="location.href='@Url.Action("FolderTreeView")'">
                                                <i class="fa fa-close text-danger"></i>&nbsp;
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/plugins/tagInputsStyles")
    <link href="@Url.Content("~/Content/plugins/select2/select2.min.css")" rel="stylesheet" />
}

@section Scripts{
    @Scripts.Render("~/plugins/tagInputs")
    <script src="@Url.Content("~/Scripts/plugins/select2/select2.full.min.js")"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            if ($("#DocumentId").val() > 0 && $("#DocAssignFormTemplateId").val() > 0) {
                $("#divAssignFormTemplate").show();
                $("#divFormTemplate").hide();
            }
            else {
                $("#divFormTemplate").show();
                $("#divAssignFormTemplate").hide();
            }

            //for multiple select in list
            $("#DocShareUserIds").select2({
                placeholder: "@Resource.Choose_User",
                allowClear: true,
                dir: "@(langs=="ar-bh"?"rtl":"ltr")"
            });

            $("#frmAddDocument").validate({
                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-success has-error');
                    $(e).closest('.form-group').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    $(e).prev().removeClass('has-error');
                    e.closest('.help-block').remove();
                    $(e).remove();
                },
                ignore: [],
                rules: {
                    Name: {
                        required: true,
                        remote: {
                            url: '@Url.Action("CheckDocumentName", "FolderAndFile")',
                            data: {
                                DocumentName: function () { return $("#Name").val(); },
                                DocumentID: function () { return $("#DocumentId").val(); },
                            }
                        }
                    },
                    CategoryId: {
                        required: true,
                    },
                    docUpload: {
                        required: true,
                    },
                    Notes: {
                        required: true,
                    },
                    Keywords: {
                        required: true,
                    }
                },
                messages: {
                    Name: {
                        required: "Enter document name",
                        remote: "Document name already exist"
                    },
                    CategoryId: {
                        required: "Select category",
                    },
                    docUpload: {
                        required: "Select file",
                    },
                    Notes: {
                        required: "Enter notes",
                    },
                    Keywords: {
                        required: "Enter keywords",
                    }
                },
                errorPlacement: function (error, element) {
                    element.parent().append(error);
                    //error.insertAfter(element.parent("div"));
                }
            });

            $("#btnSave").click(function () {
                if ($("#frmAddDocument").valid()) {
                    $("#frmAddDocument").submit();
                }
                else
                    return false;
            });

            $('#docUpload').bind('change', function () {
                $('#docUpload').valid();
            });

            $('#Keywords').change(function () {
                if ($('#Keywords').val() != "") {
                    $("#Keywords").next().css("display", "none");
                    $("#Keywords").closest('.form-group').removeClass('has-error');
                }
            });

            if ($("#DocumentId").val() > 0) {
                $('#Keywords').tagsinput('removeAll');
                $('#Keywords').tagsinput('add', '');
                var dataString = $("#Keywords").val();
                var stringLst = dataString.split(",");
                if (stringLst != undefined) {
                    for (var i = 0; i < stringLst.length; i++) {
                        $('#Keywords').tagsinput("add", stringLst[i]);
                    }
                }
            }

            $('#Keywords').tagsinput({
                tagClass: 'label label-primary'
            });

            $("#CategoryId").change(function () {
                var id = $(this).val();

                if (id != '' && id != null) {
                    $.ajax({
                        type: 'GET',
                        data: { CategoryID: id },
                        url: '@Url.Action("GetSubCategoryByCategoryID", "FolderAndFile")',
                        success: function (data) {
                            $("#SubCategoryId").html(""); // clear before appending new list
                            $.each(data.lst, function (i, data) {
                                $("#SubCategoryId").append(
                                    $('<option></option>').val(data.Value).html(data.Text));
                            });
                        }
                    })
                }
                else {
                    $("#SubCategoryId").html(""); // clear before appending new list
                    $("#SubCategoryId").append(
                                   $('<option></option>').val("").html('Select Sub-Category'));
                }
            });

        });

        function ShowFormTemplate() {
            $("#divFormTemplate").show();
        }
    </script>
}