﻿@model FolderDetailVM
@{
    ViewBag.Title = Resource.Add_Edit_Folder;
    Layout = "~/Views/Shared/_Layout.cshtml";
    long UserId = CommonFunctions.GetUserId();
    long CabinetId = CommonFunctions.GetCabinetId();
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        @if (Model.Id > 0)
        {
            <h2>@Resource.Edit_Folder</h2>
        }
        else
        {
            <h2>@Resource.Add_Folder</h2>
        }
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("GoToHome", "Account")"><i class="fa fa-lg fa-home"></i></a>
            </li>
            <li>
                <a>@Resource.Folder_Management</a>
            </li>
            <li class="active">
                <strong>
                    @if (Model.Id > 0)
                    {
                        @Model.Name
                    }
                    else
                    {
                        @Resource.Add_Folder
                    }
                </strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    @using (Html.BeginForm("AddFolder", "FolderAndFile", FormMethod.Post, new { @id = "frmAddFolder" }))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                @Html.HiddenFor(j => j.Id)
                                @Html.HiddenFor(j => j.ParentFolderId)
                                @Html.HiddenFor(j => j.FolAssignFormTemplateId)

                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">@Resource.Name</label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(q => q.Name, new { @class = "form-control", @maxlength = "50", @autofocus = "autofocus" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">@Resource.Keywords</label>
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(q => q.Keywords, new { @class = "form-control", @maxlength = "500" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">@Resource.Notes</label>
                                        <div class="col-md-10">
                                            @Html.TextAreaFor(q => q.Notes, new { @class = "form-control", @maxlength = "500" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div id="divAssignFormTemplate">
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Assigned Form Template</label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(j => j.FolAssignFormTemplateName, new { @class = "form-control", @disabled = "disabled" })
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-success" onclick="ShowFormTemplate()">Attach New Form Template</button>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                                <div class="row" id="divFormTemplate">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">@Resource.Select_FormTemplate</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(j => j.FolFormTemplateId, CommonFunctions.GetFormTemplateList(), new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button type="button" id="btnSave" class="btn btn-default">
                                                <i class="fa fa-save text-navy"></i>&nbsp;
                                                @Resource.Save
                                            </button>
                                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("FolderTreeView")'">
                                                <i class="fa fa-close text-danger"></i>&nbsp;
                                                @Resource.Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/plugins/tagInputsStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/tagInputs")
    <script type="text/javascript">

        $(document).ready(function () {
            if ($("#Id").val() > 0 && $("#FolAssignFormTemplateId").val() > 0) {
                $("#divAssignFormTemplate").show();
                $("#divFormTemplate").hide();
            }
            else {
                $("#divFormTemplate").show();
                $("#divAssignFormTemplate").hide();
            }

            $("#frmAddFolder").validate({
                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-success has-error');
                    $(e).closest('.form-group').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    $(e).prev().removeClass('has-error');
                    e.closest('.help-block').remove();
                    $(e).remove();
                },
                ignore: [],
                rules: {
                    Name: {
                        required: true,
                        remote: {
                            url: '@Url.Action("CheckFolderName", "FolderAndFile")',
                            data: {
                                FolderName: function () { return $("#Name").val(); },
                                FolderID: function () { return $("#Id").val(); },
                            }
                        }
                    },
                    Notes: {
                        required: true,
                    },
                    Keywords: {
                        required: true,
                    }
                },
                messages: {
                    Name: {
                        required: "@Messages.FolderName_Validation",
                        remote: "@Messages.Folder_already_exist"
                    },
                    Notes: {
                        required: "@Messages.Enter_notes",
                    },
                    Keywords: {
                        required: "@Messages.Enter_keywords",
                    }
                },
                errorPlacement: function (error, element) {
                    element.parent().append(error);
                    //error.insertAfter(element.parent("div"));
                }
            });

            $("#btnSave").click(function () {
                if ($("#frmAddFolder").valid()) {
                    $("#frmAddFolder").submit();
                }
                else
                    return false;
            });

            $('#Keywords').change(function () {
                if ($('#Keywords').val() != "") {
                    $("#Keywords").next().css("display", "none");
                    $("#Keywords").closest('.form-group').removeClass('has-error');
                }
            });

            if ($("#Id").val() > 0) {
                $('#Keywords').tagsinput('removeAll');
                $('#Keywords').tagsinput('add', '');
                var dataString = $("#Keywords").val();
                var stringLst = dataString.split(",");
                if (stringLst != undefined) {
                    for (var i = 0; i < stringLst.length; i++) {
                        $('#Keywords').tagsinput("add", stringLst[i]);
                    }
                }
            }

            $('#Keywords').tagsinput({
                tagClass: 'label label-primary'
            });
        });

        function ShowFormTemplate() {
            $("#divFormTemplate").show();
        }
    </script>
}