﻿@model List<FileListVM>
@{
    ViewBag.Title = "Recycle Bin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .sort {
        cursor: pointer;
    }

        .sort:after {
            float: right;
            content: "\e150";
            font-family: Glyphicons Halflings;
            opacity: 0.5;
        }

    .asc:after {
        content: "\e155";
        font-family: Glyphicons Halflings;
        opacity: 0.5;
    }

    .desc:after {
        content: "\e156";
        font-family: Glyphicons Halflings;
        opacity: 0.5;
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Recycle Bin</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("GoToHome", "Account")"><i class="fa fa-lg fa-home"></i></a>
            </li>
            <li class="active">
                <a>Recycle Bin</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <div class="tabrdiv">
                                <table class="table table-striped table-bordered table-hover" id="tblRecycleBinList">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th class="text-center" width="5%"><input type="checkbox" id="checkAll" /></th>
                                            <th width="15%" class="sort">Name</th>
                                            <th width="10%" class="sort">Version</th>
                                            <th width="10%" class="sort">Size</th>
                                            <th width="25%" class="sort">Modified By</th>
                                            <th width="25%" class="sort">Modified On</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@(item.DocumentVersion > 0 ? "2" : "1")</td>
                                                <td class="text-center" width="5%">
                                                    <input type="checkbox" class="checkboxFolderFile" value="@item.Id" />
                                                </td>
                                                <td width="15%" style="word-break:break-all"> <i class='@item.DocumentType'></i> &nbsp;@item.Name</td>
                                                <td width="10%" style="word-break:break-all">
                                                    @if (item.DocumentVersion > 0)
                                                    {
                                                        <span>v @item.DocumentVersion.ToString("0.0")</span>
                                                    }
                                                    else
                                                    {
                                                        <span>-</span>
                                                    }
                                                </td>
                                                <td width="15%" style="word-break:break-all">@item.DocumentDisplaySize</td>
                                                <td width="25%" style="word-break:break-all">@item.ModifiedBy</td>
                                                <td width="25%">
                                                    @item.ModifiedOn
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <link href="@Url.Content("~/Content/FileTypeIcon.css")" rel="stylesheet" />
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //sweta Try For DataTable Sorting
            jQuery.fn.dataTable.ext.type.order['file-size-pre'] = function (data) {
                var matches = data.match(/^(\d+(?:\.\d+)?)\s*([a-z]+)/i);
                var multipliers = {
                    b: 1,
                    bytes: 1,
                    kb: 1000,
                    kib: 1024,
                    mb: 1000000,
                    mib: 1048576,
                    gb: 1000000000,
                    gib: 1073741824,
                    tb: 1000000000000,
                    tib: 1099511627776,
                    pb: 1000000000000000,
                    pib: 1125899906842624
                };

                if (matches) {
                    var multiplier = multipliers[matches[2].toLowerCase()];
                    return parseFloat(matches[1]) * multiplier;
                } else {
                    return -1;
                };
            };
            $('#tblRecycleBinList').DataTable({
                bPaginate: false,
                bSearching: false,
                bInfo: false,
                "columnDefs": [
                    {
                        'bSortable': false,
                        'aTargets': [1],
                    },
                    { "type": "file-size", "targets": 4 },// Size Wise Sorting
                    {
                        "targets": [0],
                        "visible": false
                    }
                ],
                orderFixed: [0, 'asc'], //First Back Button Do Not Sort
                "dom": ""
            });
        });
    </script>
}
