﻿@model WFStep
   
    <div class="col-md-11 Settingstep" id="step-@Model.StepNumber" data-id="@Model.StepNumber" style="margin-top:15px;">       
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="col-md-2 control-label">Name</label>
                    <div class="col-md-8">
                        @Html.TextBox("FieldName" + Model.StepNumber, "", new { @class = "form-control", @maxlength = "50", @autofocus = "autofocus" })
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="col-md-2 control-label">Value</label>
                    <div class="col-md-8">
                        @Html.TextBox("FieldValue" + Model.StepNumber, "", new { @class = "form-control", @maxlength = "50", @autofocus = "autofocus"})
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="col-md-9">
                        <i id="@Model.StepNumber-stepdelete" onclick="StepDelete(this)" class="fa fa-times-circle-o text-danger deletestep" autofocus>
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </div>