﻿@model CabinetMaster
@{
    ViewBag.Title = Resource.Add_Edit_Cabinet;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        @if (Model.Id > 0)
        {
            <h2>@Resource.Edit_Cabinet</h2>
        }
        else
        {
            <h2> @Resource.Add_Cabinet </h2>
        }
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("GoToHome", "Account")"><i class="fa fa-lg fa-home"></i></a>
            </li>
            <li>
                <a>@Resource.Cabinet</a>
            </li>
            <li>
                <a href="@Url.Action("CabinetList", "Administration")">@Resource.Cabinet_List</a>
            </li>
            <li class="active">
                <strong>
                    @if (Model.Id > 0)
                    {
                        @Model.Name
                    }
                    else
                    {
                        @Resource.Add_Cabinet
                    }
                </strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    @using (Html.BeginForm("AddCabinet", "Administration", FormMethod.Post, new { @id = "frmAddCabinet" }))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                @Html.HiddenFor(j => j.Id)
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">@Resource.Name</label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(q => q.Name, new { @class = "form-control", @maxlength = "50", @autofocus = "autofocus", @onkeypress = "return IsAlphaNumericWithSpace(event);" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">@Resource.Keywords</label>
                                        <div class="col-md-11">
                                            @Html.TextBoxFor(q => q.Keywords, new { @class = "form-control", @maxlength = "500" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">@Resource.Notes</label>
                                        <div class="col-md-11">
                                            @Html.TextAreaFor(q => q.Notes, new { @class = "form-control", @maxlength = "500" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button type="button" id="btnSave" class="btn btn-default">
                                                <i class="fa fa-save text-navy"></i>&nbsp;
                                                @Resource.Save
                                            </button>
                                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("CabinetList", "Administration")'">
                                                <i class="fa fa-close text-danger"></i>&nbsp;
                                                @Resource.Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/plugins/tagInputsStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/tagInputs")

    <script type="text/javascript">

        $(document).ready(function () {

            //Add active class in menu
            $("#link_AddCabinet").addClass('active');
            $("#link_AddCabinet").parent().addClass('in');
            $("#link_AddCabinet").parent().parent().addClass('active');

            $("#btnSave").one('click',function () {
                if ($("#frmAddCabinet").valid()) {
                    $("#frmAddCabinet").submit();
                } else {
                    $('.error:first').parent().find('.form-control').focus();
                    $('.error:first').parent().find('.bootstrap-tagsinput>input').focus();
                    
                    //if ($("#Name").val() === '') {
                    //    $("#Name").focus();
                    //}
                    //else if ($("#Notes").val() === '') {
                    //    $("#Notes").focus();
                    //}
                    //else {
                    //    $("#Keywords").focus();
                    //}
                }
            });

            $("#frmAddCabinet").validate({
                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-success has-error');
                    $(e).closest('.form-group').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    $(e).prev().removeClass('has-error');
                    e.closest('.help-block').remove();
                    $(e).remove();
                },
                ignore: [],
                rules: {
                    Name: {
                        required: true,
                        remote: {
                            url: '@Url.Action("CheckCabinet", "Administration")',
                            data: {
                                CabinetName: function () { return $("#Name").val(); },
                                CabinetID: function () { return $("#Id").val(); },
                            }
                        }
                    },
                    Notes: {
                        required: true,
                    },
                    Keywords: {
                        required: true,
                    }
                },
                messages: {
                    Name: {
                        required: '@Messages.Enter_cabinet_name',
                        remote: '@Messages.Cabinet_already_exist'
                    },
                    Notes: {
                        required: '@Messages.Enter_notes'
                    },
                    Keywords: {
                        required: '@Messages.Enter_keywords'
                    }
                },
                errorPlacement: function (error, element) {
                    element.parent().append(error);
                    //error.insertAfter(element.parent("div"));
                }
            });

            $('#Keywords').change(function () {
                if ($('#Keywords').val() != "") {
                    $("#Keywords").next().css("display", "none");
                    $("#Keywords").closest('.form-group').removeClass('has-error');
                }
                else if ($('#Keywords').val() == "") {
                    $("#Keywords").valid();
                }
            });

            if ($("#Id").val() > 0) {
                $('#Keywords').tagsinput('removeAll');
                $('#Keywords').tagsinput('add', '');
                var dataString = $("#Keywords").val();
                var stringLst = dataString.split(",");
                if (stringLst != undefined) {
                    for (var i = 0; i < stringLst.length; i++) {
                        $('#Keywords').tagsinput("add", stringLst[i]);
                    }
                }
            }

            $('#Keywords').tagsinput({
                tagClass: 'label label-primary'
            });

            $('.bootstrap-tagsinput').css('border-bottom', '1px Solid #D2D2D2').css('width', '100%');
        });
    </script>
}

