﻿@model CategoryMaster
@{
    ViewBag.Title = Resource.Add_Edit_Category;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        @if (Model.Id > 0)
        {
            <h2>@Resource.Edit_Category</h2>
        }
        else
        {
            <h2> @Resource.Add_Category</h2>
        }
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("GoToHome", "Account")"><i class="fa fa-lg fa-home"></i></a>
            </li>
            <li>
                <a>@Resource.Category</a>
            </li>
            <li>
                <a href="@Url.Action("CategoryList", "Administration")">@Resource.Category_List</a>
            </li>
            <li class="active">
                <strong>
                    @if (Model.Id > 0)
                    {
                        @Model.Name
                    }
                    else
                    {
                        @Resource.Add_Category
                    }
                </strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    @using (Html.BeginForm("AddCategory", "Administration", FormMethod.Post, new { @id = "frmCategory" }))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                @Html.HiddenFor(j => j.Id)
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">@Resource.Category_Name</label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(q => q.Name, new { @class = "form-control", @maxlength = "50", @autofocus = "autofocus", @onkeypress = "return IsAlphaNumericWithSpace(event);" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button type="submit" id="btnSave" class="btn btn-default">
                                                <i class="fa fa-save text-navy"></i>&nbsp;
                                                @Resource.Save
                                            </button>
                                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("CategoryList", "Administration")'">
                                                <i class="fa fa-close text-danger"></i>&nbsp;
                                                @Resource.Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            //Add active class in menu
            $("#link_AddCategory").addClass('active');
            $("#link_AddCategory").parent().addClass('in');
            $("#link_AddCategory").parent().parent().addClass('active');

            $("#btnSave").one('click', function () {
                if ($("#frmCategory").valid()) {
                    $("#frmCategory").submit();
                }
            });

            $("#frmCategory").validate({
                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-success has-error');
                    $(e).closest('.form-group').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    $(e).prev().removeClass('has-error');
                    e.closest('.help-block').remove();
                    $(e).remove();
                    $("#Name-error").hide();
                },
                rules: {
                    Name: {
                        required: true,
                        remote: {
                            url: '@Url.Action("CheckCategory", "Administration")',
                            data: {
                                CategoryName: function () { return $("#Name").val(); },
                                CategoryID: function () { return $("#Id").val(); }
                            }
                        }
                    }
                },
                messages: {
                    Name: {
                        required: '@Messages.Enter_category_name',
                        remote: '@Messages.Category_already_exist'
                    }
                },
                errorPlacement: function (error, element) {
                    element.parent().append(error);
                    //error.insertAfter(element.parent("div"));
                }
            });

        });
    </script>
}

