﻿@model PositionVM
@{
    ViewBag.Title = Resource.Add_Edit_Position;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        @if (Model.Id > 0)
            {
            <h2>@Resource.Edit_Position</h2>
        }
        else
        {
            <h2> @Resource.Add_Position </h2>
        }
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("GoToHome", "Account")"><i class="fa fa-lg fa-home"></i></a>
            </li>
            <li>
                <a>@Resource.Position</a>
            </li>
            <li>
                <a href="@Url.Action("PositionList", "Administration")">@Resource.Position_List</a>
            </li>
            <li class="active">
                <strong>
                    @if (Model.Id > 0)
                    {
                        @Model.Name
                    }
                    else
                    {
                        @Resource.Add_Position
                    }
                </strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    @using (Html.BeginForm("AddPosition", "Administration", FormMethod.Post, new { @id = "frmPosition" }))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                @Html.HiddenFor(j => j.Id)
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">@Resource.Select_Department</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(j => j.DepartmentId, CommonFunctions.GetDepartmentList(), new { @class = "form-control", @autofocus = "autofocus" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">@Resource.Select_Section</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(j => j.SectionId, CommonFunctions.GetSectionListByDepartment(Model.DepartmentId, Model.SectionId), new { @class = "form-control", @autofocus = "autofocus" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">@Resource.Position_Name</label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(q => q.Name, new { @class = "form-control", @maxlength = "50", @onkeypress = "return IsAlphaNumericWithSpace(event);" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button type="submit" id="btnSave" class="btn btn-default">
                                                <i class="fa fa-save text-navy"></i>&nbsp;
                                                @Resource.Save
                                            </button>
                                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("PositionList", "Administration")'">
                                                <i class="fa fa-close text-danger"></i>&nbsp;
                                                @Resource.Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            //Add active class in menu
            $("#link_AddPosition").addClass('active');
            $("#link_AddPosition").parent().addClass('in');
            $("#link_AddPosition").parent().parent().addClass('active');

            $("#btnSave").one('click', function () {
                if ($("#frmPosition").valid()) {
                    $("#frmPosition").submit();
                }
            });

            $("#frmPosition").validate({
                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-success has-error');
                    $(e).closest('.form-group').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    $(e).prev().removeClass('has-error');
                    e.closest('.help-block').remove();
                    $(e).remove();
                    $("#Name-error").hide();
                },
                rules: {
                    DepartmentId: {
                        required: true,
                    },
                    SectionId: {
                        required: true,
                    },
                    Name: {
                        required: true,
                        remote: {
                            url: '@Url.Action("CheckPosition", "Administration")',
                            data: {
                                PositionName: function () { return $("#Name").val(); },
                                SectionID: function () { return $("#SectionId").val() != "" ? $('#SectionId').val() : 0; },
                                PositionID: function () { return $("#Id").val(); }
                            }
                        }
                    }
                },
                messages: {
                    DepartmentId: {
                        required: "@Messages.Select_department",
                    },
                    SectionId: {
                        required: "@Messages.Select_section",
                    },
                    Name: {
                        required: "@Messages.Enter_position_name",
                        remote: "@Messages.Position_already_exist"
                    }
                },
                errorPlacement: function (error, element) {
                    element.parent().append(error);
                    //error.insertAfter(element.parent("div"));
                }
            });

            $("#SectionId").change(function () {
                $("#Name-error").hide();
                if ($("#Name").val() != "") {
                    $.ajax({
                        type: 'GET',
                        data: { PositionName: $("#Name").val(), SectionID: $("#SectionId").val(), PositionID: $("#Id").val() },
                        url: '@Url.Action("CheckPosition", "Administration")',
                        success: function (data) {
                            if (data) {
                            }
                            else {
                                $("#Name-error").show();
                                $("#Name-error").text("@Messages.Position_already_exist");
                            }
                        }
                    });
                }
            });

            $("#DepartmentId").change(function () {
                var id = $(this).val();
                if (id != null) {
                    $.ajax({
                        type: 'GET',
                        data: { DepartmentID: id },
                        url: '@Url.Action("GetSectionByDepartmentID", "Administration")',
                        success: function (data) {
                            $("#SectionId").html(""); // clear before appending new list
                            $.each(data.lst, function (i, data) {
                                $("#SectionId").append(
                                    $('<option></option>').val(data.Value).html(data.Text));
                            });
                        }
                    });
                }
                else {
                    $("#SectionId").html(""); // clear before appending new list
                    $("#SectionId").append(
                                   $('<option></option>').val("").html('@Resource.Select_Section'));
                }
            });
        });
    </script>
}

