﻿@model DocWare.Models.SettingsDC
@{
    ViewBag.Title = Resource.Edit_Settings;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        @if (Model.SettingsId > 0)
        {
        <h2>@Resource.Edit_Settings</h2>
        }
        else
        {
            <h2>Add Settings</h2>
        }
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("GoToHome", "Account")"><i class="fa fa-lg fa-home"></i></a>
            </li>
            <li>
                <a>@Resource.Settings</a>
            </li>
            <li>
                <a href="@Url.Action("SettingsList", "Administration")">@Resource.Settings_List</a>
            </li>
            <li class="active">
                <strong>
                    @if (Model.SettingsId > 0)
                    {
                        @Model.SettingName
                    }
                    else
                    {
                        <span>Add Settings</span>
                    }
                </strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    @using (Html.BeginForm("AddSettings", "Administration", FormMethod.Post, new { @id = "frmSettings" }))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                @Html.HiddenFor(j => j.SettingsId)
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">@Resource.Setting_Name</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(j => j.SettingsId, CommonFunctions.GetSettingsList(), new { @class = "form-control ddlsetting", @autofocus = "autofocus", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-body">
                                                <div id="steplist">
                                                    <div id="stepsnumber">
                                                        @if (Model.SettingsDetail.Count == 0)
                                                        {
                                                            @*<div class="col-md-11 Settingstep" id="step-1" data-id="1">
                                                                    <div class="row">
                                                                        <div class="col-md-5">
                                                                            <div class="form-group">
                                                                                <label class="col-md-2 control-label">Name</label>
                                                                                <div class="col-md-8">
                                                                                    @Html.TextBox("FieldName1", "", new { @class = "form-control", @maxlength = "50", @autofocus = "autofocus" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-5">
                                                                            <div class="form-group">
                                                                                <label class="col-md-2 control-label">Value</label>
                                                                                <div class="col-md-8">
                                                                                    @Html.TextBox("FieldValue1", "", new { @class = "form-control", @maxlength = "50", @autofocus = "autofocus" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>*@
                                                        }
                                                        else
                                                        {
                                                            var count = 0;
                                                            foreach (var item in Model.SettingsDetail)
                                                            {
                                                                count++;
                                                                if (item.FieldValue != "True" && item.FieldValue != "False")
                                                                {                                                                    
                                                                    <div class="col-md-11 Settingstep" id="step-@count" data-id="@count" style="margin-top:15px;">
                                                                        <div class="row">
                                                                            <div class="col-md-3">
                                                                                <div class="form-group">
                                                                                    <label class="col-md-2 control-label" id="FieldName-@count">@item.FieldName</label>
                                                                                    @Html.HiddenFor(j => item.DetailId)
                                                                                    @*<div class="col-md-8">
                                                                                        @Html.TextBoxFor(x => item.FieldName, new { @id = "FieldName" + count, @class = "form-control", @maxlength = "50", @autofocus = "autofocus", @disabled = "disabled" })
                                                                                                                        </div>*@
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-5">
                                                                                <div class="form-group">
                                                                                    <label class="col-md-2 control-label">Value</label>
                                                                                    <div class="col-md-8">
                                                                                        @Html.TextBoxFor(x => item.FieldValue, new { @id = "FieldValue-" + count, @class = "form-control", @maxlength = "50", @autofocus = "autofocus" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    
                                                                    <div class="col-md-11 Settingstep" id="step-@count" data-id="@count" style="margin-top:15px;">
                                                                        <div class="row">
                                                                            <div class="col-md-3">
                                                                                <div class="form-group">
                                                                                    <label class="col-md-2 control-label" id="FieldName-@count">@item.FieldName</label>
                                                                                    @Html.HiddenFor(j => item.DetailId)
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-5">
                                                                                <div class="form-group">
                                                                                    <label class="col-md-2 control-label">Value</label>
                                                                                    <div class="col-md-8">
                                                                                        @*@Html.CheckBoxFor(x => Convert.ToBoolean(item.FieldValue), new { @id = "FieldValue" + count,})*@
                                                                                        @{
                                                                                            string Checked = "";
                                                                                            if (item.FieldValue == "True")
                                                                                            {
                                                                                                Checked = "checked";
                                                                                            }
                                                                                        }
                                                                                        <input type="checkbox" id="FieldValue-@count" name="FieldValue-@count" @Checked />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        }
                                                    </div>
                                                    @*<br />
                                                        <div class="col-md-12">
                                                            <div>
                                                                <span onclick="AddStep()" class="fa-stack text-navy addstep" autofocus>
                                                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                                    <i class="fa fa-plus fa-stack-1x" style="padding: 1px;"></i>
                                                                </span>
                                                            </div>
                                                        </div>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button type="button" id="btnSave" class="btn btn-default">
                                                <i class="fa fa-save text-navy"></i>&nbsp;
                                                @Resource.Save
                                            </button>
                                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("SettingsList", "Administration")'">
                                                <i class="fa fa-close text-danger"></i>&nbsp;
                                                @Resource.Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles{
    <link href="@Url.Content("~/Content/plugins/sweetalert/sweetalert.css")" rel="stylesheet" />
}
@section Scripts{
    <script src="@Url.Content("~/Scripts/plugins/sweetalert/sweetalert.min.js")"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            //Add active class in menu
            $("#link_AddCategory").addClass('active');
            $("#link_AddCategory").parent().addClass('in');
            $("#link_AddCategory").parent().parent().addClass('active');

            $("#btnSave").on('click', function () {
                debugger;
                var isfalse = 0;
                $('.Settingstep').each(function () {
                var a = this.id;
                    var stepId = a[a.length - 1];
                    //var FieldName = $('#FieldName' + stepId).val();
                    var FieldValue = $('#FieldValue-' + stepId).val();
                    if (FieldValue == "")
                    {
                        toastr.warning("Field Value can not be null", "warning");
                        isfalse = 1;
                        return false;
                    }

                });
                if (isfalse == 0) {
                    if ($("#frmSettings").valid()) {
                        //$("#frmSettings").submit();
                        SaveSetting();
                    }
                }
            });

            $("#frmSettings").validate({
                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-success has-error');
                    $(e).closest('.form-group').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    $(e).prev().removeClass('has-error');
                    e.closest('.help-block').remove();
                    $(e).remove();
                    $("#Name-error").hide();
                },
                rules: {
                    SettingsId: {
                        required: true,
                        @*remote: {
                            url: '@Url.Action("CheckSetting", "Administration")',
                            data: {
                                SettingsId: function () { return $(SettingsId).children("option:selected").val() != "" ? $(SettingsId).children("option:selected").val() : 0 }
                            }
                        }*@
                    }
                },
                messages: {
                    SettingsId: {
                        required: 'Select Setting',
                        //remote: 'Setting already exist'
                    }
                },
                errorPlacement: function (error, element) {
                    element.parent().append(error);
                    //error.insertAfter(element.parent("div"));
                }
            });

            $(".ddlsetting").change(function () {
                var id = this.value;
                //alert(id);
                if (id > 0) {
                    CheckSetting(id);
                }
            });            

        });

        //Add new step
        function AddStep() {
            var id = getNewMaxId();
            $.ajax({
                url: '@Url.Action("_DynamicSettingStep", "Administration")',
                data: { Id: id },
                success: function (data) {
                    $("#stepsnumber").append(data);
                },
                error: function (data) {
                    $("#stepsnumber").append("ERROR");
                }
            });// End of Ajax Call
        }

        //for Parent div section single level control ID
        function getNewMaxId() {
            var newId = '0';
            var arrtxtidno = [];
            $('.Settingstep').each(function () {
                var a = this.id;
                arrtxtidno.push(a[a.length-1]);
            });
            if (arrtxtidno.length != 0) {
                var maxid = Math.max.apply(Math, arrtxtidno);
                maxid = parseInt(maxid) + 1;
                newId = maxid;
                return newId;
            } else {
                newId = 1;
                return newId;
            }
        }

        //function for Delete Step
        function StepDelete(e) {
            var list = [];
            $('.deletestep').each(function () {
                var a = this.id;
                list.push(a);
            });
            if (list.length > 1) {
                $('#step-' + e.id[0]).remove();
            }
        }

        function SaveSetting() {
            debugger;
            var steplst = [];
            var stepNo = 0;
            $('.Settingstep').each(function () {                
                stepNo++;
                var a = this.id;
                var stepId = a[a.length - 1];               
                var inputType = $('#FieldValue-' + stepId).attr('type');
                //alert(inputType);      
                if (inputType == "checkbox") {                    
                    var value = "False";
                    if ($('#FieldValue-' + stepId).prop("checked") == true) {
                        value = "True";
                    }
                    steplst.push({
                        FieldName: $('#FieldName-' + stepId).text(),
                        FieldValue: value,
                    });
                }
                else {
                    steplst.push({
                        FieldName: $('#FieldName-' + stepId).text(),
                        FieldValue: $('#FieldValue-' + stepId).val(),
                    });
                }
            });
            debugger;
            var userLst = {
                SettingsId: $(SettingsId).children("option:selected").val(),
                SettingName: "",
                SettingsDetail: steplst,
            };

            $.ajax({
                type: "POST",
                url: '@Url.Action("AddSettings", "Administration")',
                data: JSON.stringify({ data: userLst }),
                contentType: "application/json",
                success: function (data) {
                    location.href = '@Url.Action("SettingsList", "Administration")'
                }
            });
        }
        function CheckSetting(id) {
            //var SettingsId= $("#SettingsId").val() != "" ? $('#SettingsId').val() : 0
            if (id > 0) {
                $.ajax({
                    url: '@Url.Action("CheckSetting", "Administration")',
                    data: { SettingsId: id },
                    dataType: "json",
                    contentType: "application/json",
                    success: function (data) {
                        if (data == false) {
                            //
                            //$("#SettingsId").val('');
                            $("#SettingsId").val($("#SettingsId option[selected]").val());
                            toastr.warning("Setting is already exist", "warning");
                        }
                    }
                });
            }
        }
    </script>
}

