﻿@model ResetPasswordConfirmVM
@{
    Layout = null;
    var langs = "en-us";
    if (Request.Cookies["LangForMultiLanguage"] != null)
    {
        langs = Request.Cookies["LangForMultiLanguage"].Value;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Resource.DocWare | Reset Password Confirmation</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    @Styles.Render("~/plugins/toastrStyles")
    <link href="~/Content/Custom.css" rel="stylesheet" />
    @Scripts.Render("~/Scripts/multiLanguagejs")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @if (langs == "ar-bh")
    {
        <link href="@Url.Content("~/Content/plugins/bootstrap-rtl/bootstrap-rtl.css")" rel="stylesheet" />
    }
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/toastr")
    <script type="text/javascript">
        function browserCopy() {
            if (self != top) { top.location.replace(self.location.href); }
        }
        function IntervalSet() {
            function temp() {
                if (window.location.hash != storedHash) {
                    window.location.hash = storedHash;
                }
            }
            var storedHash = window.location.hash;
            window.setInterval(temp, 50);
        }
    </script>
    <script type="text/javascript">
        function addLoadEvent(func) {
            var oldonload = window.onload;
            if (typeof window.onload != 'function') {
                window.onload = func;
            } else {
                window.onload = function () {
                    if (oldonload) {
                        oldonload();
                    }
                    func();
                }
            }
        }
        addLoadEvent(browserCopy);
        addLoadEvent(IntervalSet);
    </script>
    <style>
        body.rtls .navbar-right:last-child {
            margin-left: 0;
        }
    </style>
</head>

<body class="md-skin @(langs=="ar-bh"?"rtls gray-bg":"gray-bg")">
    <div class="row">
        <div class="navbar navbar-static-top">
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a data-toggle="dropdown" class="dropdown-toggle text-center" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                            </span> <span class="block language-cls"><i class="fa fa-globe fa-x"></i>  @Resource.Language </span>
                        </span>
                    </a>
                    <ul class="langs dropdown-menu animated fadeInRight m-t-xs res-leg-select" style="list-style:none;">
                        <li style="display:inline;">
                            <a href="" class="setLang" data-lang="en-us">English</a>
                        </li>
                        <li style="display:inline;">
                            <a href="" class="setLang arabicSize" data-lang="ar-bh">عربى</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="passwordBox animated fadeInDown">
        @Html.HiddenFor(j => j.UserId)
        @Html.HiddenFor(j => j.ApplicationId)
        <div class="row">
            <div class="col-md-12">
                <div class="ibox-content">
                    <h2 class="font-bold">Confirm Reset Password</h2>
                    <div class="row">
                        <div class="col-lg-12">
                            @if (Model.UserId > 0 && Model.ApplicationId > 0)
                            {
                                <div class="form-group">
                                    <label>Your request for reset password.. Click below to send password on your registered Email ID.</label>
                                </div>
                                <button type="button" id="btnSendpass" class="btn btn-primary block full-width m-b">@Resource.Send</button>
                            }
                            else
                            {
                                <h3>Error while processing..</h3>
                                <a href="@Url.Action("Login", "Account")">Back To Login</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>

    <script>
        $(document).ready(function () {
            var lang = DocWare.Cookies.getCookie("LangForMultiLanguage");
            $(".setLang[data-lang='" + lang + "']").addClass("active-lang");
            $(".setLang").on("click", function (event) {
                var lang = $(this).attr("data-lang");
                DocWare.Cookies.setCookie("LangForMultiLanguage", lang, 30);
            });
        });
    </script>
    <script type="text/javascript">

        $("#btnSendpass").click(function () {
            if ($("#UserId").val() != "" && $("#ApplicationId").val() != "") {
                var userId = $("#UserId").val();
                var applicationid = $("#ApplicationId").val();

                // cache the button reference
                var $this = $(this);
                // disable the button
                $this.prop('disabled', true);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SendPassword", "Account")',
                    data: { UserID: userId, ApplicationId: applicationid },
                    success: function (data) {
                        $this.prop('disabled', false);
                        toastr.options = {
                            "closeButton": true,
                            "debug": false,
                            "progressBar": true,
                            "positionClass": "toast-top-right",
                            "onclick": null,
                            "showDuration": "500",
                            "hideDuration": "1000",
                            "timeOut": "7000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        if (data.flag === true) {
                            toastr.success("@Messages.Password_Send_Success", "@Messages.Success");
                        }
                        else {
                            toastr.error("@Messages.Password_Send_Fail", "@Messages.Error");
                        }

                        window.setTimeout(function () {
                            location.href = '@Url.Action("Login", "Account")';
                        }, 1000);
                    },
                    error: function () {
                        $this.prop('disabled', false);
                    }
                });
            }
        });

        $(document).keypress(function (e) {
            if (e.which == 13) {
                e.preventDefault();
                $("#btnSendpass").click();
            }
        });
    </script>
</body>
</html>
