﻿@model FolderListVM
@{
    ViewBag.Title = "Employes Cabinet List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var langs = "en-us";
    if (Request.Cookies["LangForMultiLanguage"] != null)
    {
        langs = Request.Cookies["LangForMultiLanguage"].Value;
    }

    FolderPermissionVM lst = (FolderPermissionVM)Session["PermissionListSession"];
    var fId = Model.FolderId;
}
<style>
    .download-img {
        height: 100px;
        width: 100px;
        color: #808080;
        opacity: 0.5;
    }

    .download-img-div {
        padding: 15px;
        text-align: center;
    }

    #DocShareError {
        color: #EF6776;
    }

    .sweet-alert p {
        line-height: unset !important;
    }

    .cabinet-disabled {
        pointer-events: none;
        opacity: 0.6;
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2 id="hdrFolderName">@Model.CabinetName</h2>
        <ol class="breadcrumb custom_breadcrumb">
            <li>
                <a href="@Url.Action("GoToHome", "Account" )"><i class="fa fa-lg fa-home"></i> </a>
            </li>
            <li>
                <a href="@Url.Action("CabinetFiles", "Cabinet")">@Model.CabinetName</a>
            </li>
        </ol>

        <ul class="Right_Griew_Views">
            <li>
                <a class="lblgrid" onclick="ChangeView('grid');"><i class="fa fa-lg fa-list-ul"></i> Grid View </a>
            </li>
            <li>
                <a class="lblthumb" onclick="ChangeView('thumbnail');"><i class="fa fa-lg fa-th"></i> Thumbnails View </a>
            </li>
            <li class="about_icon cabinet-disabled">
                <a id="show-side-panel1"> <i class="fa fa-info"></i> </a>
            </li>
        </ul>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="ibox">
                <input id="ViewMode" type="hidden" />
                <div class="custom_filter">
                    @Html.HiddenFor(j => j.FolderId)
                    @Html.HiddenFor(j => j.FavoriteId)
                    @Html.HiddenFor(j => j.FolderName)
                    @Html.HiddenFor(j => j.LastOpenFolderId)
                    @Html.HiddenFor(j => j.LastOpenParentFavId)
                    <ul class="list-inline action_div">
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <img src="@Url.Content("~/IconImages/plus.png")" /> New <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="">
                                    @if (lst.HasFolderPermission)
                                    {
                                        <a onclick="AddEditFolder(0);" class="new_folder"> Folder </a>
                                    }
                                    else
                                    {
                                        <a onclick="AddEditFolder(0);" class="new_folder cabinet-disabled"> Folder </a>
                                    }

                                    @*@if (lst.HasFolderPermission)
                                    {
                                        <a onclick="AddEditFolder(0);" class="new_folder"> Folder </a>
                                    }
                                    else
                                    {
                                        <a class="new_folder"> Folder </a>
                                    }*@
                                </li>
                                @*<li class="newFolderFile"><a onclick="AddEditDocument(0,0);" class="new_file"> File </a></li>*@
                            </ul>
                        </li>

                        <li class="dropdown cabinet-disabled">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <img src="@Url.Content("~/IconImages/upload-2.png")" /> Upload <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="link_file"> Linked File </a></li>
                                <li><a href="#" class="new_version"> New Version </a></li>
                                <li><a href="#" class="multi_files"> Multi Files </a></li>
                            </ul>
                        </li>

                        <li class="dropdown" id="folderfileaction">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <img src="@Url.Content("~/IconImages/Dot.png")" /> Actions <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="fileaction filesinglemenu"><a href="javascript:void(0)" class="A_Preview"> Preview </a></li>
                                <li class="bothmultimenu"><a onclick="DownloadFolderFiles(0, 'False', 'False')" class="A_Download"> Download </a></li>
                                <li class="bothmultimenu"><a href="javascript:void(0)" class="A_Copy"> Copy </a></li>
                                <li class="bothmultimenu"><a href="javascript:void(0)" class="A_Move"> Move </a></li>
                                <li class="bothsinglemenu"><a onclick="EditFolderDocument()" class="A_Rename"> Rename </a></li>
                                <li class="bothmultimenu dropdown-submenu share_menu">
                                    <a href="javascript:void(0)" class="dropdown-toggle A_Share" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Share <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li class="bothsinglemenu"><a onclick="AddEditDocShareDetail(0,'False')" class="A_With_Users"> With Users </a></li>
                                        <li><a href="javascript:void(0)" class="A_email"> E-mail </a></li>
                                        <li><a href="javascript:void(0)" class="A_web_link"> Web Link </a></li>
                                    </ul>
                                </li>
                                <li class="folderaction foldersinglemenu favFol"><a href="javascript:void(0)" class="A_Add_Favorite"> Add to Favorite </a></li>
                                @*<li class="bothsinglemenu"><a onclick="infoToggle(1)" class="A_Comment"> Comment </a></li>*@
                                <li class="fileaction filesinglemenu"><a href="javascript:void(0)" class="A_Link_Document"> Link Document </a></li>
                                <li class="fileaction filesinglemenu favFil"><a href="javascript:void(0)" class="A_Add_Favorite"> Add to Favorite </a></li>
                                <li class="fileaction filemultimenu"><a href="javascript:void(0)" class="A_Checkout"> Checkout </a></li>
                                <li class="fileaction filemultimenu"><a href="javascript:void(0)" class="A_Undo_Checkout"> Undo Checkout </a></li>
                                <li class="fileaction filesinglemenu"><a href="javascript:void(0)" class="A_Request_Approval"> Request Approval </a></li>
                                <li class="fileaction filesinglemenu"><a href="javascript:void(0)" class="A_Versioning"> Versioning </a></li>
                                @*<li class="bothmultimenu"><a onclick="infoToggle(0)" class="A_Info"> Info </a></li>*@
                                <li class="bothmultimenu"><a onclick="DeleteSelected(0)" class="A_Remove"> Remove </a></li>
                            </ul>
                        </li>
                    </ul>

                    <div class="input_search_div">
                        <div class="form-group">
                            <div class="icon-addon addon-lg">
                                <input type="text" placeholder="search..." class="form-control" id="txtSearch">
                                <label for="search" class="glyphicon glyphicon-search" rel="tooltip" title="Search"></label>
                                <img style="cursor:pointer" src="~/Images/setting.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="tbl_ibox_content" id="divFolderDetail">

                </div>
                <div class="tbl_ibox_content" id="divEmptyFolderDetail" hidden>
                    <div class="col-md-12">
                        @*&nbsp;*@
                        @*<i class="tbl_icon fa fa-angle-left btn_back" aria-hidden="true" onclick="gotoLastFolder();"> <span>Back</span></i>*@
                        <span class="new_back" onclick="gotoLastFolder();"><img src="@Url.Content("~/IconImages/new-back-icon.png")" />Back</span>
                    </div>
                    <div class="col-md-12">
                        <form action="../FolderAndFile/UploadDefaultDocument?Id=@fId" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
                            <div class="fallback">
                                <input name="file" type="file" multiple />
                                <input type="submit" value="Upload" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" id="btnUploadFile"><i class="fa fa-upload"></i> Upload</button>
                        <button type="button" data-dismiss="modal" class="btn btn-default cancel" id="btnRemoveUpload">
                            <i class="fa fa-close text-danger"></i>&nbsp;
                            Cancel
                        </button>

                    </div>
                </div>

            </div>

            <div class="new-info-sidepanel animated @(langs == "ar-bh" ? "fadeInLeft" : "fadeInRight")">
                <div class="detail_tabs">
                    @*<ul class="nav nav-tabs" role="tablist">
                            <!-- Add class In LI "tab_width"-->
                            <li role="presentation" id="homeMain" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-info-circle"></i>info</a></li>
                            <li role="presentation" id="profileMain"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-commenting-o"></i>comments</a></li>
                            <li role="presentation" id="messageMain"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-download"></i>download</a></li>
                        </ul>*@
                    <ul class="nav nav-tabs" role="tablist">
                        <!-- Add class In LI "tab_width"-->
                        <li role="presentation" id="homeMain" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="tab_info"> info</a></li>
                        <li role="presentation" id="profileMain"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="tab_comment"> comments</a></li>
                        <li role="presentation" id="messageMain"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" class="tab_download"> download</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">

                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">

                        </div>
                        <div role="tabpanel" class="tab-pane" id="messages">
                            <div id="droppable" style="border-bottom:dashed 1px #dbd8d8; min-height:415px;">
                                <div id="divEmptyDownload" class="noItems">
                                    <div class="download-img-div">
                                        <img class="download-img" src="~/Images/drag-and-drop-512.png" />
                                        <br />
                                        <span>Drag here the files and folders you want to download.</span>
                                    </div>
                                </div>
                                <div class="download_clear hasItems" style="display: block;">
                                    <button class="active" onclick="DownloadFolderFiles(0, 'False', 'True')">Download All</button>
                                    <span>or</span>
                                    <button class="allclear" onclick="clearAll()">Clear List</button>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="hasItems" style="border:2px;">
                                    <div class="sortableFields">
                                        <div class="down_load">
                                            <ul id="appendField" class="list-unstyled"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="FolderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modalClose" data-dismiss="modal" aria-hidden="true">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <div class="modal-title">
                    <p>
                        <span class="fa-stack">
                            <i class="fa fa-folder fa-stack-2x"></i>
                            <i class="fa fa-plus-circle text-white fa-stack-1x" style="padding: 1px;"></i>
                        </span>
                        <span class="text-green" id="modalTitleFolder"> New Folder </span>
                        @*<span class="parentFolderNamePos"> - in <span class="prntFolder"></span></span>*@
                    </p>
                </div>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddFolder", "FolderAndFile", FormMethod.Post, new { @class = "form-horizontal-custom", @id = "frmAddFolder", enctype = "multipart/form-data" }))
                {
                    @Html.Hidden("Id")
                    @Html.Hidden("ParentFolderId")
                    @Html.Hidden("FolAssignFormTemplateId")

                    <label class="text-green">Basic Information</label>
                    <hr style="margin-top:2px;" />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-3 fol-label">Name</label>
                            <div class="col-md-9">
                                @Html.TextBox("Name", null, new { @class = "form-control", @maxlength = "128", @autofocus = "autofocus" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-3 fol-label">Description</label>
                            <div class="col-md-9">
                                @Html.TextBox("Description", null, new { @class = "form-control", @maxlength = "150" })
                            </div>
                        </div>
                    </div>

                    <label class="text-green">Other Information</label>
                    <hr style="margin-top:2px;" />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-3 fol-label">Keywords</label>
                            <div class="col-md-9">
                                @Html.TextBox("Keywords", null, new { @class = "form-control", @maxlength = "500" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-3 fol-label">Physical Location</label>
                            <div class="col-md-9">
                                @Html.TextBox("PhysicalLocation", null, new { @class = "form-control", @maxlength = "500" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-3 fol-label">Notes</label>
                            <div class="col-md-9">
                                @Html.TextArea("Notes", new { @class = "form-control", @maxlength = "500" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div id="divFolAssignFormTemplate">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-3 fol-label">Assigned Form Template</label>
                                <div class="col-md-4">
                                    @Html.TextBox("FolAssignFormTemplateName", null, new { @class = "form-control", @disabled = "disabled" })
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-success" onclick="ShowFolFormTemplate()">Attach New Form Template</button>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="row" id="divFolFormTemplate">
                        <div class="form-group">
                            <label class="col-md-3 fol-label">Form Template</label>
                            <div class="col-md-9">
                                @Html.DropDownList("FolFormTemplateId", CommonFunctions.GetFormTemplateList(), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group last-element" style="margin-bottom: 0px;">
                            <div class="col-md-9 col-lg-offset-3 folderPublic">
                                <input id="PublicFolder" type="checkbox" name="PublicFolder" />
                                <label for="PublicFolder" class="fol-label"><i class="public_img"></i> Add to Public</label>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">
                    <i class="fa fa-close text-danger"></i>&nbsp;
                    Cancel
                </button>
                <button type="button" id="btnCreate" class="btn btn-default">
                    <i class="fa fa-folder text-navy"></i>&nbsp;
                    Create
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DocShareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modalClose" data-dismiss="modal" aria-hidden="true">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <div class="modal-title">
                    <img src="~/IconImages/Share.png">
                    @*<span class="fa-stack">
                            <i class="fa fa-users text-navy fa-stack-2x"></i>
                        </span>*@
                    <label class="text-green" id="modalTitleFolder"> Share With Users </label><span class="parentFolderNamePos"> - <span class="prntFolder"></span></span>
                </div>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("DocShareDetail", "FolderAndFile", FormMethod.Post, new { @class = "form-horizontal-custom", @id = "frmDocShareDetail", enctype = "multipart/form-data" }))
                {
                    @Html.Hidden("ShareFolderId")
                    @Html.Hidden("ShareDocumentId")
                    <div class="row">
                        <label class="col-md-2 control-label">@Resource.Type</label>
                        <div class="col-md-8">
                            <div class="radio radio-primary radio-inline col-md-3" style="margin-top:0px;">
                                @Html.RadioButton("IsDepartment", false, new { id = "rdUser", @checked = "checked" })
                                <label for="rdUser">Users</label>
                            </div>
                            <div class="radio radio-primary radio-inline col-md-3">
                                @Html.RadioButton("IsDepartment", true, new { id = "rdGroup" })
                                <label for="rdGroup">Groups</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-11">
                            <div id="divUserList">
                                <div class="row">
                                    <label class="col-md-2 control-label">Users</label>
                                    <div class="col-md-10">
                                        @Html.ListBox("DocSharedUsers", new SelectList(CommonFunctions.GetDocSharedListByCabinet("User"), "Value", "Text"), new { @class = "chosen-select-user form-control", @multiple = "multiple" })
                                    </div>
                                </div>
                            </div>
                            <div id="divGroupList">
                                <div class="row">
                                    <label class="col-md-2 control-label">Groups</label>
                                    <div class="col-md-10">
                                        @Html.ListBox("DocSharedGroups", new SelectList(CommonFunctions.GetDocSharedListByCabinet("Group"), "Value", "Text"), new { @class = "chosen-select-group form-control", @multiple = "multiple" })
                                    </div>
                                </div>
                            </div>
                            <div id="hdnData">
                                @Html.ListBox("hdnDocSharedUsers", new SelectList(CommonFunctions.GetDocSharedListByCabinet("User"), "Value", "Text"), new { @class = "chosen-select-user form-control", @multiple = "multiple" })
                                @Html.ListBox("hdnDocSharedGroups", new SelectList(CommonFunctions.GetDocSharedListByCabinet("Group"), "Value", "Text"), new { @class = "chosen-select-group form-control", @multiple = "multiple" })
                            </div>
                        </div>
                        <div class="col-md-1">
                            <span onclick="AppendDocShareDetail()" class="fa-stack text-navy backPointer" autofocus>
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x" style="padding: 1px;"></i>
                            </span>
                        </div>
                    </div>
                    <br />
                    <div class='row'>
                        <div class='col-md-12' id="permissionDetails">
                            <div class='form-group'>
                                <table class='table table-bordered table-striped table-condensed table-hover smart-form has-tickbox popup-table-class'>
                                    <thead>
                                        <tr>
                                            <th width='4%'>&nbsp;&nbsp;</th>
                                            <th width='20%'>Name</th>
                                            <th colspan="6">Permissions</th>
                                        </tr>
                                    <thead>
                                    <tbody id="permissionLst"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="DocShareError">No users or groups added.</div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">
                    <i class="fa fa-close text-danger"></i>&nbsp;
                    Cancel
                </button>
                <button type="button" id="btnDocShare" class="btn btn-default">
                    <i class="fa fa-save text-navy"></i>&nbsp;
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    <link href="@Url.Content("~/Content/plugins/select2/select2.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/FileTypeIcon.css")" rel="stylesheet" />
    @Styles.Render("~/plugins/tagInputsStyles")
    <link href="@Url.Content("~/Content/plugins/sweetalert/sweetalert.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dropzone/dropZoneStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/codeEditorStyles")
}

@section Scripts{
    <script src="@Url.Content("~/Scripts/plugins/select2/select2.full.min.js")"></script>
    @Scripts.Render("~/plugins/tagInputs")
    <script src="@Url.Content("~/Scripts/plugins/sweetalert/sweetalert.min.js")"></script>
    @Scripts.Render("~/plugins/dropZone")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/codeEditor")
    <script type="text/javascript">
        var commentFlag = false;
        $('.fileaction').hide();
        $('.folderaction').hide();
        $('#folderfileaction').click(function () {
            var checkboxes = $("input.checkFolderFile");
            if (checkboxes.filter(":checked").length != 0) {
                var foldercount = 0;
                var filecount = 0;
                $("input:checkbox.checkFolderFile").each(function () {
                    if ($(this).prop("checked") == true) {
                        if ($(this).data('folderid') != undefined) {
                            foldercount++;
                            if ($(this).data('favstatus') == 'False') {
                                $('.favFol').html("<a onClick=\"AddRemoveFavorite('0','False','False')\" class='A_Add_Favorite'> Add to Favorite </a>");
                            } else {
                                $('.favFol').html("<a onClick=\"AddRemoveFavorite('0','False','True')\" class='A_Add_Favorite'> Remove Favorite </a>");
                            }
                        }
                        else {
                            filecount++;
                            if ($(this).data('favstatus') == 'False') {
                                $('.favFil').html("<a onClick=\"AddRemoveFavorite('0','True','False')\" class='A_Add_Favorite'> Add to Favorite </a>");
                            } else {
                                $('.favFil').html("<a onClick=\"AddRemoveFavorite('0','True','True')\" class='A_Add_Favorite'> Remove Favorite </a>");
                            }
                        }
                    }
                });
                if (foldercount != 0 && filecount != 0) {
                    $('.folderaction').hide();
                    $('.fileaction').hide();
                    $('.foldersinglemenu').hide();
                    $('.filesinglemenu').hide();
                    //$('.foldermultimenu').hide();
                    $('.filemultimenu').show();
                    $('.bothmultimenu').show();
                    $('.bothsinglemenu').hide();
                } else if (foldercount != 0) {
                    if (foldercount == 1) {
                        $('.folderaction').show();
                        $('.fileaction').hide();
                        $('.foldersinglemenu').show();
                        $('.filesinglemenu').hide();
                        //$('.foldermultimenu').hide();
                        $('.filemultimenu').hide();
                        $('.bothmultimenu').show();
                        $('.bothsinglemenu').show();
                    } else {
                        $('.folderaction').show();
                        $('.fileaction').hide();
                        $('.foldersinglemenu').hide();
                        $('.filesinglemenu').hide();
                        //$('.foldermultimenu').show();
                        $('.filemultimenu').hide();
                        $('.bothmultimenu').show();
                        $('.bothsinglemenu').hide();
                    }
                } else {
                    if (filecount == 1) {
                        $('.folderaction').hide();
                        $('.fileaction').show();
                        $('.foldersinglemenu').hide();
                        $('.filesinglemenu').show();
                        //$('.foldermultimenu').hide();
                        $('.filemultimenu').hide();
                        $('.bothmultimenu').show();
                        $('.bothsinglemenu').show();
                    } else {
                        $('.folderaction').hide();
                        $('.fileaction').show();
                        $('.foldersinglemenu').hide();
                        $('.filesinglemenu').hide();
                        //$('.foldermultimenu').hide();
                        $('.filemultimenu').show();
                        $('.bothmultimenu').show();
                        $('.bothsinglemenu').hide();
                    }
                }
            } else {
                $('.folderaction').hide();
                $('.fileaction').hide();
                $('.foldersinglemenu').hide();
                $('.filesinglemenu').hide();
                //$('.foldermultimenu').hide();
                $('.filemultimenu').hide();
                $('.bothmultimenu').hide();
                $('.bothsinglemenu').hide();
            }
        });

        Dropzone.options.dropzoneForm = {
           autoQueue: false,
            addRemoveLinks: true,
            paramName: "file", // The name that will be used to transfer the file
            //maxFilesize: 2, // MB
            dictDefaultMessage: "<div class='file_upload_div'><i class='fa fa-reply fa-rotate-270'></i><div><strong>This Folder is Empty</strong><br><span>Drop files here or use \"Upload\" button</span></div></div>",
            init: function () {
                this.on("complete", function (data) {
                    var res = JSON.parse(data.xhr.responseText);
                });
            }
        }

        $('#btnRemoveUpload').click(function () {
            Dropzone.forElement("#dropzoneForm").removeAllFiles(true);
        });

        $('#btnUploadFile').click(function () {
            var id = $('#FolderId').val();
            Dropzone.forElement("#dropzoneForm").options.url = '../FolderAndFile/UploadDefaultDocument?Id=' + id;
            Dropzone.forElement("#dropzoneForm").url = '../FolderAndFile/UploadDefaultDocument?Id=' + id;
            Dropzone.forElement("#dropzoneForm").enqueueFiles(Dropzone.forElement("#dropzoneForm").getAcceptedFiles());
            Dropzone.forElement("#dropzoneForm").on("success", function (file, response) {
                if (response.Message === 'Success') {
                    //swal("File uploaded successfully", "", "success");
                    folderDetails($('#FolderId').val(), $('#FavoriteId').val());
                    GetFavoriteCount();
                    GetPublicCount();
                    GetFolderChildCount(@Model.FolderId);
                } else {
                    swal("Ooppsss...", "Some file didn't upload", "error");
                }
            });
        });

        $('.lblgrid').click(function () {
            $('.lblthumb').removeClass("inn");
            $('.lblgrid').addClass("inn");
        });
        $('.lblthumb').click(function () {
            $('.lblgrid').removeClass("inn");
            $('.lblthumb').addClass("inn");
        });

        function toggleInfo() {
            var checkboxes = $("input.checkFolderFile");
            if (checkboxes.filter(":checked").length == 0) {
                $('.ibox').removeClass('new-left-folder1');
                $('.new-info-sidepanel').hide();
                $('.about_icon').removeClass("inn");
            } else {
                $('.ibox').addClass('new-left-folder1');
                $('.new-info-sidepanel').show();
                $('.about_icon').addClass("inn");

                $('#homeMain').addClass("active");
                $('#profileMain').removeClass("active");
                $('#messageMain').removeClass("active");

                $('#home').addClass("active");
                $('#profile').removeClass("active");
                $('#messages').removeClass("active");
            }
        }


        $(document).ready(function () {
            //get download items if any
            GetDownloadItems();
            folderDetails(@Model.FolderId, @Model.FavoriteId);
            HideShowList();
            $("#hdnData").hide();
            $('.lblgrid').addClass("inn");

            $('.radio').change(function () {
                HideShowList();
            });

            $('.panel-collapse').on('show.bs.collapse', function () {
                $(this).siblings('.panel-heading').addClass('active');
            });

            $('.panel-collapse').on('hide.bs.collapse', function () {
                $(this).siblings('.panel-heading').removeClass('active');
            });

            $("#txtSearch").on('keyup', function () {
                var folderId = $("#FolderId").val();
                var favoriteId = $("#FavoriteId").val();
                folderDetails(folderId, favoriteId);
            });

            $(".chosen-select-user").select2({
                placeholder: "Select Users...",
                allowClear: true,
                dir: "@(langs=="ar-bh"?"rtl":"ltr")"
            });

            $(".chosen-select-group").select2({
                placeholder: "Select Groups...",
                allowClear: true,
                dir: "@(langs=="ar-bh"?"rtl":"ltr")"
            });

            //START : Folder Add/Update

            $("#frmAddFolder").validate({
                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-success has-error');
                    $(e).closest('.form-group').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    $(e).prev().removeClass('has-error');
                    e.closest('.help-block').remove();
                    $(e).remove();
                },
                ignore: [],
                rules: {
                    Name: {
                        required: true,
                        remote: {
                            url: '@Url.Action("CheckFolderName", "FolderAndFile")',
                            data: {
                                FolderName: function () { return $("#Name").val(); },
                                FolderID: function () { return $("#Id").val(); },
                                ParentFolderID: function () { return $("#FolderId").val(); },
                            }
                        }
                    },
                    Notes: {
                        required: true,
                    },
                    Keywords: {
                        required: true,
                    }
                },
                messages: {
                    Name: {
                        required: "@Messages.FolderName_Validation",
                        remote: "@Messages.Folder_already_exist"
                    },
                    Notes: {
                        required: "@Messages.Enter_notes",
                    },
                    Keywords: {
                        required: "@Messages.Enter_keywords",
                    }
                },
                errorPlacement: function (error, element) {
                    element.parent().append(error);
                    //error.insertAfter(element.parent("div"));
                }
            });

            $("#btnCreate").click(function () {
                if ($("#frmAddFolder").valid()) {
                    if ($('#Id').val() != undefined && $('#Id').val() > 0) {
                        selid = "f-" + $('#Id').val();
                    }
                    if ($("#PublicFolder").is(':checked')) {
                        $("#PublicFolder").val(true);
                    }
                    else {
                        $("#PublicFolder").val(false);
                    }

                    var form = $("#frmAddFolder").serialize();
                    $.ajax({
                        url: '@Url.Action("AddFolder", "FolderAndFile")',
                        type: "POST",
                        dataType: 'json',
                        data: form,
                        success: function (data) {
                            if (data.success) {
                                @*swal(data.msg, "", "success");
                                window.location = '@Url.Action("CabinetFiles", "Cabinet")';*@
                                swal({
                                    title: "",
                                    text: data.msg,
                                    type: "success"
                                }, function () {
                                    window.location = '@Url.Action("CabinetFiles", "Cabinet")';
                                });
                                @*var id = $("#FolderId").val();
                                var fid = $("#FavoriteId").val();
                                Dropzone.forElement("#dropzoneForm").removeAllFiles(true);
                                folderDetails(id, fid);
                                GetFavoriteCount();
                                GetFolderChildCount(@Model.FolderId);
                                GetPublicCount();
                                swal(data.msg, "", "success");*@
                            }
                            $('#FolderModal').modal('hide');
                        }
                    });
                }
                else
                    return false;
            });

            $('#Keywords').change(function () {
                if ($('#Keywords').val() != "") {
                    $("#Keywords").next().css("display", "none");
                    $("#Keywords").closest('.form-group').removeClass('has-error');
                }
            });

            //END : Folder Add/Update

            $('#DocKeywords').change(function () {
                if ($('#DocKeywords').val() != "") {
                    $("#DocKeywords").next().css("display", "none");
                    $("#DocKeywords").closest('.form-group').removeClass('has-error');
                }
            });

            $('#docUpload').bind('change', function () {
                $('#docUpload-error').hide();

                if ($(this).val() != null && $(this).val() != '') {

                    var fsize = this.files[0].size / 1024;
                    var size = fsize.toFixed(2) + ' KB';

                    if (fsize > 1024) {
                        fsize = fsize / 1024;
                        size = fsize.toFixed(2) + ' MB';
                    }

                    var extension = $(this).val().split('.').pop().toLowerCase();

                    var filename = this.files[0].name;

                    if (filename.length > 20) {
                        filename = filename.substr(0, 20) + '...';
                    }

                    var name = '<i class="fa-x ' + extension + '"></i> &nbsp;' + filename + ' | ' + size;

                    $('#uploadFileDet').html(name);
                    $('#uploadFileDet').show();
                }
                else {
                    $('#uploadFileDet').hide();
                }

            });

            $("#CategoryId").change(function () {
                var id = $(this).val();
                if (id != null) {
                    GetSubCategoryList((id == '' ? 0 : id), 0);
                }
            });

            $('.versionClass').change(function () {
                $("#txtDocumentVersion").val('1.0');
                if ($("#rdSysGen").is(':checked')) {
                    $("#lblDocumentVersion").removeClass("hide");
                    $("#txtDocumentVersion").addClass("hide");
               }
                else if ($("#rdManual").is(':checked')) {
                    $("#lblDocumentVersion").addClass("hide");
                    $("#txtDocumentVersion").removeClass("hide");
               }
            });

            $("#frmAddDocument").validate({
                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-success has-error');
                    $(e).closest('.form-group').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    $(e).prev().removeClass('has-error');
                    e.closest('.help-block').remove();
                    $(e).remove();
                },
                ignore: [],
                rules: {
                    DocName: {
                        required: true,
                        remote: {
                            url: '@Url.Action("CheckDocumentName", "FolderAndFile")',
                            data: {
                                DocumentName: function () { return $("#DocName").val(); },
                                DocumentID: function () { return $("#DocumentId").val(); },
                            }
                        }
                    },
                    CategoryId: {
                        required: true,
                    },
                    docUpload: {
                        required: true,
                    },
                    DocNotes: {
                        required: true,
                    },
                    DocKeywords: {
                        required: true,
                    }
                },
                messages: {
                    DocName: {
                        required: "Enter document name",
                        remote: "Document name already exist"
                    },
                    CategoryId: {
                        required: "Select category",
                    },
                    docUpload: {
                        required: "Select file",
                    },
                    DocNotes: {
                        required: "Enter notes",
                    },
                    DocKeywords: {
                        required: "Enter keywords",
                    }
                },
                errorPlacement: function (error, element) {
                    if (element.attr("type") == "file") {
                        error.insertAfter(element.parent());
                    }
                    else {
                        element.parent().append(error);
                    }
                }
            });
        });

        function AddEditFolder(id) {
            $('#Keywords').tagsinput('removeAll');
            $('#Keywords').tagsinput('add', '');
            $(".prntFolder").text($("#FolderName").val());
            $('#frmAddFolder')[0].reset();
            $('#frmAddFolder').validate().resetForm();
            $('.form-group').removeClass('has-error');

            if (id > 0) {
                $.ajax({
                    url: '@Url.Action("EditFolderPermission", "FolderAndFile")',
                    type: "GET",
                    dataType: 'json',
                    data: { id: id },
                    success: function (data) {
                        if (data.success) {
                            $.ajax({
                                url: '@Url.Action("EditFolder", "FolderAndFile")',
                                type: "GET",
                                dataType: 'json',
                                data: { id: id },
                                success: function (data) {
                                    if (data.success) {
                                        $('#modalTitleFolder').text(data.folderData.Name);
                                        $('#btnCreate').html('<i class="fa fa-folder text-navy"></i>&nbsp;Save');

                                        if (data.folderData.ParentFolderId == 0) {
                                            $('.parentFolderNamePos').hide();
                                        }
                                        else {
                                            $('.parentFolderNamePos').show();
                                        }

                                        if (data.folderData.PublicFolder == true) {
                                            $("#PublicFolder").prop("checked", true);
                                        }
                                        else {
                                            $("#PublicFolder").prop("checked", false);
                                        }

                                        $("#Id").val(data.folderData.Id);
                                        $("#ParentFolderId").val(data.folderData.ParentFolderId);
                                        $("#Name").val(data.folderData.Name);
                                        $("#Description").val(data.folderData.Description);
                                        $("#Keywords").val(data.folderData.Keywords);
                                        $("#PhysicalLocation").val(data.folderData.PhysicalLocation);
                                        $("#Notes").val(data.folderData.Notes);
                                        $("#FolAssignFormTemplateId").val(data.folderData.FolAssignFormTemplateId);
                                        $("#FolAssignFormTemplateName").val(data.folderData.FolAssignFormTemplateName);

                                        if (data.folderData.FolAssignFormTemplateId > 0) {
                                            $("#divFolAssignFormTemplate").show();
                                            $("#divFolFormTemplate").hide();
                                        }
                                        else {
                                            $("#divFolFormTemplate").show();
                                            $("#divFolAssignFormTemplate").hide();
                                        }

                                        //Assign value Keyword
                                        $('#Keywords').tagsinput('removeAll');
                                        $('#Keywords').tagsinput('add', '');
                                        var dataString = data.folderData.Keywords;
                                        var stringLst = dataString.split(",");
                                        if (stringLst != undefined) {
                                            for (var i = 0; i < stringLst.length; i++) {
                                                $('#Keywords').tagsinput("add", stringLst[i]);
                                            }
                                        }

                                        $('#FolderModal').modal('show');
                                    }
                                }
                            });
                        } else {
                            toastr.error("You don't have permission to edit the folder", "@Messages.Error");
                        }
                    }
                });
            } else {
                $("#Id").val(0);
                $("#ParentFolderId").val($("#FolderId").val());
                $('#modalTitleFolder').text('New Folder');
                $('#btnCreate').html('<i class="fa fa-folder text-navy"></i>&nbsp;Create');
                $("#divFolFormTemplate").show();
                $("#divFolAssignFormTemplate").hide();
                $('#FolderModal').modal('show');
            }
        }

        function ShowFolFormTemplate() {
            $("#divFolFormTemplate").show();
        }

        function GetSubCategoryList(catid, subcatid) {
            if (catid != '' && catid != null) {
                $.ajax({
                    type: 'GET',
                    data: { CategoryID: catid },
                    url: '@Url.Action("GetSubCategoryByCategoryID", "FolderAndFile")',
                    success: function (data) {
                        $("#SubCategoryId").html(""); // clear before appending new list
                        $.each(data.lst, function (i, data) {
                            $("#SubCategoryId").append(
                                $('<option></option>').val(data.Value).html(data.Text));
                        });
                        if (subcatid > 0) {
                            $("#SubCategoryId").val(subcatid);
                        }
                    }
                })
            }
            else {
                $("#SubCategoryId").html(""); // clear before appending new list
                $("#SubCategoryId").append($('<option></option>').val("").html('@Resource.Select_SubCategory'));
            }
        }


        var selid = "0";
        function EditFolderDocument() {
            var folId = 0;
            var filId = 0;
            $("input:checkbox.checkFolderFile").each(function () {
                if ($(this).prop("checked") == true) {
                    if ($(this).data('folderid') != undefined) {
                        folId = $(this).data('folderid');
                        //selid = "f-" + folId;
                    }
                    else {
                        filId = $(this).data('docid');
                        vfileId = $(this).data('fileid');
                        //selid = "d-" + filId + "-" + vfileId;
                    }
                }
            });

            if (folId != 0) {
                AddEditFolder(folId);
            } else {
                AddEditDocument(filId, vfileId);
            }
        }

        function ShowDocFormTemplate() {
            $("#divDocFormTemplate").show();
        }

        function folderDetails(id, favId) {
            $("#FolderId").val(id);
            $("#FavoriteId").val(favId);
            $.ajax({
                type: 'GET',
                url: '@Url.Action("checkIsNotEmpty", "Favorite")',
                data: { id: favId },
                success: function (data) {
                    if (data) {
                        // Call Folder List ajax start--------------------------
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("_CabinetList", "Cabinet")',
                            data: { folderId: favId, SearchKeyword: $("#txtSearch").val() },
                            success: function (data) {
                                $("#divEmptyFolderDetail").hide();
                                $("#divFolderDetail").show();
                                $("#divFolderDetail").empty();
                                $("#divFolderDetail").html(data);
                                //getFolderName();
                                if ($("#ViewMode").val() != '') {
                                    ChangeView($("#ViewMode").val());
                                }
                                else {
                                    ChangeView('grid');
                                }
                            }
                        });
                        // Call Folder List ajax End--------------------------
                    }
                    else {
                        $("#divFolderDetail").hide();
                        $("#divEmptyFolderDetail").show();
                        //getFolderName();
                    }
                }
            });
        }

        function ChangeView(mode) {
            $("#ViewMode").val(mode);

            if (mode == 'grid') {
                $("#divGrid").show();
                $("#divThumbnail").hide();
                $('.rowbackground').removeClass('activetr');
                var checkboxes = $("input.checkFolderFile");
                if (checkboxes.filter(":checked").length != 0) {
                    $("input:checkbox.checkFolderFile").each(function () {
                        if ($(this).prop("checked") == true) {
                            var id = $(this)[0].id;
                            $('.grid' + id).attr('checked', true);
                            $('.grid' + id).prop('checked', 'checked');

                            $('.thumb' + id).attr('checked', false);
                            $('.thumb' + id).prop('checked', '');
                        }
                    });
                }
            }
            else {
                $("#divGrid").hide();
                $("#divThumbnail").show();
                $('.rowbackground').removeClass('activetr');
                var checkboxes = $("input.checkFolderFile");
                if (checkboxes.filter(":checked").length != 0) {
                    $("input:checkbox.checkFolderFile").each(function () {
                        if ($(this).prop("checked") == true) {
                            var id = $(this)[0].id;
                            $('.thumb' + id).attr('checked', true);
                            $('.thumb' + id).prop('checked', 'checked');

                            $('.grid' + id).attr('checked', false);
                            $('.grid' + id).prop('checked', '');
                        }
                    });
                }
            }

            if (selid != "0" && selid != $('#FolderId').val()) {
                $('#' + selid).attr('checked', true);
                $('#' + selid).prop('checked', 'checked');
                selid = "0";
            }
        }

        function gotoLastFolder() {
            selid = "0";
            var parentId = $("#LastOpenFolderId").val();
            var favId = $("#LastOpenParentFavId").val();
            if (parentId > 0) {
                Dropzone.forElement("#dropzoneForm").removeAllFiles(true);
                folderDetails(parentId, favId);
            }
        }

        function DeleteSelected(id) {
            var selFolderIDs = new Array();
            var selFileIDs = new Array();
            var fname = "";
            if (id > 0) {
                selFolderIDs.push(id);
            } else {
                $("input:checkbox.checkFolderFile").each(function () {
                    if ($(this).prop("checked") == true) {
                        if ($(this).data('folderid') != undefined) {
                            selFolderIDs.push($(this).data('folderid'));
                            fname = $('#folder-' + $(this).data('folderid')).text();
                        } else {
                            selFileIDs.push($(this).data('docid'));
                            fname = fname == "" ? $('#file-' + $(this).data('docid')).text() : fname;
                        }
                    }
                });
            }
            if (selFolderIDs.length > 0 || selFileIDs.length > 0) {
                var countIds = selFolderIDs.length + selFileIDs.length;
                var text = "";
                text = (countIds == 1) ? "You want to delete <b>" + fname + "</b> ?" : "You want to delete items";
                $.ajax({
                    type: "Post",
                    datatype: "JSON",
                    url: "@Url.Action("DeleteSelectedFolderFile", "FolderAndFile")",
                    data: { folderIds: [], fileIds: [] },
                    success: function (data) {
                        swal({
                            html: true,
                            title: "@Messages.Are_you_sure",
                            text: text,
                            type: "warning",
                            cancelButtonText: "@Resource.Cancel",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "@Resource.Yes",
                            closeOnConfirm: false
                        }, function (e) {
                            if (e) {
                                $.ajax({
                                    type: "Post",
                                    datatype: "JSON",
                                    url: "@Url.Action("DeleteSelectedFolderFile", "FolderAndFile")",
                                    data: { folderIds: selFolderIDs, fileIds: selFileIDs },
                                    success: function (data) {
                                        if (data.success) {
                                            @*GetFavoriteCount();
                                            GetFolderChildCount(@Model.FolderId);
                                            GetPublicCount();
                                            GetDeleteFolderCount();*@
                                            if (countIds == 1) {
                                                swal({
                                                    html: true,
                                                    title: "<b>" + fname + "</b> deleted successfully",
                                                    text: "",
                                                    type: "success"
                                                }, function () {
                                                    window.location = '@Url.Action("CabinetFiles", "Cabinet")';
                                                });
                                            } else {
                                                swal({
                                                    title: "Items deleted successfully",
                                                    text: "",
                                                    type: "success"
                                                }, function () {
                                                    window.location = '@Url.Action("CabinetFiles", "Cabinet")';
                                                });
                                            }

                                            @*window.location = '@Url.Action("CabinetFiles", "Cabinet")';*@
                                            //Dropzone.forElement("#dropzoneForm").removeAllFiles(true);
                                            //folderDetails($('#FolderId').val(), $('#FavoriteId').val());
                                        } else {
                                            swal(data.msg, "", "error");
                                        }
                                    },
                                    error: function (event, xhr, options, exc) {
                                    }
                                });
                            }

                        });
                    },
                    error: function (event, xhr, options, exc) {
                    }
                });
            }
            else {
                swal("No item selected", "Select atleast one item", "error");
            }
        }

        function AddRemoveFavorite(id, isDoc, status) {
            var selFolderIDs = new Array();
            var selFileIDs = new Array();
            var fileName = "";
            if (id > 0) {
                if (isDoc == "True") {
                    selFileIDs.push(id);
                    fileName = $('#file-' + id).text();
                } else {
                    selFolderIDs.push(id);
                    fileName = $('#folder-' + id).text();
                }
            }
            else {
                $("input:checkbox.checkFolderFile").each(function () {
                    if ($(this).prop("checked") == true) {
                        if ($(this).data('folderid') != undefined) {
                            selFolderIDs.push($(this).data('folderid'));
                            fileName = $('#folder-' + $(this).data('folderid')).text();
                        }
                        else {
                            selFileIDs.push($(this).data('docid'));
                            fileName = $('#file-' + $(this).data('docid')).text();
                        }
                    }
                });
            }

            if (selFolderIDs.length > 0 || selFileIDs.length > 0) {
                $.ajax({
                    type: "Post",
                    datatype: "JSON",
                    url: "@Url.Action("AddRemoveFavorite", "FolderAndFile")",
                    data: { folderIds: [], fileIds: [], status: status },
                    success: function (data) {
                        swal({
                            title: (status == "False" ? "Add to Favorite" : "Remove from Favorite"),
                            //text: (status == "True" ? "You want to unfavorite " : "You want to favorite ") + (selFolderIDs.length > 0 ? "selected folder?" : "selected file?"),
                            text: "Are you sure you want to " + (status == "False" ? "add " : "remove ") + fileName + (status == "False" ? " to " : " from ") + "favorite?",
                            type: "warning",
                            cancelButtonText: "@Resource.Cancel",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "@Resource.Yes",
                            closeOnConfirm: false
                        }, function (e) {
                            if (e) {
                                $.ajax({
                                    type: "Post",
                                    datatype: "JSON",
                                    url: "@Url.Action("AddRemoveFavorite", "FolderAndFile")",
                                    data: { folderIds: selFolderIDs, fileIds: selFileIDs, status: status },
                                    success: function (data) {
                                        if (data.success) {
                                            //Update Favorite Count From DB |24/05/2018
                                            GetFavoriteCount();
                                            //-------------------------------------
                                            if (status == "False") {
                                                swal(fileName + " added successfully to your favorite items", "", "success");
                                            } else {
                                                swal(fileName + " removed successfully from your favorite items", "", "success");
                                            }
                                            Dropzone.forElement("#dropzoneForm").removeAllFiles(true);
                                            folderDetails($('#FolderId').val(), $('#FavoriteId').val());
                                        }
                                        else {
                                            if (status == "True") {
                                                swal("Can't unfavorite", "", "error");
                                            } else {
                                                swal("Can't favorite", "", "error");
                                            }
                                        }
                                    },
                                    error: function (event, xhr, options, exc) {
                                    }
                                });
                            }

                        });
                    },
                    error: function (event, xhr, options, exc) {
                    }
                });
            }
            else {
                swal("No item selected", "Select atleast one item", "error");
            }
        }

        function DownloadFolderFiles(id, isDoc, isAll) {
            var selFolderIDs = new Array();
            var selFileIDs = new Array();
            if (id > 0) {
                if (isDoc == "True") {
                    selFileIDs.push(id);
                } else {
                    selFolderIDs.push(id);
                }
            }
            else {
                if (isAll == "True") {
                    $(".dwnloaditems").each(function () {
                        var MyType = $(this).attr('data-MyType');
                        var MyId = $(this).attr('data-MyId');
                        if (MyType === "folder") {
                            selFolderIDs.push(MyId);
                        } else {
                            selFileIDs.push(MyId);
                        }
                    });
                    clearAll();
                } else {
                    $("input:checkbox.checkFolderFile").each(function () {
                        if ($(this).prop("checked") == true) {
                            if ($(this).data('folderid') != undefined) {
                                selFolderIDs.push($(this).data('folderid'));
                            }
                            else {
                                selFileIDs.push($(this).data('fileid'));
                            }
                        }
                    });
                }
            }

            if (selFolderIDs.length > 0 || selFileIDs.length > 0) {
                $.ajax({
                    type: "Post",
                    datatype: "JSON",
                    url: "@Url.Action("DownloadFolderFiles", "FolderAndFile")",
                    data: { folderIds: [], fileIds: [] },
                    success: function (data) {
                        $.ajax({
                            url: '@Url.Action("DownloadFolderFiles", "FolderAndFile")',
                            data: { folderIds: selFolderIDs, fileIds: selFileIDs },
                            dataType: "json",
                            type: 'POST',
                            success: function (data) {
                                if (data.result == 'error')
                                    swal("404", "Documents not available.", "error");
                                else {
                                    var id = $('#FolderId').val();
                                    var url = "../Favorite/DownloadSelected?folid=" + id;
                                    window.location.href = url;
                                }
                            }
                        });
                    },
                });
            } else {
                swal("No item selected", "Select atleast one item", "error");
            }
        }

        var RemoveUserIdsList = [];
        var RemoveGroupIdsList = [];
        function AddEditDocShareDetail(id, isDoc) {
            $('#frmDocShareDetail')[0].reset();
            $("form")[0].reset();

            $('#DocSharedUsers > option').each(function () {
                $("#DocSharedUsers>option[value='" + $(this).val() + "']").remove();
            });
            $('#hdnDocSharedUsers > option').each(function () {
               $("#DocSharedUsers").append("<option value=" + $(this).val() + ">" + $(this).text() + "</option>");
            });

            $('#DocSharedGroups > option').each(function () {
                $("#DocSharedGroups>option[value='" + $(this).val() + "']").remove();
            });
            $('#hdnDocSharedGroups > option').each(function () {
                $("#DocSharedGroups").append("<option value=" + $(this).val() + ">" + $(this).text() + "</option>");
            });
            $('#DocSharedUsers').val(null).trigger('change');
            $('#DocSharedGroups').val(null).trigger('change');
            $('#DocShareError').hide();
            $("#permissionLst").html("");
            HideShowList();

            if (id == 0){
                $("input:checkbox.checkFolderFile").each(function () {
                    if ($(this).prop("checked") == true) {
                        if ($(this).data('folderid') != undefined) {
                            id = $(this).data('folderid');
                        }
                        else {
                            id = $(this).data('docid');
                            isDoc = 'True';
                        }
                    }
                });
            }

            $.ajax({
                url: '@Url.Action("DocShareDetail", "FolderAndFile")',
                type: "GET",
                dataType: 'json',
                data: { id: id, isDoc: (isDoc == 'True' ? true : false) },
                success: function (data) {
                    if (data.success) {
                        $(".prntFolder").text(data.shareData.Name);
                        $("#ShareFolderId").val(data.shareData.FolderId);
                        $("#ShareDocumentId").val(data.shareData.FileId);
                        $('#DocShareModal').modal('show');
                        if (data.shareData.DocShareLst != null && data.shareData.DocShareLst.length > 0) {
                            $('#permissionDetails').show();
                            var htm = $("#permissionLst").html();
                            $.each(data.shareData.DocShareLst, function (index, item) {
                                var uid = item.UserId;
                                var gid = item.GroupId;
                                if (uid != 0) {
                                    $("#DocSharedUsers>option[value='" + uid + "']").remove();
                                    RemoveUserIdsList.push(uid);
                                    htm = htm +
                                        "<tr id=" + uid + "><td><span class='docsharedetail' data-userid='" + uid + "' />" +
                                        "<i onclick='removeFromPermission(\"User\"," + uid + ",\"" + item.Name + "\")' style='cursor:pointer;' class='fa fa-times-circle-o text-danger deletestep'></i>" +
                                        "</td>" +
                                        "<td>" + item.Name + "</td>" +
                                        (item.IsDownload ?
                                            "<td class='center' width='12%'><div class='check_div'><input type='checkbox' class='" + uid + "_udownload' checked /> Download</div></td>"
                                            : "<td class='center' width='12%'><div class='check_div'><input type='checkbox' class='" + uid + "_udownload' /> Download</div></td>") +
                                        (item.IsUpload ?
                                            "<td class='center' width='9%'><div class='check_div'><input type='checkbox' class='" + uid + "_uupload' checked /> Upload</div></td>"
                                            : "<td class='center' width='9%'><div class='check_div'><input type='checkbox' class='" + uid + "_uupload' /> Upload</div></td>") +
                                        (item.IsReadComment ?
                                            "<td class='center' width='17%'><div class='check_div'><input type='checkbox' class='" + uid + "_uread' checked /> Read Comments</div></td>"
                                            : "<td class='center' width='17%'><div class='check_div'><input type='checkbox' class='" + uid + "_uread' /> Read Comments</div></td>") +
                                        (item.IsAddComment ?
                                            "<td class='center' width='16%'><div class='check_div'><input type='checkbox' class='" + uid + "_uadd' checked /> Add Comments</div></td>"
                                            : "<td class='center' width='16%'><div class='check_div'><input type='checkbox' class='" + uid + "_uadd' /> Add Comments</div></td>") +
                                        (item.IsShare ?
                                            "<td class='center' width='8%'><div class='check_div'><input type='checkbox' class='" + uid + "_ushare' checked /> Share</div></td>"
                                            : "<td class='center' width='8%'><div class='check_div'><input type='checkbox' class='" + uid + "_ushare' /> Share</div></td>") +
                                        (item.IsSeeVersion ?
                                            "<td class='center' width='14%'><div class='check_div'><input type='checkbox' class='" + uid + "_uversion' checked /> See Versions</div></td></tr>"
                                            : "<td class='center' width='14%'><div class='check_div'><input type='checkbox' class='" + uid + "_uversion' /> See Versions</div></td></tr>");
                                }
                                if (gid != 0) {
                                    $("#DocSharedGroups>option[value='" + gid + "']").remove();
                                    RemoveGroupIdsList.push(gid);
                                    htm = htm +
                                        "<tr id=" + gid + "><td><span class='docsharedetail' data-groupid='" + gid + "' />" +
                                        "<i onclick='removeFromPermission(\"Group\"," + gid + ",\"" + item.Name + "\")' style='cursor:pointer;' class='fa fa-times-circle-o text-danger deletestep'></i>" +
                                        "</td>" +
                                        "<td>" + item.Name + "</td>" +
                                        (item.IsDownload ?
                                            "<td class='center' width='12%'><div class='check_div'><input type='checkbox' class='" + gid + "_gdownload' checked /> Download</div></td>"
                                            : "<td class='center' width='12%'><div class='check_div'><input type='checkbox' class='" + gid + "_gdownload' /> Download</div></td>") +
                                        (item.IsUpload ?
                                            "<td class='center' width='9%'><div class='check_div'><input type='checkbox' class='" + gid + "_gupload' checked /> Upload</div></td>"
                                            : "<td class='center' width='9%'><div class='check_div'><input type='checkbox' class='" + gid + "_gupload' /> Upload</div></td>") +
                                        (item.IsReadComment ?
                                            "<td class='center' width='17%'><div class='check_div'><input type='checkbox' class='" + gid + "_gread' checked /> Read Comments</div></td>"
                                            : "<td class='center' width='17%'><div class='check_div'><input type='checkbox' class='" + gid + "_gread' /> Read Comments</div></td>") +
                                        (item.IsAddComment ?
                                            "<td class='center' width='16%'><div class='check_div'><input type='checkbox' class='" + gid + "_gadd' checked /> Add Comments</div></td>"
                                            : "<td class='center' width='16%'><div class='check_div'><input type='checkbox' class='" + gid + "_gadd' /> Add Comments</div></td>") +
                                        (item.IsShare ?
                                            "<td class='center' width='8%'><div class='check_div'><input type='checkbox' class='" + gid + "_gshare' checked /> Share</div></td>"
                                            : "<td class='center' width='8%'><div class='check_div'><input type='checkbox' class='" + gid + "_gshare' /> Share</div></td>") +
                                        (item.IsSeeVersion ?
                                            "<td class='center' width='14%'><div class='check_div'><input type='checkbox' class='" + gid + "_gversion' checked /> See Versions</div></td></tr>"
                                            : "<td class='center' width='14%'><div class='check_div'><input type='checkbox' class='" + gid + "_gversion' /> See Versions</div></td></tr>");

                                }
                            });
                            $("#permissionLst").html(htm);
                        } else {
                            $('#permissionDetails').hide();
                        }
                    }
                }
            });
        }

        function AppendDocShareDetail() {
            if ($('#DocSharedUsers :selected').length > 0 || $('#DocSharedGroups :selected').length > 0) {
                $('#DocShareError').hide();
                $('#permissionDetails').show();
                //var htm = $("#permissionLst").html();
                var htm = '';
                $('#DocSharedUsers :selected').each(function (index, obj) {
                    var id = $(this).val();
                    htm = htm +
                        "<tr id=" + id + "><td><span class='docsharedetail' data-userid='" + id + "' />" +
                        "<i onclick='removeFromPermission(\"User\"," + id + ",\"" + $(this).text() + "\")' style='cursor:pointer;' class='fa fa-times-circle-o text-danger deletestep'></i>" +
                        "</td>" +
                        "<td>" + $(this).text() + "</td>" +
                        "<td class='center' width='12%'><div class='check_div'><input type='checkbox' class='" + id + "_udownload' /> Download</div></td>" +
                        "<td class='center' width='9%'><div class='check_div'><input type='checkbox' class='" + id + "_uupload' /> Upload</div></td>" +
                        "<td class='center' width='17%'><div class='check_div'><input type='checkbox' class='" + id + "_uread' /> Read Comments</div></td>" +
                        "<td class='center' width='16%'><div class='check_div'><input type='checkbox' class='" + id + "_uadd' /> Add Comments</div></td>" +
                        "<td class='center' width='8%'><div class='check_div'><input type='checkbox' class='" + id + "_ushare' /> Share</div></td>" +
                        "<td class='center' width='14%'><div class='check_div'><input type='checkbox' class='" + id + "_uversion' /> See Versions</div></td></tr>";
                    $("#DocSharedUsers>option[value='" + id + "']").remove();
                });
                $('#DocSharedGroups :selected').each(function (index, obj) {
                    var id = $(this).val();
                    htm = htm +
                        "<tr id=" + id + "><td><span class='docsharedetail' data-groupid='" + id + "' />   " +
                        "<i onclick='removeFromPermission(\"Group\"," + id + ",\"" + $(this).text() + "\")' style='cursor:pointer;' class='fa fa-times-circle-o text-danger deletestep'></i>" +
                        "</td>" +
                        "<td>" + $(this).text() + "</td>" +
                        "<td class='center' width='12%'><div class='check_div'><input type='checkbox' class='" + id + "_gdownload' /> Download</div></td>" +
                        "<td class='center' width='9%'><div class='check_div'><input type='checkbox' class='" + id + "_gupload' /> Upload</div></td>" +
                        "<td class='center' width='17%'><div class='check_div'><input type='checkbox' class='" + id + "_gread' /> Read Comments</div></td>" +
                        "<td class='center' width='16%'><div class='check_div'><input type='checkbox' class='" + id + "_gadd' /> Add Comments</div></td>" +
                        "<td class='center' width='8%'><div class='check_div'><input type='checkbox' class='" + id + "_gshare' /> Share</div></td>" +
                        "<td class='center' width='14%'><div class='check_div'><input type='checkbox' class='" + id + "_gversion' /> See Versions</div></td></tr>";
                    $("#DocSharedGroups>option[value='" + id + "']").remove();
                });
                $('#DocSharedUsers').val(null).trigger('change');
                $('#DocSharedGroups').val(null).trigger('change');
                //$("#permissionLst").html(htm);
                $("#permissionLst").append(htm);
            }
        }

        function removeFromPermission(type, id, text) {
            $('#' + id).remove();
            if (type == "User") {
                $('#hdnDocSharedUsers > option').each(function () {
                    if ($(this).val() == id) {
                        $("#DocSharedUsers").append("<option value=" + id + ">" + text + "</option>");
                    }
                });
            } else {
                $('#hdnDocSharedGroups > option').each(function () {
                    if ($(this).val() == id) {
                        $("#DocSharedGroups").append("<option value=" + id + ">" + text + "</option>");
                    }
                });
            }
            if ($("#permissionLst tr").length == 0) {
                $('#permissionDetails').hide();
            }
        }

        $("#btnDocShare").click(function () {
            if (RemoveUserIdsList.length > 0 || RemoveGroupIdsList.length > 0 || $("#permissionLst tr").length != 0) {
                $('#DocShareError').hide();
                var data = [];

                $("span.docsharedetail").each(function () {
                    if ($(this).data('userid') != undefined) {
                        var id = $(this).data('userid');
                        data.push({
                            UserId: id,
                            GroupId: 0,
                            IsDownload: $('.' + id + '_udownload').prop("checked"),
                            IsUpload: $('.' + id + '_uupload').prop("checked"),
                            IsReadComment: $('.' + id + '_uread').prop("checked"),
                            IsAddComment: $('.' + id + '_uadd').prop("checked"),
                            IsShare: $('.' + id + '_ushare').prop("checked"),
                            IsSeeVersion: $('.' + id + '_uversion').prop("checked"),
                        });
                    }
                    else {
                        var id = $(this).data('groupid');
                        data.push({
                            UserId: 0,
                            GroupId: id,
                            IsDownload: $('.' + id + '_gdownload').prop("checked"),
                            IsUpload: $('.' + id + '_gupload').prop("checked"),
                            IsReadComment: $('.' + id + '_gread').prop("checked"),
                            IsAddComment: $('.' + id + '_gadd').prop("checked"),
                            IsShare: $('.' + id + '_gshare').prop("checked"),
                            IsSeeVersion: $('.' + id + '_gversion').prop("checked"),
                        });
                    }
                });

                $.ajax({
                    url: '@Url.Action("AddRemoveDocShareDetail", "FolderAndFile")',
                    type: "POST",
                    dataType: 'json',
                    contentType: "application/json",
                    data: JSON.stringify({ FolderId: $('#ShareFolderId').val(), FileId: $('#ShareDocumentId').val(), RemoveUserIdsList: RemoveUserIdsList, RemoveGroupIdsList: RemoveGroupIdsList, DocShareLst: data }),
                    success: function (data) {
                        if (data.success) {
                            RemoveUserIdsList = [];
                            RemoveGroupIdsList = [];
                            if ($("#permissionLst tr").length != 0) {
                                swal(data.msg, "", "success");
                            } else {
                                swal("Shared removed successfully", "", "success");
                            }
                            folderDetails($('#FolderId').val());
                        } else {
                            swal(data.msg, "", "error");
                        }
                        $('#DocShareModal').modal('hide');
                    }
                });
            }
            else {
                $('#DocShareError').show();
            }
        });
    </script>

    <!-- Drag and Drop Download -->
    <script>
        $(function () {
            $(".sortableFields").sortable();
            $(".sortableFields").disableSelection();
        });
        $(function () {
            $("#droppable").droppable({
                drop: function (event, ui) {
                    $(".hasItems").show();
                    $(".noItems").hide();
                    var DivId = ui.draggable.attr("id");
                    var ItemCId = ui.draggable.attr("data-CId");
                    var CType = ui.draggable.attr("data-Ctype");
                    var CSize = ui.draggable.attr("data-Csize");
                    var CName = ui.draggable.attr("data-CName");
                    var arrayFiles = new Array();
                    var arrayFolders = new Array();
                    var isDuplicate = false;

                    if (ItemCId != undefined) {
                        var newAppenId = CType + '-' + ItemCId;
                        $(".dwnloaditems").each(function () {

                            var MyType = $(this).attr('data-MyType');
                            var MyId = $(this).attr('data-MyId');
                            if (MyType === "folder") {
                                arrayFolders.push(MyId);
                            } else {
                                arrayFiles.push(MyId);
                            }
                            if (newAppenId == $(this).attr('id')) {
                                isDuplicate = true;
                            }
                        });

                        var strhtml = '<li id="' + CType + '-' + ItemCId + '" class="dwnloaditems"  data-MyType="' + CType + '" data-MyId="' + ItemCId + '"><i class="file-default ' + CType + '  download-file-icons"></i>' +
                            '<span>' + CName + ' <span> ' + CSize + '</span ></span > ' +
                            '<div class="clearfix"></div></li>';
                        if (isDuplicate == false) {

                            if (CType === "folder") {
                                arrayFolders.push(ItemCId);
                            } else {
                                arrayFiles.push(ItemCId);
                            }

                            $("#appendField").append(strhtml);
                            var htmlsrt = $("#appendField").html();
                            var dataToSend = JSON.stringify({
                                'DownloadHtml': htmlsrt, 'DownloadFiles': arrayFiles, 'DownloadFolders': arrayFolders
                            });

                            $.ajax({
                                url: '@Url.Action("DownloadItemsHtml", "FolderAndFile")',
                                data: dataToSend,
                                dataType: "json",
                                contentType: "application/json; charset=utf-8",
                                type: "POST",
                                success: function (data) {
                                    $("#appendField").html(data.DownloadHtml);

                                }
                            });
                        }
                    }
                }
            });
        });

        function clearAll() {
            $("#appendField").html("");
            $(".hasItems").hide();
            $(".noItems").show();
            $.ajax({
                url: '@Url.Action("ClearDownloadHtml", "FolderAndFile")',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                type: "POST",
                success: function (data) {
                    //nothing to do..
                }
            });
        }

        function GetDownloadItems() {
            $.ajax({
                url: '@Url.Action("DisplayDownloadHtml", "FolderAndFile")',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                type: "GET",
                success: function (data) {
                    if (data.DownloadHtml != "Empty") {
                        $("#appendField").html(data.DownloadHtml);
                        $(".hasItems").show();
                        $(".noItems").hide();
                    }
                    else {
                        $(".hasItems").hide();
                        $(".noItems").show();
                    } //end of if else..
                }//end of success
            });//end of ajax call
        }

        $('.edit_menu').hover(
            function () {
                $(".edit_menu ul").css("display", "block");
                $(".share_menu ul").css("display", "none");
            },

            function () {
                $(".edit_menu ul").css("display", "none");
                $(".share_menu ul").css("display", "none");
            }
        );

        $('.share_menu').hover(
            function () {
                $(".share_menu ul").css("display", "block");
                $(".edit_menu ul").css("display", "none");
            },

            function () {
                $(".edit_menu ul").css("display", "none");
                $(".share_menu ul").css("display", "none");
            }
        );

        function HideShowList() {
            if ($("#rdUser").is(':checked')) {
                $("#divUserList").show();
                $("#divGroupList").hide();
            }
            else if ($("#rdGroup").is(':checked')) {
                $("#divGroupList").show();
                $("#divUserList").hide();
            }
        }
    </script>
}