﻿@model FolderFileInfo

@{
    FolderPermissionVM permissionVM = (FolderPermissionVM)Session["PermissionListSession"];
}
<style>
    .fileinput-filename {
        max-width: 1px;
        overflow-x: hidden;
        max-height: 1px;
        overflow-y: hidden;
    }
</style>
<div id="Info-div-box">
    @if (Model.InfoType == "Folder")
    {
        <div class="tabheading">
            <h3>
                <i class="fa tbl_icon folder"></i> @Model.Name
                @if (permissionVM.HasFolderPermission)
                {
                    <i class="fa fa-pencil edit_icon" onclick="AddEditFolder(@Model.Id);"></i>
                }
                else
                {
                    <i class="fa fa-pencil edit_icon"></i>
                }
            </h3>
            <p>@Model.TotalCount items</p>
        </div>

        <div>
            <div class="panel-group oneS" id="accordion1" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading active" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Basic Information
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">

                            <ul class="list-unstyled oneS">
                                <li><aside>Owner</aside> @Model.Owner</li>
                                <li><aside>Created on</aside> @Model.CreatedDate</li>
                                <li><aside>Last Modifed</aside> @Model.ModifyDate</li>
                                <li><aside>Modified by</aside> @Model.ModifyBy</li>
                                <li><aside>Total Folders</aside> @Model.TotalFolders</li>
                                <li><aside>Total Files</aside> @Model.TotalFiles</li>
                                <li><aside>Total Size</aside> @Model.FileSize</li>
                                <li><aside>Form Template</aside> @Model.AssignFormName <i data-tempid="@Model.AssignFormTemplateId" data-selected="@Model.Id" data-type="@Model.InfoType" class="fa fa-pencil view-form" style="cursor:pointer;"></i></li>
                                <li>
                                    <aside>Description</aside>
                                    <p>@Model.Description</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group oneS" id="accordion2" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading active" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Shared With
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <ul class="list-unstyled oneS">
                                @if (Model.SharedWith != null)
                                {
                                    var sharelst = Model.SharedWith.Split(',');
                                    foreach (var item in sharelst)
                                    {
                                        if (item != "")
                                        {
                                            <li><i class="fa fa-user"></i> @item</li>
                                        }
                                    }
                                }
                                else
                                {
                                    <li>Not Shared</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group oneS" id="accordion3" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading active" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Other Information
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <ul class="list-unstyled oneS" style="margin-bottom:0;">
                                <li>
                                    <p><aside>Keywords</aside></p>
                                    @if (Model.Keywords != null && Model.Keywords != "")
                                    {
                                        var lst = Model.Keywords.Split(',');
                                        var count = 0;
                                        foreach (var item in lst)
                                        {
                                            if (item != "")
                                            {
                                                count++;
                                                <samp id="@count">@item <i class="fa fa-times" style="cursor: pointer;" onclick="CheckRemoveKeywords(@count, false, @Model.Id, 0)" aria-hidden="true"></i></samp>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <samp>No keywords</samp>
                                    }
                                </li>

                                <img alt="" src="/Applications/DocWare/Images/barcode.png">
                                <li><aside style="font-size: 15px;">Original File Path</aside> <br>@Model.OriginalLocation</li>
                                <li><aside style="font-size: 15px;">Physical Location</aside> <br>@Model.PhysicalLocation</li>
                                <li><aside style="font-size: 15px;">Notes</aside> <br> <p>@Model.Notes</p></li>
                                <hr />
                                <li> <aside style="color: #ccc;">GUDID</aside> <aside style="color: #ccc;">@Model.UDID</aside></li>


                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
                                        }
                                        else if (Model.InfoType == "File")
                                        {
                                            <div class="tabheading">
                                                <h3><i class="fa tbl_icon file-default @Model.Type"></i> @Model.Name  <i class="fa fa-pencil edit_icon" onclick="AddEditDocument(@Model.Id,@Model.DocVersionId);"></i></h3>
                                                <p>Click on file name to preview</p>
                                            </div>

                                            <div>
                                                <div class="panel-group oneS" id="accordion1" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading active" role="tab" id="headingOne">
                                                            <h4 class="panel-title">
                                                                <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                                    Basic Information
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                            <div class="panel-body">

                                                                <ul class="list-unstyled oneS">
                                                                    <li><aside>Confidentiality</aside> @Model.Confidentiality</li>
                                                                    <li><aside>Language</aside> @Model.Language</li>
                                                                    <li><aside>Version</aside> <a onclick="GetDocumentVersionDetail(0);">@Model.Version <img src="~/IconImages/action/A-13-13.png" style="margin-top: -3px;" /></a></li>
                                                                    <li><aside>Owner</aside> @Model.Owner</li>
                                                                    <li><aside>Created on</aside> @Model.CreatedDate</li>
                                                                    <li><aside>Last Modifed</aside> @Model.ModifyDate</li>
                                                                    <li><aside>Modified by</aside> @Model.ModifyBy</li>
                                                                    <li><aside>Type</aside> @Model.Type</li>
                                                                    <li><aside>Size</aside> @Model.FileSize</li>
                                                                    <li><aside>Form Template</aside> @Model.AssignFormName <i data-tempid="@Model.AssignFormTemplateId" data-selected="@Model.Id" data-type="@Model.InfoType" class="fa fa-pencil view-form" style="cursor:pointer;"></i></li>

                                                                    <li>
                                                                        <aside>Description</aside>
                                                                        <p>@Model.Description</p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-group oneS" id="accordion2" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading active" role="tab" id="headingTwo">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                                    Shared With
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                                                            <div class="panel-body">
                                                                <ul class="list-unstyled oneS">
                                                                    @if (Model.SharedWith != null)
                                                                    {
                                                                        var sharelst = Model.SharedWith.Split(',');
                                                                        foreach (var item in sharelst)
                                                                        {
                                                                            if (item != "")
                                                                            {
                                                                                <li><i class="fa fa-user"></i> @item</li>
                                                                            }
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <li>Not Shared</li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-group oneS" id="accordion3" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading active" role="tab" id="headingThree">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                                    Other Information
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                                                            <div class="panel-body">
                                                                <ul class="list-unstyled oneS" style="margin-bottom:0;">
                                                                    <li><aside>Category</aside> @Model.Category</li>
                                                                    <li><aside>Subcategory</aside> @Model.SubCategory</li>
                                                                    <li>
                                                                        <p><aside>Keywords</aside></p>
                                                                        @if (Model.Keywords != null && Model.Keywords != "")
                                                                        {
                                                                            var lst = Model.Keywords.Split(',');
                                                                            var count = 0;
                                                                            foreach (var item in lst)
                                                                            {
                                                                                if (item != "")
                                                                                {
                                                                                    count++;
                                                                                    <samp id="@count">@item <i class="fa fa-times" style="cursor: pointer;" onclick="CheckRemoveKeywords(@count, true, @Model.Id, @Model.DocVersionId)" aria-hidden="true"></i></samp>
                                                                                }
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <samp>No keywords</samp>
                                                                        }
                                                                    </li>

                                                                    <img alt="" src="/Applications/DocWare/Images/barcode.png">
                                                                    <li><aside style="font-size: 15px;">Original File Path</aside> <br>@Model.OriginalLocation</li>
                                                                    <li><aside style="font-size: 15px;">Physical Location</aside> <br>@Model.PhysicalLocation</li>
                                                                    <li><aside style="font-size: 15px;">Notes</aside> <br> <p>@Model.Notes</p></li>
                                                                    <hr />
                                                                    <li> <aside style="color: #ccc;">GUDID</aside> <aside style="color: #ccc;">@Model.UDID</aside></li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                                            }
                                                                            else
                                                                            {
                                                                                <div class="tabheading">
                                                                                    <h3><i class="fa tbl_icon fa-files-o"></i>@Model.SelectedCount items Selected  @*<i class="fa fa-pencil edit_icon"></i>*@</h3>
                                                                                </div>

                                                                                <div>
                                                                                    <div class="panel-group oneS" id="accordion1" role="tablist" aria-multiselectable="true">
                                                                                        <div class="panel panel-default">
                                                                                            <div class="panel-heading active" role="tab" id="headingOne">
                                                                                                <h4 class="panel-title">
                                                                                                    <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                                                                        Basic Information
                                                                                                    </a>
                                                                                                </h4>
                                                                                            </div>
                                                                                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                                                                <div class="panel-body">

                                                                                                    <ul class="list-unstyled oneS">
                                                                                                        <li><aside>Total Folders</aside> @Model.TotalFolders</li>
                                                                                                        <li><aside>Total Files</aside> @Model.TotalFiles</li>
                                                                                                        <li><aside>Total Size</aside> @Model.FileSize</li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            }

</div>
<div id="DynamicFormDataHeader">
    @if (Model.InfoType == "Folder")
    {
        <div class="tabheading">
            <h3>
                <i class="fa tbl_icon folder"></i> @Model.Name
                @if (permissionVM.HasFolderPermission)
                {
                    <i class="fa fa-pencil edit_icon" onclick="AddEditFolder(@Model.Id);"></i>
                }
                else
                {
                    <i class="fa fa-pencil edit_icon"></i>
                }
            </h3>
            <p>@Model.TotalCount items</p>
        </div>
    }
    else if (Model.InfoType == "File")
    {
        <div class="tabheading">
            <h3><i class="fa tbl_icon file-default @Model.Type"></i> @Model.Name  <i class="fa fa-pencil edit_icon" onclick="AddEditDocument(@Model.Id,@Model.DocVersionId);"></i></h3>
            <p>Click on file name to preview</p>
        </div>
    }
    <div id="DynamicFormData">

    </div>
</div>

<script>
    function CheckRemoveKeywords(rid, isdoc, id, vid) {
        if (!isdoc) {
            $.ajax({
                url: '@Url.Action("EditFolderPermission", "FolderAndFile")',
                type: "GET",
                dataType: 'json',
                data: { id: id },
                success: function (data) {
                    if (data.success) {
                        RemoveKeywords(rid, isdoc, id);
                    }
                    else {
                        toastr.error("You don't have permission to edit keywords", "@Messages.Error");
                    }
                }
            });
        } else {
            $.ajax({
                url: '@Url.Action("EditDocumentPermission", "FolderAndFile")',
                type: "GET",
                dataType: 'json',
                data: { id: id },
                success: function (data) {
                    if (data.success) {
                        RemoveKeywords(rid, isdoc, vid);
                    }
                    else {
                        if (data.msg == "") {
                            toastr.error("You don't have permission to edit keywords", "@Messages.Error");
                        } else {
                            toastr.warning("This file is checked out you can't do this action", "warning");
                        }
                    }
                }
            });
        }
    }

    function RemoveKeywords(rid, isdoc, id) {
        swal({
            html: true,
            title: "@Messages.Are_you_sure",
            text: "You want to remove this keyword",
            type: "warning",
            cancelButtonText: "@Resource.Cancel",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "@Resource.Yes",
            closeOnConfirm: false
        }, function (e) {
            if (e) {
                $('#' + rid).remove();
                var keywords = "";
                for (i = 0; i < $('samp').length; i++) {
                    keywords += $('samp')[i].innerText.trim() + ",";
                }
                keywords = keywords.slice(0, -1);
                $.ajax({
                    type: "Post",
                    datatype: "JSON",
                    url: "@Url.Action("RemoveKeywords", "FolderAndFile")",
                    data: { Id: id, IsDoc: isdoc, Keywords: keywords },
                    success: function (data) {
                        if (data.success) {
                            swal({
                                title: "Keyword removed successfully",
                                text: "",
                                type: "success",
                                timer: 5000
                            });
                        }
                    }
                });
            }
        });
    }

    $(document).ready(function () {
        $("#DynamicFormDataHeader").hide();

        $('#headingOne').on('click', function () {
            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
            }
            else {
                $(this).addClass('active');
            }
        });

        $('#headingTwo').on('click', function () {
            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
            }
            else {
                $(this).addClass('active');
            }
        });

        $('#headingThree').on('click', function () {
            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
            }
            else {
                $(this).addClass('active');
            }
        });

        $(".view-form").click(function () {
            var AssignFormId = $(this).attr("data-tempid");
            var SelectedItem = $(this).attr("data-selected");
            var SelectedType = $(this).attr("data-type");
            var flag = false;
            if (SelectedType == "File") {
                flag = true;
            }
            var ViewDynamicFormVM = {
                AssignFormTemplateId: AssignFormId,
                SelectedId: SelectedItem
            }
            ViewDynamicFormVM.AssignFormTemplateId = AssignFormId;
            if (AssignFormId > 0) {
                $.ajax({
                    url: '@Url.Action("EditFolderFilePermission", "FolderAndFile")',
                    type: "GET",
                    dataType: 'json',
                    data: { id: SelectedItem, isDocument: flag },
                    success: function (data) {
                        if (data.success) {
                            $.ajax({
                                url: '@Url.Action("_DynamicFormView", "FolderAndFile")',
                                data: ViewDynamicFormVM,
                                success: function (data) {
                                    $("#Info-div-box").hide();
                                    $("#DynamicFormDataHeader").show();
                                    $("#DynamicFormData").html('');
                                    $("#DynamicFormData").append(data);

                                },
                                error: function (data) {
                                    $("#DynamicFormData").append("ERROR");
                                }
                            });
                        } else {
                            if (data.msg == "") {
                                toastr.error("You don't have permission to edit form", "@Messages.Error");
                            } else {
                                toastr.warning("This file is checked out you can't do this action", "warning");
                            }
                        }
                    }
                });
            }
        });
    });
</script>